body{margin-left:auto;margin-right:auto;width:100%;height:100%;margin-top:10px;margin-bottom:0px;background:#fff;font-family: '宋体';font-weight: 100%;}
img{border:0px;}
h1,h2,p,font,dl{margin:0px;}
a{text-decoration:none; color:#666;}
ul{color:#999999; list-style-type:none;margin:0px;padding:0px;margin:0px;}
li{color:#999999;margin:0px;padding:0px;list-style-type:none;margin:0px;padding:0px;}
/*---diy顶部----*/
.home{width:960px;margin-left:auto;margin-right:auto;height:100%;}
.top{width:960px;margin-left:auto;margin-right:auto;height:100%;}
.logo{float:left;width:190px;height:70px;margin-right:10px;background: url(../images/logo.gif);text-indent: -999em;}
.hf{float:left;width:600px;height:70px;margin-right:10px;font-size:12px}
.sc{float:left;width:150px;height:70px;}
.sc li{font-size:14px;color:#666;line-height:24px;}
.sc li a{color:#6f9300;}
.sc li a:hover{color:#666;}
/*---diy导航----*/
.dh{float:left;width:960px;height:40px;background:#660066;margin-top:10px;}
.dh li{float:left;width:96px;font-size:14px;color:#fff;line-height:40px;text-align:center;}
.dh li a{display:block; width:96px;height:40px;color:#fff;}
.dh li a:hover{background:#83ae00;font-weight: bold;font-size:14px;}
.fdh{float:left;width:960px;height:38px;background:#efefef;}
.rmc{float:left;width:660px;height:38px;height:38px;}
.rmc span{color:#5f7d00;}
.rmc p{float:lfeft;font-size:14px;line-height:38px;color:#666;text-indent:1em;}
.rmc p a{color:#666;padding-left:15px;}
.rmc p a:hover{color:#333;}
.ss{float:left;width:300px;height:38px;}
.sou{float:right;width:260px;height:22px;color:#333;margin-top:7px;}
#kuang{float:left;width:200px;height:22px;border:1px solid #d8d8d8;color:#333;font-size:16px;margin-top:0px;margin-right:5px;line-height:20px;}
/*---diy首屏左----*/
.spz{float:left;width:300px;margin-right:10px;margin-top:10px;}
.flash{width:300px;height:250px;background:#f5f5f5;}
.spzx{width:300px;height:125px;margin-top:10px;}
.spzx p{font-size:14px;line-height:25px;color:#fff;width:70px;height:25px;background:#660066;text-align:center;margin-bottom:5px;}
.spzx li{line-height:22px;font-size:14px;border-bottom:1px dashed #e8e8e8;}
.spzx li a:hover{color:#000;}
.spzx span{float:right;font-size:14px;line-height:22px;color:#5f7d00;}
/*---diy首屏中----*/
.spzj{float:left;width:390px;margin-right:10px;margin-top:10px;}
.spzj h2 a{font-size:20px;color:#5f7d00;line-height:40px;font-weight: bold;text-align:center;font-family: "黑体";display:block; }
.spzj h2 a:hover{color:#666;}
.spzj p{font-size:14px;line-height:22px;color:#999;border-bottom:1px dashed #e8e8e8;}
.spzj li{font-size:14px;color:#333;line-height:24px;height:28px;}
.spzj li a:hover{color:#000;}
.spzj li span{color:#5f7d00;}
.spzj li span a{color:#5f7d00;}
/*---diy首屏右----*/

.tjnr{float:left;width:250px;margin-top:10px;font-size:14px;background:#fefefe}
.tjnr p{width:70px;height:24px;background:#660066;line-height:24px;color:#fff;text-align:center;}
.tjnr li{font-size:14px;color:#333;line-height:25px;}
.tjnr li a{color:#5f7d00;padding-left:15px;background: url(../images/xd.gif) 0 -11px no-repeat;}
.tjnr li a:hover{color:#000;background: url(../images/xd.gif) 0  3px no-repeat;}
/*---diy广告模块---*/
 .ber{float:left;width:960px;height:90px;margin-top:10px;}
/*---diy内容模块---*/
.nrmk{float:left;width:710px;margin-top:20px;}
.typeindex{float:left;width:338px;border-top:2px solid #660066;border-bottom:1px solid #e9e9e9;border-left:1px solid #e9e9e9;border-right:1px solid #e9e9e9;margin-right:10px;margin-bottom:15px;}
.typeindex p{width:70px;height:24px;background:#660066;line-height:24px;color:#fff;text-align:center;font-size:14px;margin-left:10px;margin-bottom:5px;}
.typeindex p a{color:#fff;}
.typeindex li{font-size:14px;color:#333;line-height:28px;text-indent:10px;}
.typeindex li a{color:#666;padding-left:15px;background: url(../images/xd.gif) 0 -11px no-repeat;}
.typeindex li a:hover{color:#333;background: url(../images/xd.gif) 0 3px no-repeat;}
/*---diy内容区右---*/
.nrmky{float:right;width:250px;margin-top:20px;}
.nrmk1{float:left;width:250px;height:400px;margin-bottom:10px;}
.nrmk2{float:left;width:250px;margin-bottom:10px;background:#f6f6f6;}
.nrmk2 li{font-size:14px;line-height:28px;height:28px;padding-left:15px;border-bottom:1px dashed #eee;}
.nrmk2 li a{color:#5f7d00;}
.nrmk2 li a:hover{color:#000;}
.nrmk2 p{margin:10px;width:70px;height:24px;background:#660066;font-size:14px;line-height:24px;text-align:center;color:#fff;}
.nrmk3{float:left;width:250px;margin-bottom:10px;background: url(../images/ph.gif) no-repeat;}
.nrbt{float:left;width:70px;height:24px;background:#e3e3e3;line-height:24px;color:#fff;text-align:center;font-size:14px;margin-bottom:5px;}
.nrmk3 li{font-size:14px;line-height:28px;height:28px;padding-left:25px;border-bottom:1px dashed #e8e8e8;}
.nrmk3 li a:hover{color:#000;}
/*---友情链接模块---*/
.youl{float:left;width:958px;margin-top:10px;border:1px solid #e9e9e9;background:#f6f6f6;}
.youl p{margin:10px;width:70px;height:24px;background:#660066;font-size:14px;line-height:24px;text-align:center;color:#fff;}
.youl li{width:8%;font-size:14px;color:#666;line-height:30px;float:left;margin-right:10px;text-align:center;}
.youl li a:hover{color:#5f7d00;}
/*---网站底部---*/
.foot{float:left;width:100%;margin-top:20px;border-top:1px solid #e2e2e2;margin-bottom:10px;}
.foot ul{width:960px;margin-left:auto;margin-right:auto;margin-top:10px;}
.foot li{font-size:12px;line-height:30px;text-align:center;}
.foot li a{color:#5f7d00;margin-right:15px;}
.foot li a:hover{color:#000;}

/*-----当前位置----*/
.dangq{float:left;width:960px;height:30px;margin-top:5px;}
.dangq li{font-size:14px;line-height:30px;}
.dangq li a{color:#5f7d00;padding-left:5px;padding-right:5px;}
/*----列表左边显示模块----*/
.listz{float:left;width:698px;margin-top:10px;border:1px solid #e2e2e2;margin-right:10px;font-size:14px;}
.listw{float:left;width:698px;}
.listw p{margin-left:20px;width:70px;height:24px;background:#660066;line-height:24px;color:#fff;text-align:center;margin-bottom:10px;}
.listw li{font-size:14px;height:30px;line-height:30px;padding-left:10px;border-bottom:1px dashed #e8e8e8;}
.listw li a{padding-left:15px;background: url(../images/xd.gif) 0 -11px no-repeat;}
.listw li a:hover{color:#000;background: url(../images/xd.gif) 0  3px no-repeat;}
.listw span{float:right;line-height:30px;padding-right:10px;color:#5f7d00;}
.listw dl{
	margin:5px 15px;
	font-size:16px;
	border-bottom:1px dashed #d9d9d9;
	padding:10px 0;
	
}

.listw dl dt{
	text-indent:1em;
	margin-bottom:10px;
}
.listw dl dt a{
	color:#660066
}

.listw dl dd{
	font-size:12px;
	color:#666666;
	margin-left:15px;
	
}
.listy{float:right;width:249px;}
/*----列表页分页模块---*/
.lstfy{float:left;width:698px;}
.jogger {margin-top:10px;float:left;height:30px;padding-top: 10px;padding-bottom: 10px; padding-left:15px; text-align: center;margin-bottom:10px;}
.jogger li{display: inline;line-height: 22px;text-decoration: none;font-size:14px;}
.jogger li A {PADDING-RIGHT: 0.64em;  PADDING-LEFT: 0.64em;PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #ffffff; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #660066; TEXT-DECORATION: none }
.jogger li A:hover {PADDING-RIGHT: 0.64em;  PADDING-lfet: 0.64em;PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #666;}
.jogger li A:active {PADDING-RIGHT: 0.64em;  PADDING-lfet: 0.64em;PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #f57d00; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #666;}
.jogger li A:visited {PADDING-RIGHT: 0.64em;  PADDING-lfet: 0.64em;PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #FFF; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #660066;}
/*----内容模块开始----*/
.artz{float:left;width:698px;margin-top:10px;border:1px solid #e2e2e2;margin-right:10px;font-size:14px;}
.artz h2{font-size:14px;color:#5f7d00;font-weight: normal;text-align:center;height:40px;line-height:50px;}
.fbsj{margin-top:5px;border-bottom:1px dashed #ddd;text-align:center;color:#999;line-height:30px;margin-left:20px;margin-right:20px;padding-bottom:10px;}
.fbsj a{color:#5f7d00;padding-left:5px;padding-right:5px;}
.arnr{float:left;font-size:14px;color:#333;line-height:30px;padding:20px;}
.arnr a{color:#5f7d00;padding-left:5px;padding-right:10px;width:688px;}
.arnr img {
max-width: 600px; 
width:expression(this.width > 600 ? "600px" : this.width);
overflow:hidden;
}
.arfy{float:left;width:698px;margin-top:10px;}
.arfx{float:left;width:698px;background:#f5f5f5;height:30px;margin-top:10px;text-align:center;}
.arxg{float:left;;padding:10px;}
.arxg p{font-size:14px;height:30px;line-height:30px;color:#5f7d00;font-weight: bold;}
.arxg li{width:50%;float:left;font-size:14px;line-height:30px;}
.arxg li a{padding-left:15px;background: url(../images/xd.gif) 0 -11px no-repeat;}
.arxg li a:hover{color:#000;background: url(../images/xd.gif) 0  3px no-repeat;}
.arpl{margin-top:10px;float:left;width:698px;}

/*----内容页分页标签----*/
.jogger2 {width:698px;margin-top:10px;height:30px;padding-top: 10px;padding-bottom: 10px;  text-align: center;margin-bottom:10px;}
.jogger2 li{display: inline;line-height: 22px;text-decoration: none;font-size:14px;}
.jogger2  A {PADDING-RIGHT: 0.64em;  PADDING-LEFT: 0.64em;PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #ffffff; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #660066; TEXT-DECORATION: none }
.jogger2  A:hover {PADDING-RIGHT: 0.64em;  PADDING-lfet: 0.64em;PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #666;}
.jogger2  A:active {PADDING-RIGHT: 0.64em;  PADDING-lfet: 0.64em;PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #f57d00; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #666;}
.jogger2  A:visited {PADDING-RIGHT: 0.64em;  PADDING-lfet: 0.64em;PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #FFF; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #660066;}

/*----搜索列表页----*/
.sosuo{float:left;width:700px;margin-top:10px;margin-right:10px;font-size:14px;}
.xgsos{float:left;padding:10px;}
.xgsos li{font-size:14px;color:#666;line-height:30px;color:#5f7d00;}
.xgsos li a{color:#5f7d00;}
.xgsos p{font-size:14px;color:#999;line-height:24px;padding-bottom:10px;border-bottom:1px solid #e2e2e2;}
.xgsos p a{color:#5f7d00;}
.none{display:none;}




.righttype ul li{
	float:left;
	width:100px;
	padding-left:8px;
	padding:5px;
	background: #f3f3f3;
	margin:3px;
	border: 1px solid #c0c0c0;
	text-align:center;
}
.righttype ul li a{
	color:#000000;

}
.righttype ul li a:hover{
	color:#ff6600;

}
.righttype ul li .ontype{
		text-align:center;

	background: #660066;
	color:#ffffff;

}
