<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>兼职平面设计师简历范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>兼职平面设计师简历范文</h2>
<p class="fbsj">时间：2015-07-09 14:31</p>
<div class="arnr">
<div class="jlmb_xx_tit_font">兼职平面设计师简历范文</div>
   <div>2012-06-07 03:36:43</div>
</div>
   <div class="jlmb_xx_nr">
 <p>
	&nbsp;</p>
<table cellpadding="0" cellspacing="0" width="550">
	<tbody>
		<tr>
			<td class="CVcolor1" width="70">
				目前所在：</td>
			<td width="120">
				广州</td>
			<td class="CVcolor1" width="70">
				年龄：</td>
			<td width="120">
				31</td>
		</tr>
		<tr>
			<td class="CVcolor1">
				户口所在：</td>
			<td>
				广州</td>
			<td class="CVcolor1">
				国籍：</td>
			<td>
				中国</td>
		</tr>
		<tr>
			<td class="CVcolor1">
				婚姻状况：</td>
			<td>
				已婚</td>
			<td class="CVcolor1">
				民族：</td>
			<td>
				汉族</td>
		</tr>
		<tr>
			<td class="CVcolor1">
				身高：</td>
			<td>
				164 cm</td>
			<td class="CVcolor1">
				体重：</td>
			<td>
				60 kg</td>
		</tr>
	</tbody>
</table>
<div id="JLFW">
	<p class="JLFWtitle">
		求职意向</p>
	<div class="JLFW2B">
		<table cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td class="CVcolor1" width="70">
						人才类型：</td>
					<td colspan="3" width="250">
						普通求职</td>
				</tr>
				<tr>
					<td class="CVcolor1">
						应聘职位：</td>
					<td colspan="3" width="450">
						广告：平面设计，平面设计师：美工，文秘/文员：设计文员</td>
				</tr>
				<tr>
					<td class="CVcolor1">
						工作年限：</td>
					<td width="180">
						<span style="padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px">5</span></td>
					<td class="CVcolor1" width="90">
						职称：</td>
					<td>
						<span style="padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px">无职称</span></td>
				</tr>
				<tr>
					<td class="CVcolor1">
						求职类型：</td>
					<td width="180">
						兼职</td>
					<td class="CVcolor1">
						可到职日期：</td>
					<td>
						随时</td>
				</tr>
				<tr>
					<td class="CVcolor1">
						月薪要求：</td>
					<td width="180">
						1000以下</td>
					<td class="CVcolor1">
						希望工作地区：</td>
					<td>
						广州,</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="JLFWtitle">
	工作履历</p>
<div class="JLFW2B">
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span class="CVbold1">广东康之家医药连锁有限公司</span> 起止年月：2007-05-01 ～ 2008-12-01</td>
			</tr>
			<tr>
				<td class="CVcolor1" width="70">
					公司性质：</td>
				<td>
					私营企业所属行业：医疗/护理/保健/卫生</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					担任职位：</td>
				<td>
					<b>行政助理兼平面设计</b></td>
			</tr>
			<tr>
				<td class="CVcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					任职期间行政助理工作主要负责药业公司各种证照的办理,各类办公用品的采购。平面设计工作主要负责药业公司的产品推广宣传，每月一档的药品快讯制作，旗下5间分店的陈列布置、日常海报的书写、活动策划、节日气氛布置等等。</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					离职原因：</td>
				<td>
					&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span class="CVbold1">广州市瑞盈商贸有限公司</span> 起止年月：2004-09-01 ～ 2007-04-01</td>
			</tr>
			<tr>
				<td class="CVcolor1" width="70">
					公司性质：</td>
				<td>
					私营企业所属行业：服务业</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					担任职位：</td>
				<td>
					<b>营销策划</b></td>
			</tr>
			<tr>
				<td class="CVcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					任职期间主要负责撰写促销方案以及公司旗下四家连锁超市快讯的设计、商场的VI设计和整改，卖场的总体气氛布置。</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					离职原因：</td>
				<td>
					&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span class="CVbold1">广州好又多百货有限公司</span> 起止年月：2003-08-01 ～ 2004-08-01</td>
			</tr>
			<tr>
				<td class="CVcolor1" width="70">
					公司性质：</td>
				<td>
					私营企业所属行业：服务业</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					担任职位：</td>
				<td>
					<b>企划美工</b></td>
			</tr>
			<tr>
				<td class="CVcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					任职期间主要负责卖场日常POP的书写，公司企划部总体促销方案的执行和店内活动气氛的布置，商场VI的更新与维护以及店内促销活动的策划。</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					离职原因：</td>
				<td>
					搬家</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span class="CVbold1">广州汉隆广告有限公司</span> 起止年月：1998-10-01 ～ 2001-08-01</td>
			</tr>
			<tr>
				<td class="CVcolor1" width="70">
					公司性质：</td>
				<td>
					私营企业所属行业：广告</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					担任职位：</td>
				<td>
					<b>设计文员</b></td>
			</tr>
			<tr>
				<td class="CVcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					任职期间主要负责处理公司内部的各项文书工作，担任办公室各部门之间上传下达的工作，并负责接听和解答顾客的咨询电话，以及做出及时有效的处理方案。另外还主要负责对外接待事务，并熟练使用各种办公设备, 协助设计师完成平面设计作品等工作。</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					离职原因：</td>
				<td>
					读书</td>
			</tr>
		</tbody>
	</table>
</div>
<p class="JLFWtitle">
	教育简历</p>
<div class="JLFW2B">
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td class="CVcolor1" width="80">
					毕业院校：</td>
				<td width="259">
					广州美术学院继续教育学院</td>
				<td width="74">
					&nbsp;</td>
				<td width="190">
					&nbsp;</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					最高学历：</td>
				<td>
					大专获得学位:</td>
				<td class="CVcolor1">
					毕业日期：</td>
				<td>
					2003-07-01</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					专 业 一：</td>
				<td>
					美术教育</td>
				<td class="CVcolor1">
					专 业 二：</td>
				<td>
					建筑企业管理</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="CVform2" width="550">
		<tbody>
			<tr class="CVform2A">
				<td width="80">
					起始年月</td>
				<td width="80">
					终止年月</td>
				<td>
					学校（机构）</td>
				<td>
					所学专业</td>
				<td>
					获得证书</td>
				<td>
					证书编号</td>
			</tr>
			<tr class="CVform2B">
				<td>
					1995-09-01</td>
				<td>
					1998-07-01</td>
				<td>
					广州市建筑工程学校</td>
				<td>
					建筑企业管理</td>
				<td>
					毕业证</td>
				<td>
					-</td>
			</tr>
			<tr class="CVform2B">
				<td>
					2001-09-01</td>
				<td>
					2003-07-01</td>
				<td>
					广州市美术学院继续教育学院</td>
				<td>
					美术教育</td>
				<td>
					毕业证</td>
				<td>
					-</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="JL300x">
<SCRIPT type=text/javascript>BAIDU_CLB_fillSlot("144222");</SCRIPT><SCRIPT charset=utf-8 src="http://cb.baidu.com/ecom?di=144222&amp;fn=BAIDU_CLB_SETJSONADSLOT&amp;tpl=BAIDU_CLB_SETJSONADSLOT&amp;asp_refer=&amp;asp_url=http%3A%2F%2Fwww.5djianli.com%2FJianZhiJianLi%2F19392.html&amp;new=1&amp;prt=1339040136780&amp;c01=0&amp;dt=1339040139&amp;rt=47&amp;did=1&amp;csl=zh-cn&amp;cce=true&amp;cmi=0&amp;cpl=0&amp;cja=true&amp;chi=0&amp;ccd=32&amp;csn=1440,870&amp;csp=1440,900&amp;lmt=1337239480&amp;jn=3&amp;ready=3&amp;refer=http%3A%2F%2Fwww.5djianli.com%2FJianLi%2Ffuwuye_612_10.html&amp;word=http%3A%2F%2Fwww.5djianli.com%2FJianZhiJianLi%2F19392.html&amp;if=0&amp;cn=1&amp;fv=10&amp;baidu_id="></SCRIPT></div>
<div class="JL250x">
<SCRIPT type=text/javascript>BAIDU_CLB_fillSlot("144223");</SCRIPT><SCRIPT charset=utf-8 src="http://cb.baidu.com/ecom?di=144223&amp;fn=BAIDU_CLB_SETJSONADSLOT&amp;tpl=BAIDU_CLB_SETJSONADSLOT&amp;asp_refer=&amp;asp_url=http%3A%2F%2Fwww.5djianli.com%2FJianZhiJianLi%2F19392.html&amp;new=1&amp;prt=1339040136780&amp;c01=0&amp;dt=1339040139&amp;rt=15&amp;did=1&amp;csl=zh-cn&amp;cce=true&amp;cmi=0&amp;cpl=0&amp;cja=true&amp;chi=0&amp;ccd=32&amp;csn=1440,870&amp;csp=1440,900&amp;lmt=1337239480&amp;jn=3&amp;ready=3&amp;refer=http%3A%2F%2Fwww.5djianli.com%2FJianLi%2Ffuwuye_612_10.html&amp;word=http%3A%2F%2Fwww.5djianli.com%2FJianZhiJianLi%2F19392.html&amp;if=0&amp;cn=1&amp;fv=10&amp;baidu_id="></SCRIPT></div>
<div id="JLFW">
	<p class="JLFWtitle">
		语言能力</p>
	<div class="JLFW2B">
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td class="CVcolor1" height="20" width="100">
						外语：</td>
					<td width="220">
						英语一般</td>
					<td class="CVcolor1" width="100">
						粤语水平：</td>
					<td>
						精通</td>
				</tr>
				<tr>
					<td class="CVcolor1" height="20">
						第二外语：</td>
					<td>
						&nbsp;</td>
					<td class="CVcolor1" height="20">
						国语水平：</td>
					<td width="220">
						优秀</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="JLFWtitle">
	自我评价</p>
<p>
	1）熟悉Photoshop，Coreldraw，文泰等图形设计软件<br/>
	2）能灵活运用Office办公软件<br/>
	3）善于POP广告制作及电脑刻字机的运用，熟悉商店卖场气氛布置<br/>
	4）具有出色的创意及丰富的平面设计经验<br/>
	5）具有较强的文字写作功底<br/>
	6）熟悉广告的制作流程，能独立完成图文综合的平面设计</p>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C932015.html'>商务英语专业求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C922015.html'>过控专业大学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CZ2015.html'>艺术设计学学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CY2015.html'>计算机网络技术及应用专业简历模</a></li>
<li><a href='/zhichang/jianli/template/0H14CX2015.html'>前台行政文员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CW2015.html'>心理学专业个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0F9113612015.html">旅游管理求职简历范文</a></li>
<li><a href="/zhichang/jianli/template/0F9114242015.html">民用建筑求职简历范文</a></li>
<li><a href="/zhichang/jianli/template/0F91141R015.html">货车简历范文</a></li>
<li><a href="/zhichang/jianli/template/0F9113F2015.html">人事主管个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5363302015.html">彩色个人简历模板（粉红色风格）</a></li>
<li><a href="/zhichang/jianli/template/0F91142H015.html">计划个人简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0H14BA2015.html">计算机个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114302015.html">中药简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C222015.html">影视策划员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BY2015.html">总经理助理及设计师简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535L52015.html">建筑设计技术员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0F9114352015.html">顾问求职个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53ET2015.html">个人简历-毕业生简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C462015.html">水利水电工程专业个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>