<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>农村区域发展个人简历范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>农村区域发展个人简历范文</h2>
<p class="fbsj">时间：2015-07-09 14:31</p>
<div class="arnr">
<div class="jlmb_xx_tit_font">农村区域发展个人简历范文</div>
   <div>2012-06-01 06:19:01</div>
</div>
   <div class="jlmb_xx_nr">
 <p>
	&nbsp;</p>
<table cellpadding="0" cellspacing="0" width="550">
	<tbody>
		<tr>
			<td class="JLFWcolor1" width="70">
				目前所在：</td>
			<td width="120">
				越秀区</td>
			<td class="JLFWcolor1" width="70">
				年龄：</td>
			<td width="120">
				42</td>
		</tr>
		<tr>
			<td class="JLFWcolor1">
				籍贯：</td>
			<td>
				海珠区</td>
			<td class="JLFWcolor1">
				国籍：</td>
			<td>
				中国</td>
		</tr>
		<tr>
			<td class="JLFWcolor1">
				婚否：</td>
			<td>
				已婚</td>
			<td class="JLFWcolor1">
				民族：</td>
			<td>
				汉族</td>
		</tr>
		<tr>
			<td class="JLFWcolor1">
				身高：</td>
			<td>
				168 cm</td>
			<td class="JLFWcolor1">
				体重：</td>
			<td>
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<div id="JLFW">
	<p class="JLFWtitle">
		简历求职意向</p>
	<div class="JLFW2B">
		<table cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td class="JLFWcolor1">
						求职职位：</td>
					<td colspan="3" width="450">
						教师/院校教务管理人员/财务总监：</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						工作经验/年：</td>
					<td width="180">
						<span style="padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px">25</span></td>
					<td class="JLFWcolor1" width="90">
						专业职称：</td>
					<td>
						<span style="padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px">中级</span></td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						工作类型：</td>
					<td width="180">
						均可</td>
					<td class="JLFWcolor1">
						就职时间：</td>
					<td>
						一个月</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						期望薪资：</td>
					<td width="180">
						8000--12000</td>
					<td class="JLFWcolor1">
						求职地区：</td>
					<td>
						广州,佛山</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="JL300">
	<p class="JLFWtitle">
		工作履历</p>
	<div class="JLFW2B">
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td colspan="2">
						<span>（恒鑫华创集团）广州天马发展有限公司</span> 起止年月：2009-06-01 ～ 至今</td>
				</tr>
				<tr>
					<td class="JLFWcolor1" width="70">
						公司性质：</td>
					<td>
						民营企业所属行业：服务业</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						担任职位：</td>
					<td>
						<b>审计部总经理</b></td>
				</tr>
				<tr>
					<td class="JLFWcolor1" valign="top">
						工作描述：</td>
					<td valign="top">
						处理天马大厦历史遗留问题，清产核资等。</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						离职原因：</td>
					<td>
						&nbsp;</td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td colspan="2">
						<span>广州市软测计算机职业培训学校</span> 起止年月：2008-02-01 ～ 2009-06-01</td>
				</tr>
				<tr>
					<td class="JLFWcolor1" width="70">
						公司性质：</td>
					<td>
						其它所属行业：教育/培训/院校</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						担任职位：</td>
					<td>
						<b>校长兼财务总监</b></td>
				</tr>
				<tr>
					<td class="JLFWcolor1" valign="top">
						工作描述：</td>
					<td valign="top">
						行政管理、财务监控、党务管理。</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						离职原因：</td>
					<td>
						金融危机导致招生困难,另谋发展。</td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td colspan="2">
						<span>广州工人文化宫（集团）有限公司</span> 起止年月：2006-08-01 ～ 2008-02-01</td>
				</tr>
				<tr>
					<td class="JLFWcolor1" width="70">
						公司性质：</td>
					<td>
						事业单位所属行业：影视/媒体/艺术</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						担任职位：</td>
					<td>
						<b>财务总监（副总经理副处级）</b></td>
				</tr>
				<tr>
					<td class="JLFWcolor1" valign="top">
						工作描述：</td>
					<td valign="top">
						由广州市总工会招聘，委派到广州市工人文化宫集团任职：财务总监。管辖五个工人文化宫、四个专业公司、一家培训学院。负责文化宫由事业单位转制为企业公司的具体工作。对集团董事长兼总经理、市总工会负责。受广州市总工会委派到工人文化宫集团任职财务总监，兼顾文化事业单位改制为企业化管理的集团公司。经过对五个工人文化宫的深入调研，同时咨询广州市文化局的事业单位改制经验，向广州市总工会提出了九个改革方案，由市总做决策，选取了一个方案。改革完满成功，步入正轨，功成身退。 参阅文化事业单位的相关政策，结合企业管理的优势，做出了切实可行的税务筹划方案。主持减免税的工作，2007年获得了减免50%的房产税和土地使用税，获得90多万元的退税额。 市三宫的重开，西关文化广场的复兴，（与富力地产合作项目），向市总工会提出了市三宫的发展方案三个，供领导决策。 员村宫与大地电影的合作项目等。</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						离职原因：</td>
					<td>
						终止合同（总工会换届，一朝天子一朝臣）</td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td colspan="2">
						<span>广州雅兰国际化妆品集团</span> 起止年月：2002-10-01 ～ 2006-08-01</td>
				</tr>
				<tr>
					<td class="JLFWcolor1" width="70">
						公司性质：</td>
					<td>
						民营企业所属行业：机关/事业单位/社会团体</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						担任职位：</td>
					<td>
						<b>审计部经理；总会计师兼工厂财务部经理</b></td>
				</tr>
				<tr>
					<td class="JLFWcolor1" valign="top">
						工作描述：</td>
					<td valign="top">
						组建审计部，开展内部审计。集团有两间工厂、四间销售公司、一间研发是心、一间广告公司、一间培训学校。对董事长汇报工作。完成每季度一次的财务审计,并出具审计报告.19人次的中高层管理人员的离任审计;9项经济效益审计;24项专项管理审计.五次对中高层管理人员的财务知识\合同\审计等方面的培训讲座.在2003年的业绩考核中,是高级管理人员中最好的.2004年考评为优良，调任集团总会计师兼财务部经理。</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						离职原因：</td>
					<td>
						入职广州市总工会，辞职</td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td colspan="2">
						<span>广州市绿茵阁（咖啡厅）发展有限公司</span> 起止年月：2002-01-01 ～ 2002-10-01</td>
				</tr>
				<tr>
					<td class="JLFWcolor1" width="70">
						公司性质：</td>
					<td>
						私营企业所属行业：服务业</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						担任职位：</td>
					<td>
						<b>财务部经理</b></td>
				</tr>
				<tr>
					<td class="JLFWcolor1" valign="top">
						工作描述：</td>
					<td valign="top">
						负责广东省内18间连锁店、两间（装饰工程、广告）公司、一间农场、公司总部等的财务管理。</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						离职原因：</td>
					<td>
						家族经营，非亲非顾，难断家务事，辞职</td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td colspan="2">
						<span>广东超市配货中心</span> 起止年月：2000-07-01 ～ 2001-12-01</td>
				</tr>
				<tr>
					<td class="JLFWcolor1" width="70">
						公司性质：</td>
					<td>
						国有企业所属行业：服务业</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						担任职位：</td>
					<td>
						<b>总经理助理（副总副处级）</b></td>
				</tr>
				<tr>
					<td class="JLFWcolor1" valign="top">
						工作描述：</td>
					<td valign="top">
						协助总经理具体处理各项工作。</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						离职原因：</td>
					<td>
						公司改制</td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td colspan="2">
						<span>广州永利集团</span> 起止年月：1998-03-01 ～ 2000-06-01</td>
				</tr>
				<tr>
					<td class="JLFWcolor1" width="70">
						公司性质：</td>
					<td>
						民营企业所属行业：机关/事业单位/社会团体</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						担任职位：</td>
					<td>
						<b>财务经理</b></td>
				</tr>
				<tr>
					<td class="JLFWcolor1" valign="top">
						工作描述：</td>
					<td valign="top">
						集团是经营餐饮、房地产、工商业的多元化集团；本人负责工商业方面的四间公司财务管理。</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						离职原因：</td>
					<td>
						集团改组</td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td colspan="2">
						<span>美国萍果牌（德士活APPLE SHOP）服装公司中国总部</span> 起止年月：1996-01-01 ～ 1998-02-01</td>
				</tr>
				<tr>
					<td class="JLFWcolor1" width="70">
						公司性质：</td>
					<td>
						所属行业：服装/纺织/皮革/鞋业</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						担任职位：</td>
					<td>
						<b>会计部副科长</b></td>
				</tr>
				<tr>
					<td class="JLFWcolor1" valign="top">
						工作描述：</td>
					<td valign="top">
						广东省内全部连锁店、北京、上海、新会分公司的财务管理、预算控制、税务筹划等工作。深得老板的高度信任，是唯一指定的香港联络人。正确协调国内总部(广州)与香港（德士活服装集团）总部,及与北京\上海\新会各公司的财务管理与税务筹划。对连锁经营有较深入的研究和了解。特许连锁、自营连锁和合营（分销）连锁等。得到公司的充分信任，自己的管理水平提到很大的提高，可以说，这两年的进步，胜过在粮食局的十年。</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						离职原因：</td>
					<td>
						公司搬迁江门新会，家庭原因不随迁。</td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td colspan="2">
						<span>广州市粮食局</span> 起止年月：1985-07-01 ～ 1995-12-01</td>
				</tr>
				<tr>
					<td class="JLFWcolor1" width="70">
						公司性质：</td>
					<td>
						国有企业所属行业：快速消费品(食品,饮料,化妆品)</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						担任职位：</td>
					<td>
						<b>营业、行政、统计、审计、主办会计、党团管理等。</b></td>
				</tr>
				<tr>
					<td class="JLFWcolor1" valign="top">
						工作描述：</td>
					<td valign="top">
						营业、行政、统计、审计、主办会计、党团管理等。</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						离职原因：</td>
					<td>
						合同期满</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="JLFWtitle">
		教育简历</p>
	<div class="JLFW2B">
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td class="JLFWcolor1" width="80">
						毕业学校：</td>
					<td width="259">
						广西大学</td>
					<td width="74">
						&nbsp;</td>
					<td width="190">
						&nbsp;</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						最高学历：</td>
					<td>
						硕士获得学位: 在读硕士研究生</td>
					<td class="JLFWcolor1">
						毕业时间：</td>
					<td>
						2010-10-01</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						所学专业：</td>
					<td>
						农村区域发展</td>
					<td class="JLFWcolor1">
						第二专业：</td>
					<td>
						经济管理</td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td width="80">
						起始年月</td>
					<td width="80">
						终止年月</td>
					<td>
						学校（机构）</td>
					<td>
						所学专业</td>
					<td>
						获得证书</td>
					<td>
						证书编号</td>
				</tr>
				<tr>
					<td>
						1980-09-01</td>
					<td>
						1985-07-01</td>
					<td>
						广州市第二十三中学</td>
					<td>
						初、高中</td>
					<td>
						毕业证</td>
					<td>
						-</td>
				</tr>
				<tr>
					<td>
						1985-07-01</td>
					<td>
						1988-06-01</td>
					<td>
						中山大学（自考）</td>
					<td>
						哲学</td>
					<td>
						大专毕业证</td>
					<td>
						-</td>
				</tr>
				<tr>
					<td>
						1987-09-01</td>
					<td>
						1990-07-01</td>
					<td>
						广州市广播电视大学</td>
					<td>
						审计</td>
					<td>
						大专毕业证</td>
					<td>
						-</td>
				</tr>
				<tr>
					<td>
						1990-07-01</td>
					<td>
						2002-06-01</td>
					<td>
						暨南大学（自考）</td>
					<td>
						会计</td>
					<td>
						本科毕业证</td>
					<td>
						-</td>
				</tr>
				<tr>
					<td>
						2001-10-01</td>
					<td>
						2002-02-01</td>
					<td>
						华南师范大学（广东高校教师培训中心）</td>
					<td>
						&quot;教、心两课&quot;</td>
					<td>
						合格证</td>
					<td>
						-</td>
				</tr>
				<tr>
					<td>
						2005-09-01</td>
					<td>
						2006-06-01</td>
					<td>
						广州市劳动局</td>
					<td>
						企业培训师</td>
					<td>
						国家职业二级证</td>
					<td>
						-</td>
				</tr>
				<tr>
					<td>
						2005-10-01</td>
					<td>
						2007-06-01</td>
					<td>
						中南财经政法大学</td>
					<td>
						高校教师攻读在职硕士经济学(财政税收)</td>
					<td>
						-</td>
					<td>
						-</td>
				</tr>
				<tr>
					<td>
						2007-09-01</td>
					<td>
						2010-07-01</td>
					<td>
						中共中央党校研究生院</td>
					<td>
						经济学(经济管理)</td>
					<td>
						在职研究生毕业证</td>
					<td>
						10062221044</td>
				</tr>
				<tr>
					<td>
						2008-07-01</td>
					<td>
						2010-10-01</td>
					<td>
						广西大学</td>
					<td>
						农村与区域发展</td>
					<td>
						研究生毕业证</td>
					<td>
						YB1059320101482</td>
				</tr>
				<tr>
					<td>
						2008-09-01</td>
					<td>
						2011-07-01</td>
					<td>
						广西大学</td>
					<td>
						农业推广</td>
					<td>
						农业推广硕士学位证</td>
					<td>
						-</td>
				</tr>
				<tr>
					<td>
						2009-02-01</td>
					<td>
						2009-11-01</td>
					<td>
						锐旗学校（省劳动局职业技能鉴定中心）</td>
					<td>
						高级企业培训师</td>
					<td>
						-</td>
					<td>
						-</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="JLFW">
		<p class="JLFWtitle">
			语言能力</p>
		<div class="JLFW2B">
			<table border="0" cellpadding="0" cellspacing="0" width="550">
				<tbody>
					<tr>
						<td class="JLFWcolor1" height="20" width="100">
							外语：</td>
						<td width="220">
							英语较差</td>
						<td class="JLFWcolor1" width="100">
							粤语水平：</td>
						<td>
							精通</td>
					</tr>
					<tr>
						<td class="JLFWcolor1" height="20">
							第二外语：</td>
						<td>
							无</td>
						<td class="JLFWcolor1" height="20">
							国语水平：</td>
						<td width="220">
							优秀</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="JLFW">
		<p class="JLFWtitle">
			简历自我评价</p>
		<p>
			1990年9月至今；受聘：时代科技学校、荔湾区成人中专学校、越秀区成人中专学校、广州市第一成人中专学校、致用学校、岭南工商学校、正大工商学校、北京塞亚学校、广州电大南洋电视中专学校、智通自考辅导中心、南洋自考辅导大学、广州市公用事业技工学校等中专、中技学校中专课程； 1995年至今，广州市广播电视大学荔湾分校、海珠分校、越秀分校、银行分校、番禺分校、广东省成人科技大学、广东业余大学、广州业余大学、广东教育学院、广东新华教育学院、广州大学科技干部学院、广州中成软件技术培训学院、广州大学科技贸易技术学院、广东科艺自考辅导中心、番禺广播电视大学、珠江管理专修学院、广州市科贸技术职业学院、广州大学继续教育学院等成人高校，任教大专和本科课程。 曾任教的课程：会计学基础[原理]、[中、高级]财务会计、理财学、成本会计、税务会计、预算会计、管理会计、工业会计、商品流通业会计、金融业（银行）会计、涉外会计、西方财务会计、审计学原理、财务审计、审计案例研究、财务案例研究、财务报表分析、会计制度设计、财务管理、中国税制、企业经营管理、企业战略管理、财政学、财政与金融、经济法、经济活动分析、管理学、企业领导学、人力资源会计、保险学、商业银行业务经营、市场营销学、西方经济学、人力资源管理等课程，以及论文辅导、职称考试、模拟实习等课程。考证、中专中技、大专和本科，现在以教本科课程为主。 广州市继续教育协会会员 ； 广东省内部审计协会会员 ； 广州市工会财务研究会会员 ；拥有会计师中级职称和企业培训师国家二级资格，有企业管理经验和教学经验。 有会计师证、企业培训师证；双大专一本科，在读硕士学位研究生。25年财会管理经验；20年成人教育经验。 在网上输入：黄佳，可查到本人的&ldquo;20年考了100个证书&rdquo;的介绍。</p>
	</div>
	<p class="JLFWtitle">
		求职自我介绍参考</p>
	<p>
		&ldquo;双师型&rdquo;大学教师。有理论、有实际，理论联系实际。实质重于形式，国、粤语&ldquo;双语教学&rdquo;。会计核算、财务管理、审计监察、教育培训、税务筹划等多元化发展，对人事劳资、消防安全、行政总务、统计策划等也有综合了解。有志在教育培训方面长期发展，直到退休。为人诚实守信，不抽烟、不喝酒。无不良嗜好。 纯正广东人，在粤西化州出生，在广州长大，在广州读书，广州市户口。对农村有感情，对广州有非常深入的了解。 会计核算和财务管理是专长，税务筹划和审计监察是优势，综合管理和教育培训是独有，诚实守信和高度责任感是处事原则。2005年12月24日获得由&ldquo;中国总会计师协会&rdquo;评选的广东首届国际财务管理师&ldquo;十大理财高手&rdquo;荣誉证书及奖杯，由广州市人大副主任苏晋中同志亲手颁发。2010年6月18日荣获&ldquo;广东省十大杰出父亲&rdquo;称号，由广东省副省长雷于蓝同志亲自颁发。 二十多年的工作经验，在国企、外企、民企、私企、机关事业单位等不同体制的单位工作履历；在工业、商业、服务业、文化教育，企业、事业等不同行业。爱好学习，童年（小学阶段）在粤西农村生活，初中开始在国际化大都市的广州市生活了30年，广州市户口；吃苦耐劳，学习能力强，能在较短期内熟悉各式各样的处事办法；中山大学哲学专业的学习经历，具有良好的心理素质，能承受各种压力；双大专+本科学历，能较快地熟练各行各业的运行规矩，适应各式各样的工作环境，并融会贯通、融合到新环境中去。学会选择，懂得放弃。选择教师职业是我的理想职业目标，因缘分未能如愿，一切随缘。 因在职攻读（硕士）研究生，周六日上课，要求五天工作制。若为教师岗位，要求不坐班。 月薪面议，万事有商量，尊重学校的薪酬制度。</p>
	<hr/>
	<p>
		有较强的组织能力和实际动手能力，有较好集体荣誉感，能迅速的适应各种环境，并融合其中，勇于接受挑战、承担压力。积极主动，学习上进，能够虚心学习并借鉴他人优点及经验，以提高自身文化水平及个人素质，工作责任感强，思路开阔。</p>
	<hr/>
	<p>
		希望找一份工作来增加自己的社会经验，坚定自己的人生，观价值观。考验一下自己的能力。专业知识的学习以及，使我积累了丰富的经验。另外我还从事过部门员工的培训工作，具有一定管理工作经验。我本人性格开朗，积极向上，乐于与人沟通，喜欢迎接新的挑战。</p>
	<hr/>
	<p>
		本人在大学期间一直在学生会工作，同时也是班内组织委员.有较强的组织能力、活动策划能力和公关能力，如：在大学期间曾多次领导组织大型体育赛事、文艺演出，并取得良好效果．　　有较强的语言表达能力和团队精神．活泼开朗、乐观向上、适应力强、认真负责、有很强的学习能力．</p>
	<hr/>
	<p>
		我的优势是成熟稳重，因为我三个不同专业的相关经历，工程、营销、客服.另外，我是一个脚踏实地的人，有目标，但是很现实，也会为了这个目标而不遗余力.在工作中加强了自己的团队意识和合作意识，相信会成为任何人工作的好伙伴</p>
	<hr/>
	<p>
		本人生活态度积极乐观，积极配合学校组织的各种活动。在校期间，热衷于社会实践，利用课余时间勤工俭学，积累了一定的社会实践经验，具有较强的动手能力和接受新鲜事物的能力，能够很好的做到将所学专业知识与实践内容相结合，为今后步入社会走向工作岗位打下了坚实的基础。</p>
	<hr/>
	<p>
		喜欢打乒乓球、唱歌、象棋、读书。 性格开朗、稳重、有活力，待人热情、真诚。有很强的自学能力，工作认真负责，积极主动，能吃苦耐劳。有较强的组织能力、实际动手能力和团体协作精神，有一定的创新能力，能迅速的适应各种环境，并融合其中。</p>
	<ins style="border-bottom: medium none; position: relative; border-left: medium none; padding-bottom: 0px; margin: 0px; padding-left: 0px; width: 468px; padding-right: 0px; display: inline-table; height: 60px; visibility: visible; border-top: medium none; border-right: medium none; padding-top: 0px"><span>&#65279;</span>&#65279;</ins></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C932015.html'>商务英语专业求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C922015.html'>过控专业大学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CZ2015.html'>艺术设计学学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CY2015.html'>计算机网络技术及应用专业简历模</a></li>
<li><a href='/zhichang/jianli/template/0H14CX2015.html'>前台行政文员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CW2015.html'>心理学专业个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14CF2015.html">物流客服代表简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D402015.html">外贸专业的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B4R015.html">客服人员应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B212015.html">高级会计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114562015.html">商业企业管理简历模板范文</a></li>
<li><a href="/zhichang/jianli/template/0F9113Z2015.html">营业部大堂经理个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B152015.html">经理助理简单简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144O22015.html">计算机网络技术及应用专业简历模</a></li>
<li><a href="/zhichang/jianli/template/0H14BB2015.html">2015跳槽英文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B592015.html">成本会计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D062015.html">中专会计学专业简历</a></li>
<li><a href="/zhichang/jianli/template/0H14Ac2015.html">通信行业个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C212015.html">德语客服个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C612015.html">应聘管培实习生个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>