<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>人事主管个人简历范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>人事主管个人简历范文</h2>
<p class="fbsj">时间：2015-07-09 14:31</p>
<div class="arnr">
<div class="jlmb_xx_tit_font">人事主管个人简历范文</div>
   <div>2012-05-31 06:01:57</div>
</div>
   <div class="jlmb_xx_nr">
 <p>
	基本情况.<br/>
	姓　　名：王先生&nbsp;<br/>
	证　　件：&nbsp; 出生年月：1981年12月24日<br/>
	性　　别：男 婚姻状况：保密<br/>
	户　　籍：湖南 衡阳 现所在地：广东 番禺&nbsp;<br/>
	身　　高：163CM 体　　重：48Kg<br/>
	民　　族：汉族 工作经验：4年 0月<br/>
	&nbsp;<br/>
	&nbsp;<br/>
	求职意向<br/>
	意向岗位： 行政专员/助理 人力资源主管 绩效专员 薪酬专员 招聘专员/助理&nbsp;<br/>
	工作性质：全职<br/>
	发展方向：三年多的行政人事工作，让我深刻体会到了人力资源工作对于企业的发展，以及与员工管理工作的重要性，本人欲在人力资源管理的工作领域中寻求更进一步的发展。<br/>
	要求地区：番禺<br/>
	月薪要求：2000-2500<br/>
	食宿要求：无<br/>
	&nbsp;<br/>
	&nbsp;<br/>
	教育经历<br/>
	2004年03月～2006年01月 衡阳有色冶金职工大学 财务会计 大专　<br/>
	&nbsp;<br/>
	&nbsp;<br/>
	2002年09月～2003年07月 衡阳有色冶金职业技术学校 基本教育 中专　<br/>
	&nbsp;<br/>
	&nbsp;<br/>
	&nbsp;<br/>
	语言能力<br/>
	英语（一般）&nbsp;<br/>
	普通话（熟练）&nbsp;<br/>
	粤语（良好）&nbsp;<br/>
	&nbsp;<br/>
	&nbsp;<br/>
	技能专长<br/>
	职称：计算机二级证书<br/>
	计算机级别：全国计算机二级<br/>
	计算机能力：计算机二级证书<br/>
	熟练使用Office软件：Excel表格制作、Word文档处理、Powerpoint等办公软件。&nbsp;<br/>
	兴趣/爱好：喜欢看书、打乒乓球、爬山、旅游<br/>
	其它能力：熟悉各类表格、幻灯片的制作；操作ERP数据管理系统；熟悉企业社会保险、单独工伤保险等办理流程，及其他证件的办理审核等。&nbsp;<br/>
	&nbsp;<br/>
	&nbsp;<br/>
	工作经历<br/>
	&nbsp;<br/>
	【广州*********公司】<br/>
	职位名称：人事主管/专员<br/>
	公司行业：原材料及加工（木材&middot;橡胶&middot;塑料&middot;玻璃等）<br/>
	公司性质：港资企业<br/>
	公司规模：100-499人<br/>
	公司描述：公司成立于2002年，属港资企业，员工约200人，主要从事球类运动用品及相关护具的生产、加工、销售，产品主要出口至美国、欧共体、中东等国家和地区。<br/>
	工作描述：主要负责全厂职员薪资的核算、出勤统计，人员的招聘、培训，劳动合同签定与续签；办理更新社会保险，相关证件年审；SA8000、C-TPAT等验厂资料、认证文件的整理作成、跟进；部分规章制度的拟定、修改与发行；员工满意度调查的筹划、实施、结果分析及改善，工伤、劳动争议纠纷等沟通处理。<br/>
	&nbsp;<br/>
	【环球*********公司】<br/>
	职位名称：电话营销<br/>
	公司行业：互联网&middot;电子商务<br/>
	公司性质：私营企业<br/>
	公司规模：1000人以上<br/>
	公司描述：互易公司在广东成立已15年，同全国四大通信集团（中国电信、中国移动、中国联通、中国网通）以及中国邮政一直合作，公司拥有自创的黄页&mdash;都市黄页。互易人精神：敢于做事、敢于挑战，不断创新、尽变自己。<br/>
	工作描述：自己通过各种途径去寻找有利的资料，再利用电话找寻找自己的目标人物（公司负责人），然后与其进行沟通，介绍自己以及我们的产品，最后达到预约客户的目的！与客户见面后进行详谈，尽可能促成合同的签署。本人是第一次接受此类工作，在第一个月中，签定3份合同，也在这份工作中对自己的一定的锻炼和提升，让我了解的销售这个行业。更是增加了自己的胆识，与工作中的承压能力。<br/>
	&nbsp;<br/>
	【广东*********公司】<br/>
	职位名称：市场拓展兼文艺演出<br/>
	公司行业：电子&middot;微电子<br/>
	公司性质：<br/>
	公司规模：1000人以上<br/>
	公司描述：零售世界及国内品牌通信产品、专用品牌配件；拥有完美的售前售后服务；是广东省最大的直营通信连锁集团。<br/>
	工作描述：宣传组织，拓展市场，文艺节目组织编排及表演，手机销售等。<br/>
	&nbsp;<br/>
	【丰达*********公司】<br/>
	职位名称：制造工程统筹文员<br/>
	公司行业：其他行业<br/>
	公司性质：外资企业<br/>
	公司规模：1000人以上<br/>
	公司描述：是一家大型的日资公司。主要生产各类发音设备（如：各类音响、耳机、mp3、mp4等），职员近20000名，生产的产品多用于出口。<br/>
	工作描述：********---******** ，在Foster(H.K)Ltd番禺丰达电机厂任职制造工程统筹文员，主要负责工作：本部门职员考勤及绩效考核，部门职员招聘，治工具的询价、预算、出入库管理，月底各项费用的统计分析，内部制品单据的确认及交期跟进，固定资产，小额资产盘点、资料的整理做成等等。<br/>
	&nbsp;<br/>
	&nbsp;<br/>
	&nbsp;<br/>
	自我评价<br/>
	3年多的行政人事工作让我深刻体会到了，人力资源管理工作对于企业发展的重要性。内部工作的开展、员工关系的管理，以及行政对外的工作，让我在完成工作的同时，也更好地锻炼了自己，加强了实战经验及沟通能力。本人正在进行人力资源助师培训，希望在人力资源的领域继续发展及提升。<br/>
	乐于与人沟通，擅于进行社交活动，具一定的组织策划能力，有很强的团队合作精神和集体荣誉感，在工作中学习并不断寻求上进。<br/>
	喜欢旅游、画画、健身、看电影。</p>
<p>
	<br/>
	<span style="display: none">&nbsp;</span></p>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C932015.html'>商务英语专业求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C922015.html'>过控专业大学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CZ2015.html'>艺术设计学学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CY2015.html'>计算机网络技术及应用专业简历模</a></li>
<li><a href='/zhichang/jianli/template/0H14CX2015.html'>前台行政文员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CW2015.html'>心理学专业个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14A952015.html">行政管理本科生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113I2015.html">农村区域发展个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C942015.html">电子商务大专生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0H14B102015.html">商务营销专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C202015.html">法务专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C5H015.html">金融销售经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362162015.html">游戏工程师个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14A962015.html">工业电器自动化专业学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E012015.html">简历模板：财务主管</a></li>
<li><a href="/zhichang/jianli/template/0G53E142015.html">人力资源主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C432015.html">文案创意员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BJ2015.html">结构工程师简历模板参考</a></li>
<li><a href="/zhichang/jianli/template/0G5363592015.html">司机简历模板-中文简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>