<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>工业电器自动化简历范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>工业电器自动化简历范文</h2>
<p class="fbsj">时间：2015-07-09 14:31</p>
<div class="arnr">
<div class="jlmb_xx_tit_font">工业电器自动化简历范文</div>
   <div>2012-05-29 05:56:51</div>
</div>
   <div class="jlmb_xx_nr">
 <p>
	姓名：YJBYS　　 性别：男<br/>
	　　民族：汉 　　　政治面目：团员<br/>
	　　学历(学位)：学士 　　专业：工业电器自动化<br/>
	　　联系电话：<br/>
	<br/>
	教育背景<br/>
	　　毕业院校：北京工业大学 1993.9--1997.7 工业电器自动化专业<br/>
	　　主修课程：自控原理，电力拖动，电子技术，自动测试系统，计算机组织与结构，计算机硬件及接口电路设计，汇编语言程序设计，C.C++程序设计，软件工程计算机网络原理等课程<br/>
	个人简介<br/>
	　　具备丰富的工作经验，认真踏实负责，且具备优秀的表达能力，曾多次主持对用户和内部的技术讲解和培训，获得用户和公司的一致好评。曾在电子工业部&ldquo;三金工程展风采展示会&rdquo;上向来宾讲解CHINAGBN专线集团用户解决方案。<br/>
	本人性格<br/>
	　　温和、谦虚、自律、自信（根据本人情况）。<br/>
	另： 最重要的是能力，相信贵公司会觉得我是此职位的适合人选！<br/>
	&nbsp;</p>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C932015.html'>商务英语专业求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C922015.html'>过控专业大学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CZ2015.html'>艺术设计学学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CY2015.html'>计算机网络技术及应用专业简历模</a></li>
<li><a href='/zhichang/jianli/template/0H14CX2015.html'>前台行政文员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CW2015.html'>心理学专业个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5363362015.html">简洁实用的个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535N32015.html">电气自动化工程个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14Bb2015.html">市场企划经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CM2015.html">电子信息工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C122015.html">英德双语专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C592015.html">会计助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C412015.html">游戏软件编程人员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C362015.html">食品科学与工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144O62015.html">商务英语专业求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14CW2015.html">心理学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B642015.html">个性简历封面模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C302015.html">造型设计专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535N02015.html">国际货代个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G5359312015.html">技术员个人简历模板-中文简历模</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>