<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>商务英语专业实习简历范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>商务英语专业实习简历范文</h2>
<p class="fbsj">时间：2015-07-09 14:31</p>
<div class="arnr">
<div class="jlmb_xx_tit_font">商务英语专业实习简历范文</div>
   <div>2012-06-07 03:02:46</div>
</div>
   <div class="jlmb_xx_nr">
 <table cellpadding="0" cellspacing="0" width="550">
	<tbody>
		<tr>
			<td class="CVcolor1" width="70">
				目前所在：</td>
			<td width="120">
				白云区</td>
			<td class="CVcolor1" width="70">
				年龄：</td>
			<td width="120">
				23</td>
		</tr>
		<tr>
			<td class="CVcolor1">
				户口所在：</td>
			<td>
				河源</td>
			<td class="CVcolor1">
				国籍：</td>
			<td>
				中国</td>
		</tr>
		<tr>
			<td class="CVcolor1">
				婚姻状况：</td>
			<td>
				未婚</td>
			<td class="CVcolor1">
				民族：</td>
			<td>
				汉族</td>
		</tr>
		<tr>
			<td class="CVcolor1">
				身高：</td>
			<td>
				161 cm</td>
			<td class="CVcolor1">
				体重：</td>
			<td>
				52 kg</td>
		</tr>
	</tbody>
</table>
<div id="JLFW">
	<p class="JLFWtitle">
		求职意向</p>
	<div class="JLFW2B">
		<table cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td class="CVcolor1" width="70">
						人才类型：</td>
					<td colspan="3" width="250">
						应届毕业生</td>
				</tr>
				<tr>
					<td class="CVcolor1">
						应聘职位：</td>
					<td colspan="3" width="450">
						贸易/进出口专员/助理：</td>
				</tr>
				<tr>
					<td class="CVcolor1">
						工作年限：</td>
					<td width="180">
						<span style="padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px">0</span></td>
					<td class="CVcolor1" width="90">
						职称：</td>
					<td>
						<span style="padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px">无职称</span></td>
				</tr>
				<tr>
					<td class="CVcolor1">
						求职类型：</td>
					<td width="180">
						实习</td>
					<td class="CVcolor1">
						可到职日期：</td>
					<td>
						随时</td>
				</tr>
				<tr>
					<td class="CVcolor1">
						月薪要求：</td>
					<td width="180">
						面议</td>
					<td class="CVcolor1">
						希望工作地区：</td>
					<td>
						广州,<span style="display: none">&nbsp;</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="JLFWtitle">
	工作履历</p>
<div class="JLFW2B">
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span class="CVbold1">易初莲花</span> 起止年月：2010-07-01 ～ 2010-08-01</td>
			</tr>
			<tr>
				<td class="CVcolor1" width="70">
					公司性质：</td>
				<td>
					股份制企业所属行业：服务业</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					担任职位：</td>
				<td>
					<b>促销员</b></td>
			</tr>
			<tr>
				<td class="CVcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					在2010暑假期间，在做酸奶的促销活动</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					离职原因：</td>
				<td>
					返校</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span class="CVbold1">广州市金苑山庄</span> 起止年月：2009-09-01 ～ 2009-11-01</td>
			</tr>
			<tr>
				<td class="CVcolor1" width="70">
					公司性质：</td>
				<td>
					私营企业所属行业：餐饮业</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					担任职位：</td>
				<td>
					<b>翻译</b></td>
			</tr>
			<tr>
				<td class="CVcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					在酒店的前台为参加广交会的外宾及采购商提供日常的翻译，使酒店的工作流程顺利进行</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					离职原因：</td>
				<td>
					返校上课</td>
			</tr>
		</tbody>
	</table>
</div>
<p class="JLFWtitle">
	教育背景</p>
<div class="JLFW2B">
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td class="CVcolor1" width="80">
					毕业院校：</td>
				<td width="259">
					广东白云学院</td>
				<td width="74">
					&nbsp;</td>
				<td width="190">
					&nbsp;</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					最高学历：</td>
				<td>
					本科获得学位: 学士学位</td>
				<td class="CVcolor1">
					毕业日期：</td>
				<td>
					2011-06-01</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					专 业 一：</td>
				<td>
					商务英语（国际商务方向）</td>
				<td class="CVcolor1">
					专 业 二：</td>
				<td>
					&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="CVform2" width="550">
		<tbody>
			<tr class="CVform2A">
				<td width="80">
					起始年月</td>
				<td width="80">
					终止年月</td>
				<td>
					学校（机构）</td>
				<td>
					所学专业</td>
				<td>
					获得证书</td>
				<td>
					证书编号</td>
			</tr>
			<tr class="CVform2B">
				<td>
					2007-11-01</td>
				<td>
					2008-06-01</td>
				<td>
					广东白云学院</td>
				<td>
					商务英语</td>
				<td>
					大学英语四级</td>
				<td>
					-</td>
			</tr>
			<tr class="CVform2B">
				<td>
					2009-05-01</td>
				<td>
					2009-06-01</td>
				<td>
					广州外语艺术学校</td>
				<td>
					普通话</td>
				<td>
					普通话二乙证书</td>
				<td>
					-</td>
			</tr>
			<tr class="CVform2B">
				<td>
					2009-09-01</td>
				<td>
					2009-11-01</td>
				<td>
					广东白云学院</td>
				<td>
					会计</td>
				<td>
					会计从业资格证</td>
				<td>
					-</td>
			</tr>
			<tr class="CVform2B">
				<td>
					2009-10-01</td>
				<td>
					2010-10-01</td>
				<td>
					广东白云学院</td>
				<td>
					商务英语（国际商务）</td>
				<td>
					国际贸易单证员</td>
				<td>
					-</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="JLFW">
	<p class="JLFWtitle">
		语言能力</p>
	<div class="JLFW2B">
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td class="CVcolor1" height="20" width="100">
						外语：</td>
					<td width="220">
						英语优秀</td>
					<td class="CVcolor1" width="100">
						粤语水平：</td>
					<td>
						一般</td>
				</tr>
				<tr>
					<td class="CVcolor1" height="20">
						第二外语：</td>
					<td>
						对日语有一定的听说读写能力</td>
					<td class="CVcolor1" height="20">
						国语水平：</td>
					<td width="220">
						优秀</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="JLFWtitle">
	简历自我评价</p>
<p>
	在学生会工作中，我们学习部举办过各种各样的活动：英语角，英语口语大赛，辩论赛，读书杯，义务庆典，诗歌朗诵比赛，从中，我作为一名主要负责人之一，我个人能力得到了锻练。在大二第一学期，每周四在新世纪幼儿园从事幼教工作。</p>
<div id="JLFW">
	<p class="JLFWtitle">
		求职自我介绍</p>
	<p>
		在广东白云学院这四年，除了努力学习基础课程和掌握本专业的理论知识外，我还积极参加各种社会实践活动。学习上，认真刻苦，曾两次荣获&ldquo;国家励志奖学金&rdquo;。我重视理论与实践的结合，全班同学曾组织参观了解&ldquo;欧派公司&rdquo;、做过销售工作。<br/>
		工作上，作为一名学习部副部长，带头做好每一件事，为同学们树立应有的榜样，去新世纪幼儿园任教过，也曾利用周末时间去敬老院看望老人。同时也参加志愿者活动，是青年志愿者协会的一员。性格上， 谈吐大方，懂商务交际礼仪，性格开朗，有敬业精神；<br/>
		生活上:我向来崇尚质朴的生活,并养成良好的生活习惯和正派的作风，能够很好很好的融入集体，沟通能力较强，有亲和力，能吃苦耐劳，且有较强主动学习能力。<br/>
		<br/>
		当然，也有不足之处，做事有时候会优柔寡断，不能大胆的放开手去做事。在今后的日子里，我会改进缺点不足，继续努力，以饱满的热情去迎接人生的新旅程。</p>
</div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C932015.html'>商务英语专业求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C922015.html'>过控专业大学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CZ2015.html'>艺术设计学学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CY2015.html'>计算机网络技术及应用专业简历模</a></li>
<li><a href='/zhichang/jianli/template/0H14CX2015.html'>前台行政文员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CW2015.html'>心理学专业个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14B4R015.html">客服人员应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E422015.html">个人简历(营业员)</a></li>
<li><a href="/zhichang/jianli/template/0H14B462015.html">业务推广专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C5R015.html">计算机应用专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114012015.html">旅游业个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G535Z12015.html">外贸助理个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G5361922015.html">红色个人简历封面</a></li>
<li><a href="/zhichang/jianli/template/0H144O32015.html">艺术设计学学生求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0F9114532015.html">销售精英简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14BV2015.html">人事部经理助理求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D532015.html">求职个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C2R015.html">信息管理与信息系统个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114152015.html">商业个人简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C292015.html">石油工程专业个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>