<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>财务分析人员实习简历范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>财务分析人员实习简历范文</h2>
<p class="fbsj">时间：2015-07-09 14:31</p>
<div class="arnr">
<div class="jlmb_xx_tit_font">财务分析人员实习简历范文</div>
   <div>2012-06-01 06:29:03</div>
</div>
   <div class="jlmb_xx_nr">
 <p>
	&nbsp;</p>
<table cellpadding="0" cellspacing="0" width="550">
	<tbody>
		<tr>
			<td class="CVcolor1" width="70">
				目前所在：</td>
			<td width="120">
				天河区</td>
			<td class="CVcolor1" width="70">
				年龄：</td>
			<td width="120">
				22</td>
		</tr>
		<tr>
			<td class="CVcolor1">
				户口所在：</td>
			<td>
				肇庆</td>
			<td class="CVcolor1">
				国籍：</td>
			<td>
				中国</td>
		</tr>
		<tr>
			<td class="CVcolor1">
				婚姻状况：</td>
			<td>
				未婚</td>
			<td class="CVcolor1">
				民族：</td>
			<td>
				汉族</td>
		</tr>
		<tr>
			<td class="CVcolor1">
				身高：</td>
			<td>
				158 cm</td>
			<td class="CVcolor1">
				体重：</td>
			<td>
				47 kg</td>
		</tr>
	</tbody>
</table>
<div id="JLFW">
	<p class="JLFWtitle">
		求职意向</p>
	<div class="JLFW2B">
		<table cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td class="CVcolor1" width="70">
						人才类型：</td>
					<td colspan="3" width="250">
						应届毕业生</td>
				</tr>
				<tr>
					<td class="CVcolor1">
						应聘职位：</td>
					<td colspan="3" width="450">
						财务顾问：，统计员：，财务分析经理/主管：</td>
				</tr>
				<tr>
					<td class="CVcolor1">
						工作年限：</td>
					<td width="180">
						<span style="padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px">2</span></td>
					<td class="CVcolor1" width="90">
						职称：</td>
					<td>
						<span style="padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px">初级</span></td>
				</tr>
				<tr>
					<td class="CVcolor1">
						求职类型：</td>
					<td width="180">
						实习</td>
					<td class="CVcolor1">
						可到职日期：</td>
					<td>
						随时</td>
				</tr>
				<tr>
					<td class="CVcolor1">
						月薪要求：</td>
					<td width="180">
						面议</td>
					<td class="CVcolor1">
						希望工作地区：</td>
					<td>
						广州,深圳,东莞</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="JLFWtitle">
	工作履历</p>
<div class="JLFW2B">
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span class="CVbold1">亚组会</span> 起止年月：2010-11-01 ～ 2010-12-01</td>
			</tr>
			<tr>
				<td class="CVcolor1" width="70">
					公司性质：</td>
				<td>
					社会团体所属行业：服务业</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					担任职位：</td>
				<td>
					<b>亚运会 亚残运会自愿者</b></td>
			</tr>
			<tr>
				<td class="CVcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					做自愿者，人人为亚运，为亚运做无私奉献</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					离职原因：</td>
				<td>
					&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span class="CVbold1">杨协成公司</span> 起止年月：2010-10-01 ～ 2010-11-01</td>
			</tr>
			<tr>
				<td class="CVcolor1" width="70">
					公司性质：</td>
				<td>
					国有企业所属行业：批发/零售</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					担任职位：</td>
				<td>
					<b>促销员</b></td>
			</tr>
			<tr>
				<td class="CVcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					从事促销员，可以锻炼胆量，接触外界，知道外界所需<br/>
					&nbsp;</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					离职原因：</td>
				<td>
					&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span class="CVbold1">广东电信公司</span> 起止年月：2010-09-01 ～ 2010-10-01</td>
			</tr>
			<tr>
				<td class="CVcolor1" width="70">
					公司性质：</td>
				<td>
					国有企业所属行业：通信/电信/网络设备</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					担任职位：</td>
				<td>
					<b>接待员</b></td>
			</tr>
			<tr>
				<td class="CVcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					从事接待员，以自己的热情服务、接待新人，让人感觉特别温暖</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					离职原因：</td>
				<td>
					寻找更大发展空间</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span class="CVbold1">北京华通明略市场研究调查公司</span> 起止年月：2009-05-01 ～ 2010-12-01</td>
			</tr>
			<tr>
				<td class="CVcolor1" width="70">
					公司性质：</td>
				<td>
					国有企业所属行业：公关/市场推广/会展</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					担任职位：</td>
				<td>
					<b>访问员</b></td>
			</tr>
			<tr>
				<td class="CVcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					从事访问员，可以促进与外界交流，接触不同的人，说话圆润，同时可以提高语速<br/>
					&nbsp;</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					离职原因：</td>
				<td>
					寻找更大的发展空间</td>
			</tr>
		</tbody>
	</table>
</div>
<p class="JLFWtitle">
	教育背景</p>
<div class="JLFW2B">
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td class="CVcolor1" width="80">
					毕业院校：</td>
				<td width="259">
					广东农工商职业技术学院</td>
				<td width="74">
					&nbsp;</td>
				<td width="190">
					&nbsp;</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					最高学历：</td>
				<td>
					大专获得学位:</td>
				<td class="CVcolor1">
					毕业日期：</td>
				<td>
					1988-11-01</td>
			</tr>
			<tr>
				<td class="CVcolor1">
					专 业 一：</td>
				<td>
					会计与审计</td>
				<td class="CVcolor1">
					专 业 二：</td>
				<td>
					会计电算化</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="CVform2" width="550">
		<tbody>
			<tr class="CVform2A">
				<td width="80">
					起始年月</td>
				<td width="80">
					终止年月</td>
				<td>
					学校（机构）</td>
				<td>
					所学专业</td>
				<td>
					获得证书</td>
				<td>
					证书编号</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="JLFW">
	<p class="JLFWtitle">
		语言能力</p>
	<div class="JLFW2B">
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td class="CVcolor1" height="20" width="100">
						外语：</td>
					<td width="220">
						英语良好</td>
					<td class="CVcolor1" width="100">
						粤语水平：</td>
					<td>
						精通</td>
				</tr>
				<tr>
					<td class="CVcolor1" height="20">
						第二外语：</td>
					<td>
						&nbsp;</td>
					<td class="CVcolor1" height="20">
						国语水平：</td>
					<td width="220">
						优秀</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="JLFWtitle">
	简历自我评价</p>
<p>
	细心、精于计算、善于与人交流、熟悉基本会计操作流程、熟悉基本办公软件、已获得会计资格从业证书</p>
<div id="JLFW">
	<p class="JLFWtitle">
		求职自我介绍</p>
	<p>
		本人性格开朗，为人热情、大方，善于沟通、能够处理好各种人际关系。敢于创新，追求新事物、富有团队精神。有一定的应变能力和实际解决问题的能力，责任心和组织能力、动手能力强，能自律和刻苦耐劳。</p>
</div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C932015.html'>商务英语专业求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C922015.html'>过控专业大学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CZ2015.html'>艺术设计学学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CY2015.html'>计算机网络技术及应用专业简历模</a></li>
<li><a href='/zhichang/jianli/template/0H14CX2015.html'>前台行政文员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CW2015.html'>心理学专业个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14B342015.html">项目经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E0H015.html">个人简历模板：人事职员</a></li>
<li><a href="/zhichang/jianli/template/0H14C042015.html">设计主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E102015.html">个人简历模板：人力资源主管</a></li>
<li><a href="/zhichang/jianli/template/0G5359232015.html">知识个人简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DF2015.html">软件测试工程师简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535R32015.html">行政助理个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G53E142015.html">人力资源主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53C952015.html">标准中文简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C922015.html">过控专业大学生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B632015.html">计算机应用实习生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53Cb2015.html">2010年毕业生个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H144O52015.html">过控专业大学生求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G53E492015.html">个人简历——广告学</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>