<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>教师个人简历范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>教师个人简历范文</h2>
<p class="fbsj">时间：2015-07-09 14:31</p>
<div class="arnr">
<div class="jlmb_xx_tit_font">教师个人简历范文</div>
   <div>2012-12-20 07:51:27</div>
</div>
   <div class="jlmb_xx_nr">
 <p>
	&nbsp;</p>
<p align="center">
	<strong>教师个人简历</strong></p>
<p>
	姓名</p>
<p>
	三年以上工作经验| 女| 29岁</p>
<p>
	居住地：</p>
<p>
	电　话：</p>
<p>
	E-mail：</p>
<p>
	最近工作[ 2 年1个月</p>
<p>
	公　司：XXXXX（中国）有限公司</p>
<p>
	行　业：电子技术/半导体/集成电路</p>
<p>
	职　位： 心理咨询师 最高学历</p>
<p>
	学　历：硕士</p>
<p>
	专　业： 心理学</p>
<p>
	学　校：上海华东师范大学</p>
<p>
	<strong>自我评价&nbsp; </strong></p>
<p>
	从事心理咨询5年，有丰富的咨询经验和心理测评经验。擅长情感、人际沟通和 职业规划 领域；兴趣广泛，精力充沛； 英语 口语、写作熟练；责任心强，吃苦耐劳；待人诚恳，有团队精神。</p>
<p>
	<strong>求职 </strong><strong>意向 </strong></p>
<p>
	&nbsp;</p>
<p>
	到岗时间： 待定</p>
<p>
	工作性质： 全职</p>
<p>
	目标地点： 上海</p>
<p>
	期望月薪： 面议/月</p>
<p>
	目标职能：心理咨询师</p>
<p>
	&nbsp;</p>
<p>
	<strong>工作经验 </strong></p>
<p>
	&nbsp;</p>
<p>
	200X /9--至今：XXXX（中国）有限公司(500人以上) [ 2 年1个月]</p>
<p>
	&nbsp;</p>
<p>
	所属行业：电子技术/半导体/集成电路</p>
<p>
	&nbsp;</p>
<p>
	责任关怀 心理咨询师</p>
<p>
	&nbsp;</p>
<p>
	负责员工职业健康、预防医学以及健康促进； 健康促进项目的策划、组织实施； 员工个体心理咨询；员工工作压力培训；</p>
<p>
	&nbsp;</p>
<p>
	200X/8&mdash;200X/9：XXXXX教育培训(500人以上) [ 2年1个月]</p>
<p>
	&nbsp;</p>
<p>
	所属行业：教育/培训</p>
<p>
	&nbsp;</p>
<p>
	VIP事业部 心理咨询师兼心理教研</p>
<p>
	&nbsp;</p>
<p>
	为学员及学员家长提供心理咨询与辅导；完成学员心理测评分析报告；给教师团队提供合理化建议；编写讲座及课程内容（缓解考试焦虑、教育心理学应用等），并面向教师团队及学员家长等开展相关讲座和培训；每周主持开展个案探讨会，从心理学角度帮助问题学员改善状况解决问题。</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	<strong>教育经历 </strong></p>
<p>
	&nbsp;</p>
<p>
	200X /9&mdash;200X /6 上海华东师范大学 心理学 硕士</p>
<p>
	所学的专业为心理咨询。 学习课程包括心理诊断、精神分析、心理咨询技术、社会心理学、管理心理学、决策心理学，团体培训等。</p>
<p>
	200X /9&mdash;200X /6 复旦大学 公共事业管理 本科</p>
<p>
	医学的基础课程，包括生理、生化、药理等； 临床课程，包括内科、外科、五官科、妇科等； 预防医学，包括微生物、流行病学、医学统计学等； 管理课程，包括管理学、公共关系学、管理心理学、卫生经济学、卫生管理、医院管理等</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	<strong>社会经验 </strong></p>
<p>
	&nbsp;</p>
<p>
	200X /3&mdash;200X /6 华师大心理咨询中心，任心理咨询师</p>
<p>
	对校内外学生进行心理咨询，有丰富的个别咨询和团体咨询的经验，擅长情感和 职业规划 方面咨询；</p>
<p>
	&nbsp;</p>
<p>
	<strong>语言能力 </strong></p>
<p>
	&nbsp;</p>
<p>
	英语 （精通）</p>
<p>
	&nbsp;</p>
<p>
	<strong>培训经历 </strong></p>
<p>
	&nbsp;</p>
<p>
	200X/6&mdash;200X/11 上海精神卫生中心 心理咨询师二级 国家心理咨询师二级</p>
<p>
	心理咨询师二级技能培训</p>
<p>
	&nbsp;</p>
<p>
	<strong>证书 </strong></p>
<p>
	&nbsp;</p>
<p>
	2006 /1 国家心理咨询师二级</p>
<p>
	2004 /10 高级口译证书</p>
<p>
	2003 /8 托福&nbsp;</p>
<p>
	2001/12 大学 英语 六级</p>
<p>
	2001 /6 全国计算机应用技术证书</p>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C932015.html'>商务英语专业求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C922015.html'>过控专业大学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CZ2015.html'>艺术设计学学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CY2015.html'>计算机网络技术及应用专业简历模</a></li>
<li><a href='/zhichang/jianli/template/0H14CX2015.html'>前台行政文员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CW2015.html'>心理学专业个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53E362015.html">一般个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E562015.html">个人简历——电话销售</a></li>
<li><a href="/zhichang/jianli/template/0H14CJ2015.html">区域销售经理应聘简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CU2015.html">多媒体与网络技术专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C212015.html">德语客服个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362O2015.html">金融工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363362015.html">简洁实用的个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B012015.html">机械专业大专生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BF2015.html">项目经理简历模板范文</a></li>
<li><a href="/zhichang/jianli/template/0G5361O2015.html">PHP计算机程序员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B522015.html">it个人简历封面模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C1H015.html">销售主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D5R015.html">2010年5月个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F022015.html">律师中文简历模板-中文简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>