<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>旅游业个人简历范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>旅游业个人简历范文</h2>
<p class="fbsj">时间：2015-07-09 14:31</p>
<div class="arnr">
<div class="jlmb_xx_tit_font">旅游业个人简历范文</div>
   <div>2012-06-07 03:29:55</div>
</div>
   <div class="jlmb_xx_nr">
 <p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="4" cellspacing="0" width="552">
	<tbody>
		<tr bgcolor="#e4ebf2">
			<td>
				<b><font size="3">个人基本简历</font></b></td>
			<td align="right">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" width="552">
	<tbody>
		<tr>
			<td align="right" bgcolor="#eef4f9" height="24" width="100">
				姓名：</td>
			<td bgcolor="#f4f7fa" width="180">
				刘先生</td>
			<td align="right" bgcolor="#eef4f9" width="100">
				国籍：</td>
			<td bgcolor="#f4f7fa" width="136">
				中国</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#eef4f9" height="24" width="100">
				目前所在地：</td>
			<td bgcolor="#f4f7fa">
				荔湾区</td>
			<td align="right" bgcolor="#eef4f9">
				民族：</td>
			<td bgcolor="#f4f7fa">
				汉族</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#eef4f9" height="24" width="100">
				户口所在地：</td>
			<td bgcolor="#f4f7fa">
				茂名</td>
			<td align="right" bgcolor="#eef4f9">
				身材：</td>
			<td bgcolor="#f4f7fa">
				168 cm　60 kg</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#eef4f9" height="24" width="100">
				婚姻状况：</td>
			<td align="left" bgcolor="#f4f7fa">
				未婚</td>
			<td align="right" bgcolor="#eef4f9">
				年龄：</td>
			<td align="left" bgcolor="#f4f7fa">
				23</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="552">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18">
				　求职意向及工作经历</td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" width="552">
	<tbody>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" width="100">
				应聘职位：</td>
			<td colspan="3">
				行政专员/助理、酒店/旅游、其它类：</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" width="100">
				工作年限：</td>
			<td width="180">
				1</td>
			<td align="right" bgcolor="#eef4f9" width="100">
				职称：</td>
			<td>
				无职称</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" width="100">
				求职类型：</td>
			<td width="180">
				全职</td>
			<td align="right" bgcolor="#eef4f9" width="100">
				可到职日期：</td>
			<td>
				随时</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" width="100">
				月薪要求：</td>
			<td width="180">
				1500--2000</td>
			<td align="right" bgcolor="#eef4f9" width="100">
				希望工作地区：</td>
			<td nowrap="nowrap">
				广州</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" width="100">
				个人工作经历：</td>
			<td colspan="3" style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; border-bottom-width: 0px; padding-top: 0px">
				<table bgcolor="#f4f7fa" border="0" cellpadding="3" cellspacing="0" class="tabs" width="100%">
					<tbody>
						<tr>
							<td width="60">
								公司名称：</td>
							<td style="border-right-width: 0px">
								<span style="width: 200px; float: right">起止年月：2009-06 ～ 2010-10</span>广州弘睿企业管理顾问有限公司</td>
						</tr>
						<tr>
							<td width="60">
								公司性质：</td>
							<td style="border-right-width: 0px">
								<span style="width: 218px">私营企业</span>所属行业：服务业</td>
						</tr>
						<tr>
							<td width="60">
								担任职务：</td>
							<td style="border-right-width: 0px">
								会计助理</td>
						</tr>
						<tr>
							<td width="60">
								工作描述：</td>
							<td style="border-right-width: 0px">
								1、营运日报表的制作、报送。<br/>
								<br/>
								2、客户信息的建档、更新。<br/>
								<br/>
								3、客户授信审核、政策跟踪。<br/>
								<br/>
								4、客户对账，月末客户对账单汇总差异说明。<br/>
								<br/>
								5、销售发票开具、保管，购买销售发票资料准备及每月抄税资料准备（增值税发票使用汇总明细表）</td>
						</tr>
						<tr>
							<td style="border-bottom-width: 0px" width="60">
								离职原因：</td>
							<td style="border-bottom: #cccccc 0px solid; border-right-width: 0px; border-top-width: 0px; border-left-width: 0px">
								个人原因</td>
						</tr>
						<tr>
							<td colspan="2" height="20" style="border-bottom: #cccccc 1px solid; border-right-width: 0px; border-top: #cccccc 1px solid; border-left-width: 0px">
								&nbsp;</td>
						</tr>
						<tr>
							<td width="60">
								公司名称：</td>
							<td style="border-right-width: 0px">
								<span style="width: 200px; float: right">起止年月：2008-07 ～ 2008-09</span>华南师范大学科考培训中心</td>
						</tr>
						<tr>
							<td width="60">
								公司性质：</td>
							<td style="border-right-width: 0px">
								<span style="width: 218px">其它</span>所属行业：教育/培训/院校</td>
						</tr>
						<tr>
							<td width="60">
								担任职务：</td>
							<td style="border-right-width: 0px">
								兼职招生</td>
						</tr>
						<tr>
							<td width="60">
								工作描述：</td>
							<td style="border-right-width: 0px">
								1、为学员和家长提供现场咨询、电话咨询及专业的指导意见。<br/>
								2、根据学员具体情况推介并协助其正确选择所需专业</td>
						</tr>
						<tr>
							<td style="border-bottom-width: 0px" width="60">
								离职原因：</td>
							<td style="border-bottom: #cccccc 0px solid; border-right-width: 0px; border-top-width: 0px; border-left-width: 0px">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" colspan="4">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="552">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18">
				<b>教育背景</b></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" width="552">
	<tbody>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9">
				毕业院校：</td>
			<td colspan="3">
				华南师范大学科教培训中心</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" width="100">
				最高学历：</td>
			<td width="180">
				<span style="width: 60px">大专</span></td>
			<td align="right" bgcolor="#eef4f9" width="100">
				毕业日期：</td>
			<td>
				2009-04-01</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9">
				所学专业一：</td>
			<td width="180">
				行政管理</td>
			<td align="right" bgcolor="#eef4f9" width="100">
				所学专业二：</td>
			<td>
				&nbsp;</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9">
				受教育培训经历：</td>
			<td colspan="3" style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px">
				<table bgcolor="#dddddd" border="0" cellpadding="2" cellspacing="1" width="100%">
					<tbody>
						<tr bgcolor="#eef4f9">
							<td width="50">
								起始年月</td>
							<td width="50">
								终止年月</td>
							<td>
								学校（机构）</td>
							<td>
								专业</td>
							<td>
								获得证书</td>
							<td>
								证书编号</td>
						</tr>
						<tr bgcolor="#f4f7fa">
							<td>
								2003-09</td>
							<td>
								2006-06</td>
							<td>
								茂名市电白县电海中学</td>
							<td>
								高中</td>
							<td>
								毕业证</td>
							<td>
								&nbsp;</td>
						</tr>
						<tr bgcolor="#f4f7fa">
							<td>
								2006-09</td>
							<td>
								2009-04</td>
							<td>
								华南师范大学科教培训中心</td>
							<td>
								行政管理</td>
							<td>
								大专毕业证</td>
							<td>
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#f4f7fa" colspan="4">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="552">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18">
				<b>语言能力</b></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" width="552">
	<tbody>
		<tr>
			<td align="right" bgcolor="#eef4f9" width="100">
				外语：</td>
			<td bgcolor="#f4f7fa" width="180">
				英语一般</td>
			<td bgcolor="#eef4f9" width="100">
				&nbsp;</td>
			<td bgcolor="#f4f7fa">
				&nbsp;</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#eef4f9">
				国语水平：</td>
			<td bgcolor="#f4f7fa">
				良好</td>
			<td align="right" bgcolor="#eef4f9" width="100">
				粤语水平：</td>
			<td bgcolor="#f4f7fa">
				良好</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#f4f7fa" colspan="4">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="552">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18">
				工作能力及其他专长</td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" width="552">
	<tbody>
		<tr>
			<td bgcolor="#eef4f9" width="100">
				&nbsp;</td>
			<td bgcolor="#f4f7fa">
				能够熟练都运用word、excel一般的办公软件，能认真负责完成上级交待的工作，学习能力比较好。</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td bgcolor="#f4f7fa" colspan="2" height="20">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="552">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18">
				<b>详细个人自传</b></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" width="552">
	<tbody>
		<tr>
			<td bgcolor="#eef4f9" width="100">
				&nbsp;</td>
			<td bgcolor="#f4f7fa">
				所修课程：<br/>
				行政管理学、政治学概论、法学概论、公共关系学、管理心理学、市政学、大学语文、法律基础与思想道德修养、邓理论概论、马克思哲学原理、社会研究方法、人力资源管理、现代管理学、公文写作与处理<br/>
				<br/>
				自我评价：<br/>
				本人的性格是动静结合，乐观向上，真诚坦率，沉着稳重，拥有较强的适应能力和自学能力，并有良好的身体素质。与人相处和睦融洽，乐于助人，对工作认真负责，不易受外境的干扰，作风严谨。在近一年的工作中，我体会了与上级与同事与客户之间微妙的相处之道，明白了为人处事的重要；也学到了专业知识外的社会经验，丰富了知识跟阅历，提高了工作能力跟纠正了工作态度。<br/>
				我相信贵公司对我的选择，就是好的投资，也会是给我自己带来更多更好的实践与挑战，大家会获得双赢的层面。<br/>
				<br/>
				<br/>
				求职意向：<br/>
				我希望在各企业单位找一份可以发挥特长工作，如经理助理、新兴职业，或各类职位的挑战，因为每个人都不应给自己的专业框起，也希望各企业公司能给多点机会与选择。</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td bgcolor="#f4f7fa" colspan="2" height="20">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="552">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18">
				<b>个人联系方式</b></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" width="552">
	<tbody>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" height="24" width="100">
				通讯地址：</td>
			<td bgcolor="#f4f7fa" colspan="3">
				&nbsp;</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" height="24" width="100">
				联系电话：</td>
			<td width="180">
				13570469127</td>
			<td align="right" bgcolor="#eef4f9" width="100">
				家庭电话：</td>
			<td width="246">
				&nbsp;</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" height="24">
				手机：</td>
			<td>
				13570469127</td>
			<td align="right" bgcolor="#eef4f9">
				ＱＱ号码：</td>
			<td>
				240532712</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" height="24">
				电子邮件：</td>
			<td>
				benbws@163.com</td>
			<td align="right" bgcolor="#eef4f9">
				个人主页：</td>
			<td>
				&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C932015.html'>商务英语专业求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C922015.html'>过控专业大学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CZ2015.html'>艺术设计学学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CY2015.html'>计算机网络技术及应用专业简历模</a></li>
<li><a href='/zhichang/jianli/template/0H14CX2015.html'>前台行政文员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CW2015.html'>心理学专业个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14CX2015.html">前台行政文员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535L52015.html">建筑设计技术员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G53E362015.html">一般个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F91140R015.html">地质求职简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0G53D322015.html">无经验的初级程序员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362V2015.html">销售顾问简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362K2015.html">2012最新空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535U92015.html">口译翻译员个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0H14C212015.html">德语客服个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C622015.html">护理专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F192015.html">中文简历模板——市场主管</a></li>
<li><a href="/zhichang/jianli/template/0H14CJ2015.html">区域销售经理应聘简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CI2015.html">简单实用的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B962015.html">出口物流员个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>