<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>销售代表简历范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>销售代表简历范文</h2>
<p class="fbsj">时间：2015-07-09 14:31</p>
<div class="arnr">
<div class="jlmb_xx_tit_font">销售代表简历范文</div>
   <div>2012-12-20 07:55:28</div>
</div>
   <div class="jlmb_xx_nr">
 <p>
	&nbsp;</p>
<p align="center">
	<strong>销售代表简历范文</strong></p>
<p align="left">
	姓名：<strong></strong></p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:70px;">
				<p align="left">
					目前所在：</p>
			</td>
			<td style="width:120px;">
				<p align="left">
					天河区</p>
			</td>
			<td style="width:70px;">
				<p align="left">
					年　　龄：</p>
			</td>
			<td style="width:120px;">
				<p align="left">
					24</p>
			</td>
			<td rowspan="6" style="width:120px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					户口所在：</p>
			</td>
			<td>
				<p align="left">
					潮州</p>
			</td>
			<td>
				<p align="left">
					国　　籍：</p>
			</td>
			<td>
				<p align="left">
					中国</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					婚姻状况：</p>
			</td>
			<td>
				<p align="left">
					未婚</p>
			</td>
			<td>
				<p align="left">
					民　　族：</p>
			</td>
			<td>
				<p align="left">
					汉族</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					培训认证：</p>
			</td>
			<td>
				<p align="left">
					未参加</p>
			</td>
			<td>
				<p align="left">
					身　　高：</p>
			</td>
			<td>
				<p align="left">
					178 cm</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					诚信徽章：</p>
			</td>
			<td>
				<p align="left">
					未申请</p>
			</td>
			<td>
				<p align="left">
					体　　重：</p>
			</td>
			<td>
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				&nbsp;</td>
			<td>
				&nbsp;</td>
			<td>
				&nbsp;</td>
			<td>
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				&nbsp;</td>
			<td colspan="4">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<p align="left">
	<strong>求职意向</strong></p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:70px;">
				<p align="left">
					人才类型：</p>
			</td>
			<td colspan="3" style="width:250px;">
				<p align="left">
					普通求职　</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					应聘职位：</p>
			</td>
			<td colspan="3" style="width:250px;">
				<p align="left">
					销售人员：，销售行政及商务：</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					工作年限：</p>
			</td>
			<td style="width:180px;">
				<p align="left">
					1</p>
			</td>
			<td style="width:90px;">
				<p align="left">
					职　　称：</p>
			</td>
			<td>
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					求职类型：</p>
			</td>
			<td style="width:180px;">
				<p align="left">
					全职</p>
			</td>
			<td>
				<p align="left">
					可到职日期：</p>
			</td>
			<td>
				<p align="left">
					随时</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					月薪要求：</p>
			</td>
			<td style="width:180px;">
				<p align="left">
					面议</p>
			</td>
			<td>
				<p align="left">
					希望工作地区：</p>
			</td>
			<td>
				<p align="left">
					广州,,</p>
			</td>
		</tr>
	</tbody>
</table>
<p align="left">
	<strong>工作经历</strong></p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="2">
				<p align="left">
					广东加多宝饮料食品有限公司　　起止年月：2010-07 ～2010-11</p>
			</td>
		</tr>
		<tr>
			<td style="width:70px;">
				<p align="left">
					公司性质：</p>
			</td>
			<td>
				<p align="left">
					民营企业　　所属行业：快速消费品(食品,饮料,化妆品)</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					担任职位：</p>
			</td>
			<td>
				<p align="left">
					<strong>销售代表</strong></p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					工作描述：</p>
			</td>
			<td>
				<p align="left">
					主要负责定期访问公司规定区域内的商店，维持稳定和客户的关系,并拓展更多的客户资源,从而提高销售业绩。<br/>
					期间能够完成公司所给定的目标，完成销售量。</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					离职原因：</p>
			</td>
			<td>
				<p align="left">
					个人私事</p>
			</td>
		</tr>
	</tbody>
</table>
<p align="left">
	&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="2">
				<p align="left">
					佛山易搜科技网络公司　　起止年月：2010-03 ～2010-05</p>
			</td>
		</tr>
		<tr>
			<td style="width:70px;">
				<p align="left">
					公司性质：</p>
			</td>
			<td>
				<p align="left">
					私营企业　　所属行业：计算机/互联网/通信/电子</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					担任职位：</p>
			</td>
			<td>
				<p align="left">
					<strong>商务代表</strong></p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					工作描述：</p>
			</td>
			<td>
				<p align="left">
					主要通过电话推销公司产品和宣传公司的业务，寻找意向客户。<br/>
					从工作中极大提高了心里的承受能力，学习到很多关于营销的知识和技巧,特别是与客户交流方面的技巧.</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					离职原因：</p>
			</td>
			<td>
				<p align="left">
					临近毕业</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p align="left">
					东软青年志愿者服务队　　起止年月：2007-10 ～2009-12</p>
			</td>
		</tr>
		<tr>
			<td style="width:70px;">
				<p align="left">
					担任职位：</p>
			</td>
			<td>
				<p align="left">
					<strong>组长</strong></p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					工作描述：</p>
			</td>
			<td>
				<p align="left">
					经常参加公益活动增长社会知识，提高自己的实践能力，例如登门派发活动传单等等，管理小组提高组员的积极性，增进组员间的感情</p>
			</td>
		</tr>
	</tbody>
</table>
<p align="left">
	&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="2">
				<p align="left">
					东软青年志愿者服务队　　起止年月：2007-10 ～2009-12</p>
			</td>
		</tr>
		<tr>
			<td style="width:70px;">
				<p align="left">
					担任职位：</p>
			</td>
			<td>
				<p align="left">
					<strong>组长</strong></p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					工作描述：</p>
			</td>
			<td>
				<p align="left">
					经常参加公益活动增长社会知识，提高自己的实践能力，例如登门派发活动传单等等，管理小组提高组员的积极性，增进组员间的感情</p>
			</td>
		</tr>
	</tbody>
</table>
<p align="left">
	<strong>教育背景</strong></p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:80px;">
				<p align="left">
					毕业院校：</p>
			</td>
			<td style="width:259px;">
				<p align="left">
					南海东软信息技术职业学院</p>
			</td>
			<td style="width:74px;">
				&nbsp;</td>
			<td style="width:190px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					最高学历：</p>
			</td>
			<td>
				<p align="left">
					大专　　获得学位:</p>
			</td>
			<td>
				<p align="left">
					毕业日期：</p>
			</td>
			<td>
				<p align="left">
					2010-06</p>
			</td>
		</tr>
		<tr>
			<td>
				<p align="left">
					专业一：</p>
			</td>
			<td>
				<p align="left">
					软件开发</p>
			</td>
			<td>
				<p align="left">
					专业二：</p>
			</td>
			<td>
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<p align="left">
	&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:80px;">
				<p align="left">
					起始年月</p>
			</td>
			<td style="width:80px;">
				<p align="left">
					终止年月</p>
			</td>
			<td>
				<p align="left">
					学校（机构）</p>
			</td>
			<td>
				<p align="left">
					所学专业</p>
			</td>
			<td>
				<p align="left">
					获得证书</p>
			</td>
			<td>
				<p align="left">
					证书编号</p>
			</td>
		</tr>
	</tbody>
</table>
<p align="left">
	<strong>语言能力</strong></p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:100px;height:20px;">
				<p align="left">
					外语：</p>
			</td>
			<td style="width:220px;height:20px;">
				<p align="left">
					英语　一般</p>
			</td>
			<td style="width:100px;height:20px;">
				<p align="left">
					粤语水平：</p>
			</td>
			<td style="height:20px;">
				<p align="left">
					良好</p>
			</td>
		</tr>
		<tr>
			<td style="height:20px;">
				<p align="left">
					其它外语能力：</p>
			</td>
			<td colspan="3" style="height:20px;">
				<p align="left">
					客家话，潮汕话优秀</p>
			</td>
		</tr>
		<tr>
			<td style="height:20px;">
				<p align="left">
					国语水平：</p>
			</td>
			<td style="width:220px;height:20px;">
				<p align="left">
					优秀</p>
			</td>
			<td style="height:20px;">
				&nbsp;</td>
			<td style="height:20px;">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<p align="left">
	<strong>工作能力及其他专长</strong></p>
<p align="left">
	工作认真，能严格按照工作单位规则要求自己，善于与人沟通</p>
<p align="left">
	<strong>详细个人自传</strong></p>
<p align="left">
	&nbsp;在校曾任班级副班长、文娱委员、体育委员，任班干期间能够协助老师班长做好各项班级工作，调动同学的积极性和热情</p>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C932015.html'>商务英语专业求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C922015.html'>过控专业大学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CZ2015.html'>艺术设计学学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CY2015.html'>计算机网络技术及应用专业简历模</a></li>
<li><a href='/zhichang/jianli/template/0H14CX2015.html'>前台行政文员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CW2015.html'>心理学专业个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C4R015.html">客服代表个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C142015.html">机械工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C602015.html">硬件工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BW2015.html">石油工程毕业生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B332015.html">播音主持本科毕业生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114352015.html">顾问求职个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53DI2015.html">应届大学毕业生简历样本</a></li>
<li><a href="/zhichang/jianli/template/0H14B042015.html">建筑工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F052015.html">中文简历－－供应链咨询员</a></li>
<li><a href="/zhichang/jianli/template/0H14B4R015.html">客服人员应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362162015.html">游戏工程师个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B002015.html">中专计算机网络技术个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G5362302015.html">医学专业求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CV2015.html">报关员职位的简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>