<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>计划个人简历参考范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>计划个人简历参考范文</h2>
<p class="fbsj">时间：2015-07-09 14:31</p>
<div class="arnr">
<div class="jlmb_xx_tit_font">计划个人简历参考范文</div>
   <div>2012-06-11 06:48:01</div>
</div>
   <div class="jlmb_xx_nr">
 <p>
	&nbsp;</p>
<table cellpadding="0" cellspacing="0" width="550">
	<tbody>
		<tr>
			<td class="JLFWcolor1" width="70">
				目前所在：</td>
			<td width="120">
				广州</td>
			<td class="JLFWcolor1" width="70">
				年龄：</td>
			<td width="120">
				32</td>
		</tr>
		<tr>
			<td class="JLFWcolor1">
				籍贯：</td>
			<td>
				茂名</td>
			<td class="JLFWcolor1">
				国籍：</td>
			<td>
				中国</td>
		</tr>
		<tr>
			<td class="JLFWcolor1">
				婚否：</td>
			<td>
				未婚</td>
			<td class="JLFWcolor1">
				民族：</td>
			<td>
				汉族</td>
		</tr>
		<tr>
			<td class="JLFWcolor1">
				身高：</td>
			<td>
				170 cm</td>
			<td class="JLFWcolor1">
				体重：</td>
			<td>
				65 kg</td>
		</tr>
	</tbody>
</table>
<div id="JLFW">
	<p class="JLFWtitle">
		简历求职意向</p>
	<div class="JLFW2B">
		<table cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td class="JLFWcolor1">
						求职职位：</td>
					<td colspan="3" width="450">
						贸易/进出口专员/助理：贸易，跟单，业务员，促销员/导购：销售代表/推销员/营销员/促销员，调度员：PMC计划员.采购</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						工作经验/年：</td>
					<td width="180">
						<span style="padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px">6</span></td>
					<td class="JLFWcolor1" width="90">
						专业职称：</td>
					<td>
						<span style="padding-bottom: 2px; padding-left: 2px; padding-right: 2px; padding-top: 2px">无职称</span></td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						工作类型：</td>
					<td width="180">
						均可</td>
					<td class="JLFWcolor1">
						就职时间：</td>
					<td>
						随时</td>
				</tr>
				<tr>
					<td class="JLFWcolor1">
						期望薪资：</td>
					<td width="180">
						5000--8000</td>
					<td class="JLFWcolor1">
						求职地区：</td>
					<td>
						广州,广州,广州</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p class="JLFWtitle">
	工作履历</p>
<div class="JLFW2B">
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span>广州市莎丽娜鞋业</span> 起止年月：2007-05-01 ～ 2008-05-01</td>
			</tr>
			<tr>
				<td class="JLFWcolor1" width="70">
					公司性质：</td>
				<td>
					私营企业所属行业：贸易/消费/制造/营运</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					担任职位：</td>
				<td>
					<b>业务主管</b></td>
			</tr>
			<tr>
				<td class="JLFWcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					主要开发新客户，主要客户来自中东及东南亚。根据客人要求安排打版及根据客人意思寻找新材料帮助客人设计提供建议，直接面对客人，跟进客人订单及验货。安排装柜出货。</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					离职原因：</td>
				<td>
					&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span>广州歌菲乔有限公司</span> 起止年月：2005-05-01 ～ 2007-04-01</td>
			</tr>
			<tr>
				<td class="JLFWcolor1" width="70">
					公司性质：</td>
				<td>
					私营企业所属行业：贸易/消费/制造/营运</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					担任职位：</td>
				<td>
					<b>采购主管</b></td>
			</tr>
			<tr>
				<td class="JLFWcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					负责所有物料采购安排。主要负责皮料、五金、拉链、布料等物料采购。有非常广泛国内/外手袋物料采购资源。</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					离职原因：</td>
				<td>
					个人发展</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span>香港幸达时（惠州通利）皮具有限公司广州办事处</span> 起止年月：2004-02-01 ～ 2005-04-01</td>
			</tr>
			<tr>
				<td class="JLFWcolor1" width="70">
					公司性质：</td>
				<td>
					外商独资所属行业：贸易/消费/制造/营运</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					担任职位：</td>
				<td>
					<b>采购员</b></td>
			</tr>
			<tr>
				<td class="JLFWcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					主要负责公司皮具（手袋，钱包，皮带）大陆物料采购，熟悉各种手袋、箱包、鞋材。开发新供应商，对供应商生产设备，工厂规模，品质及信誉进行评估，供应商资料存档。议价，谈判，签约等事务，跟踪物料试板情况，保证为生产提供质优价廉的物料，结合公司订单及生产排期进行物料订购和返货跟踪，同时为公司国内专柜提供一切促销用品及各拒台所需物料用品.公司品牌FION、FION YOUNG、SIMBOLO、PRI MODA。</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					离职原因：</td>
				<td>
					个人发展</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span>东莞樟木头德龙贸易有限公司</span> 起止年月：2000-05-01 ～ 2001-07-01</td>
			</tr>
			<tr>
				<td class="JLFWcolor1" width="70">
					公司性质：</td>
				<td>
					外商独资所属行业：贸易/消费/制造/营运</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					担任职位：</td>
				<td>
					<b>外贸业务员</b></td>
			</tr>
			<tr>
				<td class="JLFWcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					（负责通过各种途径寻找客户（国外）及答复客户要求及报价。根据客户要求制单。寄送样板。对国外单、证进行审核及进踪，跟进生产情况及联系货运公司出货情况，跟进售后服务）</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					离职原因：</td>
				<td>
					回校深造</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span>东莞樟木头信威塑胶制品厂</span> 起止年月：1998-11-01 ～ 2000-03-01</td>
			</tr>
			<tr>
				<td class="JLFWcolor1" width="70">
					公司性质：</td>
				<td>
					外商独资所属行业：通信/电信/网络设备</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					担任职位：</td>
				<td>
					<b>PMC跟单</b></td>
			</tr>
			<tr>
				<td class="JLFWcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					负责ＭＯ部门所有产品的生产计划，物料计划，负责安排生产，答复客户生产情况及出货期，联系船公司及货运公司安排出货装柜，协助报关组报关，下面核管４间外发加工厂，对所有负责项目实行全程控制，直接向香港总公司负责）</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					离职原因：</td>
				<td>
					环境原因</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td colspan="2">
					<span>深圳龙华电日电子（玩具）制品厂</span> 起止年月：1997-07-01 ～ 1998-10-01</td>
			</tr>
			<tr>
				<td class="JLFWcolor1" width="70">
					公司性质：</td>
				<td>
					外商独资所属行业：通信/电信/网络设备</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					担任职位：</td>
				<td>
					<b>PMC计划</b></td>
			</tr>
			<tr>
				<td class="JLFWcolor1" valign="top">
					工作描述：</td>
				<td valign="top">
					（主要负责根据国外客户订单、出货期、产品物料表、产能分析表，制定生产订划及物料计划，跟踪采购物料进度及生产进度， 结合生产情况跟踪生产进度及损耗控制，随时向香港总公司及客户汇报，对货仓存货及物料状况实行监督，安排出货及装柜情况，对公司产品售后服务进行跟踪，熟悉ＭＲＰ物料计划系统，）</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					离职原因：</td>
				<td>
					欠薪</td>
			</tr>
		</tbody>
	</table>
</div>
<p class="JLFWtitle">
	教育简历</p>
<div class="JLFW2B">
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td class="JLFWcolor1" width="80">
					毕业学校：</td>
				<td width="259">
					广东南大学院</td>
				<td width="74">
					&nbsp;</td>
				<td width="190">
					&nbsp;</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					最高学历：</td>
				<td>
					大专获得学位:</td>
				<td class="JLFWcolor1">
					毕业时间：</td>
				<td>
					2004-07-01</td>
			</tr>
			<tr>
				<td class="JLFWcolor1">
					所学专业：</td>
				<td>
					外贸英语</td>
				<td class="JLFWcolor1">
					第二专业：</td>
				<td>
					无</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tbody>
			<tr>
				<td width="80">
					起始年月</td>
				<td width="80">
					终止年月</td>
				<td>
					学校（机构）</td>
				<td>
					所学专业</td>
				<td>
					获得证书</td>
				<td>
					证书编号</td>
			</tr>
			<tr>
				<td>
					1994-09-01</td>
				<td>
					1997-07-01</td>
				<td>
					高州市中等职业技术学校</td>
				<td>
					财务会计</td>
				<td>
					中专</td>
				<td>
					-</td>
			</tr>
			<tr>
				<td>
					2001-09-01</td>
				<td>
					2004-07-01</td>
				<td>
					广东南大学院</td>
				<td>
					外贸英语</td>
				<td>
					大专</td>
				<td>
					-</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="JLFW">
	<p class="JLFWtitle">
		语言能力</p>
	<div class="JLFW2B">
		<table border="0" cellpadding="0" cellspacing="0" width="550">
			<tbody>
				<tr>
					<td class="JLFWcolor1" height="20" width="100">
						外语：</td>
					<td width="220">
						英语良好</td>
					<td class="JLFWcolor1" width="100">
						粤语水平：</td>
					<td>
						精通</td>
				</tr>
				<tr>
					<td class="JLFWcolor1" height="20">
						第二外语：</td>
					<td>
						无</td>
					<td class="JLFWcolor1" height="20">
						国语水平：</td>
					<td width="220">
						精通</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="JLFW">
	<p class="JLFWtitle">
		简历自我评价</p>
	<p>
		熟悉外贸业务及跟单工作，熟悉信用证，船务单证，有意于从事外贸行业。熟悉办公室日常运作，能够与国外客户用英语进行交流，具备良好的企业管理水来，能熟练操作电脑例如：windows、excel、word、outlook,lotus,foxpro和internet。能够根据国外客户订单、出货期、产品物料表、产能分析表，制定生产订划及物料计划，跟踪采购物料进度及生产进度， 结合生产情况跟踪生产进度及损耗控制，随时向公司及客户汇报，对货仓存货及物料状况实行监督，安排出货及装柜情况，对公司产品售后服务进行跟踪，熟悉ＭＲＰ物料计划系统，曾经参加过ＩＳＯ９００１审核，答复客户生产情况及出货期，联系船公司及货运公司安排出货装柜，对所有负责项目实行全程控制,熟悉皮具及鞋类生产工艺制作,材料性质非常熟悉.可以担任业务员、采购、跟版及验货QC.</p>
</div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C932015.html'>商务英语专业求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C922015.html'>过控专业大学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CZ2015.html'>艺术设计学学生求职简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CY2015.html'>计算机网络技术及应用专业简历模</a></li>
<li><a href='/zhichang/jianli/template/0H14CX2015.html'>前台行政文员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14CW2015.html'>心理学专业个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14B092015.html">业务员代表简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B292015.html">采购经理的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144O62015.html">商务英语专业求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14CV2015.html">报关员职位的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BT2015.html">电气工程专业求职简历</a></li>
<li><a href="/zhichang/jianli/template/0F9114352015.html">顾问求职个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14BE2015.html">客户经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C162015.html">自动化系检测专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C402015.html">秘书实务专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14Ac2015.html">通信行业个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G535N92015.html">语文教师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14C4H015.html">公共事业管理专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53624H015.html">最新常规简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535TH015.html">资料员个人求职简历模板-中文简</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>