<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2010年毕业生个人求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="2010年毕业生个人求职简历模板" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>2010年毕业生个人求职简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
2010年毕业生个人求职简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    个人简历 　　发布日期：2010年09月07日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <table cellspacing="1" cellpadding="4" align="center" border="2">
    <tbody>
        <tr>
            <td width="80" bgcolor="#f6f6f6">基本信息</td>
            <td bgcolor="#f6f6f6" colspan="3">&nbsp;</td>
            <td align="center" width="89" bgcolor="#f6f6f6">个人相片</td>
        </tr>
        <tr>
            <td width="80" bgcolor="#ffffff">姓　　名：</td>
            <td class="jl" width="151" bgcolor="#ffffff">吴云霞</td>
            <td width="89" bgcolor="#ffffff">性　　别：</td>
            <td class="jl" bordercolor="#000000" width="78" bgcolor="#ffffff">女</td>
            <td valign="top" bgcolor="#ffffff" rowspan="8">&nbsp;</td>
        </tr>
        <tr>
            <td width="80" bgcolor="#ffffff">民　　族：</td>
            <td class="jl" width="151" bgcolor="#ffffff">汉族</td>
            <td width="89" bgcolor="#ffffff">出生年月：</td>
            <td class="jl" bgcolor="#ffffff">1983年3月</td>
        </tr>
        <tr>
            <td width="80" bgcolor="#ffffff">身　　高：</td>
            <td class="jl" width="151" bgcolor="#ffffff">161cm</td>
            <td width="89" bgcolor="#ffffff">体　　重：</td>
            <td class="jl" bgcolor="#ffffff">50kg</td>
        </tr>
        <tr>
            <td width="80" bgcolor="#ffffff">户　　籍：</td>
            <td class="jl" width="151" bgcolor="#ffffff">重庆重庆市</td>
            <td width="89" bgcolor="#ffffff">现所在地：</td>
            <td class="jl" bgcolor="#ffffff">福建漳州</td>
        </tr>
        <tr>
            <td width="80" bgcolor="#ffffff">毕业学校：</td>
            <td class="jl" width="151" bgcolor="#ffffff">中国人民解放军后勤工程学院</td>
            <td width="89" bgcolor="#ffffff">学　　历：</td>
            <td class="jl" bgcolor="#ffffff">专科</td>
        </tr>
        <tr>
            <td width="80" bgcolor="#ffffff">专业名称：</td>
            <td class="jl" width="151" bgcolor="#ffffff">建筑装饰</td>
            <td width="89" bgcolor="#ffffff">毕业年份：</td>
            <td class="jl" bgcolor="#ffffff">2007年</td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="4" align="center" border="2">
    <tbody>
        <tr>
            <td width="80" bgcolor="#f6f6f6">求职意向</td>
            <td width="438" bgcolor="#f6f6f6">&nbsp;</td>
        </tr>
        <tr>
            <td width="80">职位性质：</td>
            <td class="jl">全 职</td>
        </tr>
        <tr>
            <td width="80">职位类别：</td>
            <td class="jl">建筑工程-工程造价师/预结算 <br />
            建筑工程-建筑制图 <br />
            建筑工程-其它职位</td>
        </tr>
        <tr>
            <td width="80">职位名称：</td>
            <td class="jl">预算员，绘图员 ;</td>
        </tr>
        <tr>
            <td width="80">工作地区：</td>
            <td class="jl"><font color="#333333">厦门 </font>市区 ; <font color="#333333">厦门 </font>思明区 ; 厦门湖里区</td>
        </tr>
        <tr>
            <td width="80">待遇要求：</td>
            <td class="jl">面议 ; 不需要提供住房</td>
        </tr>
        <tr>
            <td width="80">到职时间：</td>
            <td class="jl">可随时到岗</td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="4" width="545" align="center" border="2">
    <tbody>
        <tr>
            <td width="78">技能专长</td>
            <td width="446">&nbsp;</td>
        </tr>
        <tr>
            <td width="78">语言能力：</td>
            <td class="jl"><font color="#000000">英语</font> 3级 ; 普通话 标准;</td>
        </tr>
        <tr>
            <td width="78">电脑水平：</td>
            <td class="jl">熟练一般操作</td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="4" align="center" border="2">
    <tbody>
        <tr>
            <td width="80"><font color="#0000ff">教育</font> <font color="#000000">培训</font></td>
            <td width="438">&nbsp;</td>
        </tr>
        <tr>
            <td width="80"><font color="#0000ff">教育</font>背景：</td>
            <td>
            <table cellspacing="1" cellpadding="4" border="1">
                <tbody>
                    <tr>
                        <td width="35%">时间</td>
                        <td width="50%">所在学校</td>
                        <td>学历</td>
                    </tr>
                    <tr>
                        <td class="jl">2004年9月 - 2007年6月</td>
                        <td class="jl">中国人民解放军后勤工程学院</td>
                        <td class="jl">专科</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="4" width="545" align="center" border="2">
    <tbody>
        <tr>
            <td width="62">工作经历</td>
            <td width="462">&nbsp;</td>
        </tr>
        <tr>
            <td width="62">&nbsp;</td>
            <td>
            <table cellspacing="1" cellpadding="3" border="1">
                <tbody>
                    <tr>
                        <td width="77">所在公司：</td>
                        <td class="jl">中艺建筑装饰有限公司重庆分公司</td>
                    </tr>
                    <tr>
                        <td width="77">时间范围：</td>
                        <td class="jl">2007年1月 - 2008年8月</td>
                    </tr>
                    <tr>
                        <td width="77">公司性质：</td>
                        <td class="jl">中外合营(合资．合作)</td>
                    </tr>
                    <tr>
                        <td width="77">所属行业：</td>
                        <td class="jl">建筑、房地产、物业管理、装潢</td>
                    </tr>
                    <tr>
                        <td width="77">担任职位：</td>
                        <td class="jl">预结算、制图、资料</td>
                    </tr>
                    <tr>
                        <td width="77">工作描述：</td>
                        <td class="jl">参加过两个项目的 <font color="#333333">投标 </font>工作，和一个项目的结算工作。绘制过三套竣工图，一套施工图</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td width="62">&nbsp;</td>
            <td>
            <table cellspacing="1" cellpadding="3" width="477" border="1">
                <tbody>
                    <tr>
                        <td width="77">所在公司：</td>
                        <td class="jl">福建省豪门装饰工程有限公司</td>
                    </tr>
                    <tr>
                        <td width="77">时间范围：</td>
                        <td class="jl">2008年8月 - 2009年1月</td>
                    </tr>
                    <tr>
                        <td width="77">公司性质：</td>
                        <td class="jl">民营/私营公司</td>
                    </tr>
                    <tr>
                        <td width="77">所属行业：</td>
                        <td class="jl">建筑、房地产、物业管理、装潢</td>
                    </tr>
                    <tr>
                        <td width="77">担任职位：</td>
                        <td class="jl">建筑工程-工程造价师/预结算</td>
                    </tr>
                    <tr>
                        <td width="77">工作描述：</td>
                        <td class="jl">参加过多次大中项目的 <font color="#333333">投标 </font>、预结算工作</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="4" width="547" align="center" border="2">
    <tbody>
        <tr bordercolor="#020000">
            <td width="65">其他信息</td>
            <td width="455">&nbsp;</td>
        </tr>
        <tr>
            <td width="65">自我评价：</td>
            <td class="jl">两年装饰公司工作经验，获得全国造价员资格证书，熟悉预结算软件、CAD制图软件、办公软件。</td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="4" width="544" align="center" border="2">
    <tbody>
        <tr>
            <td width="80" bgcolor="#f6f6f6">联系方式</td>
            <td width="443" bgcolor="#f6f6f6" colspan="3">&nbsp;<font color="#0000ff">个人简历</font> www.</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="3">
            <p>电话: 　　　　地址:</p>
            </td>
        </tr>
    </tbody>
</table>
<p><br />
<strong><font size="5">请点击下载：</font></strong></p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53ET2015.html">个人简历-毕业生简历</a></li>
<li><a href="/zhichang/jianli/template/0G5361C2015.html">应届毕业生最实用求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359202015.html">SEO简历封面及模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D922015.html">会计电算化专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D092015.html">网页设计制作个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G53DI2015.html">应届大学毕业生简历样本</a></li>
<li><a href="/zhichang/jianli/template/0H14C352015.html">建筑设计专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EW2015.html">中文简历：网络公司技术支持部经</a></li>
<li><a href="/zhichang/jianli/template/0H14B2R015.html">人事专业的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BY2015.html">总经理助理及设计师简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363592015.html">司机简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113932015.html">导购员个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B102015.html">商务营销专业简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>