<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Business English个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="Business,English个人简历模板" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>Business English个人简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
Business English个人简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    互联网 　　发布日期：2010年04月29日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>
<table cellspacing="0" cellpadding="4" width="660" align="center" border="0">
    <tbody>
        <tr bgcolor="#e4ebf2">
            <td><strong><font size="3"></font></strong></td>
            <td align="right">&nbsp;</td>
        </tr>
    </tbody>
</table>
</p>
<div>&nbsp;</div>
<div class="NewsContent">
<table cellspacing="1" cellpadding="2" width="660" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9" height="24">简历编号：</td>
            <td width="180" bgcolor="#f4f7fa">&nbsp;</td>
            <td align="right" width="100" bgcolor="#eef4f9">更新日期：</td>
            <td bgcolor="#f4f7fa">&nbsp;</td>
            <td align="center" bgcolor="#f4f7fa" rowspan="6">&nbsp;</td>
        </tr>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9" height="24">姓　　名：</td>
            <td width="180" bgcolor="#f4f7fa">&nbsp;</td>
            <td align="right" width="100" bgcolor="#eef4f9">国籍：</td>
            <td width="136" bgcolor="#f4f7fa">中国</td>
        </tr>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9" height="24">目前所在地：</td>
            <td bgcolor="#f4f7fa">广州</td>
            <td align="right" bgcolor="#eef4f9">民族：</td>
            <td bgcolor="#f4f7fa">汉族</td>
        </tr>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9" height="24">户口所在地：</td>
            <td bgcolor="#f4f7fa">韶关</td>
            <td align="right" bgcolor="#eef4f9">身材：</td>
            <td bgcolor="#f4f7fa">165 cm　55 kg</td>
        </tr>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9" height="24">婚姻状况：</td>
            <td align="left" bgcolor="#f4f7fa">未婚</td>
            <td align="right" bgcolor="#eef4f9">年龄：</td>
            <td align="left" bgcolor="#f4f7fa">25 岁</td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent">
<table cellspacing="0" cellpadding="0" width="660" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　求职意向及工作经历</strong></td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent" align="left"><br />
人才类型：普通求职　<br />
应聘职位：服装/纺织/皮革/制鞋类：服装设计助理、工业/工厂类：服装采购、行政/人事类：文员<br />
工作年限：3职称：无职称<br />
求职类型：全职可到职日期：随时<br />
月薪要求：2000&mdash;3500希望工作地区：广州</div>
<div class="NewsContent">
<table cellspacing="0" cellpadding="0" width="660" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　教育背景</strong></td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent">
<table cellspacing="1" cellpadding="2" width="660" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9">毕业院校：</td>
            <td colspan="3">广东技术师范学院</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9">最高学历：</td>
            <td width="180"><span style="width: 60px">大专</span>获得学位: 商务英语</td>
            <td align="right" width="100" bgcolor="#eef4f9">毕业日期：</td>
            <td>2007-07-01</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9">所学专业一：</td>
            <td width="180">英语（商务英语）</td>
            <td align="right" width="100" bgcolor="#eef4f9">所学专业二：</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9">受教育培训经历：</td>
            <td colspan="3">
            <table cellspacing="1" cellpadding="2" width="100%" bgcolor="#dddddd" border="0">
                <tbody>
                    <tr bgcolor="#eef4f9">
                        <td width="50">起始年月</td>
                        <td width="50">终止年月</td>
                        <td>学校（机构）</td>
                        <td>专　业</td>
                        <td>获得证书</td>
                        <td>证书编号</td>
                    </tr>
                    <tr bgcolor="#f4f7fa">
                        <td>2004-09</td>
                        <td>2007-06</td>
                        <td>广东技术师范学院</td>
                        <td>商务英语</td>
                        <td>bec vantage</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#f4f7fa" colspan="4">&nbsp;</td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent">
<table cellspacing="0" cellpadding="0" width="660" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　语言能力</strong></td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent">
<table cellspacing="1" cellpadding="2" width="660" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9">外语：</td>
            <td width="180" bgcolor="#f4f7fa">英语　优秀</td>
            <td width="100" bgcolor="#eef4f9">&nbsp;</td>
            <td bgcolor="#f4f7fa">&nbsp;</td>
        </tr>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9" height="24">其它外语能力：</td>
            <td bgcolor="#f4f7fa" colspan="3">英语听说读写流利</td>
        </tr>
        <tr>
            <td align="right" bgcolor="#eef4f9">国语水平：</td>
            <td bgcolor="#f4f7fa">优秀</td>
            <td align="right" width="100" bgcolor="#eef4f9">粤语水平：</td>
            <td bgcolor="#f4f7fa">优秀</td>
        </tr>
        <tr>
            <td align="right" bgcolor="#f4f7fa" colspan="4">&nbsp;</td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent">
<table cellspacing="0" cellpadding="0" width="660" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　工作能力及其他专长</strong></td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent">
<table cellspacing="1" cellpadding="2" width="660" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td width="100" bgcolor="#eef4f9">&nbsp;</td>
            <td bgcolor="#f4f7fa">主要从事销售工作，积极主动寻找新客户，并为公司维护旧客户。在大量的销售工作中本人获得了一定的销售经验。亦对国际货运行业有了一定的了解，对货运操作流程有了具体及深刻的认识。熟悉空运操作流程。可以处理和回复一些英文MAIL</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td bgcolor="#f4f7fa" colspan="2" height="20">&nbsp;</td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent">
<table cellspacing="0" cellpadding="0" width="660" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　详细个人自传</strong></td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent">
<table cellspacing="1" cellpadding="2" width="660" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td width="100" bgcolor="#eef4f9">&nbsp;</td>
            <td bgcolor="#f4f7fa">正直、稳重、诚实、自信、学习 接受能力强。工作认真负责，具有强烈的责任感；较强的组织协调能力、沟通能力和良好的团队协作能力。</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td bgcolor="#f4f7fa" colspan="2" height="20">
            <p>Features in work: I am mainly engaged in sales work, actively looking for new customers and maintaining old customers for the company. From large amount of sales work I've got a certain amount of sales experience. Also I have a certain understanding of the international shipping industry and have specific and profound knowledgethe as of cargo handling process. I am Familiar with the operation of air transportation. I can handle and respond to some English mail.</p>
            <p>Specialty: mainly engaged in work actively looking for work, sales of new customers for the company, and maintain the old customers. In a large number of sales work I gained some experience in sales. International freight forwarding industry for a certain understanding of freight operation flow, a specific and profound understanding. Be familiar with air operation process. Can handle and restore some English E-mail<br />
            <br />
            Self assessment: integrity, sedate, honest, confident and learning ability. Serious and responsible work, a strong sense of responsibility, Strong ability in organization and coordination, communication skills and good team cooperation ability.</p>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent">
<table cellspacing="0" cellpadding="0" width="660" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　个人联系方式</strong></td>
        </tr>
    </tbody>
</table>
</div>
<div class="NewsContent">
<table cellspacing="1" cellpadding="2" width="660" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9" height="24">通讯地址：</td>
            <td bgcolor="#f4f7fa" colspan="3">&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9" height="24">联系电话：</td>
            <td width="180">&nbsp;</td>
            <td align="right" width="100" bgcolor="#eef4f9">家庭电话：</td>
            <td width="246">&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9" height="24">手　　机：</td>
            <td>&nbsp;</td>
            <td align="right" bgcolor="#eef4f9">ｑｑ号码：</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9" height="24">电子邮件：</td>
            <td>&nbsp;</td>
            <td align="right" bgcolor="#eef4f9">个人主页：</td>
        </tr>
    </tbody>
</table>
</div>
<p><br />
<font color="#ff0000" size="5"><strong>点击下载简历：</strong></font></p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C092015.html">银行客户经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C632015.html">模具设计专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C562015.html">电子商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BQ2015.html">公司财务经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C932015.html">商务英语专业求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BS2015.html">工程测量专业求职简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C512015.html">网络推广专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D232015.html">本科机械类专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C152015.html">2015网络工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B4H015.html">会展策划人员应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E622015.html">09个性简历（简单版）</a></li>
<li><a href="/zhichang/jianli/template/0H14C352015.html">建筑设计专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B922015.html">物流专员管理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535U92015.html">口译翻译员个人简历模板-中文简</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>