<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>中技机械制造类个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="中技机械制造类个人简历模板" />
<meta name="description" content="中技机械制造类个人简历模板" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>中技机械制造类个人简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
中技机械制造类个人简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    <strong></strong> 　　发布日期：2012年08月28日 09:51
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>
	　　姓名： 　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;身份证： 　420122197103017***</p>
<p>
	　　民族： 　汉&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 目前所在地： 　广东省</p>
<p>
	　　年龄：&nbsp;35 岁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 户口所在地： 　武汉　　</p>
<p>
	　　婚姻状况： 　未婚</p>
<p>
	　　求职意向及工作经历</p>
<p>
	　　人才类型： 　全职</p>
<p>
	　　应聘职位： 　精密机械仪器仪表、 生产管理、 塑胶/注塑</p>
<p>
	　　工作年限： 　11 职称： 　中级</p>
<p>
	　　求职类型： 　全职　 可到职日期： 随时 　</p>
<p>
	　　月薪要求： 　3500以上 希望工作地区： 　广东省 江苏省 武汉　</p>
<p>
	　　个人工作经历： ■ 金世界文具有限公司 （2004年9月 ~ 2006年8月）</p>
<p>
	　　公司性质： 行业类别： 电子&middot;微电子技术</p>
<p>
	　　担任职位： 注塑主管/生产经理 薪资水平： 5500元</p>
<p>
	　　工作描述： 企业性质：港资企业（员工：200名） 作业员 200名</p>
<p>
	　　所在地：江東省東莞市高歩鎮 苏省昆山 市淀山湖 镇</p>
<p>
	　　会社概要：遥控器、插座、开关、接插件、ＤＣ/ＤＣ電源転換器、复印機面板 中性笔. 元珠笔. 铅笔, 密码锁 小塑胶锁</p>
<p>
	　　生産製品：遥控器、插座、开关、接插件、ＤＣ/ＤＣ電源転換器、复印機面板 中性笔. 元珠笔. 记号笔, 书法笔. 荧光笔</p>
<p>
	　　职　位：生产经理(待遇:5500元/月有休息日</p>
<p>
	　　仕事内容</p>
<p>
	　　１）注塑成形和生産管理</p>
<p>
	　　２）成形現場的管理</p>
<p>
	　　3)负责 所有生产流 程和模具技术跟踪</p>
<p>
	　　离职原因：</p>
<p>
	　　■ 中柏文具有限公司 （2002年7月 ~ 2004年8月）</p>
<p>
	　　公司性质： 行业类别： 电子&middot;微电子技术</p>
<p>
	　　担任职位： 注塑部主管 薪资水平： :4500元/</p>
<p>
	　　工作描述： 企业性质：港资企业（员工：200名） 作业员 500名</p>
<p>
	　　所在地：广東省東莞市高歩鎮 东省番禺 区南沙镇</p>
<p>
	　　会社概要：遥控器、插座、开关、接插件、ＤＣ/ＤＣ電源転換器、复印機面板 中性笔. 元珠笔. 记号笔, 书法笔. 荧光笔 跳动笔 笔刨</p>
<p>
	　　生産製品：遥控器、插座、开关、接插件、ＤＣ/ＤＣ電源転換器、复印機面板 中性笔. 元珠笔. 记号笔, 书法笔. 荧光笔 跳动笔 笔刨</p>
<p>
	　　职　位：注塑部主管(待遇:4500元/月有休息日</p>
<p>
	　　仕事内容</p>
<p>
	　　１）注塑成形和生産管理</p>
<p>
	　　２）成形現場的管理</p>
<p>
	　　离职原因：</p>
<p>
	　　■ ＳＭＫ-ＤＧ昭和電子株式会社 （1997年11月 ~ 2002年5月）</p>
<p>
	　　公司性质： 行业类别： 建筑&middot;房地产&middot;物业管理&middot;装潢</p>
<p>
	　　担任职位： 成形高级工程师 薪资水平： 3500元/月</p>
<p>
	　　工作描述： 所在地：广東省東莞市高歩鎮</p>
<p>
	　　会社概要：遥控器、插座、开关、接插件、ＤＣ/ＤＣ電源転換器、复印機面板</p>
<p>
	　　生産製品：遥控器、插座、开关、接插件、ＤＣ/ＤＣ電源転換器、复印機面板</p>
<p>
	　　职　位：成形部高级工程师( 待遇:3500元/月一周两个休息日</p>
<p>
	　　仕事内容</p>
<p>
	　　１）成形部品製造和生産管理</p>
<p>
	　　２）成形現場的管理</p>
<p>
	　　３）金属和塑料一体化成形技術指導</p>
<p>
	　　４）公司内注塑成形技術教育培训师。</p>
<p>
	　　顧客：ＳＯＮＹ,ＣＡＮＯＮ,ＦＵＪＩ、松下電子、三菱、ＩＢＭ等</p>
<p>
	　　个人简历网</p>
<p>
	　　离职原因：</p>
<p>
	　　■ 亿师日用品有限公司 亿师日用品有限公司 亿师日用品有限公司 （1996年8月 ~ 1997年10月）</p>
<p>
	　　公司性质： 港资企业 行业类别： 塑胶&middot;五金</p>
<p>
	　　担任职位： 注塑主管/生产经理 薪资水平：</p>
<p>
	　　工作描述： 企业性质：港资企业（员工：200名）</p>
<p>
	　　所在地：广東省東莞市石碣镇第二工业区</p>
<p>
	　　会社概要：钟表、化妆用品包装材料製造　　　　　　　　日用品</p>
<p>
	　　生産製品：時計　化粧用品包装材 计时 日用品 包装材料</p>
<p>
	　　职位：注塑主管（待遇：2500元/月）（部下：2名）</p>
<p>
	　　教育背景</p>
<p>
	　　毕业院校： 　湖北武汉</p>
<p>
	　　最高学历： 　中技 毕业日期： 　1992-7</p>
<p>
	　　所学专业一： 　机械制造类　 所学专业二：</p>
<p>
	　　受教育培训经历： 1986-9--1989-7湖泗中学</p>
<p>
	　　1989-9--1992-7武汉机械工业学校</p>
<p>
	　　语言能力</p>
<p>
	　　外语： 　无 外语水平： 　无</p>
<p>
	　　国语水平： 　精通　 粤语水平： 　较差</p>
<p>
	　　工作能力及其他专长</p>
<p>
	　　业技能/专长： 1. 塑料射出成形技術工作的13年以上工作经验。对金型，成形机、成形材料的物性、射出成形上不良对策处理等相关技术熟练掌握。特别是在金属和塑料一体化精密成形技术方面有很深的认识。</p>
<p>
	　　２．在現場管理方面、非常重視6S管理、将6S作为工作的中心点开展各项工作。有很强的納期保証和品質保証的意識、平均计划達成率在９８％以上、成形機的平均時間稼動率在６５－７５％、性能稼動率在９０％以上。</p>
<p>
	　　３．在经费消减和生産性向上以及品质持続改善方面意識强、对成形条件的適正性改善非常重視。部門内部成立改善委員会体制、对不良率高的机種和損耗率高的机钟作为改善目标、持续改善活动实施。</p>
<p>
	　　４．对ISO９０００等品質体制理解掌握、可以作成成形部門関連的体製文件、公司内監査和公司外監査対応。</p>
<p>
	　　５、对部門内的人材培养非常重視。毎月、对部下进行定期的教育講習会。提高現場的成形技術员和管理者的技術和能力、提升全部門工作実力和能力。.</p>
<p>
	　　６．性格开朗，有较强的沟通和交流能力，能妥善处理工作相关的人际关系。</p>
<p>
	　　７．对PBT.LCP.PA.PPA.PPS.PPO.ABS.PP.PS.PC.POM.PMMA材料性能熟悉了解。</p>
<p>
	　　８．对,塑帝.日精、東芝成形机等熟悉。</p>
<p>
	　　自我评价：</p>
<p>
	　　本人在这十三年成型注塑工艺中，从工艺加工产品胶料的运用策划；各种新产品模具检测，和改善方式方法的提拱。模具种类，平板模、三板模、抽芯模各种行位模。产品有：各种电子产品，面壳、瓶盖、电话机、照相机、镜片、DVD面壳和配件，包括各种PMMA镜片。文具类：笔、三角板、圆规、文具盒等产品。</p>
<p>
	　　对机械和模具的维护和保养，各种高难度加工产品的调较、和车间主管四大现场管理技术的精通和运用。</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53593H015.html">2013最新会计个人简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14B322015.html">人事主管应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F91140R015.html">地质求职简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0F9113612015.html">旅游管理求职简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5363062015.html">透过竹子的光彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F142015.html">编辑人员中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CY2015.html">计算机网络技术及应用专业简历模</a></li>
<li><a href="/zhichang/jianli/template/0G53F052015.html">中文简历－－供应链咨询员</a></li>
<li><a href="/zhichang/jianli/template/0H14C552015.html">现代服装企业管理专业个人简历模</a></li>
<li><a href="/zhichang/jianli/template/0H14C192015.html">仓库管理员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B462015.html">业务推广专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B3H015.html">景观设计在校学生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C342015.html">中医科医生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362S2015.html">2012电气技术员求职简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>