<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>电脑文员个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="电脑文员个人简历模板" />
<meta name="description" content="电脑文员个人简历模板" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>电脑文员个人简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
电脑文员个人简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    <strong></strong> 　　发布日期：2012年08月15日 10:13
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　个人基本简历　　</p>
<p>　　姓名： - 国籍： 中国 无照片</p>
<p>　　目前所在地： 广州 民族： 汉族</p>
<p>　　户口所在地： 韶关 身材： 161 cm　45 kg</p>
<p>　　婚姻状况： 未婚 年龄： 28 岁</p>
<p>　　培训认证：&nbsp;诚信徽章：</p>
<p>　　求职意向及工作经历</p>
<p>　　人才类型： 普通求职　</p>
<p>　　应聘职位： 文秘/文员:文秘 　 行政专员/助理 经理助理 　 其它类 跟单/销售文员</p>
<p>　　工作年限： 9 职称： 无职称</p>
<p>　　求职类型： 全职 可到职- 随时</p>
<p>　　月薪要求： 1500--2000 希望工作地区： 广州</p>
<p>　　个人工作经历： 公司名称： 广州市比莉华鞋业有限公司起止年月：2004-12 ～ 2008-04</p>
<p>　　公司性质： 私营企业所属行业：鞋业/皮具/玩具</p>
<p>　　担任职务： 办公室文员</p>
<p>　　工作描述： 负责公司所有文件的编制与打印，处理办公室的内务事宜，完成总经理下达的各项事务,各销售部门的销售帐务，现阶段公司使用罗斯分销管理软件规范了各部门的操作流程，负责鞋板商品的电脑资料管理，订货会大量订单的处理，负责过仓库、财务、销售部门的相关工作，熟悉公司各部门的操作流程。</p>
<p>　　离职原因： 辞职回家</p>
<p>　　公司名称： 广州市利进达机电工程有限公司起止年月：2001-04 ～ 2004-11</p>
<p>　　公司性质： 私营企业所属行业：机电设备，电力，动力</p>
<p>　　担任职务： 业务助理</p>
<p>　　工作描述： 负责业务组的文件编制与打印，合同资料管理与归档，收集新楼盘资料再交予业务员跟踪，所有销售货款的追收，协助财务部做相关对帐单，工程投标标书的制作，寻找省外代理商。</p>
<p>　　离职原因： 公司搬迁</p>
<p>　　公司名称： 东莞市德利信京华电子中日合资公司起止年月：1998-08 ～ 2001-03</p>
<p>　　公司性质： 中外合资所属行业：电器，电子，通信设备</p>
<p>　　担任职务： 经理助理</p>
<p>　　工作描述： 负责协助营业部经理处理业务工作，从接到订单起做出forcast和delivery schedule交与计划部做生产计划与安排生产，其过程中与各有关部门协调，与客户协商，拜访客户，直至最后送货至客户及货物确认的全权工作。</p>
<p>　　离职原因： 回广州</p>
<p>　　教育背景</p>
<p>　　毕业院校： 韶关市北江职业学院</p>
<p>　　最高学历： 中专 毕业- 1998-07-01</p>
<p>　　所学专业一： 电脑文秘 所学专业二：</p>
<p>　　受教育培训经历： 起始年月 终止年月 学校（机构） 专　业 获得证书 证书编号</p>
<p>　　1995-09 1998-07 韶关北江职业学院 电脑文秘 毕业证 00021</p>
<p>　　语言能力</p>
<p>　　外语： 英语　一般</p>
<p>　　国语水平： 精通 粤语水平： 优秀</p>
<p>　　工作能力及其他专长</p>
<p>　　会流利的粤语、国语、有英文基础、熟练电脑操作、打字速度快，有独立工作能力，能承受压力，对工作认真负责，有团队合作精神精，对工作有自信心。</p>
<p>　　对文秘、助理、跟单/销售文员等工作都能胜任。</p>
<p>　　详细个人自传</p>
<p>　　本人性格开朗、乐于助人、做事踏实、认真负责、责任心强，有较强的协调能力，在工作中注重团队精神及各方面的沟通合作，能承受工作上的压力。期望在工作中不断学习进取，努力创造价值，与企业共同成长。</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C192015.html">仓库管理员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B362015.html">银行客户经理应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D442015.html">服装设计师简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D322015.html">无经验的初级程序员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535P52015.html">英文翻译员个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0H14C442015.html">销售专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B2H015.html">金融投资理财个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363392015.html">大学生标准个人简历表格模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CC2015.html">资金税务会计个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113a2015.html">旅行导游顾问个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B5R015.html">人事主管的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B352015.html">人事助理标准简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D062015.html">中专会计学专业简历</a></li>
<li><a href="/zhichang/jianli/template/0G5363302015.html">彩色个人简历模板（粉红色风格）</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>