<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>网络推广简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="网络推广简历模板" />
<meta name="description" content="简历是求职的敲门砖，也是给面试官的第一印象，0755rc为您提供医药销售代表简历模板，希望各位能早日找到满意的工作！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>网络推广简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
网络推广简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    http://www./ 　　发布日期：2012年03月08日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　简历是求职的敲门砖，也是给面试官的第一印象，0755rc为您提供医药销售代表简历模板，希望各位能早日找到满意的工作！</p>
<p>　　姓　　名：</p>
<p>　　目前所在地：</p>
<p>　　户口所在地：</p>
<p>　　婚姻状况：未婚年龄：21 岁</p>
<p>　　培训认证： 诚信徽章：</p>
<p>　　求职意向及工作经历</p>
<p>　　人才类型：普通求职　</p>
<p>　　应聘职位：文秘/文员，电子/邮电/通讯类：</p>
<p>　　工作年限：3职称：无职称</p>
<p>　　求职类型：全职可到职日期：随时</p>
<p>　　月薪要求：1500--2000希望工作地区：广州</p>
<p>　　个人工作经历：公司名称：XX有限公司起止年月：2009-05 ～ 2009-10</p>
<p>　　公司性质：民营企业所属行业：广告，策划，营销</p>
<p>　　担任职务：客服文员(网络推广员)</p>
<p>　　工作描述：平时主要负责网络的审核,但当查找一些策划资料。和统筹一些跟客户有关系的跟踪细节问题。</p>
<p>　　离职原因：</p>
<p>　　公司名称：XXX公司起止年月：2007-05 ～ 2008-02</p>
<p>　　公司性质：股份制企业所属行业：电器，电子，通信设备</p>
<p>　　担任职务：客户服务代表</p>
<p>　　工作描述：主要负责产品的销售和跟进。都会负责客户的咨询和帮客户办理，与客户沟通并跟进业务之售后情况。</p>
<p>　　离职原因：</p>
<p>　　教育背景</p>
<p>　　<u><font color="#000000">毕业</font></u>院校：广州信息技工学校</p>
<p>　　最高学历：中专毕业日期：2007-07-01</p>
<p>　　所学专业一：物流管理所学专业二：电子商务</p>
<p>　　受教育培训经历：起始年月终止年月学校（机构）专　业获得证书证书编号</p>
<p>　　2006-062007-08广州信息技工学校物流管理电子商务</p>
<p>　　2006-072007-08广州市信息技工学校物流管理物流专员</p>
<p>　　语言能力 </p>
<p>　　外语：英语　一般</p>
<p>　　国语水平：良好粤语水平：精通</p>
<p>　　工作能力及其他专长</p>
<p>　　一、熟悉使用work&nbsp;excel等办公软件，及物流基本流程。</p>
<p>　　二、较强的协助能力和应变能力能协助上级处理内勤事务。</p>
<p>　　三、现在都有多次的工作经验，在前公司都得到主管，老板的赞賞。</p>
<p>　　本人能吃苦耐劳，自学能力,适应能力和应变能力强。在工作中,有着强烈的责任心,并能保持不断学习和不断进取精神。</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0F91144R015.html">跟单员简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C012015.html">工程造价专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363592015.html">司机简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D062015.html">中专会计学专业简历</a></li>
<li><a href="/zhichang/jianli/template/0G535K12015.html">大学本科生个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5362042015.html">服装设计师个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0H14C5H015.html">金融销售经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E192015.html">2009届毕业生个人简历表</a></li>
<li><a href="/zhichang/jianli/template/0G5359262015.html">应聘法务类工作简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0F9113932015.html">导购员个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14CT2015.html">汉语言文学应届毕业生个人简历模</a></li>
<li><a href="/zhichang/jianli/template/0H14C192015.html">仓库管理员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53Ea2015.html">08届应届毕业研究生简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>