<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>单位会计简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="单位会计简历模板" />
<meta name="description" content="单位会计简历模板" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>单位会计简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
单位会计简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    0755rc综合 　　发布日期：2012年07月27日 09:01
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　本人办事细致、认真，上进心强，具有良好的职业道德，责任心强。本人从事会计工作已有12年，熟悉国家财经制度和相关政策法规，能熟练使用计算机办公软件，熟练使用金算盘财务软件，</p>
<p>　　熟悉一般纳税人及出口企业的全盘账务，纳税和退税的申报，出口收汇的核销，工商、税务、银行、外管局等相关工作流程</p>
<p>　　
<table style="color: rgb(0,0,0); font-family: serif; opacity: 0.9" cellspacing="0" cellpadding="4" width="650" align="center" border="0">
    <tbody>
        <tr bgcolor="#e4ebf2">
            <td style="background-color: rgb(238,244,249)">简历模板</td>
            <td style="background-color: rgb(238,244,249)" align="right">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table style="color: rgb(0,0,0); font-family: serif; opacity: 0.9" cellspacing="1" cellpadding="2" width="650" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9" height="24">简历编号：</td>
            <td style="background-color: rgb(238,244,249)" width="180" bgcolor="#f4f7fa"></td>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">发布日期：</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa">2012-07-18</td>
            <td style="background-color: rgb(238,244,249)" align="center" bgcolor="#f4f7fa" rowspan="6"><img alt="个人照片" width="100" border="0" src="/zhichang/uploads/allimg/c150715/143E4524596020-21154.jpg" /></td>
        </tr>
        <tr>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9" height="24">姓　　名：</td>
            <td style="background-color: rgb(238,244,249)" width="180" bgcolor="#f4f7fa">张一一</td>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">国籍：</td>
            <td style="background-color: rgb(238,244,249)" width="136" bgcolor="#f4f7fa">中国</td>
        </tr>
        <tr>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9" height="24">目前所在地：</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa">番禺区</td>
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">民族：</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa">汉族</td>
        </tr>
        <tr>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9" height="24">户口所在地：</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa">深圳</td>
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">身材：</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa">170 cm　50 kg</td>
        </tr>
        <tr>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9" height="24">婚姻状况：</td>
            <td style="background-color: rgb(238,244,249)" align="left" bgcolor="#f4f7fa">未婚</td>
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">年龄：</td>
            <td style="background-color: rgb(238,244,249)" align="left" bgcolor="#f4f7fa">26</td>
        </tr>
        <tr>
            <td class="xtable" style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">诚信徽章：</td>
            <td class="xtable" style="background-color: rgb(238,244,249)" align="left" bgcolor="#f4f7fa">&nbsp;</td>
            <td class="xtable" style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">人才测评：</td>
            <td class="xtable" style="background-color: rgb(238,244,249)" align="left" bgcolor="#f4f7fa">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table style="color: rgb(0,0,0); font-family: serif; opacity: 0.9" cellspacing="0" cellpadding="0" width="650" align="center" border="0">
    <tbody>
        <tr>
            <td style="background-color: rgb(238,244,249)" bgcolor="#e4ebf2" height="18">　联系方式</td>
        </tr>
    </tbody>
</table>
<table style="color: rgb(0,0,0); font-family: serif; opacity: 0.9" cellspacing="1" cellpadding="2" width="650" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9" height="24">通讯地址：</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa" colspan="3">&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9" height="24">联系电话：</td>
            <td style="background-color: rgb(238,244,249)" width="180">13531860686</td>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">家庭电话：</td>
            <td style="background-color: rgb(238,244,249)" width="246">&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9" height="24">手　　机：</td>
            <td style="background-color: rgb(238,244,249)">13531860686</td>
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">ＱＱ号码：</td>
            <td style="background-color: rgb(238,244,249)">287203168&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9" height="24">电子邮件：</td>
            <td style="background-color: rgb(238,244,249)"></td>
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">个人主页：</td>
            <td style="background-color: rgb(238,244,249)">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table style="color: rgb(0,0,0); font-family: serif; opacity: 0.9" cellspacing="0" cellpadding="0" width="650" align="center" border="0">
    <tbody>
        <tr>
            <td style="background-color: rgb(238,244,249)" bgcolor="#e4ebf2" height="18">　求职意向及工作经历</td>
        </tr>
    </tbody>
</table>
<table style="color: rgb(0,0,0); font-family: serif; opacity: 0.9" cellspacing="1" cellpadding="2" width="650" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">人才类型：</td>
            <td style="background-color: rgb(238,244,249)" colspan="3">普通求职　</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">应聘职位：</td>
            <td style="background-color: rgb(238,244,249)" colspan="3">财务/审计/税务：出纳、会计、</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">工作年限：</td>
            <td style="background-color: rgb(238,244,249)" width="180">10</td>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">职称：</td>
            <td style="background-color: rgb(238,244,249)">无职称</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">求职类型：</td>
            <td style="background-color: rgb(238,244,249)" width="180">全职</td>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">可到职日期：</td>
            <td style="background-color: rgb(238,244,249)">随时</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">月薪要求：</td>
            <td style="background-color: rgb(238,244,249)" width="180">2500--3000</td>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">希望工作地区：</td>
            <td style="background-color: rgb(238,244,249)" nowrap="nowrap">番禺区 天河区</td>
        </tr>
    </tbody>
</table>
<table style="opacity: 0.9" cellspacing="0" cellpadding="0" width="650" align="center" border="0">
    <tbody>
        <tr>
            <td style="background-color: rgb(238,244,249)" bgcolor="#e4ebf2" height="18">教育背景</td>
        </tr>
    </tbody>
</table>
<table style="opacity: 0.9" cellspacing="1" cellpadding="2" width="650" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">毕业院校：</td>
            <td style="background-color: rgb(238,244,249)" colspan="3">乳源高级中学</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">最高学历：</td>
            <td style="background-color: rgb(238,244,249)" width="180">高中获得学位: 高中毕业证</td>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">毕业日期：</td>
            <td style="background-color: rgb(238,244,249)">2001-07-01</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">所学专业一：</td>
            <td style="background-color: rgb(238,244,249)" width="180">会计</td>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">所学专业二：</td>
            <td style="background-color: rgb(238,244,249)">&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">受教育培训经历：</td>
            <td style="padding-right: 0px; padding-left: 0px; padding-bottom: 0px; padding-top: 0px; background-color: rgb(238,244,249)" colspan="3">
            <table style="opacity: 0.9" cellspacing="1" cellpadding="2" width="100%" bgcolor="#dddddd" border="0">
                <tbody>
                    <tr bgcolor="#eef4f9">
                        <td width="50">起始年月</td>
                        <td width="50">终止年月</td>
                        <td>学校（机构）</td>
                        <td>专　业</td>
                        <td>获得证书</td>
                        <td>证书编号</td>
                    </tr>
                    <tr bgcolor="#f4f7fa">
                        <td style="background-color: rgb(238,244,249)">1998-09</td>
                        <td style="background-color: rgb(238,244,249)">2001-07</td>
                        <td style="background-color: rgb(238,244,249)">公立</td>
                        <td style="background-color: rgb(238,244,249)">会计</td>
                        <td style="background-color: rgb(238,244,249)">高中毕业证</td>
                        <td style="background-color: rgb(238,244,249)">&nbsp;</td>
                    </tr>
                    <tr bgcolor="#f4f7fa">
                        <td style="background-color: rgb(238,244,249)">2008-03</td>
                        <td style="background-color: rgb(238,244,249)">2008-10</td>
                        <td style="background-color: rgb(238,244,249)">私立</td>
                        <td style="background-color: rgb(238,244,249)">会计</td>
                        <td style="background-color: rgb(238,244,249)">会计从业资格证</td>
                        <td style="background-color: rgb(238,244,249)">4407031100543</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#f4f7fa" colspan="4">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table style="opacity: 0.9" cellspacing="0" cellpadding="0" width="650" align="center" border="0">
    <tbody>
        <tr>
            <td style="background-color: rgb(238,244,249)" bgcolor="#e4ebf2" height="18">　语言能力</td>
        </tr>
    </tbody>
</table>
<table style="opacity: 0.9" cellspacing="1" cellpadding="2" width="650" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">外语：</td>
            <td style="background-color: rgb(238,244,249)" width="180" bgcolor="#f4f7fa">其他　较差</td>
            <td style="background-color: rgb(238,244,249)" width="100" bgcolor="#eef4f9">&nbsp;</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#eef4f9">国语水平：</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa">精通</td>
            <td style="background-color: rgb(238,244,249)" align="right" width="100" bgcolor="#eef4f9">粤语水平：</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa">精通</td>
        </tr>
        <tr>
            <td style="background-color: rgb(238,244,249)" align="right" bgcolor="#f4f7fa" colspan="4">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table style="opacity: 0.9" cellspacing="0" cellpadding="0" width="650" align="center" border="0">
    <tbody>
        <tr>
            <td style="background-color: rgb(238,244,249)" bgcolor="#e4ebf2" height="18">　工作能力及其他专长</td>
        </tr>
    </tbody>
</table>
<table style="opacity: 0.9" cellspacing="1" cellpadding="2" width="650" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td style="background-color: rgb(238,244,249)" width="100" bgcolor="#eef4f9">&nbsp;</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa">本人做事对工作认真积极，踏实肯干，富有上进心。由于对工作认真执着，有极高的工作热情和强烈的责任心，有强烈的团队精神，本人对文职、仓管、出纳方面的工作有比较丰富的经验。</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa" colspan="2" height="20">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table style="opacity: 0.9" cellspacing="0" cellpadding="0" width="650" align="center" border="0">
    <tbody>
        <tr>
            <td style="background-color: rgb(238,244,249)" bgcolor="#e4ebf2" height="18">　个人自传</td>
        </tr>
    </tbody>
</table>
<table style="opacity: 0.9" cellspacing="1" cellpadding="2" width="650" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr style="color: rgb(0,0,0); font-family: serif">
            <td style="background-color: rgb(238,244,249)" width="100" bgcolor="#eef4f9">&nbsp;</td>
            <td style="background-color: rgb(238,244,249)" bgcolor="#f4f7fa">本人从零一年读书出来在佛山一间台资企业公司做一名普通员工，因为对工作的认真努力，所以一年之后提升为线长。因为每个人都想提升自己，所以零四年自己在对电脑一窍不通的情况下，想到去学电脑，经过自己的一番努力，学会电脑后零五年去应聘做业务文员，在做文员的同时，觉得自己好像还有很多方面的知识都有待提升，所以灵机一动，想到去学会计，经过几个月的努力，零九年二月份拿到证了，零九年三月份开始做仓管，本人熟悉ERP管理系统。</td>
        </tr>
    </tbody>
</table>
</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G535X92015.html">技术支持工程师个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14CL2015.html">经典优秀求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C512015.html">网络推广专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G5363592015.html">司机简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53593H015.html">2013最新会计个人简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G5361b2015.html">网络维护职位个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B042015.html">建筑工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535JR015.html">程序员个人求职简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G53D4R015.html">简洁大方的个人简历表格式模板（</a></li>
<li><a href="/zhichang/jianli/template/0H14C1H015.html">销售主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CR2015.html">北京工商大学会计专业大学生求职</a></li>
<li><a href="/zhichang/jianli/template/0G535T42015.html">区域经理个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G5362362015.html">财务会计简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>