<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>服装设计师个人简历 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="服装设计师个人简历" />
<meta name="description" content="服装设计师个人简历，个人简历是对你各方面情况的如实反映。它向用人单位提供了有关你工作能力等方面的重要信息。简历一定要实事求是。如果你的介绍有失真的情况,将严重影响求职的成功和就职后的发展。小编在此给大家 推荐优秀的简历模板，祝各位求职愉快！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>服装设计师个人简历</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
服装设计师个人简历
                  </ul>
                  <ul class="news_left_date ti">
                    http://www./ 　　发布日期：2012年02月10日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　服装设计师个人简历，个人简历是对你各方面情况的如实反映。它向用人单位提供了有关你工作能力等方面的重要信息。简历一定要实事求是。如果你的介绍有失真的情况,将严重影响求职的成功和就职后的发展。小编在此给大家 推荐优秀的简历模板，祝各位求职愉快！</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 个人基本简历</p>
<p>　　姓　　名： &nbsp;国籍： 中国</p>
<p>　　目前所在地： 天河区 民族： 汉族</p>
<p>　　户口所在地： 番禺区 身材： 165cm　50kg</p>
<p>　　婚姻状况： 未婚 年龄： 24 岁</p>
<p>　　培训认证：&nbsp;诚信徽章：</p>
<p>　　求职意向及工作经历</p>
<p>　　人才类型： 普通求职　</p>
<p>　　应聘职位： 人力资源：主管、高级管理：副经理，总裁助理、店面/陈列/展览设计：花艺师/陈列督导/形象搭配师/配饰设计师</p>
<p>　　工作年限： 2 职称： 无职称</p>
<p>　　求职类型： 均可 可到职日期： 随时</p>
<p>　　月薪要求： 3500--5000 希望工作地区： 广州 广州 广州</p>
<p>　　个人工作经历： 公司名称： 起止年月：2009-11 ～ 广州路依思服装有限公司</p>
<p>　　公司性质： 民营企业所属行业：服装/纺织/皮革/鞋业</p>
<p>　　担任职务： 副经理</p>
<p>　　工作描述： 在广州路依思服装有限公司工作，从基层的服装与皮具设计师开始；共设计过多款皮具，其中2款已定款下单；10年03月升为生产设计部实习副经理，10年08月升为销售部副经理，直管公司旗下现有的五家专卖店，主要负责销售目标，销售活动，终端陈列，销售员培训管理。在职期间，恰当合理地分配工作，做到公平公正，期间本人还编制了《员工手册》《广州路依思服装有限公司劳动合同》《销售员手册》等初稿。认真对待每一件事，给公司营造一个积极的工作气氛，虽然我年轻，但是我努力！！</p>
<p>　　离职原因： 寻求更大的发展空间</p>
<p>　　公司名称： 起止年月：2009-05 ～ 2009-08广州捷胜咨询有限公司</p>
<p>　　公司性质： 外商独资所属行业：服装/纺织/皮革/鞋业</p>
<p>　　担任职务： 服装设计师</p>
<p>　　工作描述： 在广州捷胜咨询有限公司担任服装设计师，在职期间，和同事相处颇为融洽！尊重上司，听从分配，做好本分工作的同时，善于吸收其他方面的知识。在职三个月期间，曾完成245套服装吊牌设计。</p>
<p>　　离职原因： 公司内部原因</p>
<p>　　公司名称： 起止年月：2008-09 ～ 2009-02老A摄影设计模特机构</p>
<p>　　公司性质： 私营企业所属行业：影视/媒体/艺术</p>
<p>　　担任职务： 兼职平面模特</p>
<p>　　工作描述： 作为服饰，皮具等的宣传拍摄平面模特</p>
<p>　　离职原因： 个人理由</p>
<p>　　教育背景</p>
<p>　　毕业院校： 广东女子职业技术学院</p>
<p>　　最高学历： 大专 毕业日期： 2009-06-01</p>
<p>　　所学专业一： 服装设计 所学专业二： 艺术插花</p>
<p>　　受教育培训经历： 起始年月 终止年月 学校（机构） 专　业 获得证书 证书编号</p>
<p>　　2006-09 2009-07 广东女子职业技术学院 服装设计 毕业证书 127421200906002117</p>
<p>　　2008-12 2008-12 广东教育学院普通话培训测试站 普通话等级考试 普通话二级甲等证书 0-4X0312195</p>
<p>　　语言能力</p>
<p>　　外语： 英语　一般</p>
<p>　　国语水平： 精通 粤语水平： 精通</p>
<p>　　工作能力及其他专长</p>
<p>　　天秤座的我做事公平公正公道，认真负责，在校期间，担任学习委员，负责收管同学的作业，并进行监督，做好同学和老师之间的沟通工作之余，周期性进行督促同学学习上的积极性，工作认真负责，得到不错的评价。善于与人交际，口才能力较强，易于接受新事物及新思想，具有较好的创新思维，以及写作能力，擅长于服装设计，艺术插花，室内装饰，写作，对艺术有较强的审美能力！曾在艺术插花的选修课的考试上以97分最高分获得第一！</p>
<p>　　启蒙老师让我拥有一口标准纯正的普通话、从小生活在广州的我，有着流利标准的粤语，我的本家是客家，熟通客家话，求学于汕头的我，也学会了潮汕话，在语言上有一定的优势，表达能力较好。刚从学校毕业出来，缺少经验是最致命的弱点，希望在时间的推移的过程中，用谦虚，认真和坚毅地态度不断地积累经验，把生活和工作的我磨砺得更加出色！</p>
<p>　　崇尚美，追求美，不断利用自己的双手创造身边的美丽！认真，细腻，敏感，执着是我对生活的态度！</p>
<p>　　走出校园，融入社会！在挫败中反省，在认识中学习，在学习中自强！</p>
<p>　　工作可以千奇万种，但是工作的态度只有一种：认真负责！</p>
<p>　　虽然我年轻，但是我努力！世界很大，但是我依旧珍惜身边的每一个机会！</p>
<p>　　希望贵企业惜才爱才，愿意给我一个机会，也给贵企业一个机会！</p>
<p>　　在校期间，曾获得多项各方面的奖项及证书：</p>
<p>　　2008/09 荣获2007~2008学年度&ldquo;品德优秀奖&rdquo;，成绩优秀，并获奖学金</p>
<p>　　2008/05 以参赛作品 &ldquo;懵懂&rdquo;的一系列服装荣获广东女子职业技术学院&ldquo;第一届形象创意设计大赛&rdquo;二等奖</p>
<p>　　2008/03 荣获广东女子职业技术学院第一届&ldquo;风采杯&rdquo;征文大赛优秀奖</p>
<p>　　2008/03 2008年3月10日广东女子学院报第十期第四版刊登本人发表的文章《感谢情怀》</p>
<p>　　2008/01 2007~2008学年度选修课插花考试中以最高分97分获得全校第一</p>
<p>　　2007/12 第二届&ldquo;西关小姐评选活动&rdquo;荣获&ldquo;优秀选手&rdquo;称号</p>
<p>　　2007/11 荣获2006&mdash;2007学年度&ldquo;优秀团员&rdquo;，现为一名党员</p>
<p>　　2007/10 荣获广东女子学院&ldquo;十佳形象大使&rdquo;称号</p>
<p>　　2007/06 获广东女子学院艺术系第一届&ldquo;宣传好人好事，抵制各种不良现象&rdquo;征文比赛第一名</p>
<p>　　2007/01 全国计算计算机信息高新技术考试合格证书</p>
<p>　　2007/09 高等学校英语应用能力考试B级证书</p>
<p>　　2008/05 荣获&ldquo;国际商业美术设计师资格证书&rdquo;，服装设计专业D级</p>
<p>　　2008/12 普通话二级甲等证书</p>
<p>　　我的个人主页的相册里有本人的个人作品！！！欢迎多多点评，不足之处请多多指教！谢谢！</p>
<p>　　（本人希望找在广州地区的工作！对保险，加盟和广州市其他地区的工作不感兴趣，抱歉！！）</p>
<p>　　（此外，本人自荐此简历仅为了找到合适自己的工作，并非交朋友，请热心交友人士勿扰，谢谢合作！）</p>
<p>　　详细个人自传</p>
<p>　　如果人的一生可以比喻成一幅画，那么大学的毕业是一张完美无瑕的白纸，踏入社会的第一步便成了白纸上的刚起笔的第一滴墨水，别轻易地误以为那是污点，看，墨水沿着纸张慢慢渲染开来了，这是一幅画的开端，我的人生只不过刚刚开始&hellip;&hellip;</p>
<p>　　我没有把未来看成和山路一样泥泞，也没有侥幸地认为未来是鲜花铺满的康庄大道，想想现在所拥有的和现在所缺少的，我会知道我的三年，大学三年是个怎样的概念！</p>
<p>　　学涯无止境，但是我愿意用有限的时间学习无限的知识，此外，我经常参加一些有意义且可以提高自我素质的活动，用一颗装满憧憬的心去承载这个世界，也让自己的世界因此变得充实和美满！</p>
<p>　　我摒弃死板地学习，换以开放式地去吸收。服装设计的课堂，缝纫机的颤动声和古典精选音乐的畅想，灵感莫名其妙的来临，铺开纸，挥动笔，把这一切结合幻想一同画下，知识在无意间被吸收和进化！学会调剂学习比调剂生活更有自豪感。</p>
<p>　　生活的优雅不是悠闲，我把业余生活安排妥当，心态摆正，审视学习的态度，生活和学习相结合，在不断的循环中得到进步！</p>
<p>　　在生活和学习的细节中剖析自己，从而提到到思想上的思考。工作认真，细心谨慎的态度继续发扬，偏科学习需要纠正，告诫自己：知识是全面吸收的！作品获奖值得鼓励，骄傲忘返需要自检，告诫自己：天外有天，人外有人！作业繁重，工作棘手，告诫自己：没有越不过的山，没有过不了的坎！成绩上升，生活失调，告诫自己：生活学习，取之平衡，方能前行！在不断的检讨中提升自我的心理素质和人格魅力。</p>
<p>　　我已经离开学校，走进社会，走出校园，融入社会！在挫败中反省，在认识中学习！</p>
<p>　　工作可以千奇万种，但是工作的态度只有一种：认真负责！</p>
<p>　　虽然我年轻，但是我努力！世界很大，但是我依旧珍惜身边的每一个机会！</p>
<p>　　墨水依旧蔓延，渲染灿烂，我继续挥笔舞动人生，完成这幅未完的画！</p>
<p>　　希望贵企业惜才爱才，愿意给我一个机会，也给贵企业一个机会！未来的大道，我依旧会与努力同行！</p>
<p>　　个人联系方式</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G535K42015.html">电商英文个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G53D062015.html">中专会计学专业简历</a></li>
<li><a href="/zhichang/jianli/template/0G53E462015.html">个人简历(网络维护)</a></li>
<li><a href="/zhichang/jianli/template/0G5362302015.html">医学专业求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53624H015.html">最新常规简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535PR015.html">高级文员个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G53EZ2015.html">质量管理个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G535KH015.html">测控技术与仪器业个人简历模板-</a></li>
<li><a href="/zhichang/jianli/template/0H14B042015.html">建筑工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CC2015.html">资金税务会计个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113642015.html">皮革设计专员个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53EB2015.html">涉外会计个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G5359202015.html">SEO简历封面及模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144O32015.html">艺术设计学学生求职简历模板-中</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>