<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>汽车运用与维修简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="汽车运用与维修简历模板" />
<meta name="description" content="汽车运用与维修简历模板" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>汽车运用与维修简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
汽车运用与维修简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    www. 　　发布日期：2012年05月22日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　姓名：</p>
<p>　　性别：男</p>
<p>　　年龄：23岁 学历：中专</p>
<p>　　专业：汽车运用与维修</p>
<p>　　求职意向：</p>
<p>　　求职待遇：</p>
<p>　　电话：</p>
<p>　　工作经验：</p>
<p>　　2006年10月&mdash;2007年6月在海南翔瑞奇瑞服务站学习修理；</p>
<p>　　2007年6月&mdash;2007年11月在海南国奇奇瑞服务站从事配件管理工作；</p>
<p>　　2008年5月&mdash;2008年8月在海南云兴康盛奇瑞服务站担任配件主管职责。</p>
<p>　　本人勤于思考、谦虚上进、认真、责任心强，为人诚恳，严于律己，宽于待人，有较强的独立能力和很强的学习能力，有很好的团队协作精神。性格开朗，乐于与人沟通，因此结交了许多朋友，具有良好的适应性和熟练的沟通技巧，能够协助领导完成各项工作，工作期间还多次受到领导的表扬。</p>
<p>　　手捧菲薄求职之书,心怀自信诚挚之念,我期待着能成贵公司的一名工作人员!谢谢您的关注!静候您的佳音!</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53ET2015.html">个人简历-毕业生简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B532015.html">采购文员的求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C362015.html">食品科学与工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53632H015.html">怀旧风格的彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535K42015.html">电商英文个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G5362332015.html">市场拓展简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C022015.html">工业企业管理专业实习简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B412015.html">通信工程专业大学生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C332015.html">应聘酒店储备干部实习简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B562015.html">2015个性电子简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E042015.html">简历模板：市场推广总监</a></li>
<li><a href="/zhichang/jianli/template/0H14C122015.html">英德双语专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EE2015.html">法律事务专业简历</a></li>
<li><a href="/zhichang/jianli/template/0G535Q92015.html">物流仓储管理员个人简历模板-中</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>