<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>预算员简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="预算员简历模板" />
<meta name="description" content="预算员简历模板" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>预算员简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
预算员简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    <strong></strong> 　　发布日期：2012年08月10日 09:46
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　姓　　名： 朱女士 性　　别： 女</p>
<p>　　婚姻状况： 未婚 民　　族： 汉族</p>
<p>　　户　　籍： 江西-萍乡 年　　龄： 22</p>
<p>　　现所在地： 广东-东莞 身　　高： 162cm</p>
<p>　　希望岗位： 房地产/物业类-招标专员/助理</p>
<p>　　建筑/装潢/施工类-资料员</p>
<p>　　建筑/装潢/施工类-工民建</p>
<p>　　建筑/装潢/施工类-工程文员</p>
<p>　　建筑/装潢/施工类-绘图员</p>
<p>　　寻求职位： 预算员、 资料员、 建筑专业类</p>
<p>　　待遇要求： 可面议&nbsp;要求提供住宿</p>
<p>　　最快到岗： 随时到岗</p>
<p>　　教育经历</p>
<p>　　2009-09 ～ 2012-06<span class="Apple-tab-span" style="white-space: pre"> </span>江西工程职业学院<span class="Apple-tab-span" style="white-space: pre"> </span>工程造价<span class="Apple-tab-span" style="white-space: pre"> </span>大专</p>
<p>　　主要课程</p>
<p>　　建筑法规 AutoCAD 建筑制图、建筑施工组织与管理、建筑识图与房屋构造、建筑设备基础知识与识图、工程造价管理、建筑装饰工程计量与计价等</p>
<p>　　培训经历</p>
<p>　　2010-10 ～ 2010-11<span class="Apple-tab-span" style="white-space: pre"> </span>神机妙算软件公司<span class="Apple-tab-span" style="white-space: pre"> </span>神机妙算软件学习</p>
<p>　　实践经验</p>
<p>　　预算员 （2012-02 ～ 2012-05）</p>
<p>　　实践内容： 今年年初在宜春市工程造价咨询有限责任公司实习了三个月，后因家里有急事辞职了</p>
<p>　　项目经验</p>
<p>　　和谐家园二期17# （2012-05 ～ 2012-05）</p>
<p>　　担任职位： 土建预算</p>
<p>　　项目描述： 做该栋商品房的土建预算</p>
<p>　　责任描述： 负责了和谐家园二期17#的图形算量</p>
<p>　　技能专长</p>
<p>　　专业职称：</p>
<p>　　计算机水平： 全国计算机等级考试一级</p>
<p>　　计算机详细技能： 会AutoCAD ,天正CAD、神机妙算软件、Microsoft office办公软件</p>
<p>　　技能专长： AutoCAD绘图 神机妙算软件 获得了绘图员证、施工员证、全国计算机等级考试一级证书 、全国大学生英语等级考试四级证书</p>
<p>　　语言能力</p>
<p>　　普通话： 流利<span class="Apple-tab-span" style="white-space: pre"> </span>粤语： 差</p>
<p>　　英语水平： CET-4&nbsp;口语一般</p>
<p>　　英语： 良好</p>
<p>　　求职意向</p>
<p>　　发展方向： 在校期间充分利用校园环境及条件，学习好专业知识，培养学习、工作、生活的能力，全面提高个人综合素质，并做未就业准备。</p>
<p>　　如今毕业了希望自己通过不断的努力和尝试，在造价预算方面有所发展！</p>
<p>　　通过自己的努力考取造价员证和二级建造师证</p>
<p>　　虽然刚毕业，工作经验只有三个月，但土建预算的基本的都会，只要给我一个机会，我一定会努力学习工作来证明自己的能力。</p>
<p>　　其他要求： 能找到与自己专业有关的工作，即使是实习预算员也可以</p>
<p>　　自我评价：</p>
<p>　　对待工作认真负责，团队意识强，积极主动。能吃苦耐劳，谦虚好学。能迅速的适应各种环境，并融入其中。</p>
<p>　　给我一个机会，我将会还你一个精彩！我会在实践中虚心学习，尽职尽责，尽我最大的努力投入到工作中去，创造出自己的价值</p>
<p>　　兴趣爱好： 喜欢羽毛球 投篮 跑步 朗诵，</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5362302015.html">医学专业求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C362015.html">食品科学与工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53ET2015.html">个人简历-毕业生简历</a></li>
<li><a href="/zhichang/jianli/template/0G5362b2015.html">最新市场营销简历</a></li>
<li><a href="/zhichang/jianli/template/0G53D442015.html">服装设计师简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F112015.html">简历模板-- 编辑</a></li>
<li><a href="/zhichang/jianli/template/0G535K12015.html">大学本科生个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14C192015.html">仓库管理员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E162015.html">文秘简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362102015.html">计算机硬件维护职位个人简历范例</a></li>
<li><a href="/zhichang/jianli/template/0H14BS2015.html">工程测量专业求职简历</a></li>
<li><a href="/zhichang/jianli/template/0G5362012015.html">动漫设计制作个人简历</a></li>
<li><a href="/zhichang/jianli/template/0F9114052015.html">兼职平面设计师简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C5H015.html">金融销售经理个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>