<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>技术员个人简历模板-中文简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="技术员个人简历模板" />
<meta name="description" content="深圳人才网提供最新技术员简历范文模版，了解更多最新技术员简历范文模版请访问深圳人才网www.0755rc.com" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>技术员个人简历模板-中文简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:27</p>
<div class="arnr">
技术员个人简历模板
                  </ul>
                  <ul class="news_left_date ti">
                     　　发布日期：2013年04月04日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-6851808455888827";
					/* 468&#42;15 */
					google_ad_slot = "8157759543";
					google_ad_width = 468;
					google_ad_height = 15;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>
	&nbsp;</p>
<table align="center" bgcolor="#dddddd" border="0" cellpadding="3" cellspacing="1" style="word-break: break-all" width="100%">
	<tbody>
		<tr>
			<td align="left" bgcolor="#ffffff" height="20" width="18%">
				姓&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 名：</td>
			<td bgcolor="#ffffff" height="20" width="20%">
				王先生</td>
			<td bgcolor="#ffffff" height="20" width="15%">
				性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</td>
			<td bgcolor="#ffffff" height="20" width="25%">
				男</td>
			<td align="middle" bgcolor="#ffffff" rowspan="10" style="word-break: break-all" valign="top" width="22%">
				&nbsp;</td>
		</tr>
		<tr>
			<td align="left" bgcolor="#ffffff" height="20">
				学&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 历：</td>
			<td bgcolor="#ffffff" height="20">
				本科</td>
			<td bgcolor="#ffffff" height="20">
				出生年月：</td>
			<td bgcolor="#ffffff" height="20">
				1989-08-12</td>
		</tr>
		<tr>
			<td align="left" bgcolor="#ffffff" height="20">
				身&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 高：</td>
			<td bgcolor="#ffffff" height="20">
				172 CM</td>
			<td bgcolor="#ffffff" height="20">
				目前所在地：</td>
			<td bgcolor="#ffffff" height="20">
				宝安区</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="20">
				毕业院校：</td>
			<td bgcolor="#ffffff" colspan="3" height="20">
				武汉生物工程学院</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="20">
				主修专业：</td>
			<td bgcolor="#ffffff" colspan="3" height="20">
				数理化与生物科学 =&gt; 生物技术</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="20">
				工作经验：</td>
			<td bgcolor="#ffffff" height="20">
				一年以上</td>
			<td bgcolor="#ffffff" height="20">
				目前年薪 ：</td>
			<td bgcolor="#ffffff" height="20">
				4-5万 /年</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="20">
				有效证件：</td>
			<td bgcolor="#ffffff" height="20">
				身份证</td>
			<td bgcolor="#ffffff" height="20">
				证件号码 ：</td>
			<td bgcolor="#ffffff" height="20">
				*******************</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="20">
				预求职位：</td>
			<td bgcolor="#ffffff" colspan="3" height="20">
				技术员</td>
		</tr>
		<tr bgcolor="#ffffff">
			<td height="20">
				技能专长：</td>
			<td colspan="4" height="20" style="word-break: break-all">
				生物工程专业基础扎实（包括生物上游和下游基本技术原理），熟悉电脑基本办公操作，英语能力应用一般。</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td height="10">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#a5c7ef" height="1">
				&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#e7efff" height="25">
				&nbsp;<strong><font color="#999999">-------</font><font color="#000066"> 求 职 意 向<font color="#999999"> -------</font></font></strong></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#dddddd" border="0" cellpadding="4" cellspacing="1" style="word-break: break-all" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#ffffff" width="18%">
				<font color="#000066">寻求职位：</font></td>
			<td bgcolor="#ffffff" colspan="3" height="25">
				<font color="#666666">技术员</font></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff">
				<font color="#000066">求职地区：</font></td>
			<td bgcolor="#ffffff" height="25" width="37%">
				<font color="#666666">罗湖区福田区南山区宝安区龙岗区盐田区光明新区坪山新区龙华新区 </font></td>
			<td bgcolor="#ffffff" width="13%">
				<font color="#666666">工资待遇：</font></td>
			<td bgcolor="#ffffff" width="32%">
				4000(可面议)</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff">
				到岗时间：</td>
			<td bgcolor="#ffffff" colspan="3" height="25">
				随时到岗</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff">
				自我评价：</td>
			<td bgcolor="#ffffff" colspan="3" height="25" style="word-break: break-all">
				<font color="#666666">做事认真，仔细，学习能力强，与较强的团队意识，习惯检验自己的工作完成的情况。</font></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff">
				发展方向：</td>
			<td bgcolor="#ffffff" colspan="3" height="25" style="word-break: break-all">
				<font color="#666666">生物类技术工程师 </font></td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td height="10">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#a5c7ef" height="1">
				&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#e7efff" height="25">
				&nbsp;<strong><font color="#999999">-------</font><font color="#000066"> 教 育 培 训 <font color="#999999">-------</font></font></strong></td>
		</tr>
	</tbody>
</table>
<table bgcolor="#dddddd" border="0" cellpadding="4" cellspacing="1" style="word-break: break-all" width="100%">
	<tbody>
		<tr align="middle" bgcolor="#ffffff">
			<td height="22" width="21%">
				<font color="#000066">起止时间</font></td>
			<td height="22" width="35%">
				<font color="#000066">就读院校名称</font></td>
			<td width="25%">
				<font color="#000066">主修专业</font></td>
			<td height="22" width="19%">
				<font color="#000066">学历</font></td>
		</tr>
		<tr bgcolor="#ffffff">
			<td align="middle" height="22">
				<font color="#666666">2010.5~2012.</font></td>
			<td align="middle" height="22">
				<font color="#666666">武汉生物工程学院</font></td>
			<td align="middle">
				<font color="#666666">生物工程</font></td>
			<td align="middle" height="22">
				<font color="#666666">本科</font></td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td height="10">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#a5c7ef" height="1">
				&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#e7efff" height="25">
				&nbsp;<strong><font color="#999999">-------</font><font color="#000066"> 工 作 经 验 (1) <font color="#999999">-------</font></font></strong></td>
		</tr>
	</tbody>
</table>
<table bgcolor="#dddddd" border="0" cellpadding="4" cellspacing="1" style="word-break: break-all" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#ffffff" height="25" width="15%">
				就职公司：</td>
			<td bgcolor="#ffffff" height="25" width="35%">
				武汉佳成生物制品有限公司</td>
			<td bgcolor="#ffffff" height="25" width="12%">
				公司行业：</td>
			<td bgcolor="#ffffff" height="25" width="38%">
				生物/制药/保健/医药</td>
		</tr>
		<tr align="middle">
			<td bgcolor="#ffffff" height="22">
				<font color="#000066">就职时间：</font></td>
			<td align="left" bgcolor="#ffffff" height="22">
				<font color="#000066">2011年11月到2012年1月</font></td>
			<td bgcolor="#ffffff" height="22">
				<font color="#000066">就职部门：</font></td>
			<td align="left" bgcolor="#ffffff" height="22">
				<font color="#000066">生产部</font></td>
		</tr>
		<tr align="middle" bgcolor="#ffffff">
			<td height="22">
				公司性质：</td>
			<td align="left" height="22">
				<font color="#666666">国营企业/上市公司</font></td>
			<td height="22">
				<font color="#666666">就职职位：</font></td>
			<td align="left" height="22">
				<font color="#666666">技术员</font></td>
		</tr>
		<tr>
			<td align="middle" bgcolor="#ffffff" height="22">
				<font color="#000066">工作描述：</font></td>
			<td bgcolor="#ffffff" colspan="3" height="22" style="word-break: break-all">
				<font color="#666666">主要负责微生物(各种曲霉和酵母,以红曲为主)培养基的配制,器材的灭菌,培养基分装,以及后续的培养控制.</font></td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td height="10">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#a5c7ef" height="1">
				&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#e7efff" height="25">
				&nbsp;<strong><font color="#999999">-------</font><font color="#000066"> 工 作 经 验 (2) <font color="#999999">-------</font></font></strong></td>
		</tr>
	</tbody>
</table>
<table bgcolor="#dddddd" border="0" cellpadding="4" cellspacing="1" style="word-break: break-all" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#ffffff" height="25" width="15%">
				就职公司：</td>
			<td bgcolor="#ffffff" height="25" width="35%">
				深圳市三才学子教育信息咨询有限公司</td>
			<td bgcolor="#ffffff" height="25" width="12%">
				公司行业：</td>
			<td bgcolor="#ffffff" height="25" width="38%">
				教育/培训</td>
		</tr>
		<tr align="middle">
			<td bgcolor="#ffffff" height="22">
				<font color="#000066">就职时间：</font></td>
			<td align="left" bgcolor="#ffffff" height="22">
				<font color="#000066">2012年3月到2012年10月</font></td>
			<td bgcolor="#ffffff" height="22">
				<font color="#000066">就职部门：</font></td>
			<td align="left" bgcolor="#ffffff" height="22">
				<font color="#000066">教师</font></td>
		</tr>
		<tr align="middle" bgcolor="#ffffff">
			<td height="22">
				公司性质：</td>
			<td align="left" height="22">
				<font color="#666666">民营/私营企业/非上市公司</font></td>
			<td height="22">
				<font color="#666666">就职职位：</font></td>
			<td align="left" height="22">
				<font color="#666666">教师</font></td>
		</tr>
		<tr>
			<td align="middle" bgcolor="#ffffff" height="22">
				<font color="#000066">工作描述：</font></td>
			<td bgcolor="#ffffff" colspan="3" height="22" style="word-break: break-all">
				<font color="#666666">主要工作包括前期招生宣传，开学后的学生辅导，及后期和家长的沟通</font></td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td height="10">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#a5c7ef" height="1">
				&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#e7efff" height="25">
				&nbsp;&nbsp;<strong><font color="#999999">-------</font><font color="#000066"> 联 系 方 式<font color="#999999"> -------</font></font></strong></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#dddddd" border="0" cellpadding="4" cellspacing="1" style="word-break: break-all" width="100%">
	<tbody>
		<tr>
			<td bgcolor="#ffffff" height="25" width="18%">
				<font color="#000066">联系电话：</font></td>
			<td bgcolor="#ffffff" height="25">
				&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="25">
				<font color="#000066">联络手机：</font></td>
			<td bgcolor="#ffffff" height="25">
				<font color="#666666">****************</font></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="25">
				<font color="#000066">电子邮件：</font></td>
			<td bgcolor="#ffffff" height="25" width="82%">
				<font color="#666666">***********@qq.com</font></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="25">
				<font color="#000066">个人主页：</font></td>
			<td bgcolor="#ffffff" height="25">
				&nbsp;</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="25">
				<font color="#000066">即时通迅：</font></td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C062015.html'>注塑技术员个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0G535LR015.html'>建筑工程技术员个人简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G535L52015.html'>建筑设计技术员个人简历模板-中</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C192015.html">仓库管理员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535M12015.html">信息工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G53632H015.html">怀旧风格的彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B5R015.html">人事主管的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BP2015.html">个人基本简历</a></li>
<li><a href="/zhichang/jianli/template/0G53ET2015.html">个人简历-毕业生简历</a></li>
<li><a href="/zhichang/jianli/template/0H144O62015.html">商务英语专业求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G53D2H015.html">临床药学专业个人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E392015.html">个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C062015.html">注塑技术员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BS2015.html">工程测量专业求职简历</a></li>
<li><a href="/zhichang/jianli/template/0H14CQ2015.html">计算机专业女大学生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CC2015.html">资金税务会计个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362H2015.html">最新销售代表简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>