<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>最新常规简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="最新常规简历模板" />
<meta name="description" content="最新常规简历模板" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>最新常规简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
最新常规简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    www. 　　发布日期：2012年04月17日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p align="center">　　<strong><font size="4">简&nbsp;历</font></strong></p>
<p>　　姓名：&nbsp;性别：</p>
<p>　　出生日期：</p>
<p>　　户口所在地：</p>
<p>　　工作年限：</p>
<p>　　目前年薪：</p>
<p>　　期望年薪：</p>
<p>　　电子邮件：</p>
<p>　　移动电话：</p>
<p>　　应聘职位：</p>
<p>　　自我评价：对事物有敏锐的洞察力；能很好得与人沟通，具有团队合作精神；对负责的工作会付出全部精力和热情，制定缜密计划，力争在最短时间内将目标达成；喜欢挑战，能在较短时间内适应高压力的工作。</p>
<p>　　工作经历：</p>
<p>　　学&nbsp;历：</p>
<p>　　社会实践：</p>
<p>　　证&nbsp;书：</p>
<p>　　语言及操作能力：</p>
<p>　　兴趣爱好：</p>
<p align="center">　　<strong><font size="4">应 聘 信</font></strong></p>
<p>　　I believe：God helps those who help themselves.</p>
<p>　　常听有人感慨某次好运的降临使他过上了与以前不一样的生活。而我想的是：他今天拥有的一切其实是自己去努力争取的结果。</p>
<p>　　大学临近毕业，我有幸进入了世界500强xxxxxxx。我知道是我的自信和实力征服了在场的每一位面试官。在xxxx的日子，我所从事的是每天对着显示器用CAD软件设计制作洗衣机电路板图。我所有接触和了解的东西除了冷冰冰的电路板还是电路板：韩国的，日本的，合格的，不合格的&hellip;&hellip;当现实和理想越走越远，我开始重新审视自己，我觉得人应该活的很精彩，因为人生对每个人来说只有一次，在历史的舞台上，每个人都有权力选择自己扮演的角色，而我，总是要做最闪亮的星。</p>
<p>　　于是我离开了工作不到x个月的xxxx。我知道自己的目标，知道自己想要的生活。我想接触各种各样的人,我想知道他们的想法,我想和他们交朋友。在4月的一天，我应聘到xxxxxxxx，在xxxx销售&ldquo;xxxxxxxx&rdquo;项目，我成为一个xxxx。</p>
<p>　　xxxx不同于一般的商业项目。首先它做的是纯商业：在占地5万多平方米的县城中心位置，带有秦淮明清建筑元素的商铺群错落有致的形成一条450米长的商业街；其次，作为当地的经济中心和对外文化窗口，同时也是xxxx在xx投资开发的首个工程，上至政府领导下至项目经理都非常重视，从规划到设计，从景观到招商力争做到完美。正是通过这样一个机会，我了解到包括建筑，广告，活动策划，营销各方面的知识，虽然是粗浅的涉及，但是让人兴奋异常，房地产真是永远学不完钻不透的学问。作为一个xxxx，单纯掌握建筑方面的知识是很容易，但这只是最基础的东西。我们销售的是商业项目，我们的目标客户是家资几十万上百万的社会中上层，他们有丰富的人生阅历，独到的投资眼光，挑剔的高尚品味。他们拥有的这些对于我这个刚刚进入房地产行业的人来说，又是最匮乏的。</p>
<p>　　幸而我遇到了一位好经理，从待人接物到销售技巧，他都毫无保留的教会我，使我成为了xx项目组成长最快的xxx，一年的工作下来，我也保持了成交率最高的记录。他曾经对我们说过，他希望从xx走出去的每个xx员都比他强，现在是时候去实践和实现他的话了。</p>
<p>　　知道xx集团，是从《新地产》杂志，在上海有这样一个xx吸引了我的眼球：它合壁了中西方文化特色，社区中包括了多达六个的世界主题园林，中式苏州园林和美式的夏威夷冲浪沙滩竟然可以在这里共存，不能不说是建筑和规划的奇迹，我于是记住了发展商的名字：xxxx有限公司。现在，xx集团又在xx开始了它的宏远构想，xx的外滩新城能否像上海世茂滨江花园一样续写辉煌？我不愿只做一个旁观者，我要亲自见证这样的一个时刻。优秀的xx期待优秀人员的加盟，而我，一定就是那些最优秀的人中的一个。</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14CW2015.html">心理学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359232015.html">知识个人简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535X92015.html">技术支持工程师个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14B322015.html">人事主管应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535U42015.html">产品结构设计师个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5362012015.html">动漫设计制作个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B332015.html">播音主持本科毕业生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CV2015.html">报关员职位的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D532015.html">求职个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535Q92015.html">物流仓储管理员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5362042015.html">服装设计师个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G535N92015.html">语文教师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0F9113612015.html">旅游管理求职简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53DV2015.html">法学专业个人简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>