<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>会计电算化专业个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="会计电算化专业个人简历模板" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>会计电算化专业个人简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
会计电算化专业个人简历模板
                  </ul>
                  <ul class="news_left_date ti">
                     　　发布日期：2009年01月06日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <table cellspacing="1" cellpadding="2" width="580" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9" height="28">姓名：</td>
            <td width="180" bgcolor="#f4f7fa">王小姐</td>
            <td align="right" width="100" bgcolor="#eef4f9">国籍：</td>
            <td width="136" bgcolor="#f4f7fa">中国</td>
            <td bgcolor="#f4f7fa" rowspan="5">
            <div align="center">无照片</div>
            </td>
        </tr>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9" height="28">目前所在地：</td>
            <td bgcolor="#f4f7fa">深圳</td>
            <td align="right" bgcolor="#eef4f9">民族：</td>
            <td bgcolor="#f4f7fa">汉族</td>
        </tr>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9" height="28">户口所在地：</td>
            <td bgcolor="#f4f7fa">天津</td>
            <td align="right" bgcolor="#eef4f9">身材：</td>
            <td bgcolor="#f4f7fa">165 cm　46 kg</td>
        </tr>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9" height="28">婚姻状况：</td>
            <td align="left" bgcolor="#f4f7fa">未婚</td>
            <td align="right" bgcolor="#eef4f9">年龄：</td>
            <td align="left" bgcolor="#f4f7fa">23岁</td>
        </tr>
        <tr>
            <td align="right" bgcolor="#f4f7fa" colspan="4">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="580" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　求职意向及工作经历</strong></td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="2" width="580" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9">人才类型：</td>
            <td colspan="3">普通求职　</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9">应聘职位：</td>
            <td colspan="3">财务类:兼职会计 　 金融/证券/保险类 兼职报检员 　 财务类 外贸会计</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9">工作年限：</td>
            <td width="180">8</td>
            <td align="right" width="100" bgcolor="#eef4f9">职称：</td>
            <td>中级</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9">求职类型：</td>
            <td width="180">兼职</td>
            <td align="right" width="100" bgcolor="#eef4f9">可到职日期：</td>
            <td>随时</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9">月薪要求：</td>
            <td width="180">面议</td>
            <td align="right" width="100" bgcolor="#eef4f9">希望工作地区：</td>
            <td nowrap="nowrap">广州</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9">个人工作经历：</td>
            <td colspan="3">1998.9&mdash;2001.9 &nbsp; 广州市某会计师事务所有限公司 &nbsp;税务专员<br />
            <br />
            2001.9月至今 &nbsp; &nbsp; 在多家公司任兼职会计或外贸专员<br />
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;为多家企业办理进出口权（广州市鑫博科技有限公司/<br />
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;广州市索卡科技电子有限公司/广州市域维电子有限公司等)<br />
            目前任职<br />
            会计方面：广州鑫博科技有限公司<br />
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;广州市天河金穗吸塑厂<br />
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;广州市恒星义齿行<br />
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;广园致友汽配城东冠汽配经营部<br />
            &nbsp; &nbsp; &nbsp; &nbsp;等企业的兼职会计。<br />
            <br />
            进出口方面:　<br />
            　　　广州市鑫博科技有限公司　　任兼职报检员／外汇核销员／出口退税<br />
            　　　广州市恒青电子有限公司　　任兼职报检员/出口退税<br />
            等企业的出口退税会计</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" colspan="4">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="580" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　教育背景</strong></td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="2" width="580" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9">毕业院校：</td>
            <td colspan="3">广州华南师范大学</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9">最高学历：</td>
            <td width="180">大专</td>
            <td align="right" width="100" bgcolor="#eef4f9">毕业日期：</td>
            <td>1998-07-01</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9">所学专业一：</td>
            <td width="180">会计电算化（能独立办理外贸进出口权）</td>
            <td align="right" width="100" bgcolor="#eef4f9">所学专业二：</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9">受教育培训经历：</td>
            <td colspan="3">1996年9月--1998年7月，广州市华南师范大学 &nbsp; &nbsp;会计电算化 &nbsp; &nbsp; &nbsp; &nbsp; 大专</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#f4f7fa" colspan="4">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="580" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　语言能力</strong></td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="2" width="580" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td align="right" width="100" bgcolor="#eef4f9">外语：</td>
            <td width="180" bgcolor="#f4f7fa">英语　一般</td>
            <td width="100" bgcolor="#eef4f9">&nbsp;</td>
            <td bgcolor="#f4f7fa">&nbsp;</td>
        </tr>
        <tr>
            <td align="right" bgcolor="#eef4f9">国语水平：</td>
            <td bgcolor="#f4f7fa">良好</td>
            <td align="right" width="100" bgcolor="#eef4f9">粤语水平：</td>
            <td bgcolor="#f4f7fa">良好</td>
        </tr>
        <tr>
            <td align="right" bgcolor="#f4f7fa" colspan="4">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="580" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　工作能力及其他专长</strong></td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="2" width="580" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td width="100" bgcolor="#eef4f9">&nbsp;</td>
            <td bgcolor="#f4f7fa">&nbsp; &nbsp;会计方面能力：有多年的全盘帐务处理经验,对广州近期税务情况了解,能熟练应用出口退税申报系统、一般纳税人电子申报系统、网上申报软件、速达财务软件及用防伪税控机开具增值税发票等软件。有为企业新开业建帐、申请一般纳税人、跨区变更、注销、年审、购买/代开发票等税务业务相关工作经验。<br />
            &nbsp; &nbsp;<br />
            &nbsp; &nbsp;外贸进出口方面能力：能独立为企业办理进出口权，及出口商品的报检、收汇核销、出口退税的相关通关工作。熟悉公司办理外贸局的来料/进料加工手册、外汇局的领核销单/出口收汇核销/外汇帐户开立审批、检验检疫局的报检/原产地证/包装证等业务流程及操作海关的电子口岸。</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td bgcolor="#f4f7fa" colspan="2" height="20">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="580" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　详细个人自传</strong></td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="2" width="580" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr>
            <td width="100" bgcolor="#eef4f9">&nbsp;</td>
            <td bgcolor="#f4f7fa">本人性格稳重，责任心强，具有较强的团队精神.<br />
            个人求&quot;兼职会计&quot;或&quot;为企业申办外贸进出口权&quot;　　　　　　　　</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td bgcolor="#f4f7fa" colspan="2" height="20">&nbsp;</td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="580" align="center" border="0">
    <tbody>
        <tr>
            <td bgcolor="#e4ebf2" height="18"><strong>　个人联系方式</strong></td>
        </tr>
    </tbody>
</table>
<table cellspacing="1" cellpadding="2" width="580" align="center" bgcolor="#cadadf" border="0">
    <tbody>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9">通讯地址：</td>
            <td bgcolor="#f4f7fa" colspan="3">&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" width="100" bgcolor="#eef4f9">邮政编码：</td>
            <td width="180">&nbsp;</td>
            <td align="right" width="100" bgcolor="#eef4f9">联系电话：</td>
            <td>13113xxx</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9">家庭电话：</td>
            <td>&nbsp;</td>
            <td align="right" bgcolor="#eef4f9">手　　机：</td>
            <td>131139xxx</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9">传 呼 机：</td>
            <td>&nbsp;</td>
            <td align="right" bgcolor="#eef4f9">OICQ：</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#f4f7fa">
            <td align="right" bgcolor="#eef4f9">E-Mail：</td>
            <td>&nbsp;</td>
            <td align="right" bgcolor="#eef4f9">个人主页：</td>
        </tr>
    </tbody>
</table>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14BJ2015.html">结构工程师简历模板参考</a></li>
<li><a href="/zhichang/jianli/template/0G535K12015.html">大学本科生个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14CB2015.html">会计专业本科生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C262015.html">焊接技术与工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B642015.html">个性简历封面模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359202015.html">SEO简历封面及模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C312015.html">工程经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113V2015.html">网络管理员个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0F9114152015.html">商业个人简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C642015.html">中西医结合专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D152015.html">2010个人标准简历</a></li>
<li><a href="/zhichang/jianli/template/0G53D942015.html">金融学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C492015.html">土建工程师个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>