<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>外贸专业的简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="外贸专业的简历模板" />
<meta name="description" content="适合对外贸易、业务助理、报关员等外贸类岗位" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>外贸专业的简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
外贸专业的简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    应届生网 　　发布日期：2009年10月15日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　姓名：　胡x女士</p>
<p>　　民族：　汉目前所在地：　深圳</p>
<p>　　出生年月：户口所在地：　长沙</p>
<p>　　婚姻状况：　未婚</p>
<p>　　求职意向及工作经历</p>
<p>　　人才类型：　全职</p>
<p>　　应聘职位：</p>
<p>　　对外贸易、业务助理、报关员</p>
<p>　　工作年限：　2职称：　暂无</p>
<p>　　求职类型：　全职可到职日期：随时</p>
<p>　　月薪要求：　面议希望工作地区：　深圳</p>
<p>　　<strong>　　个人工作经历：</strong></p>
<p>　　2003/2-2004/7湖南省长沙望城山塘中学　　初三英语教师尝试外贸</p>
<p>　　2004/8-2005/2深圳产洋机械有限公司　　　外贸业务员　　继续攻读本科</p>
<p>　　<strong>　　教育背景</strong></p>
<p>　　毕业院校：　中南大学</p>
<p>　　最高学历：　本科毕业日期：　2006，7</p>
<p>　　所学专业一：　外语所学专业二：</p>
<p>　　<strong>　　受教育培训经历：</strong></p>
<p>　　2004/9--2006/7中南大学外语学院　　　应用英语</p>
<p>　　2000/9--2003/7湖南黄埔外语专科学院　经贸英语</p>
<p>　　<strong>　　语言能力</strong></p>
<p>　　外语：　英语外语水平：　六级</p>
<p>　　国语水平：　精通粤语水平：　较差</p>
<p>　　<strong>　　工作能力及其他专长</strong></p>
<p>　　Dear Sir/Madam:</p>
<p>　　It's my great honor to browse this personal information!</p>
<p>　　Since graduated from Hunan Huangpu Foreign Language College in 2003,I had done the teaching for one and half an year,and had worked in foreign trade business.</p>
<p>　　Until in Feb,2005,I returned to the South Central University for studying more knowledge and confirming objective.</p>
<p>　　During the past two years studing,I had been majoring the Application English on the base of Trading English,including the Advance English(one),Advance(two),Economy And Trade English,Busiess English Correspondence,Selected Readings In English And American Literatures,Chinese And English Translation Course,Interpret And Listening,Japanese,Advance English Writing etc.In addtion, I got the undergraduate diploma,flunetly oral English,good conpprehesion reading</p>
<p>　　better social communication ability!</p>
<p>　　For the time being, I would like to hunt the job that with regard to the trade business or English.I am sure that I should take advantage of my ability and experience to serve for your firm.</p>
<p>　　Thanks for your reading!</p>
<p>　　Looking forward to your replying!</p>
<p>　　With Best Regards,</p>
<p>　　Salina Hu&nbsp;</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5362D2015.html">热门粉色空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362Z2015.html">汽车运用与维修简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E192015.html">2009届毕业生个人简历表</a></li>
<li><a href="/zhichang/jianli/template/0H14CH2015.html">影视策划制作人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D152015.html">2010个人标准简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B552015.html">中医医生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B932015.html">建筑资料员求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C522015.html">报社编辑实习生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C552015.html">现代服装企业管理专业个人简历模</a></li>
<li><a href="/zhichang/jianli/template/0H14C042015.html">设计主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361X2015.html">计算机求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E102015.html">个人简历模板：人力资源主管</a></li>
<li><a href="/zhichang/jianli/template/0H14C142015.html">机械工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535W32015.html">金融行业个人求职简历模板-中文</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>