<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>软件测试工程师简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="软件测试工程师简历模板" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>软件测试工程师简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
软件测试工程师简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    智联招聘 　　发布日期：2010年05月29日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p align="center">　<strong><span style="font-size: 12pt">软件测试工程师简历模板（应届）</span></strong></p>
<p>　　<strong>姓</strong><strong>名：</strong> xxx&nbsp;<strong><strong>性别：</strong> 男<strong>年龄</strong>： XX</strong></p>
<p>　　<strong>户口所在地：</strong> 安徽省宣城市<strong>现居住地：</strong> 北京市朝阳区</p>
<p>　　<strong>手机</strong>：139XXXXXXXX<strong>电子邮件</strong>：98765@163.com</p>
<p>　　<strong>工作年限</strong> ：应届生</p>
<p>　　<strong>应聘职位：</strong> 软件测试</p>
<p>　　<strong>希望月薪：</strong> 2000元至3000 元</p>
<p>　　<strong>希望工作地区：</strong> 北京市</p>
<p>　　<strong>教育经历</strong></p>
<p>　　2007/9 -- 至今 西北工业大学，计算机软件与理论，硕士</p>
<p>　　2003/9 -- 2007/7 西北工业大学，软件工程，本科</p>
<p>　　<strong>在校情况</strong></p>
<p>　　2008/11：学院专项奖学金（二等）</p>
<p>　　2008/10：校优秀学生干部标兵</p>
<p>　　2007/9--2009/6 担任计算机学院研究生会副主席、主席，校腾讯创新技术俱乐部主席；在此期间有以下&nbsp;主要活动：</p>
<p>　　<span>&sup2;</span>2008.10参与策划了西北工业大学研究生学术年会中的计算机分论坛；</p>
<p>　　<span>&sup2;</span>2008.9 组织志愿者参加我校承办的全国计算机大会,负责大会志愿者的工作调配；</p>
<p>　　<span>&sup2;</span>2008.8 赴深圳参加了由腾讯公司举办的全国高校技术夏令营；</p>
<p>　　<span>&sup2;</span>2008.7 作为队长带领社会实践队赴南京进行就业考察（校级示范性团队，获校社会实践一等奖）；</p>
<p>　　<strong>实践经验</strong></p>
<p>　　2008/10 -- 2008/12： 本科计算机导论实验指导老师，辅导大一同学的上机实验课程。</p>
<p>　　2008/3 -- 2008/6： 本科操作系统实验指导教师，辅导大三同学的上机实验课程，主要是Linux操作系 统，以及Linux环境下的C语言编程等。</p>
<p>　　<strong>专业技能</strong></p>
<p>　　<span>l </span>C语言，精通</p>
<p>　　<span>l </span>C++，精通</p>
<p>　　<span>l</span>Java ，熟练</p>
<p>　　<span>l</span>Windows内核编程，熟练</p>
<p>　　<span>l</span>Linux操作系统以及编程，熟练</p>
<p>　　<strong>项目经验</strong></p>
<p>　　<strong>2008/1 -- 2009/8</strong><strong>：</strong><strong> Windows</strong><strong>连续数据保护系统</strong></p>
<p>　　软件环境： Windows XP</p>
<p>　　硬件环境： 普通PC，EMC磁盘阵列，Sun服务器</p>
<p>　　开发工具： Windows DDK</p>
<p>　　项目描述： 该系统实时的截获上层应用对被保护磁盘的每一个写请求，并将其封装上时间戳等控制信 息，存储到本地或异地的备份系统中，当灾难发生时可以以时间被保护磁盘任意时间点恢复。</p>
<p>　　责任描述： 担任项目组长，负责进度管理，数据恢复模块的具体设计与开发</p>
<p>　　<strong>2007/3 -- 2007/12</strong><strong>：</strong><strong> Windows</strong><strong>平台远程数据复制系统</strong></p>
<p>　　软件环境： Windows XP，WIndows Several 2003</p>
<p>　　硬件环境： 普通PC，以及EMC磁盘阵列，SUN服务器</p>
<p>　　开发工具： Windows DDK</p>
<p>　　项目描述： 该系统实时截获上层应用的写请求通过TCP/IP网络在异地建立一个或多个数据中心的一致性&nbsp;副本，当灾难发生时通过灾难迁移和回迁技术实现数据中心不间断的提供服务。</p>
<p>　　责任描述：负责用户命令模块的设计与开发</p>
<p>　　<strong>语言能力</strong></p>
<p>　　英语：大学英语六级</p>
<p>　　<strong>个人评价</strong></p>
<p>　　六年踏实的专业学习使我具备了扎实的专业基础，丰富的学生社团生活培养了我的沟通能力、组织协调能力以及强烈的团队意识。我相信自己可以很快的适应新工作，新环境、新文化，充满激情的去迎接新的挑战。</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5363422015.html">彩蝶飞舞彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14Aa2015.html">采购专员个人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B332015.html">播音主持本科毕业生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BQ2015.html">公司财务经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D012015.html">电子商务中专生简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B102015.html">商务营销专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B362015.html">银行客户经理应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BY2015.html">总经理助理及设计师简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114352015.html">顾问求职个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B412015.html">通信工程专业大学生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53620H015.html">采矿工程师中英文简历</a></li>
<li><a href="/zhichang/jianli/template/0F9114112015.html">外勤简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5362K2015.html">2012最新空白简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>