<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>简历模板：市场推广总监 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="简历模板：市场推广总监" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>简历模板：市场推广总监</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
简历模板：市场推广总监
                  </ul>
                  <ul class="news_left_date ti">
                     　　发布日期：2009年01月15日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　
<table id="d" style="width: 609px; height: 967px" cellspacing="1" cellpadding="4" width="609" bgcolor="#ffffff" border="0">
    <tbody>
        <tr valign="top">
            <td colspan="4">
            <p>&nbsp;</p>
            <p><strong>本人概况</strong>　　
            <table width="99%" border="0">
                <tbody>
                    <tr>
                        <td width="62%">姓名：XXX</td>
                        <td width="38%">性别：男</td>
                    </tr>
                    <tr>
                        <td width="62%">民族：汉</td>
                        <td width="38%">政治面目：群众</td>
                    </tr>
                    <tr>
                        <td width="62%">学历(学位)：学士</td>
                        <td width="38%">专业：商业经济管理</td>
                    </tr>
                    <tr>
                        <td width="62%">联系电话：12345678</td>
                        <td width="38%">手机：139000234</td>
                    </tr>
                    <tr>
                        <td width="62%">联系地址：北京市东城区XX大街10号</td>
                        <td width="38%">邮编：100007</td>
                    </tr>
                    <tr>
                        <td width="62%" height="17">Email Address： 12345678@sohu.com</td>
                        <td width="38%" height="17">呼机：66881122-1234</td>
                    </tr>
                </tbody>
            </table>
            </p>
            <p>　　<strong>教育背景</strong></p>
            <p>　　毕业院校：</p>
            <p>　　北京商学院 一1994.9--1998.7 商业经济管理专业 学士</p>
            <p>　　中国人民大学G1998.9--至今 <strong>一</strong>工商管理硕士 在读英语通过国家CET六级考试,英汉互译表达流畅。</p>
            <p>　　另：其他培训情况</p>
            <p>　　*</p>
            <p>　　<strong>*</strong>擅长利用Internet进行各种网际信息交流，具有一定网站建设、规划经验</p>
            <p>　　<strong>*</strong>熟练操作windows平台上的各类应用软件（如Word97、Excel97、Powerpoint</p>
            <p>　　Internet Explorer、Netscape Communicator等）</p>
            <p>　　<strong>工作经历</strong></p>
            <p>　　<strong>*</strong>1999.4---至今 一XX集团公司多媒体技术分公司</p>
            <p>　　<strong>企划总监</strong></p>
            <p>　　参与主持多媒体产品在国内的行销推广计划并主持实施/主管媒体联络及市场运作工作，与传媒进行谈判，并草拟所有有关法律文件/主管市场调查工作，进行代理产品的选型和评估，为公司总经理的决策制定提供重要依据/参与组织MGA产品发布会和展览会的实施，并担任技术发言人，应邀做为北京电视台电脑演播室节目嘉宾，参与制作、主持其多期节目/主管MGA产品的OEM工作，与双语公司、新天地公司、第三波公司等业界先进保持密切关系，且主持完成了多项合作项目</p>
            <p>　　<strong>*</strong>1998.6---1999.3 XX外国集团公司</p>
            <p>　　<strong>中国市场推广专员</strong></p>
            <p>　　负责与国内各大IT专业媒体进行联络，并与其编辑、记者及技术工程师保持着极为良好的业务关系及人际关系/负责公司的中国市场推广方案的制订/向各媒体提供产品以供测评，并在测评全过程中予以技术支持，协助其完成测评/负责与香港分公司保持日常联络，沟通其与媒体的关系，并为其安排与媒体会见的日程并陪同访问/负责组织新闻及技术类、市场类宣传文章的撰写，并具体实施发布工作</p>
            <p>　　<strong>*</strong>1998.2---1998.6 XX科技股份有限公司（兼职）</p>
            <p>　　为产品进行大量市场咨询工作/参与制定部分市场推广计划/撰写推广技术文章</p>
            <p>　　<strong>个人简介</strong></p>
            <p>　　对新技术有极高的热情，乐于接受新的挑战，并对未来技术发展趋势有敏感的洞察力；富有创造性思维，且独立完成工作能力强；性格开朗，善于与人交往，团队工作能力强；精力充沛，有极高的工作热情和强烈的责任心。</p>
            <p>　　请给我一次机会，我必将还您以夺目的光彩。</p>
            <p>　　<strong>本人性格</strong></p>
            <p>　　开朗、谦虚、自律、自信（根据本人情况）。</p>
            <p>　　<strong>另：</strong> <strong>最重要的是能力，相信贵公司会觉得我是此职位的合适人选！</strong></p>
            <p>　　<strong>期盼与您的面谈！</strong></p>
            </td>
        </tr>
    </tbody>
</table>
</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53D612015.html">Business English个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C192015.html">仓库管理员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B422015.html">人事招聘助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114052015.html">兼职平面设计师简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5362O2015.html">金融工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363022015.html">彩蝶飞舞美丽的彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CF2015.html">物流客服代表简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114452015.html">销售代表简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B362015.html">银行客户经理应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D122015.html">2010年会计文员个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C562015.html">电子商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535S12015.html">设计总监个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535O52015.html">销售代表个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535N02015.html">国际货代个人求职简历模板-中文</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>