<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>外贸跟单业务员的个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="外贸跟单业务员的个人简历模板" />
<meta name="description" content="外贸跟单业务员的个人简历模板" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>外贸跟单业务员的个人简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
外贸跟单业务员的个人简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    http://www./ 　　发布日期：2012年02月28日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　个人基本简历</p>
<p>　　姓　　名： *** 国籍： 中国</p>
<p>　　目前所在地： 广州 民族： 汉族</p>
<p>　　户口所在地： 湖北 身材： 165 cm　 kg</p>
<p>　　婚姻状况： 未婚 年龄： 30</p>
<p>　　培训认证：&nbsp;诚信徽章：</p>
<p>　　求职意向及工作经历</p>
<p>　　人才类型： 普通求职　</p>
<p>　　应聘职位： 贸易：贸易、采购：物流采购、房地产：房地产</p>
<p>　　工作年限： 5 职称： 无职称</p>
<p>　　求职类型： 全职 可到职日期： 随时</p>
<p>　　月薪要求： 面议 希望工作地区： 广州</p>
<p>　　个人工作经历： 公司名称： 起止年月：2006-09 ～ 2010-12广州伟博日用品有限公司</p>
<p>　　公司性质： 所属行业：</p>
<p>　　担任职务： 外贸业务员</p>
<p>　　工作描述： 1、日常产品报价及客户接洽；</p>
<p>　　2、客户跟进及产品打样；</p>
<p>　　3、订单确认、单证制作；</p>
<p>　　4、跟踪生产过程，并随时作出相应流程的改进；</p>
<p>　　5、跟踪出口空运、海运货物流程，按照销售合同制做出口相关单证；</p>
<p>　　6、负责采购出品产品所需部分配件；</p>
<p>　　7、期间参加广交会、香港展会、德国法兰克福展、美国芝加哥家居日用品展会，与国内外客户联系，做好产品介绍、沟通及衔接工作。</p>
<p>　　离职原因：</p>
<p>　　公司名称： 起止年月：2005-09 ～ 2006-08广州雅士基外贸公司</p>
<p>　　公司性质： 所属行业：</p>
<p>　　担任职务： 采购及秘书</p>
<p>　　工作描述： 1、寻求与采购公司所需的各类产品（如劳保用品、门窗五金等）；</p>
<p>　　2、了解有合作意向工厂的生产能力、资质及信誉考查，建立良好的合作关系；</p>
<p>　　3、出差外地工厂验货；</p>
<p>　　4、负责办公室日常事务。</p>
<p>　　离职原因：</p>
<p>　　志愿者经历：</p>
<p>　　教育背景</p>
<p>　　毕业院校： 华中师范大学</p>
<p>　　最高学历： 大专 毕业日期： 2005-07-01</p>
<p>　　所学专业一： 商务英语 所学专业二：</p>
<p>　　受教育培训经历： 起始年月 终止年月 学校（机构） 专　业 获得证书 证书编号</p>
<p>　　2002-09 2005-07 华中师范大学 商务英语 毕业证</p>
<p>　　语言能力</p>
<p>　　外语： 英语　良好</p>
<p>　　国语水平： 精通 粤语水平： 良好</p>
<p>　　工作能力及其他专长</p>
<p>　　1、具备与国外客户沟通能力及技巧，能较好地与客户进行业务交流及销售谈判，并具有一定的国外参展工作经验；</p>
<p>　　2、全面掌握外贸业务流程，可根据信用证单证要求，制作各种单证予银行进行交单结汇，如海运提单、产地证、出口许可证、发票、装箱单等；</p>
<p>　　3、擅长撰写和回复英文商业信函，熟悉涉外工作常用礼仪；</p>
<p>　　4、熟悉计算机办公及网络软件，具备较强的产品搜索能力。</p>
<p>　　详细个人自传</p>
<p>　　多年的贸易工作经历培养了我较强的自学能力和解决问题的能力，能设身处地为公司着想，尽个人所能为公司节约成本。待人处事自信成熟，较好的团队沟通协调能力，工作细致认真，富有开拓精神，能够承受较强的工作压力。</p>
<p>　　English Resume: PERSONAL&nbsp;RESUME</p>
<p>　　1.Personal brief introduction</p>
<p>　　Chinese Name:&nbsp;DePing Yao .</p>
<p>　　English Name:&nbsp;Donna Yao.</p>
<p>　　Sex:&nbsp;Female .</p>
<p>　　Date of Birth:&nbsp;27/08/1980.</p>
<p>　　Place of Birth:&nbsp;JingZhou,HuBei Province.</p>
<p>　　Height:&nbsp;165cm.</p>
<p>　　University:&nbsp;Center China Normal University.,</p>
<p>　　Major:&nbsp;English sh</p>
<p>　　Telephone:&nbsp;18666001910&nbsp;Email: </p>
<p>　　Hobbies:&nbsp;Internet-surfing, travel, Reading.</p>
<p>　　2. Position Wanted</p>
<p>　　Position refer to trade business,such as Merchandiser,logistics department,</p>
<p>　　International Trade Specialist/Assistant ,QA/QC ,Quality Inspector/Tester.,etc</p>
<p>　　Accept business trip.</p>
<p>　　3. Educational background</p>
<p>　　2002/09&mdash;2005/07 Center China Normal University,College of Foreign language.</p>
<p>　　1996/09&mdash;1998/07 JingZhou Technical Secondary College.</p>
<p>　　4. Job Experience</p>
<p>　　2006/09-2010/12&nbsp;work as a foreign trade assistant in Guangzhou homepoint housewares Co.,ltd</p>
<p>　　Attending various exhibition at home and abroad(such as Canton fair/Frankfurt Ambiente/Chicago home&amp;housewares show),to maintaining business relationship with clients;controlling production progress and make whole doucuments for export/shipping,and following-up with afterwards selling achievement.</p>
<p>　　2005/09-2006/08&nbsp;work as secretary and purchaser in a foreign trade company.</p>
<p>　　Be responsible for the administrative work,handling daily routine,pushing ahead the working planning and managing documents,arranging relevant reception.</p>
<p>　　Sourcing reliable suppliers in domestic and following up the order including inspection and shipment.</p>
<p>　　5.Others</p>
<p>　　Computer Skills: Microsoft office，such as word，excel，powerpoint，etc.</p>
<p>　　Language: Cantonese and English</p>
<p>　　6.Self- Evaluation</p>
<p>　　I am an optimistic person with good organizational and communication skills;</p>
<p>　　with experience working in a large corporation, I can sustain multiple tasks and</p>
<p>　　work under pressure in a fast-paced environment. I hope to have the opportunity</p>
<p>　　to grow up with your company together.</p>
<p>　　个人联系方式</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C102015.html">国际商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363542015.html">网络公司技术支持部经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CB2015.html">会计专业本科生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C422015.html">职业规划师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C432015.html">文案创意员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C342015.html">中医科医生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C402015.html">秘书实务专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361O2015.html">PHP计算机程序员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C442015.html">销售专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C062015.html">注塑技术员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535O52015.html">销售代表个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G5362A2015.html">2012模具专业求职简历</a></li>
<li><a href="/zhichang/jianli/template/0G5362O2015.html">金融工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E322015.html">大学毕业生个性简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>