<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>经典个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="经典个人简历模板" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>经典个人简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
经典个人简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    应届毕业生求职网 　　发布日期：2009年01月03日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　　姓&nbsp;名：&nbsp;章某&nbsp;性&nbsp;别：&nbsp;男</p>
<p>　　出生日期： 1971年07月28日&nbsp;居 住 地： 上海市</p>
<p>　　工作年限： 二年以上&nbsp;户&nbsp;口：&nbsp;上海</p>
<p>　　目前年薪： 8-10万人民币</p>
<p>　　地&nbsp;址：&nbsp;上海市古田西路xx号xx室</p>
<p>　　邮&nbsp;编：&nbsp;200121</p>
<p>　　电子邮件： xxxx@51job.com</p>
<p>　　家庭电话： 086-21-12345678</p>
<p>　　移动电话： 13900000000</p>
<p>　　个人主页： http://www.xxxx.com/</p>
<p>　　自 我 评 价</p>
<p>　　本人是一个工作认真负责、积极主动、善于团队工作的人，思维严谨，具有较高的技术水平和丰富的管理经验。适合从事IT领域售前售后技术支持领导工作。</p>
<p>　　求 职 意 向</p>
<p>　　工作性质： 全职</p>
<p>　　希望行业： 信息技术和互联网(计算机软硬件,通讯)</p>
<p>　　目标地点： 上海市</p>
<p>　　期望工资： 10000-14999元人民币/月</p>
<p>　　目标职能： 计算机/互联网/通讯，高级软件工程师</p>
<p>　　工 作 经 验</p>
<p>　　1998/07--至今：XXXXXX网络系统工程有限公司</p>
<p>　　所属行业： 信息技术和互联网(计算机软硬件,通讯)</p>
<p>　　产品及技术支持部&nbsp;部门经理</p>
<p>　　1.负责大客户的售前支持 2.制定新产品的技术支持方案 3.负责部门日常管理，协调部门内部工作 4.负责销售人员和技术支持工程师的技术培训。</p>
<p>　　汇报对象： CTO 下属人数： 30</p>
<p>　　证 明 人： David.yan</p>
<p>　　工作业绩： 主持开发了如下网络系统工程的技术支持方案：</p>
<p>　　1、XX大学国家图象重点试验室网络工程</p>
<p>　　2、XXXX展览中心网络系统工程</p>
<p>　　3、XXX银行网络改造工程</p>
<p>　　1996/11--1998/06：美国XXXXXX计算机有限公司上海办事处</p>
<p>　　所属行业： 信息技术和互联网(计算机软硬件,通讯)</p>
<p>　　信息技术部&nbsp;技术支持工程师</p>
<p>　　1.负责产品售前、售后技术支持</p>
<p>　　2.负责销售渠道和用户的技术培训</p>
<p>　　3.负责产品技术文档的翻译工作</p>
<p>　　汇报对象： 部门经理 下属人数： 5</p>
<p>　　离职原因： 合同到期</p>
<p>　　工作业绩： 作为Project Leader, 领导了&ldquo;企业管理自动化&rdquo;项目的开发。</p>
<p>　　1993/07--1996/10：XXXXXXX信息系统有限公司</p>
<p>　　所属行业： 信息技术和互联网(计算机软硬件,通讯)</p>
<p>　　信息技术部&nbsp;系统工程师</p>
<p>　　1.负责为用户进行XX工作站及UNIX系统集成项目支持、服务及培训；</p>
<p>　　2.参与开发SUN SPARC兼容工作站；</p>
<p>　　3.用户售前咨询。</p>
<p>　　汇报对象： 部门经理 下属人数： 3</p>
<p>　　工作业绩： 1、参与建立了XX连锁超市收银系统</p>
<p>　　2、编制公司内部人事财务管理系统</p>
<p>　　项 目 经 验</p>
<p>　　1997/01--1998/02：企业管理自动化</p>
<p>　　软件环境： PB, VB.Oracle, Notes</p>
<p>　　硬件环境： IBM, SUN</p>
<p>　　开发工具： PB, VC</p>
<p>　　项目描述： 这个项目的目的是为了是企业的管理能够实现计算机自动管理，包括生产/财务/OA等等。</p>
<p>　　责任描述： 负责项目的前期调研，可行性分析报告编写，整体规划和项目控制等等</p>
<p>　　教 育 经 历</p>
<p>　　1989/09--1993/07： XXXX大学 电气工程及其自动化&nbsp;本科</p>
<p>　　1986/09--1989/07： XXXX市华东师大二附中&nbsp;高中</p>
<p>　　培 训 经 历</p>
<p>　　1996/03--1996/04： 上海微软高级技术培训中心 系统工程师培训 微软公司系统工程师证书</p>
<p>　　证 书</p>
<p>　　1996/04 微软认证系统工程师</p>
<p>　　1995/09 全国计算机等级三级B</p>
<p>　　1992/06 大学英语六级</p>
<p>　　语 言 能 力</p>
<p>　　英语&nbsp;精通</p>
<p>　　日语&nbsp;一般</p>
<p>　　IT 技 能</p>
<p>　　技能名称 熟练程度 使用时间</p>
<p>　　Configuration Management 熟练 15个月</p>
<p>　　MCSD 精通 20个月</p>
<p>　　Sun Solaris 熟练 15个月</p>
<p>　　附 加 信 息</p>
<p>　　兴趣爱好： 上网，看书</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C932015.html">商务英语专业求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E392015.html">个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G53E102015.html">个人简历模板：人力资源主管</a></li>
<li><a href="/zhichang/jianli/template/0F9114242015.html">民用建筑求职简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53D5R015.html">2010年5月个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361X2015.html">计算机求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363542015.html">网络公司技术支持部经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114532015.html">销售精英简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53DL2015.html">简历模板：网络维护</a></li>
<li><a href="/zhichang/jianli/template/0G535P22015.html">电子维修员个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G5359202015.html">SEO简历封面及模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EE2015.html">法律事务专业简历</a></li>
<li><a href="/zhichang/jianli/template/0H14CV2015.html">报关员职位的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362D2015.html">热门粉色空白简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>