<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>行政员个人简历 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="行政员个人简历" />
<meta name="description" content="行政员个人简历" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>行政员个人简历</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
行政员个人简历
                  </ul>
                  <ul class="news_left_date ti">
                    http://www./ 　　发布日期：2012年02月20日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p align="center"><span style="font-size: medium"><strong>行政员个人简历范文</strong></span></p>
<p>　　姓 名：</p>
<p>　　目前所在： 花都区 年　　龄： 29</p>
<p>　　户口所在： 肇庆 国　　籍： 中国</p>
<p>　　婚姻状况： 已婚 民　　族： 汉族</p>
<p>　　诚信徽章： 未申请 身　　高： 160 cm</p>
<p>　　人才测评： 未测评 体　　重： 44 kg</p>
<p>　　求职意向</p>
<p>　　人才类型： 普通求职　</p>
<p>　　应聘职位： 商务/电子商务-经理/主管/专员/助理， 行政总监/经理/主管， 会计</p>
<p>　　工作年限： 8 职　　称： 无职称</p>
<p>　　求职类型： 全职 可到职日期： 随时</p>
<p>　　月薪要求： 2000--3500 希望工作地区： 广州,花都区,</p>
<p>　　工作经历</p>
<p>　　广州市花都区**门业制造厂　　 起止年月：2009-10 ～ 2011-11</p>
<p>　　公司性质： 私营企业　　所属行业：批发/零售</p>
<p>　　担任职位： 会计/行政主管</p>
<p>　　工作描述： 全盘做公司财务内账。</p>
<p>　　广州市**工艺品有限公司　　 起止年月：2007-02 ～ 2009-10</p>
<p>　　公司性质： 民营企业　　所属行业：影视/媒体/艺术</p>
<p>　　担任职位： 行政主管/财务助理</p>
<p>　　工作描述： 1、负责统计员工<u>工资</u>/奖金的核算，每月员工考勤统计表的整理及汇总；</p>
<p>　　2.负责使用用友软件操作仓库进出仓管理工作。</p>
<p>　　3、负责后勤的饭堂及生产材料的采购控制。</p>
<p>　　4.负责公司固定资产管理工作。</p>
<p>　　5、负责厂区内卫生管理工作。</p>
<p>　　6、负责人事招聘工作，日常员工入职、离职手续办理及对各类资料进行签收，整理并分类归档。（厂内程序文件//会议资料/各类培训资料/考勤资料/奖惩资料/人事资料等分类整理）</p>
<p>　　7、其它办公室日常工作。</p>
<p>　　离职原因： 个人原因</p>
<p>　　广州市**服装有限公司　　 起止年月：2002-09 ～ 2007-01</p>
<p>　　公司性质： 中外合资　　所属行业：服装/纺织/皮革/鞋业</p>
<p>　　担任职位： 行政助理/财务助理</p>
<p>　　工作描述： 职责：</p>
<p>　　1、负责工厂员工月工资的核算和发放。</p>
<p>　　2、负责每月办公文具用品的采购、领用填单、盘存；监控各部门领用情况；统计月收发盘存报表。</p>
<p>　　3、负责每月员工考勤统计表的整理及汇总；</p>
<p>　　4、日常员工入职、离职手续办理及对各类资料进行签收，整理并分类归档。</p>
<p>　　5、公司文件及员工档案管理;每月公司通讯集群网员工入退登记办理；</p>
<p>　　6、负责公司出货数的月报表统计。</p>
<p>　　7、负责高层管理会议纪要的记录。</p>
<p>　　8、负责饭堂每日用餐菜肉订购及员工宿舍的管理工作。</p>
<p>　　9、其它办公室日常工作。</p>
<p>　　离职原因： 想换另一个发展空间</p>
<p>　　教育背景</p>
<p>　　毕业院校： 湖北省能源经济学校</p>
<p>　　最高学历： 大专　　获得学位: 毕业日期： 2002-07</p>
<p>　　专 业 一： 商务英语 专 业 二： 会计</p>
<p>　　起始年月 终止年月 学校（机构） 所学专业 获得证书 证书编号</p>
<p>　　1999-09 2002-07 湖北省能源经济学校 商务英语 - -</p>
<p>　　2009-02 2009-06 中华会计网花都分校 会计 会计从业资格 -</p>
<p>　　语言能力</p>
<p>　　外语： 英语　优秀 粤语水平： 优秀</p>
<p>　　其它外语能力： 粤语</p>
<p>　　国语水平： 优秀</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53F022015.html">律师中文简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361C2015.html">应届毕业生最实用求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B112015.html">测绘工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D612015.html">Business English个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CN2015.html">工商管理专业学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C312015.html">工程经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362332015.html">市场拓展简历</a></li>
<li><a href="/zhichang/jianli/template/0G5362512015.html">应届生万能简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362Z2015.html">汽车运用与维修简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BJ2015.html">结构工程师简历模板参考</a></li>
<li><a href="/zhichang/jianli/template/0G53635H015.html">冬意-彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BU2015.html">最新销售求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114352015.html">顾问求职个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5363362015.html">简洁实用的个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>