<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>PHP计算机程序员个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="PHP计算机程序员个人简历模板" />
<meta name="description" content="PHP计算机程序员个人简历模板" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>PHP计算机程序员个人简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
PHP计算机程序员个人简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    <strong></strong> 　　发布日期：2012年08月20日 10:44
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <div>
	<p align="center">
		<strong>个人简历</strong></p>
</div>
<p>
	&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width: 79px">
				<p>
					姓&nbsp;&nbsp;&nbsp; 名：</p>
			</td>
			<td style="width: 84px">
				<p>
					</p>
			</td>
			<td style="width: 72px">
				<p>
					性&nbsp;&nbsp;&nbsp; 别：</p>
			</td>
			<td style="width: 108px">
				<p>
					男</p>
			</td>
			<td style="width: 72px">
				<p>
					&nbsp;</p>
			</td>
			<td rowspan="5" style="width: 153px">
				<table border="1" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td style="width: 120px; height: 146px">
								<p align="center">
									贴照片处</p>
							</td>
						</tr>
					</tbody>
				</table>
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 79px">
				<p>
					出生年月：</p>
			</td>
			<td style="width: 84px">
				<p>
					***</p>
			</td>
			<td style="width: 72px">
				<p>
					联系电话：</p>
			</td>
			<td style="width: 108px">
				<p>
					150***</p>
			</td>
			<td style="width: 72px">
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 79px">
				<p>
					学&nbsp;&nbsp;&nbsp; 历：</p>
			</td>
			<td style="width: 84px">
				<p>
					硕士</p>
			</td>
			<td style="width: 72px">
				<p>
					专&nbsp;&nbsp;&nbsp; 业：</p>
			</td>
			<td style="width: 108px">
				<p>
					互联网&middot;电子商务</p>
			</td>
			<td style="width: 72px">
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 79px">
				<p>
					工作经验：</p>
			</td>
			<td style="width: 84px">
				<p>
					3年</p>
			</td>
			<td style="width: 72px">
				<p>
					民&nbsp;&nbsp;&nbsp; 族：</p>
			</td>
			<td style="width: 108px">
				<p>
					汉</p>
			</td>
			<td style="width: 72px">
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 79px">
				<p>
					毕业学校：</p>
			</td>
			<td colspan="3" style="width: 264px">
				<p>
					***交通大学</p>
			</td>
			<td style="width: 72px">
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 79px">
				<p>
					住&nbsp;&nbsp;&nbsp; 址：</p>
			</td>
			<td colspan="5" style="width: 489px">
				<p>
					***</p>
			</td>
		</tr>
		<tr>
			<td style="width: 79px">
				<p>
					电子信箱：</p>
			</td>
			<td colspan="5" style="width: 489px">
				<p>
					***</p>
			</td>
		</tr>
	</tbody>
</table>
<div>
	<p>
		自我简介：</p>
</div>
<p>
	&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width: 568px">
				<p align="left">
					1.有良好的大局观，责任心较强，能与团队成员很好的交流。实习期间较快融入公司环境，并和同事合作顺利。<br />
					2.快速学习能力与自主学习能力突出，心态稳重，勤于思考，能坚持学习和工作。<br />
					3.环境适应能力强，毕业之前曾先后在哈尔滨，北京，武汉，深圳学习和工作过，能很好各地区人文和地理环境。</p>
				<p>
					资深 WEB 程序员，拥有较丰富的 WEB 开发经验和网页制作经验，曾经自主开发了多个网站，并且拥有 B/S 信息管理系统的开发经验！精通 PHP 程序开发，熟悉&nbsp; ASP.NET&nbsp; 编程，并对 PHP 等其他 WEB 编程语言有一定的了解！专注于社会性网络方面的开发。<br />
					1 、精通 PHP 、 SQL 标准语句，熟悉&nbsp; C#&nbsp; 语言和&nbsp; ASP.NET&nbsp; 开发，熟悉&nbsp; AJAX&nbsp; 技术。<br />
					2 、熟悉 SQL Server 、 Mysql 等数据库系统的使用，了解其他数据库的一些基本应用。<br />
					3 、熟悉&nbsp; XHTML 、 CSS 、 Javascript 、 Jquery ，可以写出&nbsp; W3C&nbsp; 标准代码。<br />
					4 、熟悉 Windows 服务器的配置及操作，了解&nbsp; Linux 等服务器操作系统。</p>
			</td>
		</tr>
	</tbody>
</table>
<div>
	<p>
		求职意向：</p>
</div>
<p>
	&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width: 115px">
				<p>
					<strong>目标职位：</strong></p>
			</td>
			<td style="width: 453px">
				<p align="left">
					软件工程师 | 高级软件工程师 | 项目经理&middot;项目主管</p>
			</td>
		</tr>
		<tr>
			<td style="width: 115px">
				<p>
					<strong>目标行业：</strong></p>
			</td>
			<td style="width: 453px">
				<p align="left">
					互联网&middot;电子商务 | 网络游戏 | 计算机软件</p>
			</td>
		</tr>
		<tr>
			<td style="width: 115px">
				<p>
					<strong>期望薪资：</strong></p>
			</td>
			<td style="width: 453px">
				<p align="left">
					税前年薪RMB150000</p>
			</td>
		</tr>
		<tr>
			<td style="width: 115px">
				<p>
					<strong>期望地区：</strong></p>
			</td>
			<td style="width: 453px">
				<p align="left">
					***</p>
			</td>
		</tr>
		<tr>
			<td style="width: 115px">
				<p>
					<strong>到岗时间：</strong></p>
			</td>
			<td style="width: 453px">
				<p style="margin-left: 9pt">
					面谈</p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<div>
	<p>
		工作经历：</p>
</div>
<p>
	&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width: 115px">
				<p>
					<strong>2009.12-2010.11</strong></p>
			</td>
			<td style="width: 453px">
				<p align="left">
					<strong>***</strong><strong>信息技术有限公司</strong></p>
				<p align="left">
					<strong>PHP</strong><strong>程序员</strong></p>
				<p align="left">
					职责和业绩：</p>
				<p align="left">
					参与项目模块的需求分析；</p>
				<p align="left">
					运营部和策划部接口人，按照策划文档，带领小组成员对游戏模块进行分析，并分配工作，实现功能需求；</p>
				<p align="left">
					负责对测试人员返回的bug 进行统筹分配修改；</p>
				<p align="left">
					对游戏后台管理功能进行设计、功能分配；</p>
				<p align="left">
					兼职系统管理员（FreeBSD），进行日常游戏版本更新和管理后台维护。<br />
					从开始的设计，编码，到逐步完善功能需求，在这个过程中，为了使程序达到更有效率，在高并发量用户在线的情况下，保持游戏稳定运行。</p>
				<p align="left">
					多次进行 code review；现在整个游戏系统已经能够满足3K并发量的访问。</p>
				<p align="left">
					同时，不断对数据库进行性能调优，通过修改字段的类型、使用join和UNION代替子查询及临时表、使用触发器和事务以及增加索引和外键等方式对数据库进行优化；使用mysql的slave对master库进行被同步，当master库机器宕机，可立即指向slave库所在服务器，把损失降至最低。<br />
					项目描述：</p>
				<p align="left">
					体育类网页游戏，网页游戏在08、09年获得很大发展，网民对娱乐需求持续攀升；两款游戏采用 FreeBSD+Apache2.2+mysql5.0+PHP5技术进行开发；</p>
				<p align="left">
					程序架构运用MVC模式，实现视图+控制+类的有效区分；</p>
				<p align="left">
					提升了代码的可维护性，极大方便了游戏模块的增加及二次开发。</p>
			</td>
		</tr>
		<tr>
			<td style="width: 115px">
				<p>
					<strong>2009.10-2011.1</strong></p>
			</td>
			<td style="width: 453px">
				<p align="left">
					<strong>最近的公司名称保密</strong></p>
				<p align="left">
					<strong>PHP</strong><strong>工程师</strong></p>
				<p align="left">
					职责和业绩：</p>
				<p align="left">
					&nbsp;主要负责***游戏平台所有前端程序相关工作（支持国内外30余款游戏官网、注册、充值、app、答疑、积分、密保，等等功能），下属5人。<br />
					个人直接负责***、***、***各充值渠道的接入与维护。<br />
					&nbsp; &nbsp; 在职期间，主要完成了：<br />
					&nbsp; &nbsp; &nbsp; &nbsp; 1.国内平台整体架构调整：官网、注册站页面动静态分离，官网服务器的高可用架构的调整。<br />
					&nbsp; &nbsp; &nbsp; &nbsp; 2.cms底层重构，自动化工具开发：主要包括引入cakephp，权限管理重构，半自动嵌套页面工具，题库管理，客户端程序下载管理等新工具开发。</p>
			</td>
		</tr>
		<tr>
			<td style="width: 115px">
				<p>
					<strong>2008.6-2009.10</strong></p>
			</td>
			<td style="width: 453px">
				<p align="left">
					<strong>***</strong><strong>网络公司</strong></p>
				<p align="left">
					<strong>PHP</strong><strong>工程师</strong></p>
				<p align="left">
					职责和业绩：</p>
				<p align="left">
					负责***软件中WorkFlow, Search(Global Search &amp; Saved Search), Pagination, Mass Update, Dashboard等功能的维护，修正软件中的Bug、开发部分新特性，处理一些产品中文化遇到的难点：如FreeTDS, pdf, 甚至包括一些php的bug；承担公司部分项目对产品进行修改与定制：<br />
					&nbsp; &nbsp; &nbsp; &nbsp; 为杭州***定制试用版（修改权限系统、报表系统）；<br />
					&nbsp; &nbsp; &nbsp; &nbsp; 为香港***地产提供问卷调查管理的解决方案；</p>
				<p align="left">
					协助公司合作伙伴，为客户上门解决产品问题 (主要为环境配置、以及sql server上一些sql兼容性问题)。</p>
			</td>
		</tr>
	</tbody>
</table>
<div>
	<p>
		教育培训：</p>
</div>
<p>
	&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width: 115px">
				<p>
					<strong>2006.9-2008.6</strong></p>
			</td>
			<td style="width: 453px">
				<p align="left">
					***<strong>交通大学</strong></p>
				<p align="left">
					<strong>硕士</strong></p>
				<p align="left">
					专业：</p>
				<p align="left">
					国家生命科学人才培养基地</p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14BZ2015.html">技术管理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C162015.html">自动化系检测专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B232015.html">英语专业本科应届毕业生个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G53E142015.html">人力资源主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C432015.html">文案创意员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361I2015.html">预算员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C122015.html">英德双语专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B3H015.html">景观设计在校学生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535K42015.html">电商英文个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G53D012015.html">电子商务中专生简历</a></li>
<li><a href="/zhichang/jianli/template/0G53E562015.html">个人简历——电话销售</a></li>
<li><a href="/zhichang/jianli/template/0H14B032015.html">国际经济与贸易专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535KH015.html">测控技术与仪器业个人简历模板-</a></li>
<li><a href="/zhichang/jianli/template/0G53E932015.html">市场推广中文简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>