<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>计算机求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="计算机求职简历模板" />
<meta name="description" content="计算机求职简历模板" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>计算机求职简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
计算机求职简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    <strong></strong> 　　发布日期：2012年08月31日 10:47
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>
	　　个人概况：</p>
<p>
	　　姓&nbsp;名：谢xx&nbsp;性&nbsp;别：男</p>
<p>
	　　出生年月：1988.1&nbsp;民&nbsp;族：汉</p>
<p>
	　　籍&nbsp;贯：湖南省郴州市安仁县&nbsp;学&nbsp;历：大专</p>
<p>
	　　专&nbsp;业：计算机应用</p>
<p>
	　　毕业院校：湖南科技经贸职业学院</p>
<p>
	　　现居住地：</p>
<p>
	　　联系方式：</p>
<p>
	　　E-mail: </p>
<p>
	　　兴趣爱好：看书、打羽毛球、上网等</p>
<p>
	　　特&nbsp;长：为自己设立不同的阶段目标，做出职业生涯规划，自我鼓励；有较强文字组织能力（中学时期曾多次在校刊发表文章，其中《》被选入《》）。</p>
<p>
	　　自我评价：性格较缓，比较适合做细致的事情;诚恳随和，人际关系良好；做事有强烈的责任心和上进心，有团队合作精神(曾是大型国际网游魔兽世界公会主力队员，后因学习退出)，以大局为重，懂得换位思考；能够经常自我反省与剖析自我。</p>
<p>
	　　教育背景：</p>
<p>
	　　1. 2006.9-2008.6 湖南科技经贸职业学院，计算机应用专业（大专修业2年期满，现实习阶段）；</p>
<p>
	　　2003.9-2006.6 湖南安仁第一中学，高中</p>
<p>
	　　2.英语水平：3级A，基本能欣赏英语电影</p>
<p>
	　　计算机程度：能够基本运用word、exel、ppt，熟悉各类网络工具。</p>
<p>
	　　汽车驾驶：C1驾照</p>
<p>
	　　实践与实习：</p>
<p>
	　　2006.7-2006.9 社会实践：东莞长安天裕电脑网络科技公司，东莞市长安镇，学徒。</p>
<p>
	　　1）迎送顾客，导购；</p>
<p>
	　　2）电脑组装，各类常用软件的安装;</p>
<p>
	　　3）到各单位，门面，居民家中分发宣传册等。</p>
<p>
	　　在实习期间能认真听从师傅的教导，有不懂的地方能主动向师傅及师兄请教。一个多月的学徒经历虽然没能学到高深的专业知识，但使我对什么是工作有了进一步了解：我觉得工作不仅仅是拿到薪水，更重要的是在工作的过程中学到的经验。</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5361O2015.html">PHP计算机程序员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113Z2015.html">营业部大堂经理个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C3H015.html">工程监理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535K12015.html">大学本科生个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14C102015.html">国际商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14Bb2015.html">市场企划经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14B3R015.html">会计文员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BB2015.html">2015跳槽英文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CH2015.html">影视策划制作人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F0H015.html">中文简历模板——市场推广总监</a></li>
<li><a href="/zhichang/jianli/template/0G5362192015.html">外贸跟单业务员的个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535P22015.html">电子维修员个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G5359402015.html">2013年最新行政助理中文简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>