<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>房地产销售经理简历-中文简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="房地产销售经理简历" />
<meta name="description" content="深圳人才网(0755rc.com)提供房地产销售经理简历！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>房地产销售经理简历-中文简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
房地产销售经理简历
                  </ul>
                  <ul class="news_left_date ti">
                    www. 　　发布日期：2012年04月11日 10:24
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-6851808455888827";
					/* 468&#42;15 */
					google_ad_slot = "8157759543";
					google_ad_width = 468;
					google_ad_height = 15;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <dl id="Information" style="border-bottom: rgb(153,204,255) 1px solid; text-align: left; border-left: rgb(153,204,255) 1px solid; padding-bottom: 0px; widows: 2; text-transform: none; text-indent: 0px; margin: 0px 0px 4px; padding-left: 0px; width: 850px; letter-spacing: normal; padding-right: 0px; font: 12px 瀹嬩綋; white-space: normal; orphans: 2; float: left; color: rgb(51,51,51); border-top: rgb(153,204,255) 1px solid; border-right: rgb(153,204,255) 1px solid; word-spacing: 0px; padding-top: 0px; border-image: initial; webkit-text-size-adjust: auto; webkit-text-stroke-width: 0px">
	<dt style="background-image: url(http://www./fck_upload/Image//2012/04/11/201204111024190871.gif); border-bottom: rgb(153,204,255) 1px solid; padding-bottom: 0px; line-height: 26px; margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; height: 26px; padding-top: 0px">
		<strong style="float: left; color: rgb(21,91,161); margin-left: 12px">个人信息</strong></dt>
	<dd style="padding-bottom: 0px; background-color: rgb(255,255,255); margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; padding-top: 12px">
		<img alt="" height="110" src="http://www./fck_upload/Image/2012/04/11/201204111024192672.gif" style="border-bottom: rgb(153,204,255) 1px solid; border-left: rgb(153,204,255) 1px solid; padding-bottom: 0px; margin: 5px 40px 15px 20px; padding-left: 0px; padding-right: 0px; float: left; vertical-align: middle; border-top: rgb(153,204,255) 1px solid; border-right: rgb(153,204,255) 1px solid; padding-top: 0px; border-image: initial" width="88" />
		<p class="p2" style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 680px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			姓名：张军</p>
		<p style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			性别：男</p>
		<p style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			出生日期：1984 年 4 月</p>
		<p class="p1" style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 150px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			民族：汉族</p>
		<p style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			身高：178</p>
		<p style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			婚姻状况：已婚</p>
		<p class="p" style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			工作经验：6 年以上</p>
		<p style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			毕业院校：长江大学</p>
		<p style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			专业：房地产销售</p>
		<p class="p1" style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 150px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			学历：不限</p>
		<p class="p2" style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 680px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: 25px; border-left-width: 0px; padding-top: 0px">
			能力特长：<strong style="color: rgb(204,0,0); font-weight: normal">思维敏捷，6年房地产销售经验。</strong></p>
		<dl style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px">
			<dt style="background-image: url(http://www./fck_upload/Image//2012/04/11/201204111024192873.gif); border-bottom: rgb(255,255,255) 1px; border-left: rgb(255,255,255) 1px; padding-bottom: 0px; line-height: 26px; margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; height: 26px; border-top: rgb(255,255,255) 1px; border-right: rgb(255,255,255) 1px; padding-top: 0px; border-image: initial">
				<strong style="background-image: url(http://www./fck_upload/Image//2012/04/11/201204111024193074.gif); text-align: center; line-height: 26px; width: 114px; display: block; float: left; height: 26px; color: rgb(21,91,161); margin-left: 90px">自我评价</strong></dt>
			<dd style="padding-bottom: 10px; background-color: rgb(255,255,255); margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; padding-top: 10px">
				<p style="padding-bottom: 0px; line-height: 25px; border-right-width: 0px; text-indent: 24px; margin: 0px; padding-left: 30px; width: auto; padding-right: 20px; float: left; border-top-width: 0px; border-bottom-width: 0px; height: auto; border-left-width: 0px; padding-top: 0px">
					一颗积极向上的心，是能做好事的关键，并且具备一个注意细节的习惯，是成功的必然因素。个人从开始在外工作就是从事销售，而且并未打算放弃，希望能有更好的环境让自己能有更好的平台施展。我相信，一个好的平台也需要一个能够胜任的人，我期待未来给我的考验！</p>
			</dd>
		</dl>
		<div class="Contact" style="border-bottom-style: none; text-align: left; padding-bottom: 0px; line-height: 22px; margin: 0px; border-left-style: none; padding-left: 50px; width: 200px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 10px">
			&nbsp;</div>
		<dl style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px">
			<dt style="background-image: url(http://www./fck_upload/Image//2012/04/11/201204111024193275.gif); border-bottom: rgb(255,255,255) 1px; border-left: rgb(255,255,255) 1px; padding-bottom: 0px; line-height: 26px; margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; height: 26px; border-top: rgb(255,255,255) 1px; border-right: rgb(255,255,255) 1px; padding-top: 0px; border-image: initial">
				&nbsp;</dt>
		</dl>
	</dd>
</dl>
<dl id="Intention" style="border-bottom: rgb(255,153,51) 1px solid; text-align: left; border-left: rgb(255,153,51) 1px solid; padding-bottom: 0px; widows: 2; text-transform: none; text-indent: 0px; margin: 0px 0px 4px; padding-left: 0px; width: 850px; letter-spacing: normal; padding-right: 0px; font: 12px 瀹嬩綋; white-space: normal; orphans: 2; float: left; color: rgb(51,51,51); border-top: rgb(255,153,51) 1px solid; border-right: rgb(255,153,51) 1px solid; word-spacing: 0px; padding-top: 0px; border-image: initial; webkit-text-size-adjust: auto; webkit-text-stroke-width: 0px">
	<dt style="background-image: url(http://www./fck_upload/Image//2012/04/11/201204111024193476.gif); border-bottom: rgb(255,153,51) 1px solid; padding-bottom: 0px; line-height: 26px; margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; height: 26px; padding-top: 0px">
		<strong style="line-height: 26px; height: 26px; margin-left: 20px">求职意向</strong></dt>
	<dd style="padding-bottom: 10px; background-color: rgb(255,255,255); margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; padding-top: 10px">
		<p style="padding-bottom: 0px; line-height: 24px; border-right-width: 0px; margin: 0px; padding-left: 20px; width: 800px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			目前状态：在职，希望换一个工作(到岗时间一个月左右)</p>
		<p class="p1" style="padding-bottom: 0px; line-height: 24px; border-right-width: 0px; margin: 0px; padding-left: 20px; width: 250px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			希望行业1：<u>房产/建筑/物业/装饰</u><br />
			希望行业2：不限</p>
		<p class="p2" style="padding-bottom: 0px; line-height: 24px; border-right-width: 0px; margin: 0px; padding-left: 20px; width: 550px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			期望职位：<font color="#000000">房地产销售<span class="Apple-converted-space">&nbsp;</span>销售经理/主管</font><span class="Apple-converted-space">&nbsp;</span></p>
		<p class="p1" style="padding-bottom: 0px; line-height: 24px; border-right-width: 0px; margin: 0px; padding-left: 20px; width: 250px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			<span style="border-bottom-style: none; text-align: left; padding-bottom: 0px; margin: 0px; border-left-style: none; padding-left: 0px; width: 850px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 0px">工作类型：全职</span></p>
		<p class="p2" style="padding-bottom: 0px; line-height: 24px; border-right-width: 0px; margin: 0px; padding-left: 20px; width: 550px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			<span style="border-bottom-style: none; text-align: left; padding-bottom: 0px; margin: 0px; border-left-style: none; padding-left: 0px; width: 850px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 0px">期望薪水：面议</span></p>
		<p style="padding-bottom: 0px; line-height: 24px; border-right-width: 0px; margin: 0px; padding-left: 20px; width: 800px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			其他要求：</p>
		<p style="padding-bottom: 0px; line-height: 24px; border-right-width: 0px; margin: 0px; padding-left: 20px; width: 800px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			工作地区：荆州市区&nbsp;&nbsp;监利县&nbsp;&nbsp;公安县&nbsp;&nbsp;</p>
	</dd>
</dl>
<dl class="box_lv" style="border-bottom: rgb(153,204,255) 1px solid; text-align: left; border-left: rgb(153,204,255) 1px solid; padding-bottom: 0px; widows: 2; text-transform: none; text-indent: 0px; margin: 0px 0px 4px; padding-left: 0px; width: 850px; letter-spacing: normal; padding-right: 0px; font: 12px 瀹嬩綋; white-space: normal; orphans: 2; float: left; color: rgb(51,51,51); border-top: rgb(153,204,255) 1px solid; border-right: rgb(153,204,255) 1px solid; word-spacing: 0px; padding-top: 0px; border-image: initial; webkit-text-size-adjust: auto; webkit-text-stroke-width: 0px">
	<dt style="background-image: url(http://www./fck_upload/Image//2012/04/11/201204111024193687.gif); border-bottom: rgb(153,204,255) 1px solid; padding-bottom: 0px; line-height: 26px; margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; height: 26px; padding-top: 0px">
		<strong style="line-height: 26px; height: 26px; margin-left: 20px">教育经历</strong></dt>
	<dd style="padding-bottom: 12px; background-color: rgb(255,255,255); margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; padding-top: 12px">
		<div id="lv_time" style="border-bottom-style: none; text-align: left; padding-bottom: 0px; line-height: 22px; margin: 0px; border-left-style: none; padding-left: 15px; width: 155px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 0px">
			2003年9月 - 2006年6月</div>
		<div style="border-bottom-style: none; text-align: left; padding-bottom: 0px; line-height: 22px; margin: 0px; border-left-style: none; padding-left: 15px; width: 650px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 0px">
			<p id="p1" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				毕业院校：长江大学</p>
			<p id="p1" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				专业：房地产销售</p>
			<p id="p2" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 150px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				学历：不限</p>
			<p style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 650px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				<strong style="width: auto; float: left; font-weight: normal">在校情况描述：</strong></p>
			<p class="box_Baseline" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 3px 0px; padding-left: 0px; width: 650px; padding-right: 0px; float: left; border-bottom-width: 0px; border-top: rgb(204,204,204) 1px dashed; border-left-width: 0px; padding-top: 0px">
				<strong style="width: auto; float: left; font-weight: normal">其他培训经历：</strong></p>
		</div>
	</dd>
</dl>
<dl class="box_lv" style="border-bottom: rgb(153,204,255) 1px solid; text-align: left; border-left: rgb(153,204,255) 1px solid; padding-bottom: 0px; widows: 2; text-transform: none; text-indent: 0px; margin: 0px 0px 4px; padding-left: 0px; width: 850px; letter-spacing: normal; padding-right: 0px; font: 12px 瀹嬩綋; white-space: normal; orphans: 2; float: left; color: rgb(51,51,51); border-top: rgb(153,204,255) 1px solid; border-right: rgb(153,204,255) 1px solid; word-spacing: 0px; padding-top: 0px; border-image: initial; webkit-text-size-adjust: auto; webkit-text-stroke-width: 0px">
	<dt style="background-image: url(http://www./fck_upload/Image//2012/04/11/201204111024193888.gif); border-bottom: rgb(153,204,255) 1px solid; padding-bottom: 0px; line-height: 26px; margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; height: 26px; padding-top: 0px">
		<strong style="line-height: 26px; height: 26px; margin-left: 20px">外语及技能证书</strong></dt>
	<dd style="padding-bottom: 12px; background-color: rgb(255,255,255); margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; padding-top: 12px">
		<p id="p1" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 15px; width: 200px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			外语语种：</p>
		<p id="p1" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 15px; width: 200px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			熟练程度：</p>
		<p style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 15px; width: 800px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			相关证书：</p>
	</dd>
</dl>
<dl class="box_lv" style="border-bottom: rgb(153,204,255) 1px solid; text-align: left; border-left: rgb(153,204,255) 1px solid; padding-bottom: 0px; widows: 2; text-transform: none; text-indent: 0px; margin: 0px 0px 4px; padding-left: 0px; width: 850px; letter-spacing: normal; padding-right: 0px; font: 12px 瀹嬩綋; white-space: normal; orphans: 2; float: left; color: rgb(51,51,51); border-top: rgb(153,204,255) 1px solid; border-right: rgb(153,204,255) 1px solid; word-spacing: 0px; padding-top: 0px; border-image: initial; webkit-text-size-adjust: auto; webkit-text-stroke-width: 0px">
	<dt style="background-image: url(http://www./fck_upload/Image//2012/04/11/201204111024194089.gif); border-bottom: rgb(153,204,255) 1px solid; padding-bottom: 0px; line-height: 26px; margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; height: 26px; padding-top: 0px">
		<strong style="line-height: 26px; height: 26px; margin-left: 20px">工作经验</strong></dt>
	<dd style="padding-bottom: 12px; background-color: rgb(255,255,255); margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; padding-top: 12px">
		<div id="lv_time" style="border-bottom-style: none; text-align: left; padding-bottom: 0px; line-height: 22px; margin: 0px; border-left-style: none; padding-left: 15px; width: 155px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 0px">
			2010年7月 - 2012年2月</div>
		<div style="border-bottom-style: none; text-align: left; padding-bottom: 0px; line-height: 22px; margin: 0px; border-left-style: none; padding-left: 15px; width: 650px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 0px">
			<p id="p1" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				单位名称：武汉金屋置业有限公司</p>
			<p id="p1" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				所属行业：房产/建筑/物业/装饰</p>
			<p style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 650px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				担任职务：销售经理</p>
			<p style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 650px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				<strong style="width: auto; float: left; font-weight: normal">工作描述：</strong><em style="font-style: normal; width: 560px; float: left">1.前期项目自身分析，所在市场相关分析，投资风险分析等等，<br />
				2.前期项目销售计划，市场推广，营销方案拟定及参与。<br />
				3.前期销售市场竞争分析，客户分析，营销计划拟定。<br />
				4.前期广告拟定，市场推广计划以及拓展渠道。<br />
				5.各种人员管理，制度管理等方案制定。<br />
				6.营销实际计划制定，安排协调执行。<br />
				7.销售中得各种月，周，日报表制定汇总及分析。<br />
				8.营销计划的跟踪执行，以及资料收集分析汇总。<br />
				9.对外相关房产，建设，金融等单位联系衔接.<br />
				10.&nbsp;以及各种销售过程中的相关事务</em></p>
		</div>
	</dd>
	<dd class="box_Baseline" style="padding-bottom: 12px; background-color: rgb(255,255,255); margin: 3px 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; border-top: rgb(204,204,204) 1px dashed; padding-top: 12px">
		<div id="lv_time" style="border-bottom-style: none; text-align: left; padding-bottom: 0px; line-height: 22px; margin: 0px; border-left-style: none; padding-left: 15px; width: 155px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 0px">
			2008年8月 - 2010年6月</div>
		<div style="border-bottom-style: none; text-align: left; padding-bottom: 0px; line-height: 22px; margin: 0px; border-left-style: none; padding-left: 15px; width: 650px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 0px">
			<p id="p1" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				单位名称：武汉易道房地产营销顾问公司</p>
			<p id="p1" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				所属行业：房产/建筑/物业/装饰</p>
			<p style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 650px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				担任职务：销售主管</p>
			<p style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 650px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				<strong style="width: auto; float: left; font-weight: normal">工作描述：</strong><em style="font-style: normal; width: 560px; float: left">1.项目优缺点分析。<br />
				2.销售计划参与制定以及执行安排。<br />
				3.人员招聘参与以及培训考核。<br />
				4.前期营销策划参与以及设定。<br />
				5.计划市场推广以及市场拓展参与。<br />
				6.销售过程中竞争对手以及自身持有物业的销售计划以及跟踪执行。<br />
				7.销售现场维护,上级销售计划的执行跟踪以及汇报。&nbsp;<br />
				8.员工销售过程中的相关帮助<br />
				9.公司文化建设：经常与员工进行沟通，及时进行激励，反映、解决员工存在的一些问题。建立良好的企业文化和团队氛围.<br />
				10.监督检查工作：按公司要求组织制定、监督、检查公司人员工作，提高工作效率.</em></p>
		</div>
	</dd>
	<dd class="box_Baseline" style="padding-bottom: 12px; background-color: rgb(255,255,255); margin: 3px 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; border-top: rgb(204,204,204) 1px dashed; padding-top: 12px">
		<div id="lv_time" style="border-bottom-style: none; text-align: left; padding-bottom: 0px; line-height: 22px; margin: 0px; border-left-style: none; padding-left: 15px; width: 155px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 0px">
			2007年6月 - 2008年7月</div>
		<div style="border-bottom-style: none; text-align: left; padding-bottom: 0px; line-height: 22px; margin: 0px; border-left-style: none; padding-left: 15px; width: 650px; padding-right: 0px; border-top-style: none; float: left; border-right-style: none; padding-top: 0px">
			<p id="p1" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				单位名称：深证黑马房地产销售顾问公司</p>
			<p id="p1" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 230px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				所属行业：房产/建筑/物业/装饰</p>
			<p style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 650px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				担任职务：置业顾问-销售主管</p>
			<p style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 0px; width: 650px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
				<strong style="width: auto; float: left; font-weight: normal">工作描述：</strong><em style="font-style: normal; width: 560px; float: left">1、员工日常例会培训<br />
				2、销售现场维护&nbsp;<br />
				3、员工销售过程中的相关帮助<br />
				4、公司文化建设：经常与员工进行沟通，及时进行激励，反映、解决员工存在的一些问题。建立良好的企业文化和团队氛围.<br />
				5、监督检查工作：按公司要求组织制定、监督、检查公司人员工作，提高工作效率.</em></p>
		</div>
	</dd>
</dl>
<dl class="box_lv" style="border-bottom: rgb(153,204,255) 1px solid; text-align: left; border-left: rgb(153,204,255) 1px solid; padding-bottom: 0px; widows: 2; text-transform: none; text-indent: 0px; margin: 0px 0px 4px; padding-left: 0px; width: 850px; letter-spacing: normal; padding-right: 0px; font: 12px 瀹嬩綋; white-space: normal; orphans: 2; float: left; color: rgb(51,51,51); border-top: rgb(153,204,255) 1px solid; border-right: rgb(153,204,255) 1px solid; word-spacing: 0px; padding-top: 0px; border-image: initial; webkit-text-size-adjust: auto; webkit-text-stroke-width: 0px">
	<dt style="background-image: url(http://www./fck_upload/Image//2012/04/11/2012041110241942810.gif); border-bottom: rgb(153,204,255) 1px solid; padding-bottom: 0px; line-height: 26px; margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; height: 26px; padding-top: 0px">
		<strong style="line-height: 26px; height: 26px; margin-left: 20px">联系方式</strong></dt>
	<dd style="padding-bottom: 12px; background-color: rgb(255,255,255); margin: 0px; padding-left: 0px; width: 850px; padding-right: 0px; float: left; padding-top: 12px">
		<p class="p11" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 15px; width: 250px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			联系电话：***********</p>
		<p class="p11" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 15px; width: 250px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			聊天号码：***********</p>
		<p class="p11" style="padding-bottom: 0px; line-height: 22px; border-right-width: 0px; margin: 0px; padding-left: 15px; width: 250px; padding-right: 0px; float: left; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 0px">
			现居住地：**********</p>
	</dd>
</dl>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14CO2015.html">网络营销师求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535V92015.html">软件测试个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535T02015.html">采购助理个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0F9113I2015.html">农村区域发展个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53591H015.html">护士经典个人简历表格式范文-中</a></li>
<li><a href="/zhichang/jianli/template/0H14C502015.html">人力资源专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CR2015.html">北京工商大学会计专业大学生求职</a></li>
<li><a href="/zhichang/jianli/template/0G53D232015.html">本科机械类专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B042015.html">建筑工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C142015.html">机械工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144O52015.html">过控专业大学生求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0F9114242015.html">民用建筑求职简历范文</a></li>
<li><a href="/zhichang/jianli/template/0F9114422015.html">教师个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5363102015.html">个人简历计算机多媒体技术专业</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>