<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>商务英语专业个人简历 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="商务英语专业个人简历" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>商务英语专业个人简历</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
商务英语专业个人简历
                  </ul>
                  <ul class="news_left_date ti">
                    应届毕业生求职网 　　发布日期：2009年01月04日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　商务英语专业求职简历</p>
<p>　　姓名：XXX 性别：女</p>
<p>　　民族：汉 政治面目：党员</p>
<p>　　学历(学位)：........ 专业：商务英语</p>
<p>　　联系电话：..........8 手机：.............</p>
<p>　　联系地址：............. 邮编：528415</p>
<p>　　email Address：*************8</p>
<p>　　<strong>　　教育背景</strong></p>
<p>　　毕业院校：</p>
<p>　　北京师范大学中文系 2001.9--2003.7 中国现当代文学</p>
<p>　　太原师范学院中文系 2003.9--2007.7 汉语言文学专</p>
<p>　　另：其他培训情况</p>
<p>　　*英语通过国家CET六级考试,通过北京市研究生英语学位统考，英汉互译表达流畅。</p>
<p>　　*擅长利用Internet进行各种网际信息交流，具有一定网站建设、规划经验</p>
<p>　　*熟练运用操作html、Frontpage98等工具制作各类网页及特效图</p>
<p>　　*熟练操作windows平台上的各类应用软件（如Word97、Excel97、Powerpoint</p>
<p>　　Internet Explorer、Netscape Communicator等）</p>
<p>　　<strong>　　工作经历</strong></p>
<p>　　*1999.8---至今 《乡镇企业报》编辑</p>
<p>　　*1998.9---1999.7 《中国电影报》外国电影版记者</p>
<p>　　*1997.9---1998.9 中日青年交流中心对外汉语教师</p>
<p>　　<strong>　　个人简介</strong></p>
<p>　　我相信，爱一行才能干好一行。我对文字编辑工作一直很感兴趣，从中学时期已有多篇文章发表，并担任校刊的编辑工作。多年的专业理论学习和工作实践，使我掌握了较好的文字功底，敏锐的观察力，优秀的口头表达能力和关注追踪社会热点的能力。我做事条理性强，乐于与人合作，平时喜爱读书、音乐等。</p>
<p>　　请给我一个机会，我将还您以夺目的光彩！</p>
<p>　　<strong>　本人性格</strong></p>
<p>　　开朗、谦虚、自律、自信（根据本人情况）。</p>
<p>　　另： 最重要的是能力，相信贵公司会觉得我是此职位的合适人选！</p>
<p>　　期盼与您的面谈！</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53D612015.html">Business English个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53634R015.html">粉色系列的个人简历模版</a></li>
<li><a href="/zhichang/jianli/template/0H14C332015.html">应聘酒店储备干部实习简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535PR015.html">高级文员个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G5361I2015.html">预算员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362162015.html">游戏工程师个人简历</a></li>
<li><a href="/zhichang/jianli/template/0F9113C2015.html">商务英语应届大学生个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14BB2015.html">2015跳槽英文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363142015.html">2011最新平面设计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5363512015.html">大专个人简历模板下载</a></li>
<li><a href="/zhichang/jianli/template/0H14BS2015.html">工程测量专业求职简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B952015.html">应聘策划岗位个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BM2015.html">财务经理简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>