<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>文秘简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="文秘简历模板" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>文秘简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
文秘简历模板
                  </ul>
                  <ul class="news_left_date ti">
                     　　发布日期：2009年02月19日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　姓名：XXX&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;E-mail：XXXXXXXXXX</p>
<p>　　性别：女&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 联系电话：XXXXXXX</p>
<p>　　年龄：25岁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 地址：北京朝阳区霄云路XX楼XX号</p>
<p>　　<strong>自我评价</strong>三年的秘书工作经验，踏实、细心；为人处事能力强。</p>
<p>　　<strong>职业目标</strong>寻找一个团结合作的团队，寻找文秘方面的职位。我将充分发挥三年工作中所积累下的丰富知识和技能，我的勤奋与努力会令你刮目相看。</p>
<p>　　<strong>工作经验</strong>2000年5月&mdash;&mdash;现在　　　北京XXXXXXX公司　　　行政部秘书</p>
<p>　　职责：</p>
<p>　　处理行政部门各项日常工作和事务；</p>
<p>　　文件的收、发；资料档案的管理；</p>
<p>　　公司各项规章制度、通知的草拟，协助领导监督执行情况；</p>
<p>　　各类办公设备的管理和使用。</p>
<p>　　离职原因：向住一个更有凝聚力，更能发挥自身潜力的团队</p>
<p>　　1998年7月&mdash;&mdash;2000年5月　　　XXXXX公司北京分公司　　　总经理秘书</p>
<p>　　职责：</p>
<p>　　处理办公室日常的各项工作和事务；</p>
<p>　　公司各类文件的收、发，档案等资料的管理；</p>
<p>　　协调各兄弟公司的工作，协调各部门之间的合作与沟通；</p>
<p>　　员工出勤情况的管理及档案的管理；</p>
<p>　　协助公司的完成招聘工作及员工在职培训期间的准备工作；</p>
<p>　　负责经理的日常会议安排，并熟练记录会议记要。</p>
<p>　　<strong>教育背景</strong>1999年9月&mdash;&mdash;2001年7月　　　北京广播电视大学　　　工商管理　　　专科</p>
<p>　　1996年9月&mdash;&mdash;1999年7月　　　北京外事服务学校　　　计算机应用　　　职高</p>
<p>　　<strong>职业特长和技能</strong>熟悉办公室工作流程，具有较强的独立处理事务的能力；</p>
<p>　　易于与人沟通，有很强的团队合作精神；</p>
<p>　　熟练操作电脑，灵活运用各类办公软件，有较强的文字处理能力；</p>
<p>　　全国计算机等级考试二级，全国速记等级考试五级；</p>
<p>　　英语熟练，有全国四级等级证书。</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14B002015.html">中专计算机网络技术个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G535L52015.html">建筑设计技术员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14BO2015.html">秘书求职英文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E562015.html">个人简历——电话销售</a></li>
<li><a href="/zhichang/jianli/template/0H14C002015.html">设计经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B442015.html">园艺设计师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359352015.html">文秘简历范文模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B212015.html">高级会计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363142015.html">2011最新平面设计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C622015.html">护理专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B622015.html">个性个人电子简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D642015.html">计算机软件应用专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114242015.html">民用建筑求职简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53F142015.html">编辑人员中文简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>