<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>临床药学专业个人求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="临床药学专业个人求职简历模板" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>临床药学专业个人求职简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
临床药学专业个人求职简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    简历网 　　发布日期：2009年09月22日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p align="center">临床药学专业个人求职简历模板</p>
<p><strong>基本信息</strong><br />
姓&nbsp;&nbsp;&nbsp; 名：某某某<br />
出生日期：1985年9月<br />
性&nbsp;&nbsp;&nbsp; 别：女&nbsp;<br />
身&nbsp;&nbsp;&nbsp; 高：164cm<br />
学&nbsp;&nbsp;&nbsp; 历：大学本科&nbsp;<br />
专&nbsp;&nbsp;&nbsp; 业：临床药学&nbsp;<br />
政治面貌：团员<br />
毕业院校：某某学院&nbsp;<br />
移动电话：1388888888<br />
电子邮箱：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
<strong>求职意向</strong>　 <br />
临床药师、药师 、及药学专业相关专业职位</p>
<p><br />
<strong>教育背景</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
2001.09-2004.06&nbsp;&nbsp;&nbsp; 某某县中学<br />
2004.09-2009.06&nbsp;&nbsp; 某某学院&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 临床药学专业<br />
所学专业课程：<br />
药理学、临床药理学、药剂学、药物分析、药物化学、天然药物化学、分析化学、药用植物学及生药学、药事管理学、药学英语、生物制剂与药物动力学、药学文献检索、医学数理统计学、内科学、妇产科学、外科学、儿科学等等。</p>
<p><br />
<strong>工作经历</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
2008.08-2009.04&nbsp;&nbsp;&nbsp;&nbsp; 某某中心医院&nbsp; 实习&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
分别在门诊药房、病区药房实习，学习调配处方，学习精神药品、麻醉药品、贵重药品的管理。并在质检室学习简单的药品检查工作等。<br />
并且在心血管内科、呼吸内科、消化内科、血液内科、急诊科、普外科、妇科、产科、儿科等科室进行了五个月的临床实习。对上述各科的常用药品、常见疾病用药有一定的了解及掌握。&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />
<strong>个人技能<br />
</strong>计算机水平：熟悉计算机基本操作，能熟练操作word、excel、wdjlw.cn等软件。<br />
语言能力：有一定英语听说能力，精通国语、粤语。<br />
专业能力：受过高等临床药学专业知识教育，掌握了药学基本理论、基本知识和试验技能，熟悉基本试验仪器的操作方法和一些药品检验方法；掌握药事管理法的基本知识，了解GMP基本知识；具备药学与医学的综合知识，具有参与临床药学实践的能力。</p>
<p><br />
<strong>自我评价</strong>&nbsp;<br />
个性开朗乐观，表达能力强，勤奋好学，脚踏实地，积极向上，待人热情、真诚。&nbsp;<br />
工作认真负责，积极主动，适应力强，勇于迎接新挑战。有较强的实验动手能力。做事用心负责，有较好的分析与解决问题的能力。&nbsp;<br />
善于与人沟通，有较好的学习能力，有上进心，有团体协作精神，做事有高度的责任感和严格律己的原则。</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5362952015.html">普通司机求职简历</a></li>
<li><a href="/zhichang/jianli/template/0F9113Z2015.html">营业部大堂经理个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5361F2015.html">机械设计制造专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363392015.html">大学生标准个人简历表格模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C4H015.html">公共事业管理专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535M12015.html">信息工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5363332015.html">软件工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D062015.html">中专会计学专业简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B932015.html">建筑资料员求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CT2015.html">汉语言文学应届毕业生个人简历模</a></li>
<li><a href="/zhichang/jianli/template/0F9114152015.html">商业个人简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0G5363242015.html">电子商务专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C602015.html">硬件工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BV2015.html">人事部经理助理求职简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>