<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>服装设计师简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="服装设计师简历模板" />
<meta name="description" content="" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>服装设计师简历模板</h2>
<p class="fbsj">时间：2015-07-15 17:28</p>
<div class="arnr">
服装设计师简历模板
                  </ul>
                  <ul class="news_left_date ti">
                    应届生网 　　发布日期：2009年10月20日 00:00
                  </ul>
                  <DIV style="FLOAT: left; MARGIN: 10px 0px 0px 20px">
					<SCRIPT type=text/javascript><!--
						google_ad_client = "pub-1884178498704413";
						/* 468x15, 创建于 09-7-3 */
						google_ad_slot = "0200298218";
						google_ad_width = 468;
						google_ad_height = 15;
						//-->
						</SCRIPT>
					<script type="text/javascript"src=" http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                  </DIV>
                  <div class="news_cent" id="newscontent">
                  <p>　　【姓名】Andrew Zern</p>
<p>　　【性别】男</p>
<p>　　【出生日期】1979年11月</p>
<p>　　【应聘职位】服装设计师</p>
<p>　　【毕业院校】**大学</p>
<p>　　【所学专业】服装设计及工程(本科)</p>
<p>　　【个人特长】美术，钢琴，声乐，写作</p>
<p>　　【联系电话】139********</p>
<p>　　【电邮地址】&nbsp;</p>
<p>　　【通信地址】上海市新华路569弄106支弄***号*****室(200052)</p>
<p>　　专业能力</p>
<p>　　具备独立操作及管理品牌服装设计流程能力，能准确把握流行趋势及产品市场定位，确保产品符合市场需求</p>
<p>　　计算机能力</p>
<p>　　精通Coreldraw，Photoshop等软件,电脑绘制时装效果图及款式图</p>
<p>　　获上海市计算机二级优秀证书,达计算机中级水平</p>
<p>　　能熟练使用Word,Excel等进行统计及文件制作</p>
<p>　　能用Dreamweaver、Flash等软件制作网页</p>
<p>　　工作经验</p>
<p>　　☆2003.06-至今******集团(上海)有限公司，担任主力设计师。注册品牌********，风格定位：20-30岁男女休闲装、配件、饰品，价格中档。</p>
<p>　　☆2001.04-2003.05韩国*****株式会社，担任设计师兼平面设计师。经营韩国注册品牌，风格定位：20-30岁男女休闲装、配件、饰品，价格中高档。</p>
<p>　　工作内容</p>
<p>　　*消化相关流行趋势及色彩预测、收集大量有效资讯、上季销售调查汇总、初期市场调查；</p>
<p>　　*前期色彩设定、基础面料设定、依据上货批次制作概念展板及平面概念展板、展板文字化、拟定主题内容；</p>
<p>　　*汇报展板、初次部门间流行趋势讲解及展板沟通，中期市场调查、中期色彩修改设定、基础面料修改设定、展板修改设定；</p>
<p>　　*汇报修正后展板、二次部门间展板沟通、敲定最终展板、产品结构初定(各产品比例、上下着搭配、内外搭配、面料比例等)、汇报产品结构、修改并敲定产品结构(待修改)；</p>
<p>　　*依据展板开展设计工作(款式设计、面辅料设计、平面绣印花设计等)，掌握色彩搭配、色仓陈列设定、细节应用、上下着呼应、内外着呼应、面辅料应用搭配、平面应用搭配；</p>
<p>　　*初期整合设计内容、汇报整盘货品设计稿、中后期市场调查、修改产品结构、调整中期色彩及基础面料、增加应时面料、增减款式设计；</p>
<p>　　*二期整合设计内容、汇报修正后整盘货品设计稿、敲定初版款式、初定款式基础尺寸、下发初版面辅料、平面绣印花及款式版单；</p>
<p>　　*后期市场调查、增减款式设计、跟进面辅料、平面绣印花及初版制作、与技术部门沟通制作工艺；</p>
<p>　　*审核各初版成品(款式、面辅料、平面绣印花等)、修正各成品颜色、尺寸及版型、款式试衣调整；</p>
<p>　　*结束初版成品制作后，汇报初版情况、按照上货批次、陈列色仓及产品结构调整整盘货品、敲定终期色彩及产品结构、再版面辅料生产、再版款式生产；</p>
<p>　　*跟进再版制作、与相关部门制定订货会日程计划；</p>
<p>　　*审核再版成品、结束再版成品制作后，汇报再版情况、调整并敲定订货会产品；</p>
<p>　　*产品发布会场陈列、show场布置、模特及音乐挑选、走show编排；</p>
<p>　　*订货会流行趋势讲解、产品发布会货品讲解；</p>
<p>　　*依据订货会订货情况、与相关部门商讨后，调整并敲定最终货品及其生产数量；</p>
<p>　　*协助广告部门进行产品目录的拍摄工作、沟通主题思想、店面陈列工作；</p>
<p>　　*货品上柜，跟进销售情况、及时补充把握性款式。</p>
<p>　　个性特点</p>
<p>　　我自信，勤奋，认真好学，具有较强的时尚感悟能力、自学能力、适应能力和应变能力，在工作中，有着强烈的责任心，开拓创新意识强，并能保持不断学习，不断进取的精神。工作积极主动、认真负责，具有合作精神，协调能力强，和同事相处融洽。</p>
<p>　　主要专业课程</p>
<p>　　男女装款式设计，男女装结构设计，服装立体裁剪，服装工艺学，服装材料学，立体结构设计，针织服装设计，服装舒适性与功能，服装生产及营销管理，计算机绘图，服装整理学，应用艺术鉴赏，摄影基础，服装英语，服装CAD</p>
<p>　　教育背景</p>
<p>　　☆1997.9 - 2001.7 *********本科</p>
<p>　　主修：服装设计与工程</p>
                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53ET2015.html">个人简历-毕业生简历</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14CP2015.html">网页前端设计师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EO2015.html">应届毕业生中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53624H015.html">最新常规简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C4R015.html">客服代表个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535MH015.html">计算机科学专业生个人简历模板-</a></li>
<li><a href="/zhichang/jianli/template/0H14BH2015.html">采购助理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CI2015.html">简单实用的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535SH015.html">外贸业务员个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0H14B962015.html">出口物流员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F192015.html">中文简历模板——市场主管</a></li>
<li><a href="/zhichang/jianli/template/0H14C452015.html">工程文员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53635H015.html">冬意-彩色个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>