<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>自动化系检测专业个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="自动化系检测专业个人简历模板" />
<meta name="description" content="哪里有自动化系检测专业个人简历模板可以参考？深圳人才网（www.0755rc.com）提供自动化系检测专业个人简历模板，了解更多自动化系检测专业个人简历模板请访问深圳人才网 www.0755rc.com!" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>自动化系检测专业个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　哪里有自动化系检测专业个人简历模板可以参考？（www.）提供自动化系检测专业个人简历模板，了解更多自动化系检测专业个人简历模板请访问 www.!</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　个人资料</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　姓名：黄小姐</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　性别：女</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　民族：汉</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　出生年月：1989 年11月</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　教育背景：</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　院校：西北工业大学</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　专业：自动化系检测与电子技术研究所</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　学历：研究生</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　在校获奖情况：</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　西北大学&ldquo;优秀毕业生&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　该奖奖励学业排名前15%，并且本科期间综合表现突出的毕业生</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　连续三年&ldquo;学业及优秀学生&rdquo;奖学金</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　该奖奖励每年度学业优异和综合素质测评优秀的本科生</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　西北大学军训&ldquo;二等功&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　该奖奖励军训期间表现突出，顽强拼搏的学生</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　西北大学&ldquo;优秀团员&rdquo;及&ldquo;优秀学生干部&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　第二届&ldquo;华硕杯&rdquo;智能车大赛获得光电组第五名。积累了大量硬件设计和调试经验，增强了协作能力以及分析、解决实际问题能力。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　实习经历：</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　单位：xxxx公司</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　职位：行业分析实习生</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　职责：</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　调研中国核电以及风电行业发展状况，搜索各地区已装机及在建容量、各地区规划情况等数据</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　分析公司在&ldquo;十二五&rdquo;期间发展前景，并撰写完成两篇调研报告，受到项目负责人的肯定</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　技能和爱好</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　英语水平良好，通过大学英语六级考试(CET6) ，乔布大学水平II 考试</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　熟练运用 MS Word、Excel、PowerPoint 等办公软件</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　掌握 PROTEL DXP 软件， C 语言，有较丰富软、硬件开发经验</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　爱读书(特别喜欢古典文学和推理小说)，爱足球(读研期间组建班级足球队，定期与兄弟班级比赛)</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　会驾驶，持有驾照。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G535M12015.html">信息工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5362102015.html">计算机硬件维护职位个人简历范例</a></li>
<li><a href="/zhichang/jianli/template/0F9113932015.html">导购员个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5361O2015.html">PHP计算机程序员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362O2015.html">金融工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B302015.html">人事助理简历模板参考</a></li>
<li><a href="/zhichang/jianli/template/0G53F0H015.html">中文简历模板——市场推广总监</a></li>
<li><a href="/zhichang/jianli/template/0G53E102015.html">个人简历模板：人力资源主管</a></li>
<li><a href="/zhichang/jianli/template/0G535V92015.html">软件测试个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14BX2015.html">审计员的求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C022015.html">工业企业管理专业实习简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CK2015.html">专科医生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114112015.html">外勤简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5362302015.html">医学专业求职简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>