<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>计算机应用专业个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="计算机应用专业个人简历模板" />
<meta name="description" content="计算机应用专业个人简历模板是怎么样的？以下是计算机应用专业个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>计算机应用专业个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<p>
	　　计算机应用专业个人简历模板是怎么样的？以下是计算机应用专业个人简历模板供大家参考。</p>
<table align="center" border="1" bordercolordark="#ffffff" bordercolorlight="#b0bd88" cellpadding="2" cellspacing="0" id="table2" style="border-collapse: collapse; border-spacing: 0px; clear: both; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 14px; line-height: 28px; width: 688px; height: 1155px;" width="688">
	<tbody>
		<tr align="center">
			<td bordercolor="#b0bd88" colspan="5" height="30" style="margin: 0px; padding: 0px;">
				<strong>个 人 简 历</strong></td>
		</tr>
		<tr>
			<td align="right" height="25" style="margin: 0px; padding: 0px;">
				姓 名：</td>
			<td style="margin: 0px; padding: 0px;">
				<u>陈小姐</u></td>
			<td align="center" style="margin: 0px; padding: 0px;">
				性 　别：</td>
			<td style="margin: 0px; padding: 0px;">
				女</td>
			<td align="center" rowspan="9" style="margin: 0px; padding: 0px;">
				<table align="center" border="1" cellpadding="0" cellspacing="1" id="table3" style="border-collapse: collapse; border-spacing: 0px; clear: both;">
					<tbody>
						<tr>
							<td height="120" style="margin: 0px; padding: 0px;">
								&nbsp;&nbsp; 照&nbsp;&nbsp;&nbsp; 片&nbsp;&nbsp;&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="right" height="25" style="margin: 0px; padding: 0px;">
				身 高：</td>
			<td style="margin: 0px; padding: 0px;">
				167cm</td>
			<td align="center" style="margin: 0px; padding: 0px;">
				出生年月：</td>
			<td style="margin: 0px; padding: 0px;">
				19XX年1月1日</td>
		</tr>
		<tr>
			<td align="right" height="25" style="margin: 0px; padding: 0px;">
				民 族：</td>
			<td style="margin: 0px; padding: 0px;">
				汉族</td>
			<td align="center" height="25" style="margin: 0px; padding: 0px;">
				籍 贯：</td>
			<td style="margin: 0px; padding: 0px;">
				山东</td>
		</tr>
		<tr>
			<td align="right" style="margin: 0px; padding: 0px;">
				专 业：</td>
			<td style="margin: 0px; padding: 0px;">
				计算机应用</td>
			<td align="center" style="margin: 0px; padding: 0px;">
				学 历：</td>
			<td style="margin: 0px; padding: 0px;">
				中专</td>
		</tr>
		<tr>
			<td align="right" height="25" style="margin: 0px; padding: 0px;">
				毕业院校：</td>
			<td style="margin: 0px; padding: 0px;">
				山东菏泽师</td>
			<td align="center" style="margin: 0px; padding: 0px;">
				电脑能力：</td>
			<td style="margin: 0px; padding: 0px;">
				熟练</td>
		</tr>
		<tr>
			<td align="right" style="margin: 0px; padding: 0px;">
				电子信箱：</td>
			<td style="margin: 0px; padding: 0px;">
				&nbsp;</td>
			<td align="center" style="margin: 0px; padding: 0px;">
				个人主页：</td>
			<td style="margin: 0px; padding: 0px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td align="right" style="margin: 0px; padding: 0px;">
				联系电话：</td>
			<td style="margin: 0px; padding: 0px;">
				&nbsp;</td>
			<td align="center" style="margin: 0px; padding: 0px;">
				移动电话：</td>
			<td style="margin: 0px; padding: 0px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td align="right" height="25" style="margin: 0px; padding: 0px;">
				通讯地址:</td>
			<td colspan="3" style="margin: 0px; padding: 0px;">
				北京市海淀区xx路xx号 邮编：111111</td>
		</tr>
		<tr>
			<td bordercolor="#b0bd88" colspan="5" height="30" style="margin: 0px; padding: 0px;">
				教育/培训</td>
		</tr>
		<tr>
			<td align="center" colspan="5" style="margin: 0px; padding: 0px;">
				<table align="center" border="1" cellpadding="2" cellspacing="1" id="table4" style="border-collapse: collapse; border-spacing: 0px; clear: both;" width="580">
					<tbody>
						<tr>
							<td align="center" height="25" style="margin: 0px; padding: 0px;">
								<strong>由 年 月 至 年 月</strong></td>
							<td style="margin: 0px; padding: 0px;">
								<strong>校院名称/培训机构</strong></td>
							<td style="margin: 0px; padding: 0px;">
								<strong>专业/课程</strong></td>
							<td align="center" style="margin: 0px; padding: 0px;">
								<strong>证 书</strong></td>
						</tr>
						<tr>
							<td colspan="4" height="5" style="margin: 0px; padding: 0px;">
								20XX-7至20XX- 7 山东菏泽师专 计算机应用 院校证书<br />
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr align="center">
			<td bordercolor="#b0bd88" colspan="5" height="30" style="margin: 0px; padding: 0px;">
				<strong>工作经验</strong></td>
		</tr>
		<tr>
			<td colspan="5" style="margin: 0px; padding: 0px;">
				<span twffan="done">20XX</span><span twffan="done">年<span twffan="done">9</span>月至今任职于中国科学技术信息研究所，万方数据股份有限公司网络资源建设期刊上网部做录入排版<span twffan="done">,</span>后留任办公室文员工作。<br />
				20XX年10月在哈佛热水器驻京办事处任职办公室文员。</span></td>
		</tr>
		<tr>
			<td bordercolor="#b0bd88" colspan="5" height="30" style="margin: 0px; padding: 0px;">
				求职意向</td>
		</tr>
		<tr>
			<td align="right" height="25" style="margin: 0px; padding: 0px;">
				寻求工作类型：</td>
			<td colspan="2" style="margin: 0px; padding: 0px;">
				全职</td>
			<td align="right" style="margin: 0px; padding: 0px;">
				到岗时间：</td>
			<td style="margin: 0px; padding: 0px;">
				随时到岗</td>
		</tr>
		<tr>
			<td align="right" height="25" nowrap="nowrap" style="margin: 0px; padding: 0px;">
				希望工作岗位一：</td>
			<td colspan="2" style="margin: 0px; padding: 0px;">
				文秘</td>
			<td align="right" style="margin: 0px; padding: 0px;">
				希望工作地区：</td>
			<td style="margin: 0px; padding: 0px;">
				北京市</td>
		</tr>
		<tr>
			<td align="right" height="25" nowrap="nowrap" style="margin: 0px; padding: 0px;">
				希望工作岗位二：</td>
			<td colspan="2" style="margin: 0px; padding: 0px;">
				办公室文员</td>
			<td align="right" style="margin: 0px; padding: 0px;">
				希望工作地区：</td>
			<td style="margin: 0px; padding: 0px;">
				北京市</td>
		</tr>
		<tr>
			<td align="right" height="25" nowrap="nowrap" style="margin: 0px; padding: 0px;">
				希望工作岗位三：</td>
			<td colspan="2" style="margin: 0px; padding: 0px;">
				排版录入</td>
			<td align="right" style="margin: 0px; padding: 0px;">
				希望工作地区：</td>
			<td style="margin: 0px; padding: 0px;">
				北京市</td>
		</tr>
		<tr>
			<td align="right" height="25" style="margin: 0px; padding: 0px;">
				待遇要求：</td>
			<td colspan="4" style="margin: 0px; padding: 0px;">
				面议</td>
		</tr>
		<tr>
			<td align="center" bordercolor="#b0bd88" colspan="5" height="30" style="margin: 0px; padding: 0px;">
				<strong>个人自我评价</strong></td>
		</tr>
		<tr>
			<td colspan="5" style="margin: 0px; padding: 0px;">
				<span twffan="done">良好的团队精神和协作能力，较强的语言组织能力，工作敬业、进取、性格踏实稳重，责任心强，对工作勤勤恳恳，认真、负责、自律性强、喜欢挑战性工作，能承受工作压力。</span></td>
		</tr>
		<tr>
			<td align="center" bordercolor="#b0bd88" colspan="5" height="30" style="margin: 0px; padding: 0px;">
				<strong>技能特长</strong></td>
		</tr>
		<tr>
			<td colspan="5" style="margin: 0px; padding: 0px;">
				<span twffan="done">熟练掌握<span twffan="done">Windows98/2000/XP/Me</span>操作系统，精通计算机高级文秘、商务办公软件&nbsp;<span twffan="done">Microsoft Word</span>、<span twffan="done">Excel</span>电子表格制作、<span twffan="done">PowerPoint</span>幻灯片设计制作、<span twffan="done">Outlook Explorer</span>收发电子邮件帐户，协议设置，能够熟练运用&nbsp;<span twffan="done">Explorer Internet</span>国际互联网操作和图象处理&nbsp;<span twffan="done">Photoshop&nbsp;</span>软件<span twffan="done">,</span>录入速度<span twffan="done">90</span>字以上，错误率底，并具有电脑维护、安装、计算机病毒防治，计算机杀毒等技术。</span></td>
		</tr>
		<tr>
			<td align="center" bordercolor="#b0bd88" colspan="5" height="30" style="margin: 0px; padding: 0px;">
				<strong>求职意向</strong></td>
		</tr>
		<tr>
			<td colspan="5" style="margin: 0px; padding: 0px;">
				<span twffan="done">文字录入、排版，文档图像扫描、电脑作图、图像处理、表格制作、电脑维护、安装软件、仓库管理员、文秘、文员等专职工作</span><br />
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0F9114392015.html">数学老师求职简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0G5362592015.html">应届生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114012015.html">旅游业个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C112015.html">化工工艺专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113Z2015.html">营业部大堂经理个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0F9114152015.html">商业个人简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C552015.html">现代服装企业管理专业个人简历模</a></li>
<li><a href="/zhichang/jianli/template/0H14B302015.html">人事助理简历模板参考</a></li>
<li><a href="/zhichang/jianli/template/0G5361b2015.html">网络维护职位个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B942015.html">资料员的求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E622015.html">09个性简历（简单版）</a></li>
<li><a href="/zhichang/jianli/template/0G535S12015.html">设计总监个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G5363422015.html">彩蝶飞舞彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362H2015.html">最新销售代表简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>