<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>护理专业个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="护理专业个人简历模板" />
<meta name="description" content="护理专业个人简历模板是怎么样的？以下是护理专业个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>护理专业个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<table align="center" border="1" cellpadding="0" cellspacing="0" style="width:640px;" width="640">
	<tbody>
		<tr>
			<td style="width:86px;height:38px;">
				<p align="center">
					姓名</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					性别</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					女</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					出生年月</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					1991年2月</p>
			</td>
			<td rowspan="4" style="width:122px;height:38px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:86px;height:38px;">
				<p align="center">
					民族</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					汉</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					政治面貌</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					团员</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					身高</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					163cm</p>
			</td>
		</tr>
		<tr>
			<td style="width:86px;height:38px;">
				<p align="center">
					户籍</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					郑州</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					现所在地</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					郑州</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					婚姻状况</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					未婚</p>
			</td>
		</tr>
		<tr>
			<td style="width:86px;height:38px;">
				<p align="center">
					专业</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					护理</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					学历</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					本科</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					身体状况</p>
			</td>
			<td colspan="2" style="width:86px;height:38px;">
				<p align="center">
					健康</p>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="width:640px;height:19px;">
				<p align="center">
					<strong>个人荣誉</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="width:640px;height:76px;">
				<p>
					在校获得英语六级证书；普通话二级甲等证书；优秀团员证书；优秀班干证书；三好学生证书；以及优秀学生证书。</p>
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="width:640px;height:19px;">
				<p align="center">
					<strong>教育经历</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					时　间</p>
			</td>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					就 读 院 校</p>
			</td>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					所学专业</p>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					2009年9月&mdash;2013年7月</p>
			</td>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					河南科技大学</p>
			</td>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					护理</p>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="width:640px;height:19px;">
				<p align="center">
					<strong>主干课程</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="width:640px;height:76px;">
				<p>
					《人体结构与功能》《护理学基础》《外科护理学》《内科护理学》《儿科护理学》《妇科护理学》《急重症护理学》《健康评估》《病理》《药理》</p>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="width:640px;height:19px;">
				<p align="center">
					<strong>社会实践</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					时&nbsp; 间</p>
			</td>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					实习单位</p>
			</td>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					实习内容</p>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					2013年7月&mdash;2014年3月</p>
			</td>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					郑州&times;&times;医院</p>
			</td>
			<td colspan="4" style="width:213px;height:38px;">
				<p>
					在手术室，急诊科，RICU，肿瘤科，妇科，肾内科，普通外科，神经内科等科室担任护士</p>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					2014年7月&mdash;2015年3月</p>
			</td>
			<td colspan="4" style="width:213px;height:38px;">
				<p align="center">
					郑州&times;&times;医院</p>
			</td>
			<td colspan="4" style="width:213px;height:38px;">
				<p>
					在ICU，产科，骨科，肝脏外科，儿科，周围血管，内分泌，耳鼻喉科等科室担任护士。</p>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="width:640px;height:19px;">
				<p align="center">
					<strong>联系方式</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:140px;height:38px;">
				<p align="center">
					联系电话</p>
			</td>
			<td colspan="4" style="width:180px;height:38px;">
				<p align="center">
					&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;</p>
			</td>
			<td colspan="4" style="width:160px;height:38px;">
				<p align="center">
					邮箱</p>
			</td>
			<td colspan="2" style="width:160px;height:38px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="width:640px;height:19px;">
				<p align="center">
					<strong>自我评价</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="width:640px;height:94px;">
				<p>
					在科室期间，我跟随带教老师专心学习护理技能，理论与实践结合让我不断提高，深入病房工作，让我学会临危不乱，耐心护理，微笑服务，用我最大的理性面对患者，让生命之花永远绽放！我相信自己一样能行！</p>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14BM2015.html">财务经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B392015.html">总务主管的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53620H015.html">采矿工程师中英文简历</a></li>
<li><a href="/zhichang/jianli/template/0G53D942015.html">金融学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144O42015.html">中西医结合专业学生简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14C462015.html">水利水电工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B612015.html">采购主管简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535K42015.html">电商英文个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C3H015.html">工程监理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B222015.html">计算机维修管理员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G5362512015.html">应届生万能简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114152015.html">商业个人简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0G53Cb2015.html">2010年毕业生个人简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>