<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>市场企划经理个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="市场企划经理个人简历模板" />
<meta name="description" content="市场企划经理个人简历模板是怎么样的？深圳人才网（www.0755rc.com）提供市场企划经理个人简历模板，了解更多市场企划经理个人简历模板请访问深圳人才网 www.0755rc.com!" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>市场企划经理个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<p>
	　　市场企划经理个人简历模板是怎么样的？（）提供市场企划经理个人简历模板，了解更多市场企划经理个人简历模板请访问 !</p>
<p>
	<br />
	　　<strong>基本信息</strong></p>
<p>
	<br />
	　　姓　　名：XXX</p>
<p>
	<br />
	　　目前所在地： 白云区</p>
<p>
	<br />
	　　民族： 苗族</p>
<p>
	<br />
	　　户口所在地： 湖南</p>
<p>
	<br />
	　　年龄： 26 岁</p>
<p>
	<br />
	　　求职意向及工作经历</p>
<p>
	<br />
	　　应聘职位： 市场企划经理/主管：企划、营销策划、媒介主管、企业策划人员</p>
<p>
	<br />
	　　月薪要求： 面议</p>
<p>
	<br />
	　　希望工作地区： 广东省</p>
<p>
	<br />
	<strong>　　个人工作经历：</strong> 公司名称： 起止年月：20XX-07 ～ 20XX-09湖南万婴教育机构</p>
<p>
	<br />
	　　公司性质： 民营企业所属行业：教育/培训/院校</p>
<p>
	<br />
	　　担任职务： 市场营销部策划</p>
<p>
	<br />
	　　工作描述：</p>
<p>
	<br />
	　　1、营销方案制定2、社区活动实施3、市场跟踪</p>
<p>
	<br />
	　　离职原因：</p>
<p>
	<br />
	　　公司名称： 起止年月：20XX-01 ～ 20XX-04长沙明眸文化传播公司</p>
<p>
	<br />
	　　公司性质： 民营企业所属行业：广告/媒体</p>
<p>
	<br />
	　　担任职务： 策划</p>
<p>
	<br />
	　　工作描述：</p>
<p>
	<br />
	　　1、负责公司重大活动、促销活动方案策划，以及相关文案撰写;</p>
<p>
	<br />
	　　2、深入了解客户的实际需求，分析客户的商业传播目的与目标;</p>
<p>
	<br />
	　　3、与湖南交通频道项目对接</p>
<p>
	<br />
	　　公司名称： 起止年月：20XX-11 ～ 20XX-11广西百方生物科技有限责任公司</p>
<p>
	<br />
	　　公司性质： 民营企业所属行业：快速消费品(食品，饮料，化妆品)</p>
<p>
	<br />
	　　担任职务： 企划经理</p>
<p>
	<br />
	　　工作描述：</p>
<p>
	<br />
	　　1、市场分析：在公司原有的市场中，以浙江区和广西区两个大区为主，通过月销售、季度销售研究，实地调查消费者对百芳罗汉果凉茶购买量和频率，对品牌的忠诚度等指标，为公司战略管理、品牌建设做出基础。</p>
<p>
	<br />
	　　2、品牌建设&mdash;&mdash;完善公司CIS系统建设，主要是VI视觉识别系统方面明确企业宣传标语，销售活动制服，交通工具外体.采用以市场为导向把百芳罗汉果凉茶打造成凉茶产品二线主流品牌。</p>
<p>
	<br />
	　　3、产品网络营销策划：利用第三方网络平台采用B2B模式销售(如：阿里巴巴网络销售)，每日网络销售情况的统计、业务确认及货物配送等监督工作。</p>
<p>
	<br />
	　　4、公司战略研究：通过定性方法、定量方法研究，及针对凉茶的市场和竞争对手，确立差异化战略，完成品牌&mdash;&mdash;VI视觉识别系统、服务方式差异化基建工作通过。</p>
<p>
	<br />
	　　5、负责公司20XX年度市场营销整体策划方案的目标市场分析及销售定价部分。</p>
<p>
	<br />
	　　6、负责公司产品的硬性广告投放及公关造势活动</p>
<p>
	<br />
	　　离职原因：</p>
<p>
	<br />
	<strong>　　教育背景</strong></p>
<p>
	<br />
	　　毕业院校： 香港理工大学</p>
<p>
	<br />
	　　最高学历： 本科获得学位: 学士 毕业日期： 20XX-10-01</p>
<p>
	<br />
	　　所学专业一： 酒店及餐饮管理 所学专业二：</p>
<p>
	<br />
	　　受教育培训经历： 起始年月 终止年月 学校(机构) 专　业 获得证书 证书编号</p>
<p>
	<br />
	　　20XX-09 20XX-06 长沙民政职业技术学院 信息传播与策划 毕业证</p>
<p>
	<br />
	　　<strong>语言能力</strong></p>
<p>
	<br />
	　　外语： 英语　一般</p>
<p>
	<br />
	　　国语水平： 优秀 粤语水平： 一般</p>
<p>
	<br />
	　　工作能力及其他专长本人性格开朗善于和别人交流与沟通，责任心强，能够正确对待生活及工作中遇到的困难。有较强的学习能力和对环境的适应能力，组织纪律性强，团队精神强，善于工作和学习，遇事沉稳，能顾全大局，认真负责，面对挑战，自信能很好的完成各项工作。</p>
<p>
	<br />
	　　由于本人的不同学习经历，使我在于策划方面有着自己独道的见解，就是在把服务与管理的理念融入到策划中，擅长把握策划中的主体战略。</p>
<p>
	<br />
	<strong>　　个人联系方式</strong></p>
<p>
	<br />
	　　电话：</p>
<p>
	<br />
	　　邮件：</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53D942015.html">金融学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BA2015.html">计算机个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C4H015.html">公共事业管理专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B052015.html">德语学专业本科生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14CU2015.html">多媒体与网络技术专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362402015.html">平面设计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535OR015.html">理工大学个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G5362D2015.html">热门粉色空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D532015.html">求职个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362V2015.html">销售顾问简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535ZH015.html">时尚典雅的彩色简历模板下载</a></li>
<li><a href="/zhichang/jianli/template/0G5363622015.html">淘宝客服简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B5R015.html">人事主管的简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>