<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>信息管理与信息系统个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="信息管理与信息系统个人简历模板" />
<meta name="description" content="信息管理与信息系统个人简历模板是怎么样的？深圳人才网（www.0755rc.com）提供信息管理与信息系统个人简历模板，了解更多信息管理与信息系统个人简历模板请访问深圳人才网 www.0755rc.com!" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>信息管理与信息系统个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　信息管理与信息系统个人简历模板是怎么样的？（www.）提供信息管理与信息系统个人简历模板，了解更多信息管理与信息系统个人简历模板请访问 www.!</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　基本资料</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　姓 名：郑先生</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　性 别：男</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　年 龄：23</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　婚姻状况：未婚</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　籍 贯：安徽</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　现所在地：浙江</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　求职意向</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作经验： 1年</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　意向岗位： 计算机/互联网类其他;网络管理及维护;电子商务类的</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　求职类型： 全职</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　期望月薪： 2000～4000元</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　到岗时间： 随时</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　期望工作地点：浙江、安徽</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　从事行业： 计算机业、互联网、电子商务</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　教育经历</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2011年9月~2014年6月　　合肥工业大学　　信息管理与信息系统　　本科</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　获得证书： 初级信息处理员</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　工作经验</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2014年2月 ~2014年8月　　&times;&times;&times;&times;家私有限公司</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　公司性质： 私营企业</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　行业类别： 家具、家电、工艺品、玩具</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　担任职位： 网络管理及维护</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作描述： 公司网站后台维护和管理，阿里巴巴和淘宝的后台数据的更改和发布。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2014年1月 ~2014年1月　　&times;&times;&times;&times;科技有限公司</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　公司性质： 私营企业</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　行业类别： 计算机业、互联网、电子商务</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　担任职位： 网站信息编辑</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作描述： 网站数据添加，偶尔美工</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　自我评价</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　本人性格开朗、稳重、有活力，待人热情、真诚;工作认真负责，积极主动，能吃苦耐劳，用于承受压力，勇于创新;有很强的组织能力和团队协作精神，具有较强的适应能力;纪律性强，工作积极配合;意志坚强，具有较强的无私奉献精神。对待工作认真负责，善于沟通、协调有较强的组织能力与团队精神;活泼开朗、乐观上进、有爱心并善于施教并行;上进心强、勤于学习能不断提高自身的能力与综合素质。在未来的工作中，我将以充沛的精力，刻苦钻研的精神来努力工作，稳定地提高自己的工作能力，与企业同步发展。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C092015.html">银行客户经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113Z2015.html">营业部大堂经理个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G535N32015.html">电气自动化工程个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14B062015.html">水利水电工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361642015.html">单位会计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535LR015.html">建筑工程技术员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5363022015.html">彩蝶飞舞美丽的彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F91141R015.html">货车简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5361F2015.html">机械设计制造专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359312015.html">技术员个人简历模板-中文简历模</a></li>
<li><a href="/zhichang/jianli/template/0H14B042015.html">建筑工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B162015.html">采购跟单员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CP2015.html">网页前端设计师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C452015.html">工程文员个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>