<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>工商管理专业本科生个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="工商管理专业本科生个人简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供工商管理专业本科生个人简历模板，查找工商管理专业本科生个人简历模板请上深圳人才网0755rc.com!工商管理专业本科生个人简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>工商管理专业本科生个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<strong><span style="font-size:14px;">　　基本信息</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓 名： 0755.rc</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性 别： 男</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　年 龄： 24岁</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历：本科</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　政治面貌：群众</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　现居城市：广州</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　籍 贯：广州</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况：未婚</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　联系电话： &times;&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　电子邮箱： &times;&times;&times;@yjbys.com</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　求职意向</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作类型： 全职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 1年</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　期望薪资： 面议</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作地点： 广州</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职职位： 工商管理类岗位</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　教育经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2009-09 - 2013-07　　广州大学　　工商管理专业　　本科　　管理学学士</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　工作经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2012年11月&mdash;2015年5月 &times;&times;技术有限公司市场总监</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　主要工作：负责媒体购买流程和广告公司海外运营事务，包括海外运营模式探索，海外子公司运作流程组建、海外运营项目跟踪和推进等。从事电信业务模式研究和运营策划及预测分析;新业务的用户需求发掘及应用分析;新业务的技术现状及发展趋势分析;</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　职业技能</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工商管理职业资格证书、NIT资格证书 、会计从业证书\大学英语四/六级(CET-4/6) 、计算机三级</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　自我评价</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　本人性格开朗，对待工作认真负责，待人真诚，善于沟通、协调有较强的组织能力与团队精神;活泼开朗、乐观上进并善于施教并行;勤于学习能不断进步自身的能力与综合素质、良好的学校教育，让我用科学的理论知识和信心干好每一件事;坦诚、踏实性格，让我在工作中与领导、同事相处融洽，很好的完成了各项任务。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53D612015.html">Business English个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B592015.html">成本会计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53Ea2015.html">08届应届毕业研究生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F142015.html">编辑人员中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CD2015.html">2015优秀应届生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B5R015.html">人事主管的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BS2015.html">工程测量专业求职简历</a></li>
<li><a href="/zhichang/jianli/template/0G53EW2015.html">中文简历：网络公司技术支持部经</a></li>
<li><a href="/zhichang/jianli/template/0H14BZ2015.html">技术管理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363242015.html">电子商务专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B562015.html">2015个性电子简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362302015.html">医学专业求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361O2015.html">PHP计算机程序员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BF2015.html">项目经理简历模板范文</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>