<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>银行客户经理个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="银行客户经理个人简历模板" />
<meta name="description" content="银行客户经理个人简历模板是怎么样的？深圳人才网（www.0755rc.com）提供银行客户经理个人简历模板，了解更多银行客户经理个人简历模板请访问深圳人才网 www.0755rc.com!" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>银行客户经理个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　银行客户经理个人简历模板是怎么样的？（www.）提供银行客户经理个人简历模板，了解更多银行客户经理个人简历模板请访问 www.!</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　基本信息</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　姓 名： 袁先生</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　性 别： 男</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　年 龄： 23岁</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　婚姻状况： 未婚</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　最高学历： 本科</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作年限： 1年</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　政治面貌： 共青团员</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　现居住地： 江西</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　籍 贯： 江西</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　联系电话： &times;&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　电子邮箱： &times;&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　求职意向</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作地点： 江西</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　求职行业： 金融保险、证券、期货 党政机关、团体事业</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　求职职位： 信贷管理/资信评估 风险控制 融资经理/专员 其他证券/金融/投资/银行</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　工作经历</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2014-05 - 2014-09 泰康人寿 银保部客户经理</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作描述： 1、协助主管进行银行网点业务关系的维护。 2、培训银行相关人员并帮助其进行保险销售 3、对银行客户直接进行保险产品的销售，确保销售任务的完成.为银行网点提供各项基础培训、宣传、竞赛推进等工作。推动保险产品在银行的代理销售工作;所辖银行网点的日常沟通与维护;对所辖业务区内的银行各层级人员进行业务培训与辅导;客户保全及售后服</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　教育经历</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2010-09 - 2014-07 江西经贸大学 财务管理 本科</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　专业描述： 基础会计，财经法规，会计电算化，统计学，高等数学，成本会计，证券交易，财务管理，财务会计，市场营销等</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　自我评价</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　从过去的在校担任干部，到后来的卖家电，做保险，再到做ktv，酒店服务员等工作经历锤炼了我的意志，提升了我综合素质：我有较强的组织协调能力，沟通能力和处理问题的能力;同时我也有很强的团队精神，尤其是我广泛的爱好进一步加强了我的这种素质;我具有较强的事业心，责任感和敬业精神。对于做好该工作我充满自信。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G535Z42015.html">人淡如菊的彩色简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114052015.html">兼职平面设计师简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5359352015.html">文秘简历范文模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B352015.html">人事助理标准简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D092015.html">网页设计制作个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C152015.html">2015网络工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C562015.html">电子商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361U2015.html">中技机械制造类个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114112015.html">外勤简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C5R015.html">计算机应用专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B542015.html">行政助理的求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144OH015.html">电子商务大专生求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14CZ2015.html">艺术设计学学生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14Ba2015.html">中医学专业个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>