<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>采购跟单员简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="采购跟单员简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供采购跟单员简历模板，查找采购跟单员简历模板请上深圳人才网0755rc.com!采购跟单员简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>采购跟单员简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<strong><span style="font-size:14px;">　　基本信息</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓名：0755.rc</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在： 顺德区 年　　龄： 25</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在： 顺德区 国　　籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 民　　族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训认证： 未参加 身　　高： 155 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　诚信徽章： 未申请 体　　重：</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　求职意向</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 普通求职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 采购：，贸易跟单：，报关员：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 2 职　　称： 无职称</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 全职 可到职日期： 随时</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 2000--3500 希望工作地区： 佛山,顺德区,</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　工作经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　顺德蚬华多媒体制品有限公司　　 起止年月：2008-11 ～ 2011-01</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 中外合资　　所属行业：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 采购跟单</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 　1)根据pmc的排产拟定采购计划,将原材料采购到位,保证生产顺利进行和安全库存;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2)严把质量关,协助有关部门解决使用过程中出现的质量问题;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3)每月初做供应商评审记录;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4)及时申请供应商货款的支付;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 因家庭原因，想回容桂发展</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广东绅宝电器有限公司　　 起止年月：2008-07 ～ 2008-10</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 　　所属行业：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 外贸跟单</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G535P52015.html">英文翻译员个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0H14CC2015.html">资金税务会计个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EZ2015.html">质量管理个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14BX2015.html">审计员的求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C912015.html">中西医结合专业学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535N02015.html">国际货代个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14Ac2015.html">通信行业个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G53DF2015.html">软件测试工程师简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C3H015.html">工程监理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535V52015.html">线切割师傅个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G53DI2015.html">应届大学毕业生简历样本</a></li>
<li><a href="/zhichang/jianli/template/0F9113F2015.html">人事主管个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5362222015.html">物业管理员个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14BW2015.html">石油工程毕业生个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>