<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>应届毕业生简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="应届毕业生简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供应届毕业生简历模板，查找应届毕业生简历模板请上深圳人才网0755rc.com!应届毕业生简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>应届毕业生简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　个人资料：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓 名：　政治面貌：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性 别：　　　　　　　　学 历：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　年 龄： 　　　　　　　 系 别：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　民 族：　　　　　　　　专 业：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　藉 贯： 　　　　　　　 健康状况：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 知识结构：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　主修课：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专业课程：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　选修课：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　实习：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 专业技能：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　接受过全方位的大学基础教育，受到良好的专业训练和能力的培养，在地震、电法等各个领域，有扎实的理论基础和实践经验，有较强的野外实践和研究分析能力。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 外语水平：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　--年通过国家大学英语四级考试。 --年通过国家大学英语六级考试。 有较强的阅读、写作能力。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 计算机水平：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　熟悉DOS、Windows2000操作系统和Office98、Internet互联网的基本操作，掌握FORTRAN、Quick-Basic、C等语言。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 主要社会工作：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　小学：班劳动委员、班长。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　中学：班长、校学生会主席、校足球队队长。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　大学：班长、系学生会主席、校足球队队长，校园旗班班长。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 兴趣与特长：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　☆喜爱文体活动、热爱自然科学。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　☆小学至中学期间曾进行过专业单簧管训练、校乐团成员，参加过多次重大演出。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　☆中学期间，曾是校生物课外活动小组和地理课外活动小组骨干，参加过多次野外实践和室内实践活动。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　☆喜爱足球运动，曾担任中学校队、大学系队、校队队长，并率队参加多次比赛。曾获吉林市足球联赛(中学组)&quot;最佳射手&quot;称号并参加过98嘉士伯北京市大学生足球联赛。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 个人荣誉：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　中学：xxx优秀学生。 xxx优秀团员、三好学生、优秀干部。 xxx英语竞赛三等奖。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　大学：校优秀学生干部 -----年度三等奖学金与---年度二等奖学金。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 主要优点：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　★有较强的组织能力、活动策划能力和公关能力，如：在大学期间曾多次领导组织大型体育赛事、文艺演出，并取得良好效果。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　★有较强的语言表达能力，如：小学至今，曾多次作为班、系、校等单位代表，在大型活动中发言。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　★有较强的团队精神，如：在同学中，有良好的人际关系;在同学中有较高的威信;善于协同&quot;作战。&quot;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 自我评价</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　活泼开朗、乐观向上、兴趣广泛、适应力强、勤奋好学、脚踏实地、认真负责、坚毅不拔、吃苦耐劳、勇于迎接新挑战。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 求职意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　可胜任应用xxxx及相关领域的生产、科研工作。也可以从事贸易、营销、管理及活动策划、宣传等方面工作。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53E012015.html">简历模板：财务主管</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535N02015.html">国际货代个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14C442015.html">销售专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B002015.html">中专计算机网络技术个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B162015.html">采购跟单员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363302015.html">彩色个人简历模板（粉红色风格）</a></li>
<li><a href="/zhichang/jianli/template/0H14C322015.html">渠道助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G5359202015.html">SEO简历封面及模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BW2015.html">石油工程毕业生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C252015.html">机械工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BC2015.html">行政助理英文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362A2015.html">2012模具专业求职简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>