<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>客户经理个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="客户经理个人简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供客户经理个人简历模板，查找客户经理个人简历模板请上深圳人才网0755rc.com!客户经理个人简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>客户经理个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<strong><span style="font-size:14px;">　　个人信息</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓名：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在： 广东省 年　　龄： 24</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在： 江西 国　　籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 民　　族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训认证： 未参加 身　　高： 160 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　诚信徽章： 未申请 体　　重： 50 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　求职意向</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 普通求职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 电子/电器/半导体/仪器仪表：，市场/营销：，市场/营销：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 3 职　　称： 无职称</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 全职 可到职日期： 随时</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 面议 希望工作地区： 广州,广州,广州</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　工作经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　焦点科技(中国制造网)　　 起止年月：2009-11 ～ 2011-01</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 股份制企业　　所属行业：计算机/互联网/通信/电子</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 客户经理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 主要是电话约见客户，和约见的客户面谈。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广州大浦桑信息技术有限公司　　 起止年月：2008-08 ～ 2009-10</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 民营企业　　所属行业：互联网/电子商务</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 电子商务顾问</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 主要是做业务拓展。有时需做项目管理。开发新客户，维护老客户。售前、售中、售后均有涉及。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广州龙征计算机科技有限公司　　 起止年月：2007-12 ～ 2008-07</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 　　所属行业：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 销售顾问</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 主要工作是开发新客户,维护老客户,和有意向的客户面谈.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　主要在公司负责网站建设这一块的客户。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　销售方式主要以电话销售为主，对有意向的客户进行电话邀约及面谈工作，中途也涉及做些方案，销售过程中需要自己收集资料。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 想换个工作环境</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　教育背景</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 华东交通大学理工学院</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 大专　　获得学位: 毕业日期： 2007-07</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专 业 一： 电子商务 专 业 二：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　起始年月 终止年月 学校(机构) 所学专业 获得证书 证书编号</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2001-09 2004-07 尚庄中学 高中 毕业证 -</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2004-09 2007-07 华东交大理工学院 电子商务 毕业证 -</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　语言能力</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　一般 粤语水平： 较差</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　其它外语能力：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 良好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　熟悉互联网这一块的知识。可以利用互联网进行网上交易。熟练如何去网上寻找自己想要的资源。和客户谈判也有一定的能力，也熟悉taobao商铺，会管理商铺</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　详细个人自传</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　本人对新技术有极高的热情，乐于接受新的挑战;能迅速的适应各种环境，并融入其中;具有团队合作精神;工作认真负责，能吃苦耐劳，自觉服从公司纪律，待人友好.</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C092015.html'>银行客户经理个人简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53EB2015.html">涉外会计个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G5363622015.html">淘宝客服简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B062015.html">水利水电工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B362015.html">银行客户经理应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BM2015.html">财务经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B132015.html">平面设计助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B312015.html">外贸业务员的简历模板参考</a></li>
<li><a href="/zhichang/jianli/template/0H14B342015.html">项目经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363142015.html">2011最新平面设计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BP2015.html">个人基本简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C292015.html">石油工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CD2015.html">2015优秀应届生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359102015.html">2013年彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DC2015.html">幼儿园教师个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>