<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>计算机专业女大学生求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="计算机专业女大学生求职简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供计算机专业女大学生求职简历模板，查找计算机专业女大学生求职简历模板请上深圳人才网0755rc.com!计算机专业女大学生求职简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>计算机专业女大学生求职简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　姓名：赵美明</div>
<div>
	&nbsp;</div>
<div>
	　　性别：女</div>
<div>
	&nbsp;</div>
<div>
	　　出生年份：1991</div>
<div>
	&nbsp;</div>
<div>
	　　QQ：123456789</div>
<div>
	&nbsp;</div>
<div>
	　　民族<strong>：</strong>汉族</div>
<div>
	&nbsp;</div>
<div>
	　　现居地：广东</div>
<div>
	&nbsp;</div>
<div>
	　　婚姻状况：未婚</div>
<div>
	&nbsp;</div>
<div>
	　　身高：164 cm</div>
<div>
	&nbsp;</div>
<div>
	　　体重：45 kg</div>
<div>
	&nbsp;</div>
<div>
	　　教育经历</div>
<div>
	&nbsp;</div>
<div>
	　　2010.09 &mdash; 2013.07深圳大学</div>
<div>
	&nbsp;</div>
<div>
	　　所学专业：计算机</div>
<div>
	&nbsp;</div>
<div>
	　　获得学历：本科</div>
<div>
	&nbsp;</div>
<div>
	　　求职意向</div>
<div>
	&nbsp;</div>
<div>
	　　意向职位：SMT工程师</div>
<div>
	&nbsp;</div>
<div>
	　　期望薪资：5000</div>
<div>
	&nbsp;</div>
<div>
	　　工作地点：广东</div>
<div>
	&nbsp;</div>
<div>
	　　语言能力</div>
<div>
	&nbsp;</div>
<div>
	　　粤语</div>
<div>
	&nbsp;</div>
<div>
	　　读写：★★★☆☆ (良好)</div>
<div>
	&nbsp;</div>
<div>
	　　听说：★★★☆☆ (良好)</div>
<div>
	&nbsp;</div>
<div>
	　　英语</div>
<div>
	&nbsp;</div>
<div>
	　　读写：★★★☆☆ (良好)</div>
<div>
	&nbsp;</div>
<div>
	　　听说：★★★★☆ (熟练)</div>
<div>
	&nbsp;</div>
<div>
	　　兴趣爱好</div>
<div>
	&nbsp;</div>
<div>
	　　喜欢看书、看电影、上网、听音乐</div>
<div>
	&nbsp;</div>
<div>
	　　自我评价</div>
<div>
	&nbsp;</div>
<div>
	　　自我评价： 性格开朗，善于团结同事。善于与沟通，熟悉SMT工艺制程，熟悉多种SMT设备。工作中能独挡一面，能承受较大的工作压力。对工作认真，负责。</div>
<div>
	&nbsp;</div>
<div>
	　　工作/实习经历</div>
<div>
	&nbsp;</div>
<div>
	　　2013.07 &mdash; 现在****公司软件设计师</div>
<div>
	&nbsp;</div>
<div>
	　　工作内容：</div>
<div>
	&nbsp;</div>
<div>
	　　负责整个SMT车间10条JUKI生产线(3+1)及两条松下(CM602)高速线的日常工作。</div>
<div>
	&nbsp;</div>
<div>
	　　2、主导新产品试产，ECN的导入/跟进，熟悉GPS、MID、数码相框、电脑显卡、主板、U盘工艺流程。</div>
<div>
	&nbsp;</div>
<div>
	　　3、技术员的培训及作业流程的规范，制定部门文件，主导SOP的制定与实施。</div>
<div>
	&nbsp;</div>
<div>
	　　4、熟悉HLC离线编程软件\PT200编程软件，熟悉JUKI\松下(CM402\CM602)多种型号贴片机设备和印刷设备(DEK265、GKG、DNSEN)，能维修JUKI设备异常问题。</div>
<div>
	&nbsp;</div>
<div>
	　　2013.02 &mdash; 2013.06****公司实习软件设计</div>
<div>
	&nbsp;</div>
<div>
	　　工作内容：</div>
<div>
	&nbsp;</div>
<div>
	　　SMT操作员，工作认真负责，在担任操作员期间无错料，少料问题发生。能及时发现生产中的不良并知会相关人员改善，深的工程技术人员信任。能熟练操作2000系列贴片机能熟练处理2000系列的日常报警，对编程有一定了解，熟悉SMT物料，对SMT工艺制程有一定了解。</div>
<div>
	&nbsp;</div>
<div>
	　　技能专长</div>
<div>
	&nbsp;</div>
<div>
	　　熟悉多种SMT设备，贴片机有JUKI-KE730/KE750/KE760/KE2010/KE2030/KE2060/FX-1/FX-3,熟悉松下(CM402\CM602)多种型号贴片机设备和印刷设备(DEK265、GKG、DNSEN、半自动)。对JUKI系列贴片机有一定的维修经验。熟悉U盘，GPS、MID、数码相框、电脑显卡、主板、U盘显卡，手机板，无线网卡工艺流程，对生产中的不良能够正确的分析原因，快速的解决问题，能独立完成各种部门文件的制定。能承受较大的工作压力。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C462015.html">水利水电工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BQ2015.html">公司财务经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CV2015.html">报关员职位的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535Q12015.html">广告创意策划个人简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G5359132015.html">通用炫彩简历封面及模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362042015.html">服装设计师个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14Ba2015.html">中医学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F91141R015.html">货车简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5362192015.html">外贸跟单业务员的个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B452015.html">日语采购简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362952015.html">普通司机求职简历</a></li>
<li><a href="/zhichang/jianli/template/0F9114302015.html">中药简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5363102015.html">个人简历计算机多媒体技术专业</a></li>
<li><a href="/zhichang/jianli/template/0G535P52015.html">英文翻译员个人简历模板-中文简</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>