<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>采购文员的求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="采购文员的求职简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供采购文员的求职简历模板，查找采购文员的求职简历模板请上深圳人才网0755rc.com!采购文员的求职简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>采购文员的求职简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<strong><span style="font-size:14px;">　　基本资料</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓　　名：  &nbsp;性　　别： 女</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 已婚 民　　族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户　　籍： 福建-龙岩 年　　龄： 24</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　现所在地： 广东-深圳 身　　高： 158cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　希望地区： 广东-深圳</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　希望岗位： 公司文职类-其他相关职位</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　物流/采购类-物流调度员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　寻求职位： 采购文员、 PMC文员、 跟单</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　教育经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2004-09 ～ 2007-07 XX二中 理科 高中</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　培训经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2009-06 ～ 2009-09 XXX人才培训 ERP采购管理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作经验至今5年0月工作经验，曾在2家公司工作</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　**公司 (2011-05 ～ 2012-09)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 外资企业 行业类别： 其它生产、制造、加工</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 采购文员 岗位类别： 物流专员/助理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 1、下达日常订单及作相应登记。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、每日更新新物料到货情况一览表。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、对下达的订单交期回复的跟进。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、采购部文件整理及部门间的文件传递。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5、协助采购员完成价格谈判等工作;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　6、月底与供应商对账。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　7、部门经理交代的其他临时性工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 帮亲戚开店</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　**公司 (2007-09 ～ 2011-04)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 外资企业 行业类别： 其它生产、制造、加工</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： PMC文员 岗位类别： 其他相关职位</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 1、每日报表数据录入，统计，核对，更新。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、跟进生产发料/废料退料情况。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、负责部门文件整理，资料发放。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、在ERP系统里开立、更改、关闭发料单。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5、和相关部门沟通处理ERP相关问题。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　6、做每周会议记录。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　7、负责PMC人员相关考勤及加班申请。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　8、协助PMC经理处理其它相关事宜。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 提升自已</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　技能专长</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专业职称： ERP采购管理应用师</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　计算机水平： 初级</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　计算机详细技能： 熟练操作，EXCEL/word/PPT办公软件，熟练应用金碟K3/统率ERP系统/用友ERP系统。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　技能专长： 有日语基础，学过ERP采购管理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　普通话： 流利 粤语： 一般</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英语水平： 一般 口语一般</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英语： 一般 日语： 良好</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　求职意向</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　发展方向： 采购相关工作</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　其他要求：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自身情况</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我评价：积极热情，富有进取精神，责任心强，工作认真高效;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　进取心强，注重结果，有获得成功和工作效果的强烈愿望;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　善于识别问题，制定行动计划并达到目标;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　较强的沟通，组织和人际关系能力;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　较强的分析和解决问题的能力;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性格开朗乐观、社交能力突出;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　为人正直诚恳、乐于助人;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　经验方面：做文职方面工作将近5年，熟悉工厂(PMC、采购、仓库、生产等)流程，熟悉ERP运作(已操作4年以上)，了解ISO9001运作流程。了解五金/电子生产流程。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5363542015.html">网络公司技术支持部经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114592015.html">工业电器自动化简历范文</a></li>
<li><a href="/zhichang/jianli/template/0F91140R015.html">地质求职简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B642015.html">个性简历封面模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114452015.html">销售代表简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5361L2015.html">电脑文员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DP2015.html">经典个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C312015.html">工程经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359232015.html">知识个人简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53631R015.html">销售行政求职简历</a></li>
<li><a href="/zhichang/jianli/template/0F9114212015.html">媒介求职个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B052015.html">德语学专业本科生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362432015.html">房地产销售经理简历-中文简历模</a></li>
<li><a href="/zhichang/jianli/template/0G53D402015.html">外贸专业的简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>