<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>国际经济与贸易专业简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="国际经济与贸易专业简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供国际经济与贸易专业简历模板，查找国际经济与贸易专业简历模板请上深圳人才网0755rc.com!国际经济与贸易专业简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>国际经济与贸易专业简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<strong><span style="font-size:14px;">　　基本信息</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓名：章成星</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性别：男</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　出生年份：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　民族：汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　现居地：佛山</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况：未婚</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　身高：174 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　体重：77 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　意向职位：市场经理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　期望薪资：5000</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作地点：广州，深圳</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英语</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　读写：★★★☆☆ (良好)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　听说：★★★☆☆ (良好)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　兴趣爱好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　爱好踢球、绘画</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2010.09 &mdash; 2013.07上海金融学院</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业：国际经济与贸易</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　获得学历：本科</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作/实习经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2014.01 &mdash; 现在XX公司市场经理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2013.07 &mdash; 2013.12XX公司市场专员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作内容：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　与总公司和各分公司的销售部门进行深入的沟通，制定市场推广计划和成本预算计划;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　收集市场信息， 进行市场分析，撰写市场分析报告;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　负责市场宣传方面广告的策划、设计、发布，与团队共同合作完成公关项目;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　开发和管理媒体资源联络全国和区域媒体，与其建立长期稳定的合作关系;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　维护并拓展与公司业务计划及宣传计划相关的各类媒体，与其建立关系</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　相关技能</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　OFFICE ★★★☆☆ (良好)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我评价</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　本人性格开朗，进取心强，具有很强的学习能力;具有独立管理和协调能力，能独立管理和协调客户，能够进行促销的管理和实施。具有较强的市场推广和市场策划营销能力。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53E592015.html">个人简历——物流操作员</a></li>
<li><a href="/zhichang/jianli/template/0H14BU2015.html">最新销售求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BF2015.html">项目经理简历模板范文</a></li>
<li><a href="/zhichang/jianli/template/0G53E012015.html">简历模板：财务主管</a></li>
<li><a href="/zhichang/jianli/template/0G535N92015.html">语文教师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535ZH015.html">时尚典雅的彩色简历模板下载</a></li>
<li><a href="/zhichang/jianli/template/0F9114152015.html">商业个人简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0H14CH2015.html">影视策划制作人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F0H015.html">中文简历模板——市场推广总监</a></li>
<li><a href="/zhichang/jianli/template/0H14B102015.html">商务营销专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535T02015.html">采购助理个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G53EH2015.html">计算机技术员个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G5359132015.html">通用炫彩简历封面及模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C0R015.html">包装设计师个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>