<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>北京工商大学会计专业大学生求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="北京工商大学会计专业大学生求职" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供北京工商大学会计专业大学生求职简历模板，查找北京工商大学会计专业大学生求职简历模板请上深圳人才网0755rc.com! 北京工商大学会计专业大学生求职简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>北京工商大学会计专业大学生求职简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　姓名：徐芷涵</div>
<div>
	&nbsp;</div>
<div>
	　　性别：女</div>
<div>
	&nbsp;</div>
<div>
	　　出生年份：1991</div>
<div>
	&nbsp;</div>
<div>
	　　QQ：1234567</div>
<div>
	&nbsp;</div>
<div>
	　　民族：汉族</div>
<div>
	&nbsp;</div>
<div>
	　　现居地：北京</div>
<div>
	&nbsp;</div>
<div>
	　　婚姻状况：未婚</div>
<div>
	&nbsp;</div>
<div>
	　　身高：167 cm</div>
<div>
	&nbsp;</div>
<div>
	　　体重：48 kg</div>
<div>
	&nbsp;</div>
<div>
	　　教育经历</div>
<div>
	&nbsp;</div>
<div>
	　　2010.09 &mdash; 2013.07北京工商大学</div>
<div>
	&nbsp;</div>
<div>
	　　所学专业：会计</div>
<div>
	&nbsp;</div>
<div>
	　　获得学历：本科</div>
<div>
	&nbsp;</div>
<div>
	　　求职意向</div>
<div>
	&nbsp;</div>
<div>
	　　意向职位：财务主管</div>
<div>
	&nbsp;</div>
<div>
	　　期望薪资：6000</div>
<div>
	&nbsp;</div>
<div>
	　　工作地点：北京</div>
<div>
	&nbsp;</div>
<div>
	　　语言能力</div>
<div>
	&nbsp;</div>
<div>
	　　英语</div>
<div>
	&nbsp;</div>
<div>
	　　读写：★★★★☆ (熟练)</div>
<div>
	&nbsp;</div>
<div>
	　　听说：★★★★☆ (熟练)</div>
<div>
	&nbsp;</div>
<div>
	　　兴趣爱好</div>
<div>
	&nbsp;</div>
<div>
	　　平时喜欢旅游、看书、瑜珈</div>
<div>
	&nbsp;</div>
<div>
	　　兴趣爱好</div>
<div>
	&nbsp;</div>
<div>
	　　平时喜欢旅游、看书、瑜珈</div>
<div>
	&nbsp;</div>
<div>
	　　自我评价</div>
<div>
	&nbsp;</div>
<div>
	　　工作负责、细致;注重团队合作;有较强的工作协调和财务分析能力。</div>
<div>
	&nbsp;</div>
<div>
	　　工作/实习经历</div>
<div>
	&nbsp;</div>
<div>
	　　2013.08 &mdash; 现在****公司财务主管</div>
<div>
	&nbsp;</div>
<div>
	　　工作内容：</div>
<div>
	&nbsp;</div>
<div>
	　　1.负责财务部的日常管理和协调部门内部工作;</div>
<div>
	&nbsp;</div>
<div>
	　　2.分析并管理企业现金状况，检查和审核余额调节表，按照美国要求提供相关Cash Report;</div>
<div>
	&nbsp;</div>
<div>
	　　3.检查Debit Note的准备，审核应收账款账目及余额调节表，负责与欧美关联公司核对应收款项;</div>
<div>
	&nbsp;</div>
<div>
	　　4.审核应付账款的申请和入账，确保应付款项符合公司各项财务规章制度;</div>
<div>
	&nbsp;</div>
<div>
	　　5.负责公司总账相关账务处理工作-登记固定资产账目，计提折旧;各项费用分摊入账;审核其他会计制作的记账凭证;用友8.0及ERP财务系统(Movex)的记账、关账、调账及日常维护工作;</div>
<div>
	&nbsp;</div>
<div>
	　　6.定期编制月/季/年度中英文财务报告;</div>
<div>
	&nbsp;</div>
<div>
	　　7.实施公司财务内控制度，管理督促团队遵循公司各项规章、总账、预算等财务制度;</div>
<div>
	&nbsp;</div>
<div>
	　　8.年中/年终 配合Deloitte开展审计工作;</div>
<div>
	&nbsp;</div>
<div>
	　　9.安排增值税、营业税、所得税等税务申报工作，及时与当地税务部门加强联系，解决问题;按时完成年度工商、统计、年检等工作。</div>
<div>
	&nbsp;</div>
<div>
	　　2013.02 &mdash; 2013.06****公司审计专员/助理</div>
<div>
	&nbsp;</div>
<div>
	　　工作内容：</div>
<div>
	&nbsp;</div>
<div>
	　　1、协助审计经理准备审计计划和审计方案;</div>
<div>
	&nbsp;</div>
<div>
	　　2、收集客户财务资料，编制审计工作底稿;</div>
<div>
	&nbsp;</div>
<div>
	　　3、准备审计报告及相关文件，为企业改善内部控制提供建议;</div>
<div>
	&nbsp;</div>
<div>
	　　4、代理企业记账、注册办照、报税、工商年检等工作。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0F9113R2015.html">商务英语专业实习简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G535N92015.html">语文教师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14BT2015.html">电气工程专业求职简历</a></li>
<li><a href="/zhichang/jianli/template/0H14A962015.html">工业电器自动化专业学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C592015.html">会计助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D362015.html">模具专业的简历</a></li>
<li><a href="/zhichang/jianli/template/0G5363512015.html">大专个人简历模板下载</a></li>
<li><a href="/zhichang/jianli/template/0H14B912015.html">优秀的教师简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E0H015.html">个人简历模板：人事职员</a></li>
<li><a href="/zhichang/jianli/template/0G53E392015.html">个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B2H015.html">金融投资理财个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CQ2015.html">计算机专业女大学生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363142015.html">2011最新平面设计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53Cb2015.html">2010年毕业生个人简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>