<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>人事主管应聘个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="人事主管应聘个人简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供人事主管应聘个人简历模板，查找人事主管应聘个人简历模板请上深圳人才网0755rc.com!人事主管应聘个人简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>人事主管应聘个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　基本资料</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓 名：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性 别：男</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　出生年月：1988-5</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况：未婚</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　身 高：163</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　政治面貌：中共党员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　籍 贯：浙江杭州</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在地：浙江杭州</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　联系电话： &times;&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　电子邮箱： &times;&times;&times;@yjbys.com</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　期望职位：人事主管</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　职位类型：全职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作地点：浙江杭州</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工资待遇：面议</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作经验</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2011年7月 &mdash;2012年7月 &times;&times;&times;&times;控股集团 人事助理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2012年7月&mdash;2014年7月 &times;&times;&times;&times;控股集团 人事主管</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2014年7月&mdash; 2015年4月 &times;&times;&times;&times;化妆品有限公司 人事主管</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育背景</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校：杭州电子科技大学</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历：本科</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业：人力资源管理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业时间：2011-7</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英语：4级 熟练</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　计算机能力：熟练</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所获证书：人力资源四级等级证书</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育培训经历：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　管理学、微观经济学、宏观经济学、会计学、市场营销学、人力资源管理、组织行为学、劳动经济学、绩效考核与薪酬管理、社会保障、公共关系原理与实务、经济法概论</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我评价</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　I feel is a very dedicated people，If that is right, I will try to do good</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5362432015.html">房地产销售经理简历-中文简历模</a></li>
<li><a href="/zhichang/jianli/template/0H14CW2015.html">心理学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114452015.html">销售代表简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B5R015.html">人事主管的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C012015.html">工程造价专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E162015.html">文秘简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14Ab2015.html">计算机专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535X92015.html">技术支持工程师个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535Q12015.html">广告创意策划个人简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0F9114592015.html">工业电器自动化简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C152015.html">2015网络工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535N02015.html">国际货代个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G5362K2015.html">2012最新空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535U42015.html">产品结构设计师个人简历模板-中</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>