<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>报社编辑实习生个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="报社编辑实习生个人简历模板" />
<meta name="description" content="报社编辑实习生个人简历模板是怎么样的？以下是报社编辑实习生个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>报社编辑实习生个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　报社编辑实习生个人简历模板是怎么样的？以下是报社编辑实习生个人简历模板供大家参考。</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　基本信息</strong></div>
<div>
	&nbsp;</div>
<div>
	　　姓　　名：陈小姐</div>
<div>
	&nbsp;</div>
<div>
	　　年　　龄：23</div>
<div>
	&nbsp;</div>
<div>
	　　户口所在：广西</div>
<div>
	&nbsp;</div>
<div>
	　　婚姻状况：未婚</div>
<div>
	&nbsp;</div>
<div>
	　　民　　族：汉族</div>
<div>
	&nbsp;</div>
<div>
	　　人才类型：普通求职</div>
<div>
	&nbsp;</div>
<div>
	　　应聘职位：写作/出版/印刷</div>
<div>
	&nbsp;</div>
<div>
	　　毕业院校：河池学院</div>
<div>
	&nbsp;</div>
<div>
	　　最高学历：大专</div>
<div>
	&nbsp;</div>
<div>
	　　专 业 ：新闻学</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　语言能力</strong></div>
<div>
	&nbsp;</div>
<div>
	　　外语：英语　一般粤语水平：一般</div>
<div>
	&nbsp;</div>
<div>
	　　其它外语能力：</div>
<div>
	&nbsp;</div>
<div>
	　　国语水平：一般</div>
<div>
	&nbsp;</div>
<div>
	　　工作能力及其他专长</div>
<div>
	&nbsp;</div>
<div>
	　　全国计算机一级</div>
<div>
	&nbsp;</div>
<div>
	　　语言能力强，表述清晰，普通话二乙。</div>
<div>
	&nbsp;</div>
<div>
	　　专业实习：北海日报社，实习记者，发表作品15篇，三个月。</div>
<div>
	&nbsp;</div>
<div>
	　　八桂网，网络编辑，负责网站信息更新与维护。三个月。</div>
<div>
	&nbsp;</div>
<div>
	　　课外实习：河池学院后勤编辑部，主编助理，一年半。</div>
<div>
	&nbsp;</div>
<div>
	　　2011年11月，文学与传媒学院运动会，获&ldquo;女子4*100接力第三名&rdquo;；</div>
<div>
	&nbsp;</div>
<div>
	　　2012年9月，文学与传媒学院新生接待，获&ldquo;先进个人奖&rdquo;；</div>
<div>
	&nbsp;</div>
<div>
	　　2013年10月，获学院&ldquo;优秀共青团员&rdquo;称号；</div>
<div>
	&nbsp;</div>
<div>
	　　2014年5月，获&ldquo;社团优秀编辑&rdquo;称号。</div>
<div>
	&nbsp;</div>
<div>
	　　文字功底好，语言表达能力强，熟悉文化传播技能，能独立采访写作。各类文书起稿写作。</div>
<div>
	&nbsp;</div>
<div>
	　　熟悉计算机的基本操作，熟悉排版软件。取得三级秘书资格证。</div>
<div>
	&nbsp;</div>
<div>
	　　人际交往能力强，善与人沟通。</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　自我评价</strong></div>
<div>
	&nbsp;</div>
<div>
	　　安静的外表，狂热的内心。虽不能事事全懂，只怕你不给我机会。</div>
<div>
	&nbsp;</div>
<div>
	　　大家好，我是陈幸凤，奋斗工作接下来是我的光荣而艰巨的任务。给我一个机会，让我为贵公司服务。谢谢！</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C232015.html">客服主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B392015.html">总务主管的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CG2015.html">服装设计岗位求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C392015.html">编辑兼校对个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B232015.html">英语专业本科应届毕业生个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G5362162015.html">游戏工程师个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B212015.html">高级会计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53ET2015.html">个人简历-毕业生简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C5H015.html">金融销售经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EL2015.html">简历模板（四）办公室秘书</a></li>
<li><a href="/zhichang/jianli/template/0G535L22015.html">师范大学毕业生个人简历模版-中</a></li>
<li><a href="/zhichang/jianli/template/0G5363362015.html">简洁实用的个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53635H015.html">冬意-彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DP2015.html">经典个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>