<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>电子商务大专生求职简历模板-中文简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="电子商务大专生求职简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供电子商务大专生求职简历模板，查找电子商务大专生求职简历模板请上深圳人才网0755rc.com!电子商务大专生求职简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>电子商务大专生求职简历模板-中文简历模板</h2>
<p class="fbsj">时间：2015-07-21 15:06</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　姓名：孟宇凡</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性别：男</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　出生年份：1991</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　QQ：123456</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　民族：汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　现居地：上海</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况：未婚</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　身高：174 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　体重：67 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　意向职位：进出口专员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　期望薪资：5000</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作地点：上海</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英语</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　读写：★★★★☆ (熟练)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　听说：★★★★☆ (熟练)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　兴趣爱好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　喜欢游泳、打球、看电影</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我评价</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　良好的职业素养，认真负责的态度是我对工作的自我基本要求。有着年轻人的冲劲和拼劲，勇于接受挑战。另：最重要的是能力，相信贵公司会觉得我是此职位的合适人选!</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2010.09 &mdash; 2013.07佛山职业技术学院</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业：电子商务</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　获得学历：大专</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作/实习经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2013.06 &mdash; 现在xx公司船务</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作内容：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、根据合同出货条款，联系货代订船订仓，确保按时装柜发货</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、负责做整套的报关出口单证，并按时补料,确保提单数据准确</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、审核信用证并制作整套的交单文件</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、核对和催收提单并做按合同要求申请产地证(CO，FORM A)，安排报关和报检</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5、DDP 条款下，做整套清关资料给国外的货代，联系国外货代处理相关的清关工作，并监督国外货代及时把货送到给客人。核对国外货代的费用，安排付款，并记录每个货柜的费用，以便给业务报价用。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　6、从ERP上打印受订单及出库单给成品仓仓管员核对产品数量并监督装柜</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　7、及时提交货运费用签呈，确保按时领回提单和核销单</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　8、出货相关资料的登记及整理归档</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2013.02 &mdash; 2013.05xx公司船务跟单</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作内容：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、有关订单的跟进，需要与供应商沟通细节，交换意见,安排生产等;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、包括有关报价、样板与客户沟通的来外文件的制作;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、负责进出口订舱，安排商检,报关,制作出口所需单证等船务工作;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、货物出口后整套资料的退税资料的制作</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　相关技能</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　office ★★★★☆ (熟练)</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H14C942015.html'>电子商务大专生求职简历模板</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5363242015.html">电子商务专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361C2015.html">应届毕业生最实用求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C142015.html">机械工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535W32015.html">金融行业个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14B4H015.html">会展策划人员应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E142015.html">人力资源主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CY2015.html">计算机网络技术及应用专业简历模</a></li>
<li><a href="/zhichang/jianli/template/0G53EO2015.html">应届毕业生中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B4R015.html">客服人员应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C032015.html">系统管理员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C312015.html">工程经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535T42015.html">区域经理个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0H14CU2015.html">多媒体与网络技术专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>