<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>应聘管培实习生个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="应聘管培实习生个人简历模板" />
<meta name="description" content="应聘管培实习生个人简历模板是怎么样的？以下是应聘管培实习生个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>应聘管培实习生个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="5" style="width:596px;height:4px;">
				<p align="center">
					&nbsp;<strong>个人基本资料</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:106px;height:37px;">
				<p align="center">
					姓&nbsp;&nbsp;&nbsp; 名</p>
			</td>
			<td style="width:121px;height:37px;">
				<p align="center">
					尹仁杰</p>
			</td>
			<td style="width:110px;height:37px;">
				<p align="center">
					性&nbsp;&nbsp;&nbsp; 别：</p>
			</td>
			<td style="width:112px;height:37px;">
				<p align="center">
					男</p>
			</td>
			<td rowspan="5" style="width:146px;height:37px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:106px;height:35px;">
				<p align="center">
					出生日期</p>
			</td>
			<td style="width:121px;height:35px;">
				<p align="center">
					1991.10</p>
			</td>
			<td style="width:110px;height:35px;">
				<p align="center">
					学&nbsp;&nbsp;&nbsp; 历</p>
			</td>
			<td style="width:112px;height:35px;">
				<p>
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 本科</p>
			</td>
		</tr>
		<tr>
			<td style="width:106px;height:32px;">
				<p align="center">
					民&nbsp;&nbsp;&nbsp; 族</p>
			</td>
			<td style="width:121px;height:32px;">
				<p align="center">
					汉</p>
			</td>
			<td style="width:110px;height:32px;">
				<p align="center">
					籍&nbsp;&nbsp;&nbsp; 贯</p>
			</td>
			<td style="width:112px;height:32px;">
				<p align="center">
					四川</p>
			</td>
		</tr>
		<tr>
			<td style="width:106px;height:32px;">
				<p align="center">
					政治面貌</p>
			</td>
			<td style="width:121px;height:32px;">
				<p align="center">
					&nbsp;预备党员</p>
			</td>
			<td style="width:110px;height:32px;">
				<p align="center">
					婚姻状况</p>
			</td>
			<td style="width:112px;height:32px;">
				<p align="center">
					&nbsp;未婚</p>
			</td>
		</tr>
		<tr>
			<td style="width:106px;height:30px;">
				<p align="center">
					毕业院校</p>
			</td>
			<td style="width:121px;height:30px;">
				<p align="center">
					浙江大学</p>
			</td>
			<td style="width:110px;height:30px;">
				<p align="center">
					专&nbsp;&nbsp;&nbsp; 业</p>
			</td>
			<td style="width:112px;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:106px;height:30px;">
				<p align="center">
					联系方式</p>
			</td>
			<td style="width:121px;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td style="width:110px;height:30px;">
				<p align="center">
					网址</p>
			</td>
			<td colspan="2" style="width:258px;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:596px;">
				<p align="left">
					&nbsp;<strong>自我</strong><strong>评价</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:596px;">
				<p align="left">
					&nbsp;&nbsp; 本人工作细心，责任心强,能及时完成上级交代的任务并及时反馈。能吃苦耐劳，学习能力强，性格活泼大方，能很好融入新的环境，友爱同事！ 希望在一个新的工作环境里，能在原有的专业知识水平上得到一定的提高。</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:596px;">
				<p align="left">
					&nbsp; <strong>求职意向</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:596px;">
				<p align="left" style="margin-left:73.5pt;">
					希望应聘贵公司管培实习生职位,并希望在贵公司长期发展</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:596px;">
				<p align="left">
					&nbsp; <strong>职业技能</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:596px;">
				<p align="left">
					1、具有扎实的专业能力<br />
					2、能够熟练使用CAD，PRO-E等绘图软件<br />
					3、能熟练应用office办公软件<br />
					4、拥有数控机床证、专业证。</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:596px;height:27px;">
				<p align="left">
					&nbsp; <strong>主修课程</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:596px;">
				<p align="left">
					&nbsp; 机械制图、 Pro/Engineer三维设计、 机械设计基础、 液压气动系统安装与调试、 数控加工编程与操作、自动化生产线安装与调试、 电机与拖动基础、 C语言程序设计教程、 电气控制与PLC应用技术、 电子电工技术、 工程力学</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:596px;">
				<p align="left">
					&nbsp;&nbsp; <strong>个人相关工作经力</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="width:596px;height:6px;">
				<p align="left">
					&nbsp; 在校期间参加了数控的编程与操作实习、PLC控制实习、金工实习、电工实习、机电一体化实习等.掌握了机电一体化、数控技术等相关专业技能。暑假做过专业相关工作。同时磨练了自己的意志和吃苦耐劳的精神。</p>
				<p align="left">
					&nbsp;</p>
				<p align="left">
					&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0F9114012015.html">旅游业个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14BR2015.html">市场助理个人简历模板范文</a></li>
<li><a href="/zhichang/jianli/template/0G53F142015.html">编辑人员中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EZ2015.html">质量管理个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14CJ2015.html">区域销售经理应聘简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144OH015.html">电子商务大专生求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14C332015.html">应聘酒店储备干部实习简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CY2015.html">计算机网络技术及应用专业简历模</a></li>
<li><a href="/zhichang/jianli/template/0H14C052015.html">建筑预算员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B112015.html">测绘工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B262015.html">会计毕业生简历模版</a></li>
<li><a href="/zhichang/jianli/template/0G53D942015.html">金融学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BF2015.html">项目经理简历模板范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C302015.html">造型设计专业个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>