<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>工程测量专业求职简历 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="工程测量专业求职简历" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供工程测量专业求职简历，查找工程测量专业求职简历请上深圳人才网0755rc.com!工程测量专业求职简历代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>工程测量专业求职简历</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　模板一</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　基本信息</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓　　名： &nbsp;性　　别： 男</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　民　　族： 汉 出生年月： 1989年5月2日</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　证件号码： 婚姻状况： 未婚</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　身　　高： 176cm 体　　重： 68kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户　　籍： 江西赣州 现所在地： 江西赣州</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业学校： 江西应用技术职业学校 学　　历： 中专</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专业名称： 工程测量 毕业年份：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 职　　称：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职 意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　职位性质： 全 职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　职位类别： 网络维护</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　职位名称： 面议 ;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作地区： 江西赣州 ;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　待遇要求： 1500元/月 可面议 ; 不需要提供住房</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　到职时间： 可随时到岗</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　技能专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育培训</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育经历：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　时间 所在学校 学历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训经历：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　时间 培训机构 证书</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所在公司： 赣州酒厂</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　时间范围： 2006年12月 - 2007年12月</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 国有企业</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所属行业： 其他</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 开凉糟机</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 去酒厂是我亲戚帮忙进去的，进去学开凉糟机，班长说要学1-2个月才能学会，我学了1个礼拜不到，就被派单独作业，不过也是顶下来了。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 没前途，对酒的方面没兴趣</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所在公司： 赣州网通公司</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　时间范围： 2008年1月 - 2009年8月</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 私营企业</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所属行业： 互联网、电子商务</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 网络维护</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 进了这个公司，首先要熟悉整个赣州市地理情况，带了我半个月基本熟悉上。工作了1年半，维护方面大大小小的故障，个方面的难题，觉得都没什么搞。简单，主要就是要去跑，一直在外面跑，非常艰苦，要建立与客户之间的友好关系发展为朋友，扩大公司用户，我做维护也拉了不少用户给公司。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 太累了，做得没意思，就是个跑腿的，主要不报销油费，导致我消费超支。所以不干了。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　其他信息</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我评价： 本人吃苦耐劳，不懂的地方只要有人教有人带，我肯定很快就会熟练的，学习成绩不怎么样，但是学习技术，技巧方面的比较强，自我学习能力比较强。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　发展方向： 面议</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　其他要求： 面议</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C942015.html">电子商务大专生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CD2015.html">2015优秀应届生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C422015.html">职业规划师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BR2015.html">市场助理个人简历模板范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C622015.html">护理专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BM2015.html">财务经理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BD2015.html">2015护士个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53631R015.html">销售行政求职简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C312015.html">工程经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C252015.html">机械工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C562015.html">电子商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362952015.html">普通司机求职简历</a></li>
<li><a href="/zhichang/jianli/template/0G53D642015.html">计算机软件应用专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535ZH015.html">时尚典雅的彩色简历模板下载</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>