<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>项目经理简历模板范文 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="项目经理简历模板范文" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供项目经理简历模板范文，查找项目经理简历模板范文请上深圳人才网0755rc.com! 项目经理简历模板范文代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>项目经理简历模板范文</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<strong><span style="font-size:14px;">　　基本信息</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓名：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在： 广州 年　　龄： 27</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在： 湖南 国　　籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 民　　族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训认证： 未参加 身　　高： 165 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　诚信徽章： 未申请 体　　重： 60 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　求职意向</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 普通求职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 通信技术：，生产/营运：，电子/电器/半导体/仪器仪表：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 4 职　　称： 无职称</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 全职 可到职日期： 随时</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 3500--5000 希望工作地区： 广东省,中山,佛山</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　工作经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　皖通股份有限公司　　 起止年月：2009-03 ～ 2011-02</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 民营企业　　所属行业：通信/电信/网络设备</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 项目经理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 主要负责中兴通讯公司光传输设备DWDM、SDH、PTN 的项目开展，包括工程督导、设备开通调测，整体组网规划、后期网管及故障处理，以及和局方、监理方、施工方的沟通协调、合同验收测试、终签等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　作为项目经理完成的新建工程项目：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广东云浮电信2009波分工程</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广东中山市联通W网一期、二期、2010年预启动SDH传输工程</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广东中山市移动2009年PTN传输工程</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广东汕尾市移动2010年PTN传输工程</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广东汕尾2010年波分扩容工程</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 暂未离职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广东省连州市广播电视台　　 起止年月：2007-03 ～ 2009-03</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 事业单位　　所属行业：通信/电信运营、增值服务</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 网络中心技术员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 负责市电视台光传输网络的建设、维护及计算机局域网和收费系统SQL数据库管理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 个人家庭原因</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　教育背景</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 山西大学</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 本科　　获得学位: 理学学士 毕业日期： 2003-07</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专 业 一： 光信息科学与技术 专 业 二：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　起始年月 终止年月 学校(机构) 所学专业 获得证书 证书编号</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2003-09 2007-03 山西大学 光信息科学与技术 理学学士 -</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　语言能力</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　良好 粤语水平： 一般</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　其它外语能力： 国家四级</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 优秀</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　负责中兴通讯公司光传输设备DWDM、SDH、PTN 的项目开展，包括工程督导、设备开通调测，整体组网规划、后期网管及故障处理，以及和局方、监理方、施工方的沟通协调、合同验收测试、终签等</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　具有计算机，电子，光通信 等方面综合知识。熟悉通信项目的各层开展流程、具备项目管理的能力、经过实际工作的锻炼，拥有较强沟通协调意识和技巧。因为通信行业工作压力较大，现已磨砺出较强的工作忍耐力和抗压能力，适合于综合性工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　详细个人自传</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2003年9月至2007年3月，就读于山西大学物理电子工程学院光信息科学与技术 专业</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　主要学习方面为：光通信、电子信息、计算机技术，不拘泥于本专业，有较宽的知识面。。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2009年3月至今， 就职于皖通邮电股份有限公司广州办事处</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2007年3月至2009年3月，广东省连州市广播电视台光纤网络中心工作。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14B042015.html">建筑工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DP2015.html">经典个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362H2015.html">最新销售代表简历</a></li>
<li><a href="/zhichang/jianli/template/0G5361X2015.html">计算机求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BF2015.html">项目经理简历模板范文</a></li>
<li><a href="/zhichang/jianli/template/0H14BB2015.html">2015跳槽英文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CZ2015.html">艺术设计学学生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B592015.html">成本会计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E042015.html">简历模板：市场推广总监</a></li>
<li><a href="/zhichang/jianli/template/0G5361O2015.html">PHP计算机程序员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C122015.html">英德双语专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EH2015.html">计算机技术员个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G5362K2015.html">2012最新空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C022015.html">工业企业管理专业实习简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>