<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>景观设计在校学生个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="景观设计在校学生个人简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供景观设计在校学生个人简历模板，查找景观设计在校学生个人简历模板请上深圳人才网0755rc.com!景观设计在校学生个人简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>景观设计在校学生个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　基本信息</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓　　名：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国　　籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　民　　族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　年　　龄： 22</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在： 茂名</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　身　　高： 168 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　体　　重： 56 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　联系电话：&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　电子邮箱：&times;&times;&times;@yjbys.com</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 在校学生</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 园艺/园林/景观设计，资料员，施工员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 实习</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　可到职日期： 随时</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 1500～2000元</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　希望工作地区： 广州，东莞，佛山</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广州市&times;&times;园林装饰工程有限公司</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　起止年月： 2014-11 ～ 2015-02</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 民营企业</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所属行业： 房地产/建筑</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 工程资料员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 工程资料员的工作主要是做好工程资料的分类与归档。资料一般分为开工前、施工中、完工后所要整理的资料。开工前的资料为招投标书、合同、开工报告等等;施工过程中的资料包括材料报审、测量防线记录、签证的办理、等等，还有要做好与建设单位、监理单位工作交流开会的会议记录、会审，要和他们打好关系、做好资料来往的记录。完工后，要及时做好工程竣工资料，包括竣工图、完工证明书等等、送监理、甲方签字确认。还有要做好项目部的考勤等等。此份工作要求对word / excel熟练应用、此外对CAD的使用也要熟练。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 家里有急事</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 广东科贸职业学院</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 大专</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业日期： 2015-06</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业： 园林规划设计</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　良好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　粤语水平： 优秀</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 良好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　熟悉的cad、ps操作，秒杀WORD 和EXCEL,水准仪操作能力强，略懂3D ,能够吃耐劳。。。。。。较好的自学能力，沟通能力较强。拥有C1驾照。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　个人自传</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　时光飞逝，日月如梭。很快，漫长而又短暂的大学生活就接近尾声了，回首走过的三年，值得反思和铭记的东西很多。在这三年里我实现了人生的巨大转变，思想上，学习上，生活上，身心上都有了很大的提高。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　思想上，热爱祖国，坚决拥护党的领导，关心国家时事，积极向党组织靠拢，并树立社会主义新时期&ldquo;八荣八耻&ldquo;荣誉观，严格遵守国家的法律法规。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　学习上，学习态度认真，目标明确，不耻下问，有强烈的求知欲望，勤奋好学。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　生活上，乐于助人，诚实守信，平易近人，关心集体，有良好的生活习惯和严谨的作风，节俭朴素。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　身心上，自信，乐观，坚强，勇于面对各种压力和挑战，克服各种困难和挫折。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　大学三年里，在各方面都成就了一个崭新的自己。但还有很多缺点需要克服，所以还需继续努力完善自我，力争在今后的工作中更快进步。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14B322015.html">人事主管应聘个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114452015.html">销售代表简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14BJ2015.html">结构工程师简历模板参考</a></li>
<li><a href="/zhichang/jianli/template/0G53EW2015.html">中文简历：网络公司技术支持部经</a></li>
<li><a href="/zhichang/jianli/template/0G535R32015.html">行政助理个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0H14BC2015.html">行政助理英文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F192015.html">中文简历模板——市场主管</a></li>
<li><a href="/zhichang/jianli/template/0G53ET2015.html">个人简历-毕业生简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C122015.html">英德双语专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C392015.html">编辑兼校对个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EZ2015.html">质量管理个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G53EO2015.html">应届毕业生中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B3R015.html">会计文员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C362015.html">食品科学与工程专业个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>