<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>电脑艺术设计专业简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="电脑艺术设计专业简历模板" />
<meta name="description" content="电脑艺术设计专业简历模板是怎么样的？以下是电脑艺术设计专业简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>电脑艺术设计专业简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<table border="1" cellpadding="0" cellspacing="0" style="width:114.78%;" width="114%">
	<tbody>
		<tr>
			<td style="width:13.42%;height:30px;">
				<p align="center">
					<strong>姓</strong>&nbsp;&nbsp; <strong>名</strong></p>
			</td>
			<td colspan="2" style="width:13.42%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:13.42%;height:30px;">
				<p align="center">
					<strong>性</strong>&nbsp;&nbsp; <strong>别</strong></p>
			</td>
			<td style="width:13.5%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:12.84%;height:30px;">
				<p align="center">
					<strong>出生日期</strong></p>
			</td>
			<td style="width:14.64%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" rowspan="5" style="width:18.76%;height:30px;">
				<p align="center">
					<strong>照片</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:13.42%;height:30px;">
				<p align="center">
					<strong>政治面貌</strong></p>
			</td>
			<td colspan="2" style="width:13.42%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:13.42%;height:30px;">
				<p align="center">
					<strong>体</strong>&nbsp;&nbsp; <strong>重</strong></p>
			</td>
			<td style="width:13.5%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:12.84%;height:30px;">
				<p align="center">
					<strong>身</strong>&nbsp;&nbsp;&nbsp; <strong>高</strong></p>
			</td>
			<td style="width:14.64%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:13.42%;height:30px;">
				<p align="center">
					<strong>民</strong>&nbsp;&nbsp; <strong>族</strong></p>
			</td>
			<td colspan="2" style="width:13.42%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:13.42%;height:30px;">
				<p align="center">
					<strong>籍</strong>&nbsp;&nbsp; <strong>贯</strong></p>
			</td>
			<td style="width:13.5%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:12.84%;height:30px;">
				<p align="center">
					<strong>婚姻状况</strong></p>
			</td>
			<td style="width:14.64%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:13.42%;height:30px;">
				<p align="center">
					<strong>现居住地</strong></p>
			</td>
			<td colspan="2" style="width:13.42%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:13.42%;height:30px;">
				<p align="center">
					<strong>健康状况</strong></p>
			</td>
			<td style="width:13.5%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:12.84%;height:30px;">
				<p align="center">
					<strong>血</strong>&nbsp;&nbsp;&nbsp; <strong>型</strong></p>
			</td>
			<td style="width:14.64%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:18.8%;height:30px;">
				<p align="center">
					<strong>学</strong>&nbsp;&nbsp; <strong>历</strong></p>
			</td>
			<td colspan="4" style="width:34.96%;height:30px;">
				<p align="center">
					<strong>专科</strong></p>
			</td>
			<td colspan="2" style="width:12.84%;height:30px;">
				<p align="center">
					<strong>毕业时间</strong></p>
			</td>
			<td style="width:14.64%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:18.8%;height:30px;">
				<p align="center">
					<strong>专</strong>&nbsp;&nbsp;&nbsp; <strong>业</strong></p>
			</td>
			<td colspan="4" style="width:34.96%;height:30px;">
				<p align="center">
					电脑艺术设计</p>
			</td>
			<td colspan="2" style="width:12.84%;height:30px;">
				<p align="center">
					<strong>毕业学校</strong></p>
			</td>
			<td colspan="3" style="width:33.4%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:18.8%;height:30px;">
				<p align="center">
					<strong>计算机水平</strong></p>
			</td>
			<td colspan="9" style="width:81.2%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:18.8%;height:30px;">
				<p align="center">
					<strong>外语水平</strong></p>
			</td>
			<td colspan="9" style="width:81.2%;height:30px;">
				<p align="center">
					英语三级</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:18.8%;height:30px;">
				<p align="center">
					<strong>联系电话</strong></p>
			</td>
			<td colspan="4" style="width:34.96%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:12.84%;height:30px;">
				<p align="center">
					<strong>E-mail</strong></p>
			</td>
			<td colspan="3" style="width:33.4%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="4" style="width:13.42%;height:30px;">
				<p align="center">
					<strong>学习简历</strong></p>
			</td>
			<td colspan="3" style="width:23.74%;height:30px;">
				<p align="center">
					<strong>起止年月</strong></p>
			</td>
			<td colspan="3" style="width:29.28%;height:30px;">
				<p align="center">
					<strong>就读学校</strong></p>
			</td>
			<td colspan="3" style="width:20.52%;height:30px;">
				<p align="center">
					<strong>专业</strong></p>
			</td>
			<td style="width:13.04%;height:30px;">
				<p align="center">
					<strong>学历</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:23.74%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="3" style="width:29.28%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="3" style="width:20.52%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td style="width:13.04%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:23.74%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="3" style="width:29.28%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="3" style="width:20.52%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td style="width:13.04%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:23.74%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="3" style="width:29.28%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="3" style="width:20.52%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td style="width:13.04%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="5" style="width:13.42%;height:30px;">
				<p align="center">
					<strong>在校任职</strong><strong>/</strong><strong>社会实践</strong><strong>/</strong><strong>工作经历</strong></p>
			</td>
			<td colspan="3" style="width:23.74%;height:30px;">
				<p align="center">
					<strong>起止年月</strong></p>
			</td>
			<td colspan="7" style="width:62.86%;height:30px;">
				<p align="center">
					<strong>主要经历（如担任职务、工作内容等）</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:23.74%;height:30px;">
				<p>
					2012 &nbsp;&nbsp;&nbsp;志愿者</p>
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="7" style="width:62.86%;height:30px;">
				<p align="center">
					利于周末时间到路面从事志愿者工作，帮助旅客乘车、下车，协助协警指挥交通。在付出的过程中，收获了奉献的乐趣和被社会认可的喜悦，也增强了交往、沟通的能力。</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:23.74%;height:30px;">
				<p>
					2012年暑期&nbsp;&nbsp; 兼职</p>
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="7" style="width:62.86%;height:30px;">
				<p align="center">
					在暑期从事兼职工作 体验过路面发送海报 家教 手机店面从事促销工作。在兼职的期间内，提高了自己的交流能力，带来了丰富的工作经历</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:23.74%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="7" style="width:62.86%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:23.74%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="7" style="width:62.86%;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="11" style="width:100.0%;height:57px;">
				<p>
					<strong>在校期间获奖情况：</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="11" style="width:100.0%;height:57px;">
				<p style="margin-left:21.0pt;">
					l&nbsp; <strong>特长</strong><strong>/</strong><strong>专业技能：</strong>普通话通过国家二乙，表达清晰、流畅</p>
				<p style="margin-left:21.0pt;">
					l&nbsp; 英语通过国家三级考试，具备较好的英语听说读写能力</p>
				<p style="margin-left:21.0pt;">
					l&nbsp; 计算机技能良好，能熟练操作office办公软件及其他现代教育设备</p>
				<p style="margin-left:21.0pt;">
					l&nbsp; 能够熟练使用Dreamweaver MX 2004、Adobe Photoshop CS、CAD、FLASH、3DMAX等软件</p>
				<p style="margin-left:21.0pt;">
					l&nbsp; 拥有C1驾照</p>
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="11" style="width:100.0%;height:57px;">
				<p>
					<strong>培训经历：</strong>参加校电脑平面广告设计（Photoshop）和电脑办公自动化(Office)培训</p>
			</td>
		</tr>
		<tr>
			<td colspan="11" style="width:100.0%;height:57px;">
				<p>
					<strong>自我评价</strong>我对待工作认真负责，善于沟通、协调有较强的组织能力与团队精神;活泼开朗、乐观上进、有爱心并善于施教并行;上进心强、勤于学习能不断进步自身的能力与综合素质。在未来的工作中，我将以充沛的精力，刻苦钻研的精神来努力工作，稳定地进步自己的工作能力，与公司同步发展。</p>
			</td>
		</tr>
		<tr>
			<td colspan="11" style="width:100.0%;height:57px;">
				<p>
					<strong>职业发展设想：</strong></p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5362162015.html">游戏工程师个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G5363392015.html">大学生标准个人简历表格模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CZ2015.html">艺术设计学学生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C002015.html">设计经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C112015.html">化工工艺专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C062015.html">注塑技术员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14Ab2015.html">计算机专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362K2015.html">2012最新空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B452015.html">日语采购简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535K12015.html">大学本科生个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5362622015.html">2012经典空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C022015.html">工业企业管理专业实习简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D232015.html">本科机械类专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C442015.html">销售专员个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>