<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>人力资源管理专业本科生求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="人力资源管理专业本科生求职简历" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供人力资源管理专业本科生求职简历模板，查找人力资源管理专业本科生求职简历模板请上深圳人才网0755rc.com!人力资源管理专业本科生求职简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>人力资源管理专业本科生求职简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　姓名：0755rc</div>
<div>
	&nbsp;</div>
<div>
	　　性别：女</div>
<div>
	&nbsp;</div>
<div>
	　　出生年份：1991</div>
<div>
	&nbsp;</div>
<div>
	　　QQ：1234567</div>
<div>
	&nbsp;</div>
<div>
	　　民族：汉族</div>
<div>
	&nbsp;</div>
<div>
	　　现居地：西安</div>
<div>
	&nbsp;</div>
<div>
	　　婚姻状况：未婚</div>
<div>
	&nbsp;</div>
<div>
	　　身高：167 cm</div>
<div>
	&nbsp;</div>
<div>
	　　体重：48 kg</div>
<div>
	&nbsp;</div>
<div>
	　　教育经历</div>
<div>
	&nbsp;</div>
<div>
	　　2010.09 &mdash; 2013.07</div>
<div>
	&nbsp;</div>
<div>
	　　西安邮电学院</div>
<div>
	&nbsp;</div>
<div>
	　　所学专业：人力资源管理</div>
<div>
	&nbsp;</div>
<div>
	　　获得学历：本科</div>
<div>
	&nbsp;</div>
<div>
	　　求职意向</div>
<div>
	&nbsp;</div>
<div>
	　　意向职位：人力资源经理</div>
<div>
	&nbsp;</div>
<div>
	　　期望薪资：3500</div>
<div>
	&nbsp;</div>
<div>
	　　工作地点：西安</div>
<div>
	&nbsp;</div>
<div>
	　　语言能力</div>
<div>
	&nbsp;</div>
<div>
	　　英语</div>
<div>
	&nbsp;</div>
<div>
	　　读写：★★★★☆ (熟练)</div>
<div>
	&nbsp;</div>
<div>
	　　听说：★★★☆☆ (良好)</div>
<div>
	&nbsp;</div>
<div>
	　　相关技能</div>
<div>
	&nbsp;</div>
<div>
	　　PS</div>
<div>
	&nbsp;</div>
<div>
	　　★★★☆☆ (良好)</div>
<div>
	&nbsp;</div>
<div>
	　　OFFICE</div>
<div>
	&nbsp;</div>
<div>
	　　★★★★☆ (熟练)</div>
<div>
	&nbsp;</div>
<div>
	　　自我评价</div>
<div>
	&nbsp;</div>
<div>
	　　原则性强，良好的计划、分析、执行、沟通能力，责任心强，有系统的大中型人事行政管理知识。</div>
<div>
	&nbsp;</div>
<div>
	　　工作/实习经历</div>
<div>
	&nbsp;</div>
<div>
	　　2013.08 &mdash; 现在**公司人事经理</div>
<div>
	&nbsp;</div>
<div>
	　　工作内容：</div>
<div>
	&nbsp;</div>
<div>
	　　1.严格遵守、认真贯彻落实公司的方针政策和各项规章制度。</div>
<div>
	&nbsp;</div>
<div>
	　　2.根据公司实际及各部门人力资源需求的变动申请，编制公司人力资源变动(发展)计划，提交上级领导批准后实施。</div>
<div>
	&nbsp;</div>
<div>
	　　3.诊断与完善人事培训体系及招募建设，.组织人力招募、到职准备，职前及在职培训工作。</div>
<div>
	&nbsp;</div>
<div>
	　　4.负责行政人事管理规章制度、工作规程、部门管理制度的制订与审核;人事的薪酬体系，KPI体系的设计与完善。</div>
<div>
	&nbsp;</div>
<div>
	　　5.根据公司实际，提出或审核各岗位职责，批准或上报有关领导批准，监督或督促各岗位员工履行岗位职责</div>
<div>
	&nbsp;</div>
<div>
	　　6.负责办理劳动用工合同、投保，居住证等用工相关的手续。组织每年的员工体检。</div>
<div>
	&nbsp;</div>
<div>
	　　7.落实公司人事调动、奖励、处分决定、决议。</div>
<div>
	&nbsp;</div>
<div>
	　　8.协助安全主任，组织、监督、指导全厂的安全教育、安全生产及消防工作。</div>
<div>
	&nbsp;</div>
<div>
	　　9.负责公司8S推行、资产管理、文件资料管理。</div>
<div>
	&nbsp;</div>
<div>
	　　10.组织、督察各部门的员工考勤、考核工作，控制加班工时，审核、复核或计算员工工时。</div>
<div>
	&nbsp;</div>
<div>
	　　11.申报、协助确认工伤事故，办理经济赔偿;安排工伤员工的治疗、护理等各项事宜。</div>
<div>
	&nbsp;</div>
<div>
	　　12.各种宣传册，标示卡，信笺，表格，信封，厂卡的印刷。</div>
<div>
	&nbsp;</div>
<div>
	　　13.保管公司公章，确保其合法、正确使用，登记每次使用的具体情况。</div>
<div>
	&nbsp;</div>
<div>
	　　14.办公辅料的采购及保管，年度固定资产的盘点，行政费用的预算。</div>
<div>
	&nbsp;</div>
<div>
	　　15.车辆的调派，膳食饭堂宿舍内务以及工衣的管理。</div>
<div>
	&nbsp;</div>
<div>
	　　16.组织公司的各种活动，加大企业文化建设。</div>
<div>
	&nbsp;</div>
<div>
	　　17.服从工作安排，完成上级交给的各项临时任务。</div>
<div>
	&nbsp;</div>
<div>
	　　2013.02 &mdash; 2013.06**公司企业文化专员</div>
<div>
	&nbsp;</div>
<div>
	　　工作内容：</div>
<div>
	&nbsp;</div>
<div>
	　　1、员工离职访谈调查分析、离职管理。</div>
<div>
	&nbsp;</div>
<div>
	　　2、优秀员工激励措施的制定和评比。</div>
<div>
	&nbsp;</div>
<div>
	　　3、企业每月报刊的制作发行。</div>
<div>
	&nbsp;</div>
<div>
	　　4、每月员工生日晚会的举办、重要节日与其他例外活动的策划。</div>
<div>
	&nbsp;</div>
<div>
	　　5、负责劳动合同签订，变更，续约，解除与终止。</div>
<div>
	&nbsp;</div>
<div>
	　　6、劳资纠纷与申诉管理。</div>
<div>
	&nbsp;</div>
<div>
	　　7、公司CIS的应用。</div>
<div>
	&nbsp;</div>
<div>
	　　8、组织员工户外的互动培训。</div>
<div>
	&nbsp;</div>
<div>
	　　9、新员工的企业文化知识和心态的培训。</div>
<div>
	&nbsp;</div>
<div>
	　　10、年度联欢晚会的策划工作。</div>
<div>
	&nbsp;</div>
<div>
	　　兴趣爱好</div>
<div>
	&nbsp;</div>
<div>
	　　平时喜欢看漫画、上网、听音乐、打羽毛球</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G535KH015.html">测控技术与仪器业个人简历模板-</a></li>
<li><a href="/zhichang/jianli/template/0G5363392015.html">大学生标准个人简历表格模板</a></li>
<li><a href="/zhichang/jianli/template/0G535N32015.html">电气自动化工程个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535S42015.html">美容导师个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G53D122015.html">2010年会计文员个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C3H015.html">工程监理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B062015.html">水利水电工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C202015.html">法务专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535L22015.html">师范大学毕业生个人简历模版-中</a></li>
<li><a href="/zhichang/jianli/template/0H14Bb2015.html">市场企划经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F142015.html">编辑人员中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359102015.html">2013年彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D2H015.html">临床药学专业个人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CV2015.html">报关员职位的简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>