<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>个人基本简历 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="个人基本简历" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供个人基本简历，查找个人基本简历请上深圳人才网0755rc.com!个人基本简历代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>个人基本简历</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size: 14px;">&nbsp; &nbsp; 姓名： 国籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在地： 佛山 民族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在地： 韶关 身材： 168 cm　58 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 年龄： 25 岁</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训认证： 诚信徽章：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向及工作经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 普通求职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 行政/人事类:行政专员/助理等 　 行政经理/主任/主管 助理/企业文化干事 　 培训经理/主管 培训专员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 1 职称： 无职称</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 全职 可到职- 一个星期</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： XX--3500 希望工作地区： 广东省 佛山 广州</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　个人工作经历： 时间 公司名称 职位 离职原因</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　XX年8月&mdash;XX年11月 佛山市南海影剧院 行政助理/电影组副组长 合同期满自动离职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　XX年11月&mdash; 12月 广东中庸集团之中庸餐饮管理有限公司 行政专员 薪资问题</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　★XX.8&mdash;XX.8在佛山市南海影剧院担任行政助理期间，主要职责是负责办公室日常工作、新进员工培训、公文写作、组织员工活动等工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作例举：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、负责参与XX年11月佛山市承办的第7届亚洲艺术节南海影剧院分演出点的接待服务工作培训;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、策划、组织XX年度佛山市南海影剧院第三届健身运动会;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、撰写XX年度南海影剧院年度总结呈交南海区文广新局。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　★XX.8&mdash;XX.11在佛山市南海影剧院担任电影组副组长期间，负责的工作有：电影业务推广、日常电影预告宣传(网站更新、短信编写等)、电影放映数据汇总统计、撰写电影活动总结等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作例举：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、撰写南海区&ldquo;纪念抗日战争胜利60周年&rdquo;电影展总结;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、撰写南海影剧院XX年9月《青春的颤音》&ldquo;送片进校&rdquo;专场电影展活动总结报告;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、跟进南海区纪念红军长征胜利70周年电影展映及有奖征文活;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、负责XX年9月佛山市承办全国第十四届&rdquo;群星奖&rdquo;的曲艺和音乐复赛佛山南海影剧院赛场的字幕跟进。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　★XX.11&mdash;XX.12 在广东中庸集团之中庸餐饮管理有限公司担任行政人事专员期间，主要职责是负责公司人员招聘及人事管理、拟定公司各项规章制度和管理流程、日常行政办公事务及办公物品的采购管理等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作例举：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、拟定和完善中庸餐饮管理公司的各项制度及管理流程;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、跟进分店中庸养生会所的店面内部装修及外部广告招牌的制作安装;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、负责建立分店中庸养生会所的各项规章制度、分店员工管理及其他日常行政事务。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育背景</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 韶关学院</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 本科 毕业- XX-06-01</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业一： 中国汉语言文学(师范类) 所学专业二：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　受教育培训经历： XX年5月，经韶关学院普通话水平测试站测试，成绩85分，获得普通话水平二级乙等证书。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　一般</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 良好 粤语水平： 良好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　在校期间实践经历：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　一、XX年9月，进入韶关学院团委机关报《粤北大学生报》宣传部担任干事;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　二、XX年10月，加入韶关学院中文系舞蹈队和中文系学生会文娱部;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　三、XX年秋，加入韶关学院中文系义教队。并在韶关市大塘路银山小学进行&ldquo;义教&rdquo;(义工性质);</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　四、XX年11月，在韶关市诺亚方舟市场调查公司担任调查员;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　五、XX年11月，组织负责韶关学院第23届校运会中文系啦啦队，任啦啦队长;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　六、XX年12月，参加韶关学院第四十五期建党对象培训并结业;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　七、XX年3月，参与创建韶关学院中文系首个文学沙龙&mdash;&mdash;&ldquo;百舸&rdquo;沙龙，并参与编辑出版月刊《百舸》;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　八、XX年5月，到广东省韶关市北江中学见习;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　九、XX年9月6日至XX年10月29日在广东省南雄市黎口中学开展实习工作，成绩优秀。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　在校期间所获证书：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　A、广东省计算机等级考试非计算机专业Ⅰ级;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　B、普通话贰级乙等</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　C、中华人民共和国高级中学语文教师资格证;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　D、普通高等本科院校学士学位证。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　在校期间所获奖励：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　一、XX年12月，获&ldquo;出版《运动会快报》先进个人&rdquo;称号;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　二、XX年12月，参演系舞蹈队舞蹈《碧血黄花》在韶关学院XX年迎新晚会上演出，并获二等奖;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　三、XX年12月，主演小品《卖担架》获中文系XX年迎新晚会二等奖;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　四、XX年3月，被聘为中文系舞蹈协会会长、团总支文娱委员;参加&ldquo;韶关市十大杰出青年表彰大会&rdquo;诗歌朗诵;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　五、XX年4月，获&ldquo;韶关学院02至XX年度优秀团员&rdquo;称号;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　六、XX年11月，组织负责中文系校运会&ldquo;啦啦队&rdquo;，任啦啦队长，在韶关学院第23届校运会上，荣获&ldquo;体育道德风尚奖&rdquo;;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　七、XX年12月，主演舞蹈《炎黄颂》获中文系XX年迎新晚会一等奖;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　八、XX年12月，获&ldquo;韶关学院03至XX年度&lsquo;艺术活动积极分子&rsquo;和&lsquo;社团工作积极分子&rsquo;&rdquo;称号;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　九、XX年6月，毕业论文《存在与自由的困惑&mdash;&mdash;论&lt;挪威的森林&gt;中直子的形象》获韶关学院优秀毕业论文奖 。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　详细个人自传</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　生活的本质不在于索取,而在于奋斗!</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14Aa2015.html">采购专员个人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B212015.html">高级会计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CC2015.html">资金税务会计个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362592015.html">应届生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362162015.html">游戏工程师个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C1H015.html">销售主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F192015.html">中文简历模板——市场主管</a></li>
<li><a href="/zhichang/jianli/template/0G5361b2015.html">网络维护职位个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E422015.html">个人简历(营业员)</a></li>
<li><a href="/zhichang/jianli/template/0F91140R015.html">地质求职简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C532015.html">留学申请顾问个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B532015.html">采购文员的求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362Z2015.html">汽车运用与维修简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362332015.html">市场拓展简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>