<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>会计专业本科生个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="会计专业本科生个人简历模板" />
<meta name="description" content="会计专业本科生个人简历模板是怎么样的？以下是会计专业本科生个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>会计专业本科生个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<table style="padding: 0px; margin: 0px; color: rgb(51, 51, 51); font-family: Verdana, Arial, Tahoma; font-size: 14px; line-height: 25px;" width="100%">
	<tbody style="padding: 0px; margin: 0px;">
		<tr style="padding: 0px; margin: 0px;">
			<td style="padding: 0px; margin: 0px;">
				<p style="padding: 0px; margin: 0px;">
					&nbsp;</p>
				<table bgcolor="#c9c9c9" border="0" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">姓　　名：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								<span style="font-size:9px;"><font color="#3a3d41">陈小姐</font></span></td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">性　　别：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">女</span></td>
							<td bgcolor="#ffffff" rowspan="8" style="padding: 0px; margin: 0px;" valign="top">
								<table border="0" cellspacing="0" class="text01" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
										</tr>
									</tbody>
								</table>
								<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr style="padding: 0px; margin: 0px;">
											<td height="30" style="padding: 0px; margin: 0px;">
												&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">民　　族：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								<span style="font-size:9px;">汉族</span></td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">出生年月：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">1989年6月8日</span></td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">证件号码：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								&nbsp;</td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">婚姻状况：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">未婚</span></td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">身　　高：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								&nbsp;</td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">体　　重：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">40kg</span></td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">户　　籍：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								<span style="font-size:9px;">广东湛江</span></td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">现所在地：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">毕业学校：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								<span style="font-size:9px;">北京理工大学珠海学院</span></td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">学　　历：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">本科</span></td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">专业名称：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								<span style="font-size:9px;">会计</span></td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">毕业年份：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">2013年</span></td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">工作年限：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								<span style="font-size:9px;">一年以上</span></td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">职　　称：</span></td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td height="5" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table bgcolor="#c9c9c9" border="0" bordercolordark="#ffffff" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">&nbsp;求职意向</span></td>
							<td bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">职位性质：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">全 职</span></td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">职位类别：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">其它</span><br style="padding: 0px; margin: 0px;" />
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">职位名称：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">会计 ; 会计助理 ; 审计</span></td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">工作地区：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">湛江市 ;</span></td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">待遇要求：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">可面议 ; 不需要提供住房</span></td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">到职时间：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td height="5" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table bgcolor="#c9c9c9" border="0" bordercolordark="#ffffff" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">&nbsp;技能专长</span></td>
							<td style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">语言能力：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">英语 CET-4 ;</span></td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">计算机能力：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">一般 ;</span></td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">综合技能：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">◆获得会计从业资格证<br style="padding: 0px; margin: 0px;" />
								◆英语良好，普通话流利，粤语良好<br style="padding: 0px; margin: 0px;" />
								◆计算机：熟练掌握 Excel、PowerPoint、Word软件<br style="padding: 0px; margin: 0px;" />
								◆会计软件：熟练掌握用友财务软件、金蝶软件、管家婆软件等<br style="padding: 0px; margin: 0px;" />
								◆兴趣：打羽毛球、听音乐,爬山</span></td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td height="5" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table bgcolor="#c9c9c9" border="0" bordercolordark="#ffffff" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">&nbsp;教育培训</span></td>
							<td style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">教育经历：</span></td>
							<td style="padding: 0px; margin: 0px;">
								<table bgcolor="#cccccc" border="0" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr bgcolor="#efefef" style="padding: 0px; margin: 0px;">
											<td height="20" style="padding: 0px; margin: 0px;" width="35%">
												<span style="font-size:9px;">时间</span></td>
											<td height="20" style="padding: 0px; margin: 0px;" width="50%">
												<span style="font-size:9px;">所在学校</span></td>
											<td height="20" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">学历</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">2009年10月 - 2013年6月</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">北京理工大学珠海学院</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">本科</span></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">培训经历：</span></td>
							<td style="padding: 0px; margin: 0px;">
								<table bgcolor="#cccccc" border="0" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr bgcolor="#efefef" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="35%">
												<span style="font-size:9px;">时间</span></td>
											<td style="padding: 0px; margin: 0px;" width="35%">
												<span style="font-size:9px;">培训机构</span></td>
											<td style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">证书</span></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td height="5" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table bgcolor="#c9c9c9" border="0" bordercolordark="#ffffff" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">&nbsp;工作经历</span></td>
							<td style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								&nbsp;</td>
							<td style="padding: 0px; margin: 0px;">
								<table bgcolor="#cccccc" border="0" cellpadding="3" cellspacing="1" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr bgcolor="#efefef" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">所在公司：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">湛江市XXXX酒楼</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">时间范围：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">2014年5月 - 2014年11月</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">公司性质：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">私营企业</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">所属行业：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">餐饮/食品/酒店/娱乐/旅游</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">担任职位：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">会计</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">工作描述：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">工作内容：<br style="padding: 0px; margin: 0px;" />
												1.主要负责应收帐款日常核对工作,及时将对帐资料归集存档。<br style="padding: 0px; margin: 0px;" />
												2.对应收帐款金额较大、帐龄较长重要客户进行重点跟踪,包括对账。<br style="padding: 0px; margin: 0px;" />
												3.月底汇总、分析报表，以及审核对客户开具发票情况。<br style="padding: 0px; margin: 0px;" />
												另一方面协助财务经理完成应付帐款的核算。主要包括：应付款凭证的录入、供应商往来对帐单的核对、供应商提供的发票签收和审核、审核仓库提供的采购入库单等。</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">离职原因：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								&nbsp;</td>
							<td style="padding: 0px; margin: 0px;">
								<table bgcolor="#cccccc" border="0" cellpadding="3" cellspacing="1" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr bgcolor="#efefef" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">所在公司：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">湛江市XXXX有限公司</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">时间范围：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">2012年12月 - 2014年5月</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">公司性质：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">私营企业</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">所属行业：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">餐饮/食品/酒店/娱乐/旅游</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">担任职位：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">会计</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">工作描述：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">1、全盘日常成本费用账务,包括原始单据以及费用报销单的审核、凭证的编制录入,应收应付款项的结算；编制定期的销售状况报表(包括销售商品的时间、名称、种类、数量、销售价格、客户以及返点折让,应收款、已收款、未收款和收款的结算方式) 及其他临时性报表等.<br style="padding: 0px; margin: 0px;" />
												2. 核对仓库物资的收、发以及盘点工作，出具盘点表、盘点分析报告等.<br style="padding: 0px; margin: 0px;" />
												3.月末结账完毕后对应收应付往来账一一核对.<br style="padding: 0px; margin: 0px;" />
												4．熟练运用EXCE核算公司全部员工工资.</span><br style="padding: 0px; margin: 0px;" />
												&nbsp;</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">离职原因：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">希望在市区工作</span></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								&nbsp;</td>
							<td style="padding: 0px; margin: 0px;">
								<table bgcolor="#cccccc" border="0" cellpadding="3" cellspacing="1" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr bgcolor="#efefef" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">所在公司：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">珠海XXXX</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">时间范围：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">2012年7月 - 2012年8月</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">公司性质：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">民营企业</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">所属行业：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">五金/机械/设备/制造</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">担任职位：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">兼职</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">工作描述：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">主要是整理凭证，粘贴凭证、整理附件单据。</span></td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												<span style="font-size:9px;">离职原因：</span></td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												<span style="font-size:9px;">兼职结束</span></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td height="5" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table bgcolor="#c9c9c9" border="0" bordercolordark="#ffffff" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">&nbsp;其他信息</span></td>
							<td style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">本人性格开朗、诚实稳重,具有较高的团队精神,工作责任心强,做事有头有尾。思想品德良好,积极上进。在学习上,能刻苦钻研,勤于思考。</span></td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								<span style="font-size:9px;">发展方向：</span></td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								<span style="font-size:9px;">会计、会计助理、审计助理</span></td>
						</tr>
					</tbody>
				</table>
				<p style="padding: 0px; margin: 0px;">
					&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G535LR015.html">建筑工程技术员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535R32015.html">行政助理个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535V92015.html">软件测试个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14B242015.html">土建资料员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C132015.html">物料助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535Q12015.html">广告创意策划个人简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535S12015.html">设计总监个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C252015.html">机械工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E262015.html">司机个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G535JR015.html">程序员个人求职简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0H14C932015.html">商务英语专业求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114302015.html">中药简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53E592015.html">个人简历——物流操作员</a></li>
<li><a href="/zhichang/jianli/template/0G53592R015.html">2013市场营销简历封面及模板-中</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>