<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>会计助理个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="会计助理个人简历模板" />
<meta name="description" content="会计助理个人简历模板是怎么样的？以下是会计助理个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>会计助理个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<p>
	　　会计助理个人简历模板是怎么样的？以下是会计助理个人简历模板供大家参考。</p>
<table align="center" border="0" cellpadding="4" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr bgcolor="#e4ebf2">
			<td style="margin: 0px; padding: 0px; line-height: 22px; text-align: center;">
				<font size="3"><b>简历模板</b></font></td>
			<td align="right" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr>
			<td align="right" bgcolor="#eef4f9" height="24" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				基本信息：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="180">
				&nbsp;</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				更新日期：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				20XX-X-X</td>
			<td align="center" bgcolor="#f4f7fa" rowspan="6" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#eef4f9" height="24" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				姓　　名：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="180">
				<u>赵小姐</u></td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				国籍：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="136">
				中国</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#eef4f9" height="24" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				目前所在地：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				天河区</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				民族：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				汉族</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#eef4f9" height="24" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				户口所在地：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				广东省</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				身材：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				160 cm　 kg</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#eef4f9" height="24" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				婚姻状况：</td>
			<td align="left" bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				未婚</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				年龄：</td>
			<td align="left" bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				23</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#eef4f9" class="xtable" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				诚信徽章：</td>
			<td align="left" bgcolor="#f4f7fa" class="xtable" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
			<td align="right" bgcolor="#eef4f9" class="xtable" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				人才测评：</td>
			<td align="left" bgcolor="#f4f7fa" class="xtable" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				<b>　个人联系方式</b></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" height="24" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				通讯地址：</td>
			<td bgcolor="#f4f7fa" colspan="3" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				广州市天河区</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" height="24" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				联系电话：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="180">
				&nbsp;</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				家庭电话：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="246">
				&nbsp;</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" height="24" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				手　　机：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				ＱＱ号码：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" height="24" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				电子邮件：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				个人主页：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				<b>　<u>求职意向及工作经验</u></b></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				人才类型：</td>
			<td colspan="3" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				普通求职　</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				应聘职位：</td>
			<td colspan="3" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				财务/会计助理/会计文员、行政专员/助理、人事专员/助理：</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				工作年限：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="180">
				2</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				职称：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				求职类型：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="180">
				全职</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				可到职日期：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				随时</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				月薪要求：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="180">
				面议</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				希望工作地区：</td>
			<td nowrap="nowrap" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				广州 不限 不限</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				个人工作经历：</td>
			<td colspan="3" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px; border-bottom-width: 0px;">
				<table bgcolor="#f4f7fa" border="0" cellpadding="3" cellspacing="0" class="tabs" style="border-collapse: collapse; border-spacing: 0px; clear: both;" width="100%">
					<tbody>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								公司名称：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								起止年月：20XX-04 ～&nbsp;20XX-08中国人寿</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								公司性质：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								其它所属行业：保险</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								担任职务：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								行政助理&nbsp;</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								工作描述：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								打印、复印、扫描文件，输表、交表，协助经理对各项行政事务的安排及执行等行政工作。&nbsp;</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px; border-bottom-width: 0px;" width="60">
								<u>离职</u>原因：</td>
							<td style="margin: 0px; padding: 0px; border-bottom-color: rgb(204, 204, 204); border-width: 0px; border-bottom-style: solid;">
								&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2" height="20" style="margin: 0px; padding: 0px; border-bottom-color: rgb(204, 204, 204); border-right-width: 0px; border-left-width: 0px; border-bottom-style: solid; border-top-color: rgb(204, 204, 204); border-top-style: solid;">
								&nbsp;</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								公司名称：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								起止年月：20XX-04 ～ 20XX-02鼎族营销策划（上海）有限公司</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								公司性质：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								股份制企业所属行业：酒店/旅游</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								担任职务：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								售后协理&nbsp;</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								工作描述：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								在广州富力君悦大酒店面对面销售酒店会员卡和处理售后各种投诉，定期进行电话回访会员；接听预定、咨询电话；打印复印文件、输表、制卡等行政文员工作。<br />
								&nbsp;</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px; border-bottom-width: 0px;" width="60">
								离职原因：</td>
							<td style="margin: 0px; padding: 0px; border-bottom-color: rgb(204, 204, 204); border-width: 0px; border-bottom-style: solid;">
								&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2" height="20" style="margin: 0px; padding: 0px; border-bottom-color: rgb(204, 204, 204); border-right-width: 0px; border-left-width: 0px; border-bottom-style: solid; border-top-color: rgb(204, 204, 204); border-top-style: solid;">
								&nbsp;</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								公司名称：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								起止年月：20XX-08 ～&nbsp;20XX-09岁宝百货</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								公司性质：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								民营企业所属行业：贸易/消费/制造/营运</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								担任职务：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								财务助理&nbsp;</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px;" width="60">
								工作描述：</td>
							<td style="margin: 0px; padding: 0px; border-right-width: 0px;">
								审核财务单据，整理档案，管理发票；协助审核记账凭证、核对调整账目、预算分析；控制日常费用、管理固定资产；起草处理财务相关资料和文件；统计、打印、呈交、登记、保管各类报表和报告。<br />
								&nbsp;</td>
						</tr>
						<tr>
							<td style="margin: 0px; padding: 0px; border-bottom-width: 0px;" width="60">
								离职原因：</td>
							<td style="margin: 0px; padding: 0px; border-bottom-color: rgb(204, 204, 204); border-width: 0px; border-bottom-style: solid;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr bgcolor="#f4f7fa" bordercolordark="#b0b0b0" bordercolorlight="#ffffff" class="xtable">
			<td align="right" bgcolor="#eef4f9" height="24" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				志愿者经历：</td>
			<td colspan="3" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px; border-bottom-width: 0px;">
				&nbsp;</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" colspan="4" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				<b>　教育背景</b></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				毕业院校：</td>
			<td colspan="3" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				广东科学技术职业学院</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				最高学历：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="180">
				大专</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				毕业日期：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				20XX-06-01</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				所学专业一：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="180">
				财务管理</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				所学专业二：</td>
			<td style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				受教育培训经历：</td>
			<td colspan="3" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				<table bgcolor="#dddddd" border="0" cellpadding="2" cellspacing="1" style="border-collapse: collapse; border-spacing: 0px; clear: both;" width="100%">
					<tbody>
						<tr bgcolor="#eef4f9">
							<td style="margin: 0px; padding: 0px;" width="50">
								起始年月</td>
							<td style="margin: 0px; padding: 0px;" width="50">
								终止年月</td>
							<td style="margin: 0px; padding: 0px;">
								学校（机构）</td>
							<td style="margin: 0px; padding: 0px;">
								专　业</td>
							<td style="margin: 0px; padding: 0px;">
								获得证书</td>
							<td style="margin: 0px; padding: 0px;">
								证书编号</td>
						</tr>
						<tr bgcolor="#f4f7fa">
							<td style="margin: 0px; padding: 0px;">
								20XX-09</td>
							<td style="margin: 0px; padding: 0px;">
								20XX-06</td>
							<td style="margin: 0px; padding: 0px;">
								河田中学</td>
							<td style="margin: 0px; padding: 0px;">
								高中</td>
							<td style="margin: 0px; padding: 0px;">
								&nbsp;</td>
							<td style="margin: 0px; padding: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td align="right" bgcolor="#f4f7fa" colspan="4" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				<b>　语言能力</b></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				外语：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="180">
				英语　良好</td>
			<td bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				&nbsp;</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				国语水平：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				精通</td>
			<td align="right" bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				粤语水平：</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				精通</td>
		</tr>
		<tr>
			<td align="right" bgcolor="#f4f7fa" colspan="4" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				<b>　工作能力及其他专长</b></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr>
			<td bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				&nbsp;</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				1.专业技能： &nbsp;◇ 掌握了财务管理与会计核算的基本知识，如:财务会计、管理等。<br />
				2.计算机能力: ◇ 熟练操作windows系列操作系统，掌握Office等应用办公软件，会计电算化和用友等财务软件<br />
				3.语言能力： &nbsp;◇ 英语大学2级，听说读写能力良好，精通粤语、普通话，且具备很好的理解能力、书面与口头交流能力。<br />
				4.综合能力： &nbsp;◇ 责任心强，有独立工作能力，吃苦耐劳，有团队精神。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br />
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;◇做事细心和有条理,尤其胜任财务、管理、资料整理等方面工作。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br />
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;◇数学的运算能力较好,思考、逻辑能力较强。</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td bgcolor="#f4f7fa" colspan="2" height="20" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr>
			<td bgcolor="#e4ebf2" height="18" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				<b>　详细个人自传</b></td>
		</tr>
	</tbody>
</table>
<table align="center" bgcolor="#cadadf" border="0" cellpadding="2" cellspacing="1" style="border-collapse: collapse; border-spacing: 0px; clear: both; font-size: 14px; color: rgb(51, 51, 51); font-family: 宋体; line-height: 29px;" width="650">
	<tbody>
		<tr>
			<td bgcolor="#eef4f9" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;" width="100">
				&nbsp;</td>
			<td bgcolor="#f4f7fa" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				善于沟通、协调有较强的组织能力与团队精神，上进心强、勤于学习、不断提高自身的能力与综合素质。<br />
				能熟练运用电脑，掌握一定的office办公软件；会计电算化和用友软件等财务软件。积极主动、独立性强、具有高度的责任感和敬业精神使我能够面对任何困难和挑战。</td>
		</tr>
		<tr bgcolor="#f4f7fa">
			<td bgcolor="#f4f7fa" colspan="2" height="20" style="margin: 0px; padding: 0px; font-size: 12px; line-height: 22px;">
				&nbsp;</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53D402015.html">外贸专业的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E102015.html">个人简历模板：人力资源主管</a></li>
<li><a href="/zhichang/jianli/template/0H14C062015.html">注塑技术员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B422015.html">人事招聘助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B262015.html">会计毕业生简历模版</a></li>
<li><a href="/zhichang/jianli/template/0F9114532015.html">销售精英简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C292015.html">石油工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363362015.html">简洁实用的个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B912015.html">优秀的教师简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535K12015.html">大学本科生个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14B232015.html">英语专业本科应届毕业生个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C632015.html">模具设计专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C342015.html">中医科医生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F91144R015.html">跟单员简历范文</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>