<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>计算机信息管理工程师个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="计算机信息管理工程师个人简历模" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供计算机信息管理工程师个人简历模板，查找计算机信息管理工程师个人简历模板请上深圳人才网0755rc.com!计算机信息管理工程师个人简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>计算机信息管理工程师个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<strong><span style="font-size:14px;">　　基本资料</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓 名：0755rc</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性 别：男</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　出生年月：1992-8</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况：未婚</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　政治面貌：共青团员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　身 高：180</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　籍 贯：北京</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在地：北京</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　联系方式</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　联系电话：&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　电子邮箱：&times;&times;&times;@yjbys.com</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　求职意向</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　期望职位：网络管理员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　职位类型：全职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作地点：北京</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工资待遇：3000-4000元</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　工作经验</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2014-8&mdash;2015-3：&times;&times;&times;&times;有限公司信息部：网络管理员</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　教育背景</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校：北京理工大学</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历：本科</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业：计算机信息管理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业时间：2015-7</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英语：普通</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　计算机能力：熟练</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　其它能力：武术，唱歌，写诗，书法</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所获证书：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2010-9-2014-7 北京理工大学 计算机信息管理 本科</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2012/8/1 计算机等级3级证书 3级</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2013/3/1 计算机信息管理工程师 中级</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我评价</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　做事认真负责，积极向上，有团队精神!</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14CF2015.html">物流客服代表简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C112015.html">化工工艺专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C022015.html">工业企业管理专业实习简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535JR015.html">程序员个人求职简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G5363212015.html">采购管理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361F2015.html">机械设计制造专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359352015.html">文秘简历范文模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CA2015.html">电脑艺术设计专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114592015.html">工业电器自动化简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5361U2015.html">中技机械制造类个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C452015.html">工程文员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CJ2015.html">区域销售经理应聘简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C522015.html">报社编辑实习生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535U92015.html">口译翻译员个人简历模板-中文简</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>