<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>行政助理的求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="行政助理的求职简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供行政助理的求职简历模板，查找行政助理的求职简历模板请上深圳人才网0755rc.com! 行政助理的求职简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>行政助理的求职简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<strong><span style="font-size:14px;">　　基本资料</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓　　名：  &nbsp;性　　别： 女</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 民　　族： 壮族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户　　籍： 广西-河池 年　　龄： 24</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　现所在地： 广东-东莞 身　　高： 160cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　希望地区： 广东-东莞</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　希望岗位： 行政/人事类-行政助理/文员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　物流/采购类-单证员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　物流/采购类-物流专员/助理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　经营/管理类-经理助理</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　教育经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2008-09 ～ 2011-07 广西职业技术学院 物流管理 大专</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2005-09 ～ 2008-06 广西东兰县高级中学 文史类 高中</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　**公司 (2011-08 ～ 2012-12)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 外资企业 行业类别： 其他</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 行政助理 岗位类别： 行政助理/文员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 1、负责办理员工调配、入职手续签订劳动合同与处理劳动关系，解除手续，管理员工劳动合同</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、负责人员考勤、办理员工社保，离职人员的薪资核算</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、公司各类报表的收发、以及归档</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、办公用品购买、管理，办公设备的维护管理等行政工作</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5、上级交代的其他工作</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　6、分公司财务申请，经理公费报销等，缴纳办公室费用等</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　7、整理仓库，给新队员发放装备，月底进行盘点</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 公司搬迁</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　**公司 (2011-01 ～ 2011-06)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 私营企业 行业类别： 家居、室内设计、装潢</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 行政前台 岗位类别： 前台文员接待</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 主要工作是接待来访客人，打印、复印文件，发传真，以及员工考勤监督与统计，新员工的入职登记，接听客户电话，统计客户上门情况等工作，自己都能认真对待，做到细心、耐心，做好本职工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　**公司 (2010-06 ～ 2010-07)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 私营企业 行业类别： 交通、运输、物流</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 单证员 岗位类别： 单证员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 主要负责单据的整理及核对，更深入的去了解物流，让自己让我对物流有了一定的了解，也是自己了解到在工作中所需要的一些素质与精神，使自己对待事情更加认真、仔细、负责，学做人学做事。</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　技能专长</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专业职称：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　计算机水平： 全国计算机等级考试一级</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　计算机详细技能： 熟练使用办公软件及ERP系统</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　技能专长： 扎实的物流理论基础，擅长电脑办公自动化系统，有一定的写作能力,能熟练审阅、填写各类贸易单证。喜爱网络知识、书籍等，对新技术、新知识有浓厚兴趣。并且通过了全国高等学校英语应用能力考试、全国高等学校计算机等级考试，同时获得全国计算机信息高新技术考试合格证书等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　普通话： 流利 粤语： 较差</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英语水平： 全国高等学校英语应用能力考试 口语一般</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　求职意向</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　发展方向： 做好本职工作，并能在工作中锻炼自己，提高自己的综合能力。面试这些职位，是自己有信心能胜任，也喜欢这方面的工作。在今后的工作中做到得心应手，把自己的能力充分体现出来，以后能向管理级的工作方向发展。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　其他要求： 希望能在贵公司中把自己的工作能力体现出来，充分发挥自己的优势及特长，在公司中得到提升，以及能在工作中锻炼自己，提高自己的综合能力。</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　自身情况</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我评价：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　本人自信乐观、坦诚率直，工作认真负责，能吃苦耐劳，个性开朗，善于与人沟通，有较强的亲和力。熟悉Office办公软件的操作，熟悉办公自动化和办公设备的使用及维护。具有良好的口头和书面表达能力。有很强的实际动手能力和团队协作精神，对工作中遇到的问题能够冷静而理智地加以分析，并寻找出解决问题的方法，从而能够独立地按时完成工作任务。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5363512015.html">大专个人简历模板下载</a></li>
<li><a href="/zhichang/jianli/template/0G5362512015.html">应届生万能简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359352015.html">文秘简历范文模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14Aa2015.html">采购专员个人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359232015.html">知识个人简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363362015.html">简洁实用的个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14Bc2015.html">应聘审计职位个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535S42015.html">美容导师个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C562015.html">电子商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C332015.html">应聘酒店储备干部实习简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144O52015.html">过控专业大学生求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14B132015.html">平面设计助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DI2015.html">应届大学毕业生简历样本</a></li>
<li><a href="/zhichang/jianli/template/0G53F192015.html">中文简历模板——市场主管</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>