<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>外贸业务员的简历模板参考 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="外贸业务员的简历模板参考" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供外贸业务员的简历模板参考，查找外贸业务员的简历模板参考请上深圳人才网0755rc.com!外贸业务员的简历模板参考代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>外贸业务员的简历模板参考</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　姓名：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在： 广州 年　　龄： 24</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在： 广州 国　　籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 民　　族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训认证： 未参加 身　　高： 168 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　诚信徽章： 未申请 体　　重： 50 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 普通求职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 贸易：，行政/后勤：，广告：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 2 职　　称： 无职称</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 全职 可到职日期： 随时</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 2000--3500 希望工作地区： 广州,广州,</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广州鑫水鑫商务有限公司　　 起止年月：2010-03 ～ 2011-04</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 私营企业　　所属行业：能源/原材料</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 外贸业务员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 主要通过运用阿里巴巴这种网络平台进行相关的业务工作;针对收到的询盘进行及时的回复和报价，对那些潜在客户进行合理的跟踪;接听国外客户的来电或者对国外客户的邮件进行及时的回复工作;对公司提供的老客户进行有效的维护工作;还要通过网络平台发布产品信息和发送开发信寻找客户;整理公司新开发产品的相关信息，完成公司交代的其他工作内容。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 公司搬迁</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广州西派电子电器厂　　 起止年月：2009-10 ～ 2010-02</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 私营企业　　所属行业：电子技术/半导体/集成电路</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 外贸业务员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 主要通过阿里巴巴这种网络平台进行各项工作;针对收到的询盘进行及时的回复和报价，对那些潜在客户进行合理的跟进和维护;还要通过网络平台发布产品信息和发送开发信寻找客户;整理公司新开发产品的相关信息，完成公司交代的其他工作内容。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 转换工作环境和工作内容</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育背景</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 广东药学院</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 本科　　获得学位: 学士 毕业日期： 2009-07</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专 业 一： 国际经济与贸易 专 业 二：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　起始年月 终止年月 学校(机构) 所学专业 获得证书 证书编号</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2005-09 2009-07 广东药学院 国际经济与贸易 毕业证、学位证 -</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　优秀 粤语水平： 精通</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　其它外语能力：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 优秀</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1.熟悉使用Word、Excel、PPT等办公软件进行资料整理。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2.学会使用Autocad这种软件对平面图形与三维图形进行绘制和其它简单操作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3.能够利用Photoshop进行简单的图像编辑、图像合成、校色调色等操作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4.大学英语四级考试得454分，英语六级考试得395分，能够进行简单的英语会话和翻译，阅读一些英语资料。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　详细个人自传</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　本人有强烈的工作热情，良好的协作技巧，能与人和谐友好相处;关注细节，学会尊重别人;通情达理，看问题现实;有稳定平和的心态;与人交往时较为敏感，谦逊而少言、善良、有同情心，喜欢关心和帮助别人;工作时严谨而有条理，愿意承担责任，依据明晰的评估和收集的信息来做决定，充分发挥自己客观的判断和敏锐的洞察力。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53F052015.html">中文简历－－供应链咨询员</a></li>
<li><a href="/zhichang/jianli/template/0G5362362015.html">财务会计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B402015.html">建筑工程专业大学生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114012015.html">旅游业个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53E142015.html">人力资源主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535U42015.html">产品结构设计师个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5359262015.html">应聘法务类工作简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G53D322015.html">无经验的初级程序员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B262015.html">会计毕业生简历模版</a></li>
<li><a href="/zhichang/jianli/template/0G53634R015.html">粉色系列的个人简历模版</a></li>
<li><a href="/zhichang/jianli/template/0G53D362015.html">模具专业的简历</a></li>
<li><a href="/zhichang/jianli/template/0G5359232015.html">知识个人简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C322015.html">渠道助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DI2015.html">应届大学毕业生简历样本</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>