<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>客服主管个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="客服主管个人简历模板" />
<meta name="description" content="客服主管个人简历模板是怎么样的？以下是客服主管个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>客服主管个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　客服主管个人简历模板是怎么样的？以下是客服主管个人简历模板供大家参考。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　基本信息</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　姓名：文小姐</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　年龄：25岁</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作年限：3年</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　应聘职位：客服主管</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　现住地址：&mdash;&mdash;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　联系方式(手机)：&mdash;&mdash;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　工作经历：</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　一、江苏xx投资有限公司 担任客服主管一职 任职时间：20XX年2月&mdash;至今</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作内容：</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　主要客户群是银行风险控制管理科、个人信贷科人员。在日常沟通中倾听客户投诉、分析问题产生原因，为谋求共通点每步经磨合，解决客户难题。主持部门工作、绩效管理和考核，部门的制度建设和培训及其日常管理工作。对下属进行业务知识的培训和提升，业绩的日常跟进与反馈;制定和完善客服制度和流程，并监督执行。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　二、徐州xx教育培训公司 担任客服部员工一职 任职时间：20XX年8月&mdash;20XX年1月</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　岗位职责：</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　1、负责对客服专员进行业务培训、考核等工作;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2、负责客户服务组的各项日常行政事务管理及费用控制;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　3、负责明源售楼系统的初始化及日常维护;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　4、负责依据公司的销售管理制度，制定客户服务管理制度、工作规范，报批后贯彻实施;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　5、负责组织接待客户的来电、来访的投诉、问题反馈等，按权限答复问询;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　6、负责与其他相关部门协调、配合，尽快解决客户提出的维修等问题;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　7、负责保管销售合同、客户资料等，定期上报公司相关管理部门;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　9、建立客户投诉档案，定期总结出现的问题，及时反馈领导并提出改进建议;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　自我评价</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　善于与人交往，具备多年的客服工作经验，同时具备一定的管理经验，擅长以数字来量化的工作方式;有良好的计划、组织、协调、控制能力，带领团队通过设计并优化客户服务各种流程，为企业间接或直接创造经济利润;重视客户的投诉，并能从投诉中分析投诉成因且能制定有效防范机制，为企业避免投诉风险总结经验。重视团队人才的培养。适合从事客户经理行政管理等方面工作。可短期出差。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　兴趣爱好</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　虽然我应聘管理层岗位，但是我却并不是一个拘谨之人，性格开朗外向，爱好广泛，如围棋，国际象棋以及各类球类运动。同时善于并热爱与人沟通交流;敢于开拓创新，有着强烈的事业心与责任感，对人生和事业充满热情和憧憬。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5361F2015.html">机械设计制造专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B412015.html">通信工程专业大学生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535M42015.html">广告策划师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0H14C012015.html">工程造价专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535U92015.html">口译翻译员个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G5359352015.html">文秘简历范文模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361952015.html">学生最常用的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362362015.html">财务会计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53593H015.html">2013最新会计个人简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0F9114422015.html">教师个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C162015.html">自动化系检测专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53C912015.html">2010年毕业生个人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C5H015.html">金融销售经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114562015.html">商业企业管理简历模板范文</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>