<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>审计员的求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="审计员的求职简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供审计员的求职简历模板，查找审计员的求职简历模板请上深圳人才网0755rc.com!审计员的求职简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>审计员的求职简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　模板一</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　个人基本简历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓名： 国籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在地： 广州 民族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在地： 广州 身材： 155 cm　42 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 年龄： 36 岁</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训认证： 诚信徽章：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向及工作经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 普通求职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 财务类:财务总监 　 财务经理/主管</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 16 职称： 中级</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 全职 可到职- 一个星期</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 5000--8000 希望工作地区： 广州</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　个人工作经历： 1991-1998 周王中心粮站 财务主管 寻求更新发展</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1998-2001 宣城东南会计师事务所 项目经理 公司合并</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2001 安徽同盛会计师事务所 项目经理合伙人 希望到广东发展</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2002-2005 广州市大公会计师事务所 部门经理 追求更高目标</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2006.1-2007.1 迪爱思(韩国)公司 驻广州办事处负责人</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育背景</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 安徽财贸学院</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 大专 毕业- 1994-10-01</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业一： 财会和审计 所学专业二：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　受教育培训经历： 1991年7月-1994年10月 安徽财贸学院 会计学 获会计专科证书</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1998年5月 获会计中级职称证书</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1999年9月 通过注册会计师全部课程</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2000年11月 取得执业注册会计师资格</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　一般</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 良好 粤语水平： 一般</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、本人现是一名注册会计师,工作认真、踏实，有多年的会计和审计经验，税收知识丰富，能敏锐地对进销存、成本及报表进行财务分析，并熟悉合并报表的编制及分析、投资项目的评估(即对项目进行分析和预测)及拟定企业会计政策，对企业的合并、分立及重组也有一定的经验;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、长期从事财务工作及担任会计师事务所的项目经理和部门经理，最后任韩国迪爱思公司广州办事处负责人。具备良好的组织协调能力和丰富的管理经验，并有与工商、银行、税务及客户等外部协调的能力。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、担任迪爱思公司驻广州办事处负责人时，一手建立该办事处，进行服装辅料的采购工作。独立开拓了广州的采购市场，培养了稳定的供应商和辅料染色工厂，并对服装的销售市场进行了详细调查，为公司进行服装内销打下了基础。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　详细个人自传</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　本人工作踏实，个性稳重，一向脚踏实地地工作和发展，但又不会满足于现状，不停寻求新的进步,希望能找到适合自己的公司和工作岗位，对工作环境或者说公司的工作氛围方面的要求比较注重。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　模板二</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　个人基本简历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓名： &nbsp; &nbsp; &nbsp;国籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在地： 广州 民族： 瑶族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在地： 广西 身材： 158 cm　48 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 年龄： 21 岁</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训认证： 诚信徽章：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向及工作经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 应届毕业生</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 财务类:会计/财务管理 　 财务类 审计</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 0 职称： 初级</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 全职 可到职- 随时</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 1500--2000 希望工作地区： 广州 深圳 佛山</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　个人工作经历： 2007年7月-8月,在桂林市吉顺机电塑料有限公司任会计助理,协助会计主管填制记帐凭证,登记会计帐簿,编制会计报表,协助办理纳税申报等事宜;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2007年2月-3月,在桂林桂鑫诚会计师事务所任审计助理,协助项目经理完成对广西物资集团桂林储运总公司的审计工作:编制相关审计工作底稿,熟悉往来账函证,存货盘点等主要审计程序;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　熟练操作Offic、Excel以及用友等财务软件</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育背景</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 桂林电子科技大学</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 本科 毕业- 2008-07-01</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业一： 会计学 所学专业二：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　受教育培训经历： 2007年11月，考取会计从业资格证和初级会计电算化;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2007年,第二届&quot;挑战杯&quot;广西区大学生创业计划竞赛鼓励奖，负责项目的财务分析，并掌握了项目开发与推广的方法;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2007年,校第二届会计知识竞赛团体第一名，系统地学习了新会计准则;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2006年,校第二届创业计划大赛三等奖;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　04-05学年、05-06学年校三好学生;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　04-05学年校二等奖学金、05-06学年、06-07学年三等奖学金;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　良好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 良好 粤语水平： 一般</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2006年3月-2007年3月，在校社团联合会任副主席兼财务部部长，主要负责社团报帐等各项财务工作，并组织策划各类大型校内外社团活动，如校社团文化节等;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2005年3月-2006年3月，在校创业协会任秘书长，编制协会财务管理制度，组织策划校创业计划大赛、参观桂林国家高新技术开发区等活动;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　05、06年被评为&ldquo;校社团先进个人&rdquo;、&ldquo;校优秀共青团干&rdquo;、&ldquo;校优秀共青团员&rdquo;;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　详细个人自传</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　本人专业知识扎实，实践能力强，协调和组织管理能力好。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　做事认真负责，细心谨慎，正直蹋实，团结合作，勤于思考，勤奋好学。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性格稳重，喜欢打篮球，有热情。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　生涯规划：愿意从基层做起，夯实基础，脚蹋实地地做好本职工作，尽快成为专业能手，而且不断充实自己，提高自己的综合能力，向高层管理领域发展。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53D642015.html">计算机软件应用专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B452015.html">日语采购简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362V2015.html">销售顾问简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C102015.html">国际商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C432015.html">文案创意员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CK2015.html">专科医生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362S2015.html">2012电气技术员求职简历</a></li>
<li><a href="/zhichang/jianli/template/0F9113Z2015.html">营业部大堂经理个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53E592015.html">个人简历——物流操作员</a></li>
<li><a href="/zhichang/jianli/template/0H14CW2015.html">心理学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535OR015.html">理工大学个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H144O52015.html">过控专业大学生求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G53D402015.html">外贸专业的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BE2015.html">客户经理个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>