<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>食品科学与工程专业个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="食品科学与工程专业个人简历模板" />
<meta name="description" content="食品科学与工程专业个人简历模板是怎么样的？以下是食品科学与工程专业个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>食品科学与工程专业个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　食品科学与工程专业个人简历模板是怎么样的？以下是食品科学与工程专业个人简历模板供大家参考。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　基本信息</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　姓名：梁小姐</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　性别：女</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　年龄：24</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　身高：167cm</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　民族：汉族</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　目前居住地：江西</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　联系电话：&mdash;&mdash;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　电子邮件：&mdash;&mdash;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　毕业院校：南昌大学</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　学历：硕士</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　学科专业：轻工纺织食品类</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　专业名称：食品科学与工程</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　外语水平：大学英语六级以上</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　第二外语：英语</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　计算机水平：非计算机专业应用二级</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　希望应聘职位：食品安全员</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　希望工作类型：全职</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　希望工作地点：江西</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　希望薪资范围：面议</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　工作经历：</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2002/09--2005/07南昌大学食品科学教育部重点实验室科研人员</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　1，茶多糖，车前子多糖，枸杞多糖分离纯化及构效关系研究&ndash;教育部留学回国人员基金/江西省自然科学基金。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2，虫草菌粉、西洋参等中药的有效成分的提取，纯化及分析测定。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　3，龙脑，&beta;-胡萝卜素，甜菜碱，大豆异黄酮，卵磷脂，三氯蔗糖中间体，内源激素，有机锡化合物及紫草素衍生物等生物，食品，药品的GC，HPLC分析测定。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　4，功能饮料及冲剂等其他形式的保健食品的开发研究。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　教育经历：</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2002/09-2005/07：江西南昌大学营养与食品卫生(硕士)，获得优秀研究生奖学金</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　1998/09-2002/07：江西南昌大学食品科学与工程(本科)，多次获得奖学金及三好学生荣誉称号</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　个人专长：</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　熟悉精通HPLC等主要分析技术，多年提取，分离，纯化实践经验;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　熟悉HACCP、ISO等食品、药业相关规章;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　熟悉中草药及天然产物开发工艺，熟悉食品加工工艺流程;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　熟悉食品营养与安全知识。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14B032015.html">国际经济与贸易专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113I2015.html">农村区域发展个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C522015.html">报社编辑实习生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CU2015.html">多媒体与网络技术专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363512015.html">大专个人简历模板下载</a></li>
<li><a href="/zhichang/jianli/template/0G5359232015.html">知识个人简历模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53592R015.html">2013市场营销简历封面及模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14B2H015.html">金融投资理财个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363362015.html">简洁实用的个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363102015.html">个人简历计算机多媒体技术专业</a></li>
<li><a href="/zhichang/jianli/template/0G53D322015.html">无经验的初级程序员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B462015.html">业务推广专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C362015.html">食品科学与工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B5R015.html">人事主管的简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>