<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>应聘策划岗位个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="应聘策划岗位个人简历模板" />
<meta name="description" content="应聘策划岗位个人简历模板怎么写比较好？深圳人才网（www.0755rc.com）提供应聘策划岗位个人简历模板，了解更多应聘策划岗位个人简历模板请访问深圳人才网 www.0755rc.com!" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>应聘策划岗位个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　应聘策划岗位个人简历模板怎么写比较好？（www.）提供应聘策划岗位个人简历模板，了解更多应聘策划岗位个人简历模板请访问 www.!</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　基本资料</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　姓名：郑小姐</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　性别： 女</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　生日： 19**年4月8日</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　民族： 汉族</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　政治面貌： 中共预备党员</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　求职意向</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　策划岗位</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　联系方式</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　手机： XXX| 电话： XXX | 邮箱： XXX</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　地址：XXX</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　教育经历</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　**大学 | 本科 | 会计学</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　20**年9月 - 20**年7月</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　在校期间先后担任过职班级团支书，社团联合会办公室干事，院团委组织部部长，校团委组织部副部。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　先后负责活动的海报、书签、开场视频、ppt制作，带领大家参与策划了&ldquo;成人礼&rdquo;、&ldquo;新生团支部大会&rdquo;、&ldquo;五四表彰大会&rdquo;&ldquo;七城会志愿者&rdquo;等等大型活动，并妥善处理幕后工作。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　具有管理、分工、快速处理问题、创意思维、组织策划等优秀的能力。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　工作经验</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　**公司</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　行政助理实习</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　20**年6月 - 20**年8月</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　主要工作：是帮助协助柜台工作，并整合近千份客户资料，处理保单。协助上司整理规划，及时整理上司的管理思路，并写出晨会报告。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　收获：你要告诉客户你要买什么，而不是客户告诉你</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　获奖经历</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　**创意营销大赛全国十强、**区冠军</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　创新杯二等奖、三等奖</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　**网营销比赛优秀奖</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　优秀干事、优秀学员、优秀团干、优秀干部、优秀团员</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　证书</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　大学英语四级，计算机二级</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　会计从业资格证，驾照</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　个人总结</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作热情，认真努力，善于沟通，执行能力强，学习能力迅速，能很好的完成上司的要求和自身的任务。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　offic软件操作熟练，精通PPT制作，擅长ps已经会声会影等影音软件。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G5361b2015.html">网络维护职位个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359202015.html">SEO简历封面及模板-中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C592015.html">会计助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D612015.html">Business English个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C642015.html">中西医结合专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D232015.html">本科机械类专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114152015.html">商业个人简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C2H015.html">电气工程及其自动化个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362162015.html">游戏工程师个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G53DL2015.html">简历模板：网络维护</a></li>
<li><a href="/zhichang/jianli/template/0H14C022015.html">工业企业管理专业实习简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C062015.html">注塑技术员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0H14CZ2015.html">艺术设计学学生求职简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>