<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>专科医生个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="专科医生个人简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供专科医生个人简历模板，查找专科医生个人简历模板请上深圳人才网0755rc.com!专科医生个人简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>专科医生个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　 姓名：</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　性别：女</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　出生年月：1988年1月</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　身高：164cm</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　籍贯：宜昌市</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　居住地：宜昌市</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　民族：汉</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　政治面貌：团员</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	&nbsp; 　求职类型：应届毕业生</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　毕业院校：湖北中医药高等专科学校</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　专业：临床医学与医学技术</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　移动电话：1</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　家庭电话：1</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　e_mail：1</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　qq/msn：1</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	<strong>　　☆教育经历</strong></div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　XX年9月-XX年7月就读于湖北中医药高等专科学校；XX年9月-XX年7月就读于秭归县第一高级中学；XX年9月-XX年7月就读于屈原中学；1994年9月-XX年7月就读于北峰小学。</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	<strong>　　☆工作实践经历</strong></div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　XX.7.1&mdash;&mdash;XX.03.30实习于宜昌市第二人民医院。</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　实习期间，先后在心内科、消化、儿科、内分泌、呼吸、肾内、普外、脑外、骨外、妇产等科室实习。经过近一年的认真实习，积累了很多的临床经验，熟悉和掌握了各科常见疾病的诊疗常规及治疗原则，能够正规全面系统的进行体格检查、及时完成医疗文件书写，了解常用药物的剂量及用法；多次参加危重症患者的抢救，进行了专业的&ldquo;三基&rdquo;培训，实习期间可独立分管病人，能够与带教老师达成共识，得到了医院领导及老师的肯定，并在实习结束时被医院评为&ldquo;优秀实习生&rdquo;。</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	<strong>　　☆技能水平</strong></div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　英语水平：已通过三、四级考试，熟练掌握基本的听、说、度、写能力。计算机水平：熟练掌握officeexcel，powerpoint等办公软件的操作，通过全国计算机等级考试一级认证，能应对日常办公要求及数据统计工作，掌握网络操作技术，具备较强的分类整理及获取信息的能力，能独立完成日常办公文档的编辑工作。</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	<strong>　　☆自我评价</strong></div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　本人信念坚定，毅力坚强，为人正直诚恳，能吃苦耐劳，性格稳重踏实，具有较强的责任心和进取心。对工作认真负责，做事谨慎细致，考虑全面周到；能尊敬师长，团结同学，集体荣誉感强烈；对生活态度积极，乐观向上，注意劳逸结合；对自身要求严格，敢打敢拼，不断提高个人的修养和德、智、体等综合素质.</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	<strong>　　☆求职意向</strong></div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　</div>
<div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　专科医生,专科医生,专科医生,临床医疗工作以及各辅助科室</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14B412015.html">通信工程专业大学生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C522015.html">报社编辑实习生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144O52015.html">过控专业大学生求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0F91141R015.html">货车简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5362102015.html">计算机硬件维护职位个人简历范例</a></li>
<li><a href="/zhichang/jianli/template/0G53E932015.html">市场推广中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535OR015.html">理工大学个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14CF2015.html">物流客服代表简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535U42015.html">产品结构设计师个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14B422015.html">人事招聘助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B042015.html">建筑工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C1H015.html">销售主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362512015.html">应届生万能简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C452015.html">工程文员个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>