<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>秘书求职英文简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="秘书求职英文简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供秘书求职英文简历模板，查找秘书求职英文简历模板请上深圳人才网0755rc.com!秘书求职英文简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>秘书求职英文简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　Sandy Lin 15/F,TOWER2 ,BRIGHT CHINA,BUILDING1,BEIJING.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　OBJECTIVE</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　To contribute acquired administrative skills to a senior secretary/word processor position.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　SUMMARY OF QUALIFICATIONS</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　*More than 13 years administrative/clerical experience; type 90 wpm. *Self-motivated;able to set effective priorities and implement decisions to achieve immediate and long-term goals and meet operational deadlines.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　*Proven communication abilities,both oral and written.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　PROFESSIONAL EXPERIENCE</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1988-Present CALDYNE ASSOCIATES,Providence,RI</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　Secretary</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　Process technical reports,engineering specs,and traffic studies utilizing Multi-mate WP.Type all requisite documents for staff of 30 professionals.Arrange meetings,handle incoming calls.Expedite UPS mailings,Federal Express,faxing and courier services.Type statistical charts,ma nuscripts,correspondence,and minutes.Order supplies,coordinate daily meetings,arrange luncheons,and administer labor cards.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1984-1988 BRISTOL BANK,Bristol,CT</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　Secretary/Receptionist</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　Utilized call director,typed reports,letters,and expense sheets.Reserved conference rooms,order supplies.Responsible for calligraphy assignments.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1981-1984 SARGENT AGENCY,Hamden,CT</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　Secretary</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　Assigned to school of public health.Managed typing of medical charts used in textbooks for government funded medical program in Iran.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　EDUCATION</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　POLLACK SECRETARIAL SCHOOL,Jackson,TN 1979</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　COMPUTER SKILLS</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　DOS,Microsoft Word,IBM Compatible,Lotus 1-2-3</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　Separate category for computer experience calls attention to candidate&#39;s technical knowledge.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　Education is applicable to candidate&#39;sjob objective and adds weight to resume.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英文简历常用语</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　(1)Sales manager. In addition to ordinary sales activities and monument of department, responsible for recruiting and training of sales staff members. 销售部经理。除了正常销售活动和部门管理之外，还负责招聘与训练销销售人员。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　(2)Assistant to the General Manager of Shenzhen Petro-chemical Industrial Corporation Ltd.. Handled the itinerary tie of the corporation. Helped to negotiate a 5,000,000deal for the corporation. 深圳市石油化工集团股份有限公司总经理助理。安排总经理的出差旅行计划时间表。作为公司代表接见客户。协助公司谈成了一笔五百万美元的交易。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　(3)Secretary to president of Silverlion Group Corporation Ltd.. Responsibilities: Receiving visitors, scheduling meetings, taking and typing dictation, writing routine letters and re-ports 银利来集团有限公司董事长秘书。职责：接待访客，安排会议、笔录并打字、书写日常信函及报告。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　(4)Public relations girl at Guangzhou Holiday Inn. Full-time in summers, part-time during school. 在广州文化假日酒店当公关小姐。暑期全职，上课时间兼职。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　(5)Assistant to manager of accounting department of a joint venture enterprise. Analyzed data and relevant financial statistics, and produced monthly financial statements. 一家合资企业会计部门经理的助理。分析数据及相关财务统计数字，而且提出每月的财务报告。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　(6)Production manager: nitrated puerility control resulting in a reduction in working hours by 2028528le increasing pro-ductility by 25生产部经理：引入质量控制，使得工作时数减少了20%，而生产力则提高了25%。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　(7)Practical summer experience. Clerked at One-and -One Clothes Store in charge of sales, 1992. Employed at Guangzhou Restaurant as waitress, 1993. 暑假的实际经验。1992年，在壹加壹服装店当店员，负责销售。1993年，在广州酒家当侍应小姐。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C332015.html">应聘酒店储备干部实习简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C202015.html">法务专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C632015.html">模具设计专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B132015.html">平面设计助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363332015.html">软件工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C3R015.html">口腔医学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D4R015.html">简洁大方的个人简历表格式模板（</a></li>
<li><a href="/zhichang/jianli/template/0G535Q92015.html">物流仓储管理员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5363062015.html">透过竹子的光彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CX2015.html">前台行政文员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C292015.html">石油工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CB2015.html">会计专业本科生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C622015.html">护理专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113I2015.html">农村区域发展个人简历范文</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>