<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>采购助理简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="采购助理简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供采购助理简历模板，查找采购助理简历模板请上深圳人才网0755rc.com!采购助理简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>采购助理简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<strong><span style="font-size:14px;">　　基本信息</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓名：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在： 萝岗区 年　　龄： 26</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在： 广西 国　　籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 民　　族： 瑶族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训认证： 未参加 身　　高： 155 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　诚信徽章： 未申请 体　　重：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 普通求职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 贸易：单证员船务，采购：，财务/审计/税务：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 4 职　　称： 无职称</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 全职 可到职日期： 一个月</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 2000--3500 希望工作地区： 广州,,</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　工作经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广州华才人力资源外派广州宝洁公司黄埔厂　　 起止年月：2010-07 ～ 至今</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 其它　　所属行业：专业服务(咨询,翻译,猎头)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 采购助理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 在SAP中维护供应商资料，包括创建供应商代码，更新供应商注册资料，对冻结的供应商进行解锁等;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　处理日常无法付款问题;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　每月发票追踪;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　每月催用户在系统中做收货;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月度报表统计;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广西钟山长城矿山机械厂　　 起止年月：2009-03 ～ 2010-03</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 私营企业　　所属行业：机械/机电/设备/重工</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 采购员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 联系厂家，负责采购原材料和生产设备，运用维基平台建立采购产品数据库，熟悉虚拟机的应用</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　青岛子午服装有限公司　　 起止年月：2006-07 ～ 2008-12</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 外商独资　　所属行业：服装/纺织/皮革/鞋业</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 外贸单证员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 审核信用证，熟练制作出口至美国、英国、荷兰、加拿大、澳大利亚等欧美国家以及日本、韩国的结汇单证(例如提单、包装明细、发票、产地证、受益人证明等)，通过国外网站从瑞典订购辅料，去国际银行办理押汇业务，快递费用结算等</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　教育背景</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 中国海洋大学</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 本科　　获得学位: 学士 毕业日期： 2006-07</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专 业 一： 金融学 专 业 二：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　起始年月 终止年月 学校(机构) 所学专业 获得证书 证书编号</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2002-09 2006-06 中国海洋大学 金融学 毕业证学位证 -</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　语言能力</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　良好 粤语水平： 较差</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　其它外语能力：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 优秀</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　成绩优秀，学习能力强，工作认真细心，具备良好的英语听、说、读、写能力，熟练制作各种外贸单证，熟悉办公软件操作，尤其是Excel,有很好的协调能力和团队精神，熟悉SAP系统及ERP、金蝶K3财务软件</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　详细个人自传</span></strong></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14CN2015.html">工商管理专业学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362192015.html">外贸跟单业务员的个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363302015.html">彩色个人简历模板（粉红色风格）</a></li>
<li><a href="/zhichang/jianli/template/0H14CV2015.html">报关员职位的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C102015.html">国际商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CT2015.html">汉语言文学应届毕业生个人简历模</a></li>
<li><a href="/zhichang/jianli/template/0H14CP2015.html">网页前端设计师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C152015.html">2015网络工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535S42015.html">美容导师个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C542015.html">软件技术专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E622015.html">09个性简历（简单版）</a></li>
<li><a href="/zhichang/jianli/template/0G5362012015.html">动漫设计制作个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C932015.html">商务英语专业求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113I2015.html">农村区域发展个人简历范文</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>