<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>出口物流员个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="出口物流员个人简历模板" />
<meta name="description" content="出口物流员个人简历模板怎么写比较好？深圳人才网（www.0755rc.com）提供出口物流员个人简历模板，了解更多出口物流员个人简历模板请访问深圳人才网 www.0755rc.com!" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>出口物流员个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　出口物流员个人简历模板怎么写比较好？（www.）提供出口物流员个人简历模板，了解更多出口物流员个人简历模板请访问 www.!</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　</strong><strong>◆</strong><strong>基本资料：</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　姓名：许小姐</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　性 别： 女</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　年　　龄： 26</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　户口所在： 佛山</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　◆ 求职 意向</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　应聘职位： 物流专员/助理， 船务/ 空运 陆运操作</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作年限： 4</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　◆ 工作经历</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　广州市**科技制品有限公司　　 起止年月：2012-10 ～ 至今</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　公司性质： 民营企业　　所属行业：贸易/消费/制造/营运</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　担任职位： 海运 操作专员</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作描述： 公司主营电脑周边产品，电脑包，拉杆包，耳机，音箱，鼠标等。根据客人要求和 货代 或 船公司 订舱拿SO，根据货物的完成情况安排好拖车装柜等出货流程，准备好一套 报关 退税 单证 。安排好 出口退税 报关 ，核对好 提单 资料，核对账单并安排财务付款领取 提单 /电放 提单 。根据客户要求，到 商检 局做CO、FORM A-E等客人 清关 文件和到贸促会做客人的 清关 资料大使馆加签。有很多时候客人的货物是需要拼柜出口的，做好拼柜供应商的沟通和调度安排，确保货物准时安全出运。每月做好出货登记表以及准时在月初整理好提交相关文件给财务做出口申报。有些做OA付款方式的客人，在出货前安排在中国 进出口 信用保险公司进行限额申请并投保，在遇到客人不按承诺付款的情况下将公司的损失减少到最低。可做简单的 信用证 银行交单.</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　离职原因：</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　HK XX TRADE MARK PRODUCTS CO.,LTD　　 起止年月：2012-05 ～ 2012-06</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　公司性质： 私营企业　　所属行业：贸易/ 进出口</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　担任职位： 海运 操作专员</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作描述： 协助业务员完成货物安全出口。自行向 货代 订舱，拿费用申请，根据工厂货好情况安排拖车装柜，联系仓库出货。装柜开船后，向 货代 追提单，确认提单，后追D/N,向财务申请付款。付款后寄收正本提单和发票。根据业务员要求到贸促会或 商检 局做CO,FORM A,FORM E等客人要求文件，还有大使馆加签发票、独家代理协议等文件。某些特定客人走货后为其购买中信保保险。能审较简单的 信用证</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　离职原因： 工厂工资发放不定时</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　韩国XX服装辅料公司　　 起止年月：2011-05 ～ 2012-05</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　公司性质： 外商独资　　所属行业：服装/纺织/皮革/鞋业</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　担任职位： 出口物流员</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作描述： 负责公司的全部货物国内快递运以及国外海 空运 ，制作相应的INV.PL,以及填写一套 报关 单证 ，联系货代与报关行，跟踪货物的全套出货流程。独立完成工作。与韩国总公司沟通出货的明细填写好装箱资料(公司货物大部分都是 空运 报关出口)。因为公司船务部门的人员结构简化，给了我很大的发展机会以及一定的发展空间，并且改正了我粗心大意的工作缺点，现在工作细心并且严谨了很多。锻炼了我遇事后的应变能力，使我有了更好的处理突变事情的能力。我感觉与刚毕业时的我能力上有了很大的提升。该工作职位的工作要求，让我对空运操作还有制作报关 单证 出口资料有了更好的理解与运用，岗位的需要令我与货代和报关行之间有了良好密切的沟通关系。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　离职原因： 结婚成家后希望找到工作单位是在白云区附近</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　XX PLASTIC &amp; METAL MANY LTD(HK)　　 起止年月：2009-10 ～ 2011-05</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　公司性质： 民营企业　　所属行业：石油/化工/矿产/地质</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　担任职位： 海运 助理</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作描述： 协助船务主管的工作，例如出INVOICE,PACKING LIST,工厂出貨纸，B/L BOOKING ETC。咨询工厂生产进程，安排船期，问出口货代公司拿CLOSING ,ETA,ETD以及收费等资料。协助主管原材料采购以及问同行拿QUOTATION了解其它公司报价情况。处理其它行政上的问题，整理CATALOG中的产品库存。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　离职原因： 个人原因</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　广州XX货代有限公司　　 起止年月：2009-04 ～ 2009-08</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　公司性质： 私营企业　　所属行业：交通/运输/物流</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　担任职位： 物流助理</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作描述： 负责与国内物流公司落BOOKING，以及咨询有关工厂出貨事宜，然后负责安排取货送往物流公司出貨。跟进整批货的整个行程直到到达客人手中为止。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　◆ 教育背景</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　毕业院校： 广东XX学院</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　最高学历： 大专　　获得学位: 毕业日期： 2009-07</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　专 业 一： 国际贸易 专 业 二：</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　◆ 语言能力</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　外语： 英语 　良好 粤语水平： 精通</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　其它外语能力：</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　国语水平： 精通</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　◆ 工作能力及其他专长</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　从事物流工作后，令我初步认识了国内及国际 外贸 船务出口等流程，雖尚未精通，但我已深深地爱上并且努力去研究出口船务这一行业。并了解到工作后所接触到的与读书时所学到的船务单证存在好大的区别。令我体会到大学的学习生活是奠定基础的前奏，社会大学对我们的栽培才是步向成功的重要踏板。而从事此工作后，才清楚自身所掌握的知识不足，要更努力補回未掌握的工作流程知识，以便更熟练地应对工作中的种种考验!</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　在校期间修读的学科： 国际市场营销、电子商务、 外贸 英语 、公司理财、 国际结算 、 国际贸易 实务、经济法、国际金融学、 海关 实务、中国税制等主修课程</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　熟悉办公软件操作，打字速度为60字/分，具有 英语 的听说读写能力，曾获校外语系演讲比赛三等奖，精通国、粤语</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　拥有C牌驾照</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　◆ 个人 自我评价</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　本人活泼开朗、口齿伶俐，是一个对工作认真负责、积极主动、善于团队工作的人，容易接受新事物，适应新环境。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0F91144R015.html">跟单员简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53D922015.html">会计电算化专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DP2015.html">经典个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113C2015.html">商务英语应届大学生个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B292015.html">采购经理的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53Cb2015.html">2010年毕业生个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14CG2015.html">服装设计岗位求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361F2015.html">机械设计制造专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535V92015.html">软件测试个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G53DL2015.html">简历模板：网络维护</a></li>
<li><a href="/zhichang/jianli/template/0H14B512015.html">普通个人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EL2015.html">简历模板（四）办公室秘书</a></li>
<li><a href="/zhichang/jianli/template/0G53EZ2015.html">质量管理个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G535SH015.html">外贸业务员个人简历模板-中文简</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>