<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2015个性电子简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="2015个性电子简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供2015个性电子简历模板，查找2015个性电子简历模板请上深圳人才网0755rc.com!2015个性电子简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>2015个性电子简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　个人概况:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向: ____________________ (可以是一个与多个)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓名:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　________________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性别:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　出生年月:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　____年 __月__日</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　健康状况:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　___________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　年龄: ____岁 学历: ____________________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　_______________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专业:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　____________________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限: ____年</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　联系方式:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　电子邮件:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　_______________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　手机: ____________________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　家庭电话:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　_______________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　传呼:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　____________________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　通信地址:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　_______________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　邮编:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　____________________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育背景:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　____年-- ____年 ___________ 大学 __________专业(请依个人情况酌情增减)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　____年-- ____年 ___________ 大学 __________专业(可将在学的业余课程写上)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作经验:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　____年__月-- ____年__月 ___________ 公司__________部门__________工作</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　____年__月-- ____年__月 ___________ 公司__________部门__________工作</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　(请依个人情况酌情增减)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　此处应为整篇简历的核心内容,应聘者可以着重叙述此项,并根据个人工作情况不同而重点突出说明工作具体内容与经历，尤其是与求职目标相关的工作经历;一定要说出最主要、最有说服力的工作经历和最具证明性的为公司获取的利润和相关成绩; 说明的语气要坚定、积极、有力; 具体的工作、能力等证明材料等; 写工作经验时，一般是先写近期的，然后按照年代的顺序依次写出。最近的工作经验是很重要的。在每一项工作经历中先写工作日期，接着是工作单位和职务。 在这个部分需要注意的一点是，陈述了个人的资格和能力经历之后，不要太提及个人的需求、理想等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英语水平:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　* 基本技能:听、说、读、写能力......</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　* 标准测试:国家四、六级;TOEFL;GRE......</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　计算机水平:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　编程、操作应用系统、网络、数据库......(请依个人情况酌情增减)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　业余爱好:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　__________________________________________________</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　个性特点:</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　___________________________________(请描述出自己的个性、工作态度、自我评价等)</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53F192015.html">中文简历模板——市场主管</a></li>
<li><a href="/zhichang/jianli/template/0G5362512015.html">应届生万能简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362622015.html">2012经典空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359132015.html">通用炫彩简历封面及模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CP2015.html">网页前端设计师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53592R015.html">2013市场营销简历封面及模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G53DI2015.html">应届大学毕业生简历样本</a></li>
<li><a href="/zhichang/jianli/template/0H14C322015.html">渠道助理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B452015.html">日语采购简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535O22015.html">商务英语个人英文简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0H14C452015.html">工程文员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114532015.html">销售精英简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G535KH015.html">测控技术与仪器业个人简历模板-</a></li>
<li><a href="/zhichang/jianli/template/0G535M12015.html">信息工程专业生个人简历模板-中</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>