<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>秘书实务专业个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="秘书实务专业个人简历模板" />
<meta name="description" content="秘书实务专业个人简历模板是怎么样的？以下是秘书实务专业个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>秘书实务专业个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　秘书实务专业个人简历模板是怎么样的？以下是秘书实务专业个人简历模板供大家参考。</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　基本资料</strong></div>
<div>
	&nbsp;</div>
<div>
	　　姓名：凌小姐</div>
<div>
	&nbsp;</div>
<div>
	　　年龄：25岁</div>
<div>
	&nbsp;</div>
<div>
	　　居住地：南京</div>
<div>
	&nbsp;</div>
<div>
	　　电　话：********</div>
<div>
	&nbsp;</div>
<div>
	　　E-mail：********</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　最高学历</strong></div>
<div>
	&nbsp;</div>
<div>
	　　学　历：本科</div>
<div>
	&nbsp;</div>
<div>
	　　专　业：秘书实务专业</div>
<div>
	&nbsp;</div>
<div>
	　　学　校：南京财经大学</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　求职意向</strong></div>
<div>
	&nbsp;</div>
<div>
	　　到岗时间： 一周之内</div>
<div>
	&nbsp;</div>
<div>
	　　工作性质： 全职</div>
<div>
	&nbsp;</div>
<div>
	　　希望行业： 批发/零售</div>
<div>
	&nbsp;</div>
<div>
	　　目标地点： 南京</div>
<div>
	&nbsp;</div>
<div>
	　　期望月薪： 面议/月</div>
<div>
	&nbsp;</div>
<div>
	　　目标职能：总经理助理</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　工作经验</strong></div>
<div>
	&nbsp;</div>
<div>
	　　2013 /7&mdash;至今：XXX商贸有限公司</div>
<div>
	&nbsp;</div>
<div>
	　　所属行业：批发/零售</div>
<div>
	&nbsp;</div>
<div>
	　　产品部 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 总经理助理</div>
<div>
	&nbsp;</div>
<div>
	　　1. &nbsp; &nbsp;因为是新公司，所以进去的时候什么事情都是一个新的开始，首先要做的就是，购置办公司所需要的各类物品。</div>
<div>
	&nbsp;</div>
<div>
	　　2. &nbsp; &nbsp;从西班牙酒庄进口回来的第一个货柜，协助采购主管备齐各品牌不同类别的酒过关时所需要的各项资料，如：A.进行正面和背面的酒标翻译;B.运用PS根据海关要求进行图文的整合;C.运用PS设计出符合海关要求的中文酒标兼打印使用。</div>
<div>
	&nbsp;</div>
<div>
	　　3. &nbsp; &nbsp;通过网络搜索设计公司，经过多方面的沟通选择符合我方要求的设计公司，向其传达我方的大概构思意向后进行产品拍摄，产品宣传单张以及海报的设计等等。</div>
<div>
	&nbsp;</div>
<div>
	　　2012/7&mdash;2013 /7：XXX百货有限公司</div>
<div>
	&nbsp;</div>
<div>
	　　所属行业：批发/零售</div>
<div>
	&nbsp;</div>
<div>
	　　仓库部 &nbsp; &nbsp;仓管</div>
<div>
	&nbsp;</div>
<div>
	　　1. &nbsp; &nbsp;网上查找商标代理公司，进行产品的商标注册;负责公司网站的后台管理，如用PS处理产品相片，上传到公司网址上面等等。</div>
<div>
	&nbsp;</div>
<div>
	　　2. &nbsp; &nbsp;在产品投放市场的各方面准备工作完善后，协助业务人员发展分销商的展开工作，出销售对账单，让业务员就货款时间拜访客户。</div>
<div>
	&nbsp;</div>
<div>
	　　3. &nbsp; &nbsp;管理仓库，出出库和入库单，相应进行数据的录入，每月进行产品盘点，及时告知采购主管安排货柜。</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　教育经历</strong></div>
<div>
	&nbsp;</div>
<div>
	　　2008/9 --2012 /7 &nbsp;南京财经大学秘书实务专业 &nbsp; 本科</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　证书</strong></div>
<div>
	&nbsp;</div>
<div>
	　　2010/6 大学英语六级</div>
<div>
	&nbsp;</div>
<div>
	　　2009/12 大学英语四级</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　语言能力</strong></div>
<div>
	&nbsp;</div>
<div>
	　　英语（熟练） 听说（熟练），读写（熟练）</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　自我评价</strong></div>
<div>
	&nbsp;</div>
<div>
	　　在班级里多次做小组作业的组长，运用PPT进行内容展示，熟悉PPT制作，同时培养了较强的组织能力和领导能力。参加了学院团里的活动，是宿委会行政部的干事，在校园里举办跳蚤市场，为学生提供场所销售各种不同的产品，负责管理场所的纪律，对销售额最高的学生进行奖励，同时自己也进行产品的销售，一天的销售额在三百左右，具有较强的动手能力。模拟进行一个项目的操作，我是这个项目的组长，听从上级的安排，对组员进行工作分配，对于每一步骤都能及时、无误完成，这期间多次运用到Excel的操作，使自己对Excel的运用更加熟练，同时也锻炼了自己具有很强的组织能力，具有很强的团队意识。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14B262015.html">会计毕业生简历模版</a></li>
<li><a href="/zhichang/jianli/template/0F9114112015.html">外勤简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5361C2015.html">应届毕业生最实用求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B042015.html">建筑工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E932015.html">市场推广中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B0H015.html">制药工程应届生简历</a></li>
<li><a href="/zhichang/jianli/template/0G5359102015.html">2013年彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535N32015.html">电气自动化工程个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G53632H015.html">怀旧风格的彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BN2015.html">人事专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363362015.html">简洁实用的个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114152015.html">商业个人简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0H14BE2015.html">客户经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53Cb2015.html">2010年毕业生个人简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>