<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>工商管理专业学生简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="工商管理专业学生简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供工商管理专业学生简历模板，查找工商管理专业学生简历模板请上深圳人才网0755rc.com!工商管理专业学生简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>工商管理专业学生简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	&nbsp; &nbsp;姓名：0755rc</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　性别：女</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　出生年份：1990</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　QQ：123456789</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　民族：汉族</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　政治面貌：党员</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　现居地：北京</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　身高：173 cm</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　体重：55 kg</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	<strong>　 求职意向</strong></p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　意向职位：人力资源专员</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　期望薪资：3500</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　工作地点：北京</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	<strong>　　教育经历</strong></p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　2009.09 &mdash; 2012.09</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　北京师范大学</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　所学专业：工商管理</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　获得学历：本科</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	<strong>　　语言能力</strong></p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　英语</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　读写：★★★★☆ (熟练)</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　听说：★★★★☆ (熟练)</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	<strong>　　兴趣爱好</strong></p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　平时喜欢打网球</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　看书</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　看电影</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　偶尔做做瑜伽!</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　<strong>　工作/社会实践经历</strong></p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　2012.08 &mdash; 现在****公司人力资源专员</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　工作内容：</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　1、内部管理资料作成，工程资料的变更跟踪。</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　2、协调部门内外关系，来访宾客的接待及行程安排。</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　3、样品管理、办公用品管控。</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　4、监控、核对部门报销凭证、客户及供应商的往来对账单。</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　2012.01 &mdash; 2012.07*****公司人事部实习生</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　工作内容：</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　1、协助主管进行企业文化导入与宣贯，文化大纲之编写与实施;加强集团对子公司之管控力度，企业发展规划、重组企业构架、核心团队组建、机制平台构建。</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　统;梳理内部管理流程，清晰部门职能，建立业务汇报及专线责任制，及时处理不良问题，管理争端解决程序。</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　2、协助主管制定公司福利政策，组织提薪/晋升评审，完善绩效考评体系，进行绩效反馈、面谈、改善、跟进，达成企业目标与部门业绩及个人绩效。</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　3、学习内部人力、物力成本的全面预算与控制，最大限度地开发资源，节约成本。</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	<strong>　　自我评价</strong></p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　慎密的全局观念、较强的团队合作精神及亲和力,注重理论与实际结合,循循善诱,通过各种方式激发员工内在工作热情,快速组建工作团队,提高工作效率;凭借良好的沟通协调能力,化解工作矛盾和解决具体问题.</p>
<p style="margin: 0px; padding: 5px 0px; color: rgb(0, 0, 0); font-family: 宋体, arial, verdana, sans-serif; font-size: 16px; line-height: 37.33333206176758px;">
	　　良好的逆境管理心理素质和细致的工作统筹规划能力及极强的项目推进执行力;乐业敬业,敢于迎接挑战,勇于承担责任.</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14CR2015.html">北京工商大学会计专业大学生求职</a></li>
<li><a href="/zhichang/jianli/template/0G535Q12015.html">广告创意策划个人简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0F9114242015.html">民用建筑求职简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53D012015.html">电子商务中专生简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C3R015.html">口腔医学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535MH015.html">计算机科学专业生个人简历模板-</a></li>
<li><a href="/zhichang/jianli/template/0G5361b2015.html">网络维护职位个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F91144R015.html">跟单员简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14Ab2015.html">计算机专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E622015.html">09个性简历（简单版）</a></li>
<li><a href="/zhichang/jianli/template/0H14C562015.html">电子商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363062015.html">透过竹子的光彩色个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F91135R015.html">电气自动化简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53D152015.html">2010个人标准简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>