<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>个性个人电子简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="个性个人电子简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供个性个人电子简历模板，查找个性个人电子简历模板请上深圳人才网0755rc.com!个性个人电子简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>个性个人电子简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　个性个人电子简历模板一</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　人基本简历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓　　名： YJBYS.com 国籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在地： 广州 民族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在地： 汕尾 身材： 170 cm　60 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 年龄： 25 岁</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训认证： 诚信徽章：</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　求职意向及工作经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 普通求职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 贸易类：外贸专员以及人力助理、市场销售/营销类、行政/人事类：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 0 职称：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 全职 可到职日期： 随时</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 2000--3500 希望工作地区： 广州 深圳 珠海</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　个人工作经历：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司名称： 金莎学院起止年月：2008-09 ～ 2009-02</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 私营企业所属行业：教育事业</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职务： 行政助理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： l 主要是协助行政经理开展工作，工作内容以公司运营保障为主，协助行政部经理完成公司行政事务工作及部门内部日常事务工作;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2 做好会前准备、会议记录和会后内容整理工作，协助行政部经理做好公司各部门之间的协调工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 个人发展原因</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司名称： 广东百花香料股份有限公司起止年月：2008-04 ～ 2008-09</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 国有企业所属行业：粮油，食品</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职务： 国内销售员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 1 公司是一家国内知名的产业，主要的职责是负责维持与老客户之间的业务往来关系;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2 在接近四个月内的实习过程中，自己独挡一面地向新客户报价并与之谈判，与老客户定时地联系，以增进其与公司的感情，自己也负责招待客户的一些后勤工作，如订饭店吃饭等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 实习</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育背景</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 广东技术师范学院</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 本科 毕业日期： 2008-07-01</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业一： 工商企业管理 所学专业二： 行政管理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　受教育培训经历：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　起始年月 终止年月 学校(机构) 专　业 获得证书 证书编号</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2004-10 2005-03 广东技术师范学院 工商企业管理 学士</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　优秀</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 优秀 粤语水平： 一般</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　校内担任职务：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　宣组委员 2004/9 -2005/7</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自行车旅游俱乐部宣传部部长 2005/9 -2006/7</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　宣组委员 2005/9 -2006/7</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所获奖项：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　院&ldquo;优秀学生干部&rdquo;称号 2004/9 -2005/7</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　院英语实验班戏剧口语大赛二等奖 2005/9 -2006/9</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　院&ldquo;学生工作积极分子&rdquo;称号 2006/9 -2007/9</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　院&ldquo;文体积极分子&rdquo;称号 2007/10-2008/3</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　基本技能：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1. 英语水平：通过英语四级、英语六级考试，听、说、读写能力熟练;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2.普通话水平：二乙等级;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3. 计算机水平：能熟练使用word/excel/prowerpoint等office办公软件;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4. 用友软件应用能手证书;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5. 附修教育学课程、心理学课程;</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　详细个人自传</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我评价：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　诚实,勤奋，沟通能力好，责任心强，良好的敬业精神和团队精神;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　有一定的工作经验，有较强的学习能力和解决实际问题的动手能力。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　未来生涯规划：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　因为之前有通过在中华广场做过临时的销售助理，所以想通过这些经验为以后能当其他的岗位更好的服务。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　个性个人电子简历模板二</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　基本资料</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓名： yjbyS 英文名： 无照片</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性别： 国籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在地： 天河区 民族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在地： 梅州 身材： 172 cm　62 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 年龄：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　电话号码： 电子邮箱：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向及工作经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 普通求职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 职称： 无职称</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 均可 可到职日期： 随时</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 3500以上 希望工作地区： 广州 深圳 东莞</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作经历：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司名称： 起止年月：2012-03 ～ 2013-1广州化妆品有限公司</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 外商独资所属行业：机关/事业单位/社会团体</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职务： iso体系专员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 1)iso9001质量体系维护与改进!</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2)iso内审、监审(顺利在2009年将2000版升级为2008版)!</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3)第三方客户验厂(在职期间处理过雅诗兰黛委托sgs进行的coc审核、台湾露凡西的coc审核及其他品牌商进行的质量体系审核)!</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4)生产现场环境监管!</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5)协助行政部主管处理人事工作!</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　6)在2010年8月份主持三年一次的复审换证工作并顺利得到通过;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　7)在离职时任公司管理者代表;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　8)对14001、ohsas18001及sa8000条款较熟悉并主持过验厂。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 个人原因</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司名称： 起止年月：2011-08 ～ 2012-2广州科技有限公司</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 私营企业所属行业：计算机/互联网/通信/电子</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职务： 网络维护技术员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 整个网络线路、机房、机柜日常维护工作;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　城网、小区网日常维护、开通工作;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　机房、室外机柜线路、强电日常维护工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司名称： 起止年月：2010-08 ～ 2011-08广东明珠集团广州投资有限公司</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 股份制企业所属行业：机关/事业单位/社会团体</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职务： 技术主管</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 1)对商场未租出商铺进行招商和经营;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2)商铺租金的催缴和收入台帐的制定;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3)负责电脑组装和售后服务</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4)负责办公室及关联子公司的电脑维护，区域网维护和集团电话维护</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5)负责电脑技术人员的招聘/培训</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　6)应用管家婆mis系统进行销售、库存管理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 公司业务调整</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司名称： 起止年月：2010-03 ～ 2010-07广州数码店</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 私营企业所属行业：服务业</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职务： 专卖店管理与电脑技术服务</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 1)对店面产品的进、出库进行监督，以及相应的操作指导</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2)根据确定的年度经营规划方案，协调/组织部门职员完成销售目标</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3)负责局部产品的促销，促销现场的场景布置和现场管理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4)负责相关人才的招聘/培训</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5)对客户送修电脑进行软件维护和硬件维修</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司名称： 起止年月：2009-08 ～ 2010-02广东梅县高威电子有限公司</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 外商独资所属行业：通信/电信/网络设备</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职务： 生产管理(现场管理)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 1)专门对收音机生产线的生产情况进行现场跟踪、监管;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2)配合上级生产管理部门的生产计划顺利落实，确保生产进度能达到计划要求;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3)配合qc组对产品生产过程中产生的问题进行分析、解决，确保产品质量能够达到出厂要求;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4)日常工作进行统计、分析，寻求改善并提高效率，推进生产员工的建设;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5)协调销售与相关部门沟通合作关系</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 个人原因</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司名称： 起止年月：2009-03 ～ 2009-07广东唯美陶瓷有限公司</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 民营企业所属行业：房地产/建筑</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职务： 质量监管助理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： iso9001:2000系列质量(陶瓷)标准的完善与执行，5s现场管理,定置管理。陶瓷生产过程中的产品质量异常情况进行上下沟通与处理。保证产品生产的进度和产品合格率，最大限度的避免生产过程中的损失!</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 实习结束</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育背景</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 景德镇陶瓷学院</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 本科 毕业日期： 2009-07-01</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业一： 工商管理 所学专业二： 信息管理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　受教育培训经历：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　起始年月 终止年月 学校(机构) 专　业 获得证书 证书编号</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2005-09 2009-07 江西景德镇陶瓷学院 工商管理 本科毕业证</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　良好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 精通 粤语水平： 良好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、本人在校期间，通过了国家计算机等级考试三级信息管理技术，熟悉计算机网络维护和erp及电子商务，精通办公自动化的各种软件，能进行一定程度的数据库的 开发和维护工作;曾长期担任班长、团支书、组织委员与生活委员一系列职务，有机会参与团队管理工作，得到过很好的锻炼;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、有较长一段时间的基层工作经历，能够吃苦耐劳，具备了一定的生产管理工作经验、零售工作经验、销售管理工作经验和电脑技术管理工作经验。在五年多的工作时 间内，对iso标准的执行、生产计划的现场执行、生产进度的跟进，对生产过程中的生产异常情况及时协调、配合相关部门的工作人员共同解决。对 iso14001环境认证体系及ohsas18001职工职业健康安全体系有一定的了解，对5s现场管理、定置管理、工资绩效管理、专卖店管理、促销现场 管理和新店面装修管理都比较熟悉且有一定的实际操作执行经验。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、由于工作关系，本人还对不诱钢加工，店面装修有一定程度的了解和认识，对建筑材料生产工艺流程有一定的了解，懂得电脑组装，电脑日常常见问题的故障排除与 维护管理，能进行部分数据恢复工作，网络维护和管理,能对部分硬件故障进行修理和维护，具有较宽的知识面;在公司期间，与同事建立了较好的关系，能够团结 管理下属为了共同的工作目标而努力;配合上级部门和其他相关职能部门共同完成、解决工作中遇到各种问题;具有良好的团队合作精神。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我鉴定</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　经过多年的工作经历，历经多个行业和职位，对人对事都有一个比较深的了解，各方面能力都得到了较好的锻炼，对于团队的认识更加深刻，一个人的能力是有 限的，但团队的潜力在一定程度上可以讲是无限的。工作其实和做人是一样的，有好的态度更要有适当的方法和技巧，任何一个人如果只是呆在一个地方，不去接触 其他人和事，视野就会变的狭窄，所以我做人的人生信条是，多体验新的环境，看新的世界。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53EH2015.html">计算机技术员个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G53D532015.html">求职个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DC2015.html">幼儿园教师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C542015.html">软件技术专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F91142H015.html">计划个人简历参考范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C052015.html">建筑预算员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D402015.html">外贸专业的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D922015.html">会计电算化专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CH2015.html">影视策划制作人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BF2015.html">项目经理简历模板范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C202015.html">法务专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CW2015.html">心理学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B062015.html">水利水电工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359202015.html">SEO简历封面及模板-中文简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>