<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>金融投资理财个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="金融投资理财个人简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供金融投资理财个人简历模板，查找金融投资理财个人简历模板请上深圳人才网0755rc.com!金融投资理财个人简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>金融投资理财个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<strong><span style="font-size:14px;">　　基本信息</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　姓　　名： </span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性　　别： 男</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国　　籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　民　　族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　年　　龄： 21</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在： 广东</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　身　　高： 162 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　体　　重： 44 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　联系电话：&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　电子邮箱：&times;&times;&times;@yjbys.com</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　求职意向</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 应届毕业生</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 证券/期货/外汇经纪人，股票/期货操盘手，投资/基金/理财人员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 全职</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　可到职日期： 随时</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 2500～3000元</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　希望工作地区： 珠海，广州，珠海</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　工作经历</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　&times;&times;&times;&times;会计师事务所</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　起止年月： 2014-01 ～ 2014-02</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 民营企业</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所属行业： 会计/金融/银行/保险</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 会计助理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 负责财务档案的整理、装订、保管;电脑会计记账</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 上学</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　街坊社区　　 起止年月：2012-07 ～ 2012-07</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 在社区老人院陪陪老人聊聊天</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　走访孤独老人，做做饭给老人吃，聊聊天。</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　教育背景</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 广州大学</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 本科</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业日期： 2015-06</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专 业 一： 金融</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专 业 二： 会计</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　语言能力</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　良好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　粤语水平： 优秀</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 优秀</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　三年的大学生活造就了我坚强的性格,自信的人生态度，我相信不断进取的人生态度是自己今后成长之路取得进步的必要条件，而我也相信自己能够在今后的学习工作中不断进取,尽我最大的热情和能力做到最好。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　写得好，不如说得好，说得好，不如做得好，干得好，不如干得巧，&ldquo;高质量+好的方法+正确的心态&rdquo;是我的追求!</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　在余外时间喜欢看看书，写写字。</span></div>
<div>
	&nbsp;</div>
<div>
	<strong><span style="font-size:14px;">　　自我评价</span></strong></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1.吃苦：我最满意的就是自己对吃苦做好的准备。我觉得吃苦是成功的必由之路。我有时感觉不吃点苦，就很难达到自己理想的成绩。在我心里始终认为：做事，肯定先苦后甜，没有什么是能够轻易得到的。当我汗水累积足够多，我就离我的目标不远了。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2.纠错：反省能力强，对于别人的批评，能真诚接受，别人的批评总有产生的原因，我如有错能迅速纠正，如没有，就做好&lsquo;无则加勉&rsquo;。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3.适应：对新环境、事物，我有很强的适应和学习能力。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4.汲取：在生活里，我是个乐观开朗的人，喜欢与人分享交流，与人交流是快乐的，同时会收获很多。每个人都有你我所不知道、不了解的东西，和他们在一起，我能不停的汲取经验，分享对生活、工作的感悟。我把生活看做一个学习的过程，用心，时刻都能有营养供我进步。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C612015.html">应聘管培实习生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535MH015.html">计算机科学专业生个人简历模板-</a></li>
<li><a href="/zhichang/jianli/template/0F9113642015.html">皮革设计专员个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14Aa2015.html">采购专员个人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EB2015.html">涉外会计个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G53D5R015.html">2010年5月个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D322015.html">无经验的初级程序员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E012015.html">简历模板：财务主管</a></li>
<li><a href="/zhichang/jianli/template/0H14B512015.html">普通个人求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CR2015.html">北京工商大学会计专业大学生求职</a></li>
<li><a href="/zhichang/jianli/template/0G5362D2015.html">热门粉色空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BH2015.html">采购助理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14C352015.html">建筑设计专业个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>