<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>销售主管个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="销售主管个人简历模板" />
<meta name="description" content="销售主管个人简历模板是怎么样的？以下是销售主管个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>销售主管个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　销售主管个人简历模板是怎么样的？以下是销售主管个人简历模板供大家参考。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　基本信息</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　姓名：陈小姐</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　出生年月：1989年6月</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　居住地：上海</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　电　话：XXXXXXXX</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　E-mail：XXXXXXXX</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　求职意向</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　工作性质： 全职</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　希望行业： 外资、私营、个体</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　目标地点： 上海、南京</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　期望月薪： 面议</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　目标职能： 文案/策划，销售总监</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　工作经验</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2010年5月&mdash;至今：XX针织品有限公司 [ 1年]</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　所属行业：针织品</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　销售部 销售主管</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　安排协调部门成员之间工作，对其进行培训指导按照所管辖区域年度、季度、月度销售计划、回款计划进行目标分解到各专柜，组织实施营销推广计划，完成部门的销售目标和回款目标，提高企业形象，建立产品在地区的知名度。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2009年8月&mdash;2010年4月：苏宁电器[ 8个月]</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　所属行业：服务业</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　服务部门 后台客服</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　后台协助物流部门工作让我加强了与客户的沟通协调能力，也提高 了处理问题的能力，工作认真、勤奋，得到好评。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　教育经历</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　2006 /9--2009 /7广州市工贸技师学院商学院大专</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　语言能力</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　英语（良好）听说（精通）读写（精通）</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　自我评价</strong></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	　　本人性格开朗做事认真、负责，有耐心，心思敏捷，能吃苦耐劳。对工作负责，可适应高强度的工作，易于融入集体文化，能与他人建立良好的关系。年轻代表着热情有活力，希望能在往后学到更多的经验和知识。</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C402015.html">秘书实务专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362262015.html">网络推广简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5363512015.html">大专个人简历模板下载</a></li>
<li><a href="/zhichang/jianli/template/0H14A962015.html">工业电器自动化专业学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361X2015.html">计算机求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E462015.html">个人简历(网络维护)</a></li>
<li><a href="/zhichang/jianli/template/0G535U92015.html">口译翻译员个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G53D642015.html">计算机软件应用专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B242015.html">土建资料员简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B942015.html">资料员的求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C122015.html">英德双语专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C042015.html">设计主管个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53D942015.html">金融学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53593H015.html">2013最新会计个人简历模板-中文</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>