<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>模具设计专业个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="模具设计专业个人简历模板" />
<meta name="description" content="模具设计专业个人简历模板是怎么样的？以下是模具设计专业个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>模具设计专业个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<table border="1" cellpadding="0" cellspacing="0" style="width:669px;" width="669">
	<tbody>
		<tr>
			<td style="width:85px;height:30px;">
				<p align="center">
					<strong>姓名</strong></p>
			</td>
			<td colspan="2" style="width:94px;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td style="width:90px;height:30px;">
				<p align="center">
					<strong>性别</strong></p>
			</td>
			<td colspan="2" style="width:90px;height:30px;">
				<p align="center">
					<strong>男</strong></p>
			</td>
			<td style="width:90px;height:30px;">
				<p align="center">
					<strong>出生年月</strong></p>
			</td>
			<td style="width:90px;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td rowspan="5" style="width:130px;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:85px;height:30px;">
				<p align="center">
					<strong>民族</strong></p>
			</td>
			<td colspan="2" style="width:94px;height:30px;">
				<p align="center">
					<strong>汉</strong></p>
			</td>
			<td style="width:90px;height:30px;">
				<p align="center">
					<strong>政治面貌</strong></p>
			</td>
			<td colspan="2" style="width:90px;height:30px;">
				<p align="center">
					<strong>团员</strong></p>
			</td>
			<td style="width:90px;height:30px;">
				<p align="center">
					<strong>婚姻状况</strong></p>
			</td>
			<td style="width:90px;height:30px;">
				<p align="center">
					<strong>未婚</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:85px;height:30px;">
				<p align="center">
					<strong>籍贯</strong></p>
			</td>
			<td colspan="2" style="width:94px;height:30px;">
				<p align="center">
					<strong>广州</strong></p>
			</td>
			<td style="width:90px;height:30px;">
				<p align="center">
					<strong>现所在地</strong></p>
			</td>
			<td colspan="2" style="width:90px;height:30px;">
				<p align="center">
					<strong>广州</strong></p>
			</td>
			<td style="width:90px;height:30px;">
				<p align="center">
					<strong>学历</strong></p>
			</td>
			<td style="width:90px;height:30px;">
				<p align="center">
					<strong>大学专科</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:85px;height:30px;">
				<p align="center">
					<strong>专业</strong></p>
			</td>
			<td colspan="3" style="width:184px;height:30px;">
				<p align="center">
					<strong>模具设计与制造</strong></p>
			</td>
			<td colspan="2" style="width:90px;height:30px;">
				<p align="center">
					<strong>毕业院校</strong></p>
			</td>
			<td colspan="2" style="width:180px;height:30px;">
				<p align="center">
					<strong>广东工贸职业技术学院</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:85px;height:30px;">
				<p align="center">
					<strong>联系电话</strong></p>
			</td>
			<td colspan="3" style="width:184px;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
			<td colspan="2" style="width:90px;height:30px;">
				<p align="center">
					<strong>邮编</strong></p>
			</td>
			<td colspan="2" style="width:180px;height:30px;">
				<p align="center">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:177px;height:41px;">
				<p align="center">
					<strong>求职意向</strong></p>
			</td>
			<td colspan="7" style="width:492px;height:41px;">
				<p>
					<strong>愿意到企业里从事与模具专业相关的技术员、管理员、业务员岗位和数控方面的技术员岗位</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" rowspan="3" style="width:177px;height:19px;">
				<p align="center">
					<strong>其它技能与特长</strong></p>
			</td>
			<td colspan="3" style="width:98px;height:19px;">
				<p align="center">
					计算机水平</p>
			</td>
			<td colspan="4" style="width:395px;height:19px;">
				<p>
					<strong>能运用办公软件及Pro/E，Mastercam,CAD等软件</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:98px;height:27px;">
				<p align="center">
					英语水平</p>
			</td>
			<td colspan="4" style="width:395px;height:27px;">
				<p>
					<strong>具备一定的书面表达和听说读写能力</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="width:98px;height:24px;">
				<p align="center">
					其他技能</p>
			</td>
			<td colspan="4" style="width:395px;height:24px;">
				<p>
					<strong>数控编程，数控车铣床操作，组织，管理，绘图设计</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:177px;height:40px;">
				<p align="center">
					<strong>教育背景</strong></p>
			</td>
			<td colspan="7" style="width:492px;height:40px;">
				<p>
					<strong>2012</strong><strong>年9月-2015年6月在广东工贸职业技术学院学习</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:177px;height:107px;">
				<p align="center">
					<strong>主修课程</strong></p>
			</td>
			<td colspan="7" style="width:492px;height:107px;">
				<p>
					<strong>机械制图，计算机绘图，工程力学，机械设计基础，液压与气动，机械制造工艺基础，工程材料与热处理，金属塑性成形原理，冷冲压工艺及模具设计，塑料成型工艺与模具设计，塑压成型设备，模具制造工艺，特种加工，数控机床与编程，CAD/CAM原理及应用，三维造型设计，实用英语，计算机应用基础</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:177px;height:44px;">
				<p align="center">
					<strong>获奖情况</strong></p>
			</td>
			<td colspan="7" style="width:492px;height:44px;">
				<p>
					<strong>2012-2013</strong><strong>年度和2013-2014年度荣获&ldquo;优秀团员&rdquo;的称号；</strong></p>
				<p>
					<strong>2013</strong><strong>年10月获得&ldquo;院学生会&times;&times;设计&rdquo;三等奖。</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:177px;height:127px;">
				<p align="center">
					<strong>个人情况</strong></p>
			</td>
			<td colspan="7" style="width:492px;height:127px;">
				<p>
					<strong>一直以来担任学生干部工作使我拥有了较强的组织和善于协同合作的能力，为人乐观向上，吃苦耐劳，勤于钻研，踏实认真，对人忠诚憨厚。能运用Pro/E，Mastercam,CAD等软件绘制和设计各种零件图形，我爱好美术设计，具有一定的设计能力。事业心和责任心较强，善于协调和分担别人的工作，自学能力较强，掌握一定的专业知识，独立处理事情的能力强。缺点就是缺乏工厂实践经验。</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:177px;height:160px;">
				<p align="center">
					<strong>在校期间社会工作情况</strong></p>
			</td>
			<td colspan="7" style="width:492px;height:160px;">
				<p>
					<strong>大学三年一直担任班长工作，期间加入过&ldquo;计算机协会&rdquo;和&ldquo;系刊小组&rdquo;。2014年6月加入中国共产党。</strong></p>
				<p>
					<strong>2013</strong><strong>年3月到学校实习工厂参加一个月的金工实习。</strong></p>
				<p>
					<strong>2013</strong><strong>年6月在学校实训中心参加机械零件设计实习。</strong></p>
				<p>
					<strong>2013</strong><strong>年12月在学校实训中心参加模具零件拆装实习。</strong></p>
				<p>
					<strong>2014</strong><strong>年4月在学校组织下到&times;&times;&times;&times;模具厂参观。</strong></p>
				<p>
					<strong>2014</strong><strong>年6月在学校数控实训中心参加数控车床中级考证。</strong></p>
				<p>
					<strong>2014</strong><strong>年7月在学校实训中心楼参加Pro/E模具设计和冲压模具设计实习。</strong></p>
				<p>
					<strong>2014</strong><strong>年7月到&times;&times;市&times;&times;镇&times;&times;不锈钢厂参加实习与调查。</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width:177px;height:108px;">
				<p align="center">
					<strong>所获证书</strong></p>
			</td>
			<td colspan="7" style="width:492px;height:108px;">
				<p>
					<strong>数控车床中级工证书</strong></p>
				<p>
					<strong>计算机辅助设计绘图员证书</strong></p>
				<p>
					<strong>高等英语应用能力考试A级证书</strong></p>
				<p>
					<strong>全国计算机信息高新技术考试合格证书</strong></p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53D612015.html">Business English个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G5362132015.html">行政员个人简历</a></li>
<li><a href="/zhichang/jianli/template/0G535X22015.html">销售经理个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G53E422015.html">个人简历(营业员)</a></li>
<li><a href="/zhichang/jianli/template/0H14B442015.html">园艺设计师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DL2015.html">简历模板：网络维护</a></li>
<li><a href="/zhichang/jianli/template/0H14C442015.html">销售专员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359402015.html">2013年最新行政助理中文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362D2015.html">热门粉色空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C252015.html">机械工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C142015.html">机械工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14A962015.html">工业电器自动化专业学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BC2015.html">行政助理英文简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>