<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>资料员的求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="资料员的求职简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供资料员的求职简历模板，查找资料员的求职简历模板请上深圳人才网0755rc.com!资料员的求职简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>资料员的求职简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　姓名：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　目前所在： 天河区 年　　龄： 30</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户口所在： 广州 国　　籍： 中国</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 未婚 民　　族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　诚信徽章： 未申请 身　　高： 163 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才测评： 未测评 体　　重： 48 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 求职意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　人才类型： 不限</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　应聘职位： 资料员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作年限： 8 职　　称： 中级</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职类型： 均可 可到职日期： 两个星期</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　月薪要求： 面议 希望工作地区： 广州,天河区,番禺区</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 工作经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广州市**工程机械施工有限公司　　 起止年月：2012-08 ～ 2013-03</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 国有企业　　所属行业：建筑与工程</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 资料员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 一、有从开工到竣工验收资料移交全过程资料收集与整理的工作经验，能独立编制竣工资料。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　二、施工质量技术和安全资料收集、编辑分类、整理管理、制作填写与筛分建档、归档、立卷、竣工移交等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　技术资料方面工作：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　一、负责工程项目资料、图纸等档案的收集、管理。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　二、参加分部分项工程的验收工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　三.负责计划、统计的管理工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　四.负责工程项目的内业管理工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　安全资料方面工作：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　一、认真贯彻国家有关安全生产劳动保护的政策发令及分公司的安全生产规章制度，严格收集、整理、保管好工程安全项目资料，做好资料收集并整理造册入档。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　二、积极协助项目部搞好新工人班组班前安全管理和安全技术培训教育工作，及特殊工种作业人员的培训和复审工作，并做好真实有效地记录;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　三、参与编制重点等工程项目的专项施工方案和安全生产技术防范措施;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　四、配合开展安全生产知识竞赛，创优达标活动，安全生产大检查;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　五、掌握现场安全生产情况，认真排查安全生产中存在的安全隐患;做好各个项目安全生产的检查记录;配合安全员发现违反操作规程作业的不安全因素及时制止，并通报分管安全的工程部副经理签发整改通知书，并按&ldquo;三定&rdquo;要求落实整改措施;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　六、配合安全员制止违章作业，野蛮施工及违章指挥行为，对于经过批评指正后仍不改正的违章行为有权暂停生产，做出处理决定并报告领导;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　七、定期对安全、消防、机械设备、施工用具、安全用电等进行检查并做好安全资料记录，监督工程项目施工现场做好&ldquo;三宝、四口、五临边&rdquo;的防护，增强安全意识;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　八、总结推广安全生产先进经验，积极向领导建议表扬和奖励安全生产先进单位和个人;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　九、积极完成安全资料方面的其他领导交办等工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广东**室内工程设计施工有限公司　　 起止年月：2010-08 ～ 2012-08</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 中外合资　　所属行业：建筑与工程</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 资料主管</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 施工质量技术和安全资料收集、编辑分类、整理管理、制作填写与筛分建档、归档、立卷、竣工移交等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广州市**集团有限公司　　 起止年月：2007-08 ～ 2010-08</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 国有企业　　所属行业：建筑与工程</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 资料员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 施工质量技术和安全资料收集、编辑分类、整理管理、制作填写与筛分建档、归档、立卷、竣工移交等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　广东**建筑工程有限责任公司　　 起止年月：2005-06 ～ 2007-08</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 民营企业　　所属行业：房地产/建筑</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 资料员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 施工质量技术和安全资料收集、编辑分类、整理管理、制作填写与筛分建档、归档、立卷、竣工移交等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 教育背景</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　毕业院校： 成都大学</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最高学历： 大专　　获得学位: 毕业日期： 2005-06</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　专 业 一： 建筑施工与造价管理 专 业 二： 建筑施工与造价管理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　起始年月 终止年月 学校(机构) 所学专业 获得证书 证书编号</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2002-09 2005-06 成都大学 建筑施工与造价管理 毕业证书 110795200606001018</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　外语： 英语　优秀 粤语水平： 精通</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　其它外语能力：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　国语水平： 精通</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　◆ 工作能力及其他专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作认真、细心、耐心，严谨、沉稳踏实，能独立完成，自信，服从公司及领导的安排、数字文字能力强，能积极完成工作、思维清晰、适应力强、责任心强，能承受一定的工作压力、独当一面、有井然有序工作的好习惯、吃苦耐劳、具备良好的专业技能和心理素质、有很强的团队合作精神、 熟练使用各种办公软件，资料软件、CAD、广联达等软件，工程资料编制经验丰富。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14B3H015.html">景观设计在校学生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CI2015.html">简单实用的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BZ2015.html">技术管理简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362402015.html">平面设计简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361952015.html">学生最常用的简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362952015.html">普通司机求职简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C212015.html">德语客服个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114242015.html">民用建筑求职简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5361Q2015.html">平面设计师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53DS2015.html">软件工程师简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359262015.html">应聘法务类工作简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G53E562015.html">个人简历——电话销售</a></li>
<li><a href="/zhichang/jianli/template/0F9113Z2015.html">营业部大堂经理个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B642015.html">个性简历封面模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>