<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>资金税务会计个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="资金税务会计个人简历模板" />
<meta name="description" content="资金税务会计个人简历模板是怎么样的？以下是资金税务会计个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>资金税务会计个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<table style="padding: 0px; margin: 0px; color: rgb(51, 51, 51); font-family: Verdana, Arial, Tahoma; font-size: 14px; line-height: 25px;" width="100%">
	<tbody style="padding: 0px; margin: 0px;">
		<tr style="padding: 0px; margin: 0px;">
			<td style="padding: 0px; margin: 0px;">
				<p style="padding: 0px; margin: 0px;">
					&nbsp;</p>
				<table bgcolor="#c9c9c9" border="0" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								姓　　名：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								&nbsp;</td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								性　　别：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								女</td>
							<td bgcolor="#ffffff" rowspan="8" style="padding: 0px; margin: 0px;" valign="top">
								<table border="0" cellspacing="0" class="text01" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr style="padding: 0px; margin: 0px;">
											<td align="center" style="padding: 0px; margin: 0px;">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
										</tr>
									</tbody>
								</table>
								<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr style="padding: 0px; margin: 0px;">
											<td align="center" height="30" style="padding: 0px; margin: 0px;">
												&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								民　　族：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								汉族</td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								出生年月：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								1988年11月16日</td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								证件号码：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								&nbsp;</td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								婚姻状况：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								未婚</td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								身　　高：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								156cm</td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								体　　重：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								44kg</td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								户　　籍：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								广东湛江</td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								现所在地：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								广东湛江</td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								毕业学校：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								广东金融学院</td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								学　　历：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								本科</td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								专业名称：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								金融学</td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								毕业年份：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								2011年</td>
						</tr>
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								工作年限：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;" width="170">
								一年以上</td>
							<td bgcolor="#ffffff" style="padding: 0px; margin: 0px;" width="80">
								职　　称：</td>
							<td bgcolor="#ffffff" class="jl" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td height="5" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table bgcolor="#c9c9c9" border="0" bordercolordark="#ffffff" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;" width="80">
								&nbsp;求职意向</td>
							<td bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								职位性质：</td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								全 职</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								职位类别：</td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								金融/财务/保险<br style="padding: 0px; margin: 0px;" />
								文秘/翻译<br style="padding: 0px; margin: 0px;" />
								艺术/文化<br style="padding: 0px; margin: 0px;" />
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								职位名称：</td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								会计 ; 薪酬专员 ; 人事行政</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								工作地区：</td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								湛江市 ;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								待遇要求：</td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								2500元/月 不需要提供住房</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								到职时间：</td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td height="5" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table bgcolor="#c9c9c9" border="0" bordercolordark="#ffffff" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								&nbsp;技能专长</td>
							<td style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								语言能力：</td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								英语 良好 ; 普通话 标准</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								计算机能力：</td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								精通 ;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								综合技能：</td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td height="5" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table bgcolor="#c9c9c9" border="0" bordercolordark="#ffffff" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								&nbsp;教育培训</td>
							<td style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								教育经历：</td>
							<td style="padding: 0px; margin: 0px;">
								<table bgcolor="#cccccc" border="0" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr bgcolor="#efefef" style="padding: 0px; margin: 0px;">
											<td height="20" style="padding: 0px; margin: 0px;" width="35%">
												时间</td>
											<td height="20" style="padding: 0px; margin: 0px;" width="50%">
												所在学校</td>
											<td height="20" style="padding: 0px; margin: 0px;">
												学历</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td class="jl" style="padding: 0px; margin: 0px;">
												2004年9月 - 2007年6月</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												湛江市第二中学</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												高中</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td class="jl" style="padding: 0px; margin: 0px;">
												2007年9月 - 2011年6月</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												广东金融学院</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												本科</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;">
								培训经历：</td>
							<td style="padding: 0px; margin: 0px;">
								<table bgcolor="#cccccc" border="0" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr bgcolor="#efefef" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="35%">
												时间</td>
											<td style="padding: 0px; margin: 0px;" width="35%">
												培训机构</td>
											<td style="padding: 0px; margin: 0px;">
												证书</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td height="5" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table bgcolor="#c9c9c9" border="0" bordercolordark="#ffffff" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								&nbsp;工作经历</td>
							<td style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								&nbsp;</td>
							<td style="padding: 0px; margin: 0px;">
								<table bgcolor="#cccccc" border="0" cellpadding="3" cellspacing="1" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr bgcolor="#efefef" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												所在公司：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												湛江渤海农业发展有限公司</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												时间范围：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												2012年9月 - 2013年12月</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												公司性质：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												股份制企业</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												所属行业：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												五金/机械/设备/制造</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												担任职位：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												资金税务会计</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												工作描述：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												负责资金业务凭证制单，负责公司每月一般纳税人电子报税工作，涉税事项的办理；正确编制、报送会计报表和纳税申报表；进行纳税人税务活动的分析，保证正确执行税法，维护企业的利益。<br style="padding: 0px; margin: 0px;" />
												填报每月管理月报、经营月报，税收预测等。<br style="padding: 0px; margin: 0px;" />
												<br style="padding: 0px; margin: 0px;" />
												有一定的公文写作能力、部门间的沟通协调能力、数据分析、总结能力，表格操作。</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												离职原因：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								&nbsp;</td>
							<td style="padding: 0px; margin: 0px;">
								<table bgcolor="#cccccc" border="0" cellpadding="3" cellspacing="1" style="padding: 0px; margin: 0px;" width="100%">
									<tbody style="padding: 0px; margin: 0px;">
										<tr bgcolor="#efefef" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												所在公司：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												广州蕙悦咨询服务有限公司</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												时间范围：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												2011年8月 - 2012年5月</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												公司性质：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												私营企业</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												所属行业：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												家政/服务/咨询/法律</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												担任职位：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												会计文员</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												工作描述：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												为其他公司代理记账、报税等处理一切有关税务、工商的事宜。</td>
										</tr>
										<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
											<td style="padding: 0px; margin: 0px;" width="77">
												离职原因：</td>
											<td class="jl" style="padding: 0px; margin: 0px;">
												&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr style="padding: 0px; margin: 0px;">
							<td height="5" style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<table bgcolor="#c9c9c9" border="0" bordercolordark="#ffffff" cellpadding="4" cellspacing="1" style="padding: 0px; margin: 0px;" width="700">
					<tbody style="padding: 0px; margin: 0px;">
						<tr bgcolor="#f6f6f6" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								&nbsp;其他信息</td>
							<td style="padding: 0px; margin: 0px;">
								&nbsp;</td>
						</tr>
						<tr bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
							<td style="padding: 0px; margin: 0px;" width="80">
								自我评价：</td>
							<td class="jl" style="padding: 0px; margin: 0px;">
								本人忠实诚信,讲原则，说到做到，决不推卸责任；有自制力，做事情始终坚持有始有终，从不半途而废；肯学习,有问题不逃避,愿意虚心向他人学习；自信但不自负,不以自我为中心；愿意以谦虚态度赞扬接纳优越者,权威者；会用100的热情和精力投入到工作中；平易近人。为人诚恳,性格开朗,积极进取,适应力强、勤奋好学、脚踏实地，有较强的团队精神,工作积极进取,态度认真。</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14BB2015.html">2015跳槽英文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535R32015.html">行政助理个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B612015.html">采购主管简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535PR015.html">高级文员个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B1H015.html">外贸业务跟单简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362552015.html">个性彩色简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C112015.html">化工工艺专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113N2015.html">财务分析人员实习简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14A952015.html">行政管理本科生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C632015.html">模具设计专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C562015.html">电子商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5361b2015.html">网络维护职位个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362D2015.html">热门粉色空白简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B042015.html">建筑工程专业简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>