<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>计算机网络技术及应用专业简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="计算机网络技术及应用专业简历模" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供计算机网络技术及应用专业简历模板，查找计算机网络技术及应用专业简历模板请上深圳人才网0755rc.com!计算机网络技术及应用专业简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>计算机网络技术及应用专业简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　姓名：张婉玉</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性别：女</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　出生年份：1991</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　QQ：123456</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　民族：汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　现居地：东莞</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况：未婚</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　身高：167 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　体重：45 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　意向职位：人事行政</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　期望薪资：3800</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作地点：东莞</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　粤语</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　读写：★★★☆☆ (良好)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　听说：★★★☆☆ (良好)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英语</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　读写：★★★☆☆ (良好)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　听说：★★★☆☆ (良好)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　兴趣爱好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　喜欢看书、听音乐、打网球</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　相关技能</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　Authorware</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　★★★☆☆ (良好)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　PS</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　★★★☆☆ (良好)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　OFFICE</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　★★★☆☆ (良好)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我评价</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　能熟练的操作计算机</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　有丰富的办公室工作经验</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　能很好的处理人际关系及与团队的合作的能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　熟练的掌握了报关流程及各种报关知识</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2010.09 &mdash; 2013.07广西桂林航天工业高等专科学校</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业：计算机网络技术及应用</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　获得学历：大专</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作/实习经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2013.07 &mdash; 现在xxx公司人事专员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作内容：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、负责公司人力资源工作的规划，建立、执行招聘、培训、考勤、劳动纪律等人事程序或规章制度。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、负责制订和完善公司岗位编制，协助公司各部门有效地开发和利用人力，满足公司的经营管理需要;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、根据现有编制及业务发展需求，协调、统计各部门的招聘需求，编制年度/月度人员招聘计划，经批准后实施。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、做好各岗位的职位说明书，并根据公司职位调整需要进行相应的变更，保证职位说明书与实际相符;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5、负责办理入职手续，负责人事档案的管理、保管、用工合同的签订;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　6、建立并及时更新员工档案，做好年度及月度人员异动统计(包括离职、入职、晋升、调动、降职等)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　7、制定公司及各个部门的培训计划和培训大纲，经批准后实施;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　8、对试用期员工进行培训及考核，并根据培训考核结果建议部门录用。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　9、负责拟制公司薪酬制度和方案，建立行之有效的激励和约束机制;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　10、负责审核并按职责报批员工定级、升职、加薪、奖励及纪律处分及内部调配、调入、调出、辞职、辞退等手续。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　11、做好员工考勤统计工作，负责加班的审核和报批工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　12、负责公司员工福利、社会保险、劳动年检的办理。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　13、配合其他部门做好员工思想工作，受理并及时解决员工投诉和劳动争议事宜。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　14、定期主持召开本部门工作例会，布置、检查、总结工作，并组织本部门员工的业务学习，提高管理水平和业务技能，保证各项工作任务能及时完成。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　15、其它突发事件处理和领导交办的工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2013.02 &mdash; 2013.06**公司秘书</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作内容：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、协助总经理处理公司公文、行政事务。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、执行总经理交办的各事项。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、了解文件管理制度、日常文件的收发程序。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、拟定文件的借阅权限及借阅规定，并严格按规定借阅。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5、负责文件的汇签、收发、管理工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　6、做好公司级会议的记录、并整理成文。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　7、严格执行保密制度，做好各项保密工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　8、总经理活动、接待方面的安排、报销单的整理、来访的接待等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　9、有关文稿的撰写及审批。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　10、公司会议、报告的安排。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　11、公司所有资料的存档。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　12、每周一提交上周工作总结和本周工作计划。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>
<li><a href='/zhichang/jianli/template/0H144O22015.html'>计算机网络技术及应用专业简历模</a></li>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G535S12015.html">设计总监个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B042015.html">建筑工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C942015.html">电子商务大专生求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G535U02015.html">淘宝客服个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G53E562015.html">个人简历——电话销售</a></li>
<li><a href="/zhichang/jianli/template/0G535RH015.html">电气工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0H14B962015.html">出口物流员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F91141R015.html">货车简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5361922015.html">红色个人简历封面</a></li>
<li><a href="/zhichang/jianli/template/0H14B062015.html">水利水电工程专业简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14Bb2015.html">市场企划经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362H2015.html">最新销售代表简历</a></li>
<li><a href="/zhichang/jianli/template/0G535R32015.html">行政助理个人简历模板-中文简历</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>