<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>工业电器自动化专业学生简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="工业电器自动化专业学生简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供工业电器自动化专业学生简历模板，查找工业电器自动化专业学生简历模板请上深圳人才网0755rc.com!工业电器自动化专业学生简历模板代表标题" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>工业电器自动化专业学生简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　姓名：0755rc</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　性别：男</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　出生年份：1990</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　QQ：123445678</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　民族：汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　政治面貌：党员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　现居地：深圳</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况：未婚</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　身高：180 cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　体重：64 kg</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　求职意向</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　意向职位：产品工程师</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　期望薪资：5000</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作地点：深圳</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　语言能力</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　粤语</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　读写：★★★★★ (精通)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　听说：★★★★☆ (熟练)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　英语</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　读写：★★★★☆ (熟练)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　听说：★★★★☆ (熟练)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　兴趣爱好</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　平时喜欢打篮球、网球、游泳、爬山</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　技能专长</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　AUTOCAD、word、excel、CAM 、solidworks等</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　能够熟练操作电脑，普通机床，磨床等机械加工设备.夹具的设计与制造。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2007.03 &mdash; 2010.07北京工业大学</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　所学专业：工业电器自动化专业</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　获得学历：本科</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作/实习经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2010.08 &mdash; 2014.03XX公司产品工程师</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作内容：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　主要工作内容有新产品的导入，SOP的制作。在LINE生产异常的处理及不良报告的制作，常用的手法和工具有以下几项：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、分析造成不良的原因由哪些因素造成的。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、确定造成不良原因之后进行分步处理，常有的原因有原材料不良的，作业过程中造成的、或是设备造成的。原材料不良的通知IQC把不良的材料返货给供应商让供应商改善。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、技能检测分析它的参数是否在规格范围内。我常用的设备有电池综合测试仪、X-RAY/示波器、万用表等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、信赖性的测试常用的仪器有自由跌落仪、抗温机、容量/过充防暴箱。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2010.04 &mdash; 2010.08XX公司测试技术员</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作内容：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工厂生产设备的维修和日常的保养及近期的零件更换,能够熟练的操作电气设备，生产辅助夹具的设计与制造来解决生产的需求，使用PLC语言进行编程,熟悉工厂的管理体系和熟悉QC七大手法.对电子原件的失效分析和产品的测试技术,常用的仪器有示波仪、ICT、曲线跟踪仪、万用表、投影仪等。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　在我们公司&ldquo;My Quality&rdquo;中获得第二，我要对产品进行稳定性测试，来满足客户的要求。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　自我评价</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　诚实守信、勤奋务实，对工作认真负责、积极主动进取、具有良好的团队精神，思维严谨，具有机电一体化技术。对工作更是尽心尽职，更是明白职场人士应该具备的工作态度，那就是踏实与忠诚，积极竞去，为公司创造价值的同时也实现了自我价值。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0H14C492015.html">土建工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53EW2015.html">中文简历：网络公司技术支持部经</a></li>
<li><a href="/zhichang/jianli/template/0F9113C2015.html">商务英语应届大学生个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14C312015.html">工程经理个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9114052015.html">兼职平面设计师简历范文</a></li>
<li><a href="/zhichang/jianli/template/0F9114592015.html">工业电器自动化简历范文</a></li>
<li><a href="/zhichang/jianli/template/0H14B542015.html">行政助理的求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14BX2015.html">审计员的求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0F9113F2015.html">人事主管个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G53E292015.html">大学自动化专业毕业生个性简历</a></li>
<li><a href="/zhichang/jianli/template/0G535X92015.html">技术支持工程师个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H144O52015.html">过控专业大学生求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G53E562015.html">个人简历——电话销售</a></li>
<li><a href="/zhichang/jianli/template/0H14B4R015.html">客服人员应聘个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>