<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>人事部经理助理求职简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="人事部经理助理求职简历模板" />
<meta name="description" content="深圳人才网(www.0755rc.com)为广大用户提供人事部经理助理求职简历模板，查找人事部经理助理求职简历模板请上深圳人才网0755rc.com!人事部经理助理求职简历模板代表标题！" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>人事部经理助理求职简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	<span style="font-size:14px;">　　姓　　名：  性别：女</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　婚姻状况： 已婚 民　　族： 汉族</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　户　　籍： 广西-河池 年　　龄： 35</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　现所在地： 广东-东莞 身　　高： 156cm</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　希望地区： 广东-深圳、 广东-广州、 广东-东莞</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　希望岗位： 行政/人事类-人力资源总监</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　经营/管理类-分公司/办事处经理/主管</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　经营/管理类-部门经理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　寻求职位： 常务副总、 人力资源总监、经理、 总裁助理、总经理助理</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　待遇要求： 可面议</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　最快到岗： 随时到岗</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　教育经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2010-09 ～ 2012-09 中山大学 工商管理 硕士</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1994-09 ～ 1997-07 广西大学 新闻 大专</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　培训经历</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2005-03 ～ 2005-05 东莞智通职业培训学校 人力资源管师 结业证</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2004-09 ～ 2004-10 方之见顾问公司 ISO9000/ISO14000内部审核员 内审证书</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作经验至今11年4月工作经验，曾在3家公司工作</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　***公司名称 (2009-12 ～ 2011-04)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 外资企业 行业类别： 快速消费品</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 行政人事部经理 岗位类别： 人事经理/主管</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 工作描述：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、企业文化导入与宣贯，文化大纲之编写与实施;加强集团对子公司之管控力度，企业发展规划、重组企业构架、核心团队组建、机制平台构建。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、建立企业管理体系，完善管理制度，推行书面化质量管理系统;梳理内部管理流程，清晰部门职能，建立业务汇报及专线责任制，及时处理不良问题，管理争端解决程序。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、进行岗位工作分析，建全职务说明书，建立晋升晋级考核标准，组建管理层培训体系与员工职业生涯规划发展体系，加大培训力度，有效监控企业人力配置，提高整体综合素质。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、制定公司福利政策，组织提薪/晋升评审，完善绩效考评体系，进行绩效反馈、面谈、改善、跟进，达成企业目标与部门业绩及个人绩效。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5、内部人力、物力成本的全面预算与控制，最大限度地开发资源，节约成本。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作业绩：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、在集团内首个提出及执行&lsquo;限时解决问题，促进工作效率&rsquo;的理念，将各环节之沟通协商解决问题时间由原来的15-20天，缩减为3个工作日，并有效解决问题，提高整体工作效率。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、在东莞公司内开启沟通快线，积极主动与各层级沟通，有效降低员工离职率，往年一直存在的&lsquo;招工难&rsquo;&lsquo;人手不足，影响生产&rsquo;等不良事件在本人任职期间未再发生;与同期相比，员工流失率由12%下降到5% 。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、将&lsquo;以人为本&rsquo;之理念运用到实际工作中，规划了员工申诉管道流程，建立了高层与员工对话平台;有效加强员工对企业的认同、归属感，增强企业形象。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、首个以&lsquo;公平、公正、公开&rsquo;为执行原则，塑造、维护、发展和传播企业文化;营造良好工作和生活氛围，塑造企业良好形象。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5、强制执行书面化管理制度，提高部门及工作人员之责任感，有效避免部门间推卸事故责任之现象。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　6、编写及执行《福利待遇与薪酬等级制度》，有效节约人工成本。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　7、加强行政费用控制，成功控制差旅、公务招待无控制、无标准、乱签单等现象，年度对比下降了18%</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　8、非生产用品的采购，采取&lsquo;货比三家&rsquo;及&lsquo;透明报价&rsquo;等方法，从源头上降本节耗，年控制节约成本较往年低15% 。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　离职原因： 企业战略目标调整，主要业务外包，压缩管理人员，实行扁平化管理。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　***公司名称 (2001-02 ～ 2009-05)</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　公司性质： 外资企业 行业类别： 机械制造、机电设备、重工业</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　担任职位： 工场长助理兼管理课课长 岗位类别： 人力资源总监</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作描述： 工作描述：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、全面负责企业非生产事务工作管理，参与公司战略规划，对重大经营管理活动提出建议并参与决策。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、塑造、维护、发展和传播企业文化，增强企业凝聚力，提高员工归属感。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、拟订组织架构、部门权责划分，核心团队组建与机制平台构建，优化各部门人力资源配置;就内外环境的变化，及时提出调整方案，适时调整工作重点和目标措施。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、根据企业战略管理目标，制定行政部门的年度工作计划及管控年度费用预算和专项预算，有效节约成本。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5、企业培训体系与员工职业发展体系建设与实施;建立企业人才库，加强人才梯队建设，为企业发展提供有力的人才支持;监督关键岗位人员的奖惩、任免和绩效管理工作。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　6、参与ISO9000的管理工作及担当ISO14000环境管理的主要负责人，实现内部管理标准化、制度化、程序化、规范化。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　工作业绩：</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　1、在职期间，良好的沟通有效扼制了员工罢工等不良事件的发生，获得长安政府外企主管单位委任为&ldquo;企业的人民调解员&rdquo;。同时，充分运用管理知识，协助企业连续三年获得长安政府授予&lsquo;年度优秀先进文明企业&rsquo;称号。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　2、全面负责企业行政、人事、后勤管理工作，根据公司的发展，构架人力资源体系，建立员工淘汰制、薪资绩效考核体系、人力资源成本控制，完善各项管理制度的制定及实施，降低公司经营成本;配合并参与公司经营及组织结构改革，数年来一直得到董事长的高度赞誉!</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　3、负责管理公司资产，遵循公平、公正、诚实守信的原则，规范资产管理行为，防范资产管理风险，建立和完善资产管理制度;向公司提供资产处置的各类统计数据及综合情况。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　4、根据公司发展战略，加强关键岗位人才储备，优化人力资源配置，实现合理管控企业生产成本、有效激励员工工作激情，从而提高工作业绩，增强企业凝聚力。</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:14px;">　　5、2006年，作为新厂搬迁的主要负责人，策划了各项预备性工作，成功的完成搬迁。</span></div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0G53631R015.html">销售行政求职简历</a></li>
<li><a href="/zhichang/jianli/template/0H14BT2015.html">电气工程专业求职简历</a></li>
<li><a href="/zhichang/jianli/template/0G53D942015.html">金融学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C2H015.html">电气工程及其自动化个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362012015.html">动漫设计制作个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14C492015.html">土建工程师个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G53F0H015.html">中文简历模板——市场推广总监</a></li>
<li><a href="/zhichang/jianli/template/0H14BS2015.html">工程测量专业求职简历</a></li>
<li><a href="/zhichang/jianli/template/0H14BO2015.html">秘书求职英文简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5359132015.html">通用炫彩简历封面及模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CL2015.html">经典优秀求职简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C622015.html">护理专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B0R015.html">生物应届毕业生个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14B112015.html">测绘工程专业个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>