<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>公共事业管理专业个人简历模板 - 职场指南 - 壹打工网</title>
<meta name="keywords" content="公共事业管理专业个人简历模板" />
<meta name="description" content="公共事业管理专业个人简历模板是怎么样的？以下是公共事业管理专业个人简历模板供大家参考。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />


</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>
<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="artz">
<h2>公共事业管理专业个人简历模板</h2>
<p class="fbsj">时间：2015-07-21 17:08</p>
<div class="arnr">
<div>
	　　公共事业管理专业个人简历模板是怎么样的？以下是公共事业管理专业个人简历模板供大家参考。</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　基本资料</strong></div>
<div>
	&nbsp;</div>
<div>
	　　姓 名：曾小姐</div>
<div>
	&nbsp;</div>
<div>
	　　性 别：女</div>
<div>
	&nbsp;</div>
<div>
	　　年 龄：23</div>
<div>
	&nbsp;</div>
<div>
	　　婚姻状况：未婚</div>
<div>
	&nbsp;</div>
<div>
	　　籍 贯：北京</div>
<div>
	&nbsp;</div>
<div>
	　　现所在地：北京</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　求职意向</strong></div>
<div>
	&nbsp;</div>
<div>
	　　工作经验： 应届毕业生</div>
<div>
	&nbsp;</div>
<div>
	　　意向岗位： 办公室内勤;人力资源专员/助理;柜员;人事</div>
<div>
	&nbsp;</div>
<div>
	　　期望工作地点： 北京</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　自我评价</strong></div>
<div>
	&nbsp;</div>
<div>
	　　我是北京联合大学公共事业管理专业的一名应届毕业生，本人为人正直，诚恳，性格开朗，有主见，积极进取，有较强的组织能力、社交能力，团队意识强，自信心强、学习能力强。工作塌实，能吃苦耐劳，对事业执着。</div>
<div>
	&nbsp;</div>
<div>
	　　在学习中，我认真学习了本专业的课程，连续三年获得二等奖学金，虽然奖学金并不是唯一的证据证明你就是人才，但是它很明显的说明了我有很强的学习和接受新知识的能力。我相信贵单位希望你的员工都能具备这种能力吧。在大学期间，我于通过大学英语四级，使我具备一定的英语阅读能力，并且顺利通过了计算机VB二级、三级网络技术和三级数据库，能熟练应用计算机Office软件，VB以及数据库等软件。</div>
<div>
	&nbsp;</div>
<div>
	　　在学习本专业的同时还努力学习了其他能提高自己能力和适应社会工作环境的知识。大学生活是我人生履历中最充实、最宝贵的一页。在校期间，我学习认真，与老师、同学相处融洽，积极参加学校的多种社团活动，听取学术报告，积极参加各种社会实践活动，潜移默化中培养了我组织管理能力。我善与人沟通，并且有较强的组织协调能力和团队合作精神。</div>
<div>
	&nbsp;</div>
<div>
	　　正处于人生精力充沛时期的我，渴望在更为广阔的天地里展露自己的才能，我不满足现有的知识水平，期望在实践中得到提高。我特别希望能得到您的信任，给我一次展现的机会。我将全身心的投入到工作中，与贵单位的发展建设一起成长。让我们共同实现双赢吧!</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　教育经历</strong></div>
<div>
	&nbsp;</div>
<div>
	　　2011年9月~2015年6月　　北京联合大学　　公共事业管理　　本科</div>
<div>
	&nbsp;</div>
<div>
	　　获得证书： 二等奖学金 三好学生 文体活动先进个人</div>
<div>
	&nbsp;</div>
<div>
	　　工作经验</div>
<div>
	&nbsp;</div>
<div>
	　　2013年1月 ~2013年2月　　&times;&times;&times;&times;眼镜公司</div>
<div>
	&nbsp;</div>
<div>
	　　公司性质： 私营企业</div>
<div>
	&nbsp;</div>
<div>
	　　行业类别： 眼镜及配件</div>
<div>
	&nbsp;</div>
<div>
	　　担任职位： 行政专员/行政秘书/助理</div>
<div>
	&nbsp;</div>
<div>
	　　工作描述： 1、负责部分计算机打印和复印;</div>
<div>
	&nbsp;</div>
<div>
	　　2、负责公司考勤制定和管理;</div>
<div>
	&nbsp;</div>
<div>
	　　3、负责人事招聘及新员工的入场培训及个人档案的建立;辞退手续。考勤卡的管理，核对并制作加班单，并统计和汇总，每月交至财务做账并留底;</div>
<div>
	&nbsp;</div>
<div>
	　　4、负责公司办公设备的管理，计算机、传真机、签字长途电话、复印机的具体使用和登记;名片印制等工作;</div>
<div>
	&nbsp;</div>
<div>
	　　5、负责公司邮件和报刊的收取、分发工作。</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　语言能力</strong></div>
<div>
	&nbsp;</div>
<div>
	　　英语： 良好</div>
<div>
	&nbsp;</div>
<div>
	　　普通话： 熟练</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　计算机水平</strong></div>
<div>
	&nbsp;</div>
<div>
	　　高校非计算机专业三级(偏软)</div>
<div>
	&nbsp;</div>
<div>
	<strong>　　联系方式</strong></div>
<div>
	&nbsp;</div>
<div>
	　　联系电话： &times;&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;</div>
<div>
	&nbsp;</div>
<div>
	　　电子邮箱： &times;&times;&times;&times;&times;&times;&times;&times;&times;&times;&times;</div>

                  </div>
                  <div class="black10"></div>
</div>
<div class="arfy"><ul class="jogger2"></ul></div>
<div class="arfx"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
<a class="bds_diandian">点点网</a>
<a class="bds_copy">复制网址</a>
<a class="bds_print">打印</a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=14477" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
<div class="arxg">
<p>相关内容</p>
<ul>

</ul>
</div>
</div>
<div class="listy">
<div class="tjnr">
<p>随机阅读</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href="/zhichang/jianli/template/0F9114212015.html">媒介求职个人简历范文</a></li>
<li><a href="/zhichang/jianli/template/0G5362012015.html">动漫设计制作个人简历</a></li>
<li><a href="/zhichang/jianli/template/0H14Bc2015.html">应聘审计职位个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C052015.html">建筑预算员个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14CM2015.html">电子信息工程专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C562015.html">电子商务专业大学生简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H144OH015.html">电子商务大专生求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0H14B262015.html">会计毕业生简历模版</a></li>
<li><a href="/zhichang/jianli/template/0H14CW2015.html">心理学专业个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14B642015.html">个性简历封面模板</a></li>
<li><a href="/zhichang/jianli/template/0G53E162015.html">文秘简历模板</a></li>
<li><a href="/zhichang/jianli/template/0H14C612015.html">应聘管培实习生个人简历模板</a></li>
<li><a href="/zhichang/jianli/template/0G5362102015.html">计算机硬件维护职位个人简历范例</a></li>
<li><a href="/zhichang/jianli/template/0H14C532015.html">留学申请顾问个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href="/zhichang/jianli/template/0G535G62015.html">电子产品销售员个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535GR015.html">室内设计师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535H12015.html">培训咨询个人简历模板-中文简历</a></li>
<li><a href="/zhichang/jianli/template/0G535H42015.html">制造工程师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535HH015.html">英语老师个人求职简历模板-中文</a></li>
<li><a href="/zhichang/jianli/template/0G535I02015.html">设计装饰师个人简历模板-中文简</a></li>
<li><a href="/zhichang/jianli/template/0G535I42015.html">软件工程专业生个人简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535IH015.html">网页设计员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J02015.html">最新程序员个人求职简历模板-中</a></li>
<li><a href="/zhichang/jianli/template/0G535J42015.html">优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>
<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>