<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>简历模版 - 壹打工网</title>
<meta name="keywords" content="简历模版,简历模版下载,个人简历模版" />
<meta name="description" content="壹打工网简历模版栏目，提供各行业求职简历模版，个人简历模版，工作简历模版等2015最新简历模版参考及下载。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>

<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="listz">
<div class="listw">
<p>简历模版</p>

<dl>
	<dt><a href="/zhichang/jianli/template/0H14A952015.html" title="行政管理本科生简历模板">行政管理本科生简历模板</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供行政管理本科生简历模板，查找行政管理本科生简历模板请上深圳人才网0755rc.com!行政管理本科生简历模板代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14A962015.html" title="工业电器自动化专业学生简历模板">工业电器自动化专业学生简历模板</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供工业电器自动化专业学生简历模板，查找工业电器自动化专业学生简历模板请上深圳人才网0755rc.com!工业电器自动化专业学生简历模板代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14Aa2015.html" title="采购专员个人求职简历模板">采购专员个人求职简历模板</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供采购专员个人求职简历模板，查找采购专员个人求职简历模板请上深圳人才网0755rc.com!采购专员个人求职简历模板代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14Ab2015.html" title="计算机专业大学生简历模板">计算机专业大学生简历模板</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供计算机专业大学生简历模板，查找计算机专业大学生简历模板请上深圳人才网0755rc.com!计算机专业大学生简历模板代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14B012015.html" title="机械专业大专生求职简历模板">机械专业大专生求职简历模板</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供机械专业大专生求职简历模板，查找机械专业大专生求职简历模板请上深圳人才网0755rc.com!机械专业大专生求职简历模板代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14B022015.html" title="国际贸易专业求职简历模板">国际贸易专业求职简历模板</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供国际贸易专业求职简历模板，查找国际贸易专业求职简历模板请上深圳人才网0755rc.com!国际贸易专业求职简历模板代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14B032015.html" title="国际经济与贸易专业简历模板">国际经济与贸易专业简历模板</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供国际经济与贸易专业简历模板，查找国际经济与贸易专业简历模板请上深圳人才网0755rc.com!国际经济与贸易专业简历模板代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14B042015.html" title="建筑工程专业简历模板">建筑工程专业简历模板</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供建筑工程专业简历模板，查找建筑工程专业简历模板请上深圳人才网0755rc.com!建筑工程专业简历模板代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14B052015.html" title="德语学专业本科生简历模板">德语学专业本科生简历模板</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供德语学专业本科生简历模板，查找德语学专业本科生简历模板请上深圳人才网0755rc.com!德语学专业本科生简历模板代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14B062015.html" title="水利水电工程专业简历模板">水利水电工程专业简历模板</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供水利水电工程专业简历模板，查找水利水电工程专业简历模板请上深圳人才网0755rc.com!水利水电工程专业简历模板代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14B0H015.html" title="制药工程应届生简历">制药工程应届生简历</a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供制药工程应届生简历，查找制药工程应届生简历请上深圳人才网0755rc.com!制药工程应届生简历代表标题...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14B0R015.html" title="<b>生物应届毕业生个人简历</b>"><b>生物应届毕业生个人简历</b></a></dt>
	<dd>深圳人才网(www.0755rc.com)为广大用户提供生物应届毕业生个人简历，查找生物应届毕业生个人简历请上深圳人才网0755rc.com!生物应届毕业生个人简历代表标题...</dd>
</dl>
</div>
<div class="jogger"><li><a href='resume651.html'>首页</a></li>
<li><a href='resume6515.html'>上一页</a></li>
<li><a href='resume6511.html'>11</a></li>
<li><a href='resume6512.html'>12</a></li>
<li><a href='resume6513.html'>13</a></li>
<li><a href='resume6514.html'>14</a></li>
<li><a href='resume6515.html'>15</a></li>
<li class="thisclass">16</li>
<li><a href='resume6517.html'>17</a></li>
<li><a href='resume6518.html'>18</a></li>
<li><a href='resume6519.html'>19</a></li>
<li><a href='resume6520.html'>20</a></li>
<li><a href='resume6521.html'>21</a></li>
<li><a href='resume6517.html'>下一页</a></li>
<li><a href='resume6536.html'>末页</a></li>
<li><span class="pageinfo">共 <strong>36</strong>页<strong>423</strong>条</span></li>
</div>
</div>
<div class="listy">

<div class="righttype">
	<ul>
		
		<li><a href='/zhichang/jianli/fanwen/'>简历范文</a></li>
		
		<li><a href='/zhichang/jianli/jiqiao/'>简历技巧</a></li>
		<li><a href='/zhichang/jianli/template/' class='ontype'>简历模版</a> </li>
		<li><a href='/zhichang/jianli/zhizuo/'>简历制作</a></li>
		
		<li><a href='/zhichang/jianli/letter/'>求职信</a></li>
		
		<li><a href='/zhichang/jianli/english/'>英文简历</a></li>
		

	</ul>
</div>
<div class="tjnr">
<p>栏目相关</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href='/zhichang/jianli/template/0G535KH015.html'>测控技术与仪器业个人简历模板-</a></li>
<li><a href='/zhichang/jianli/template/0G535JR015.html'>程序员个人求职简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0H14B0H015.html'>制药工程应届生简历</a></li>
<li><a href='/zhichang/jianli/template/0G53F192015.html'>中文简历模板——市场主管</a></li>
<li><a href='/zhichang/jianli/template/0H14CJ2015.html'>区域销售经理应聘简历模板</a></li>
<li><a href='/zhichang/jianli/template/0G535TH015.html'>资料员个人求职简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0H14Ba2015.html'>中医学专业个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0G535Q92015.html'>物流仓储管理员个人简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G53E422015.html'>个人简历(营业员)</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0G5362V2015.html'>销售顾问简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C102015.html'>国际商务专业大学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0G535RH015.html'>电气工程师个人简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0G53E362015.html'>一般个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href='/zhichang/jianli/template/0G535G62015.html'>电子产品销售员个人简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G535GR015.html'>室内设计师个人简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0G535H12015.html'>培训咨询个人简历模板-中文简历</a></li>
<li><a href='/zhichang/jianli/template/0G535H42015.html'>制造工程师个人简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0G535HH015.html'>英语老师个人求职简历模板-中文</a></li>
<li><a href='/zhichang/jianli/template/0G535I02015.html'>设计装饰师个人简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0G535I42015.html'>软件工程专业生个人简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G535IH015.html'>网页设计员个人求职简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G535J02015.html'>最新程序员个人求职简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G535J42015.html'>优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>

<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>