<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>简历模版 - 壹打工网</title>
<meta name="keywords" content="简历模版,简历模版下载,个人简历模版" />
<meta name="description" content="壹打工网简历模版栏目，提供各行业求职简历模版，个人简历模版，工作简历模版等2015最新简历模版参考及下载。" />
<link href="/zhichang/files/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="home">
<h1><a href="http://www.1dagong.com" class="logo">壹打工网</a></h1>
<div class="hf"><img src="/zhichang/files/head.jpg" width="600" height="70" alt="壹打工网顶部" /></div>
<div class="sc">
<ul>
<li><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://localhost/zhichang');">设为首页</a></li>
<li><a href="javascript:window.external.AddFavorite('http://localhost/zhichang','')">加入收藏</a></li>
<li><a href="#">网站地图</a></li>
</ul>
</div>
<div class="dh">
<ul>
<li><a href='/'>网站首页</a> </li>

<li><a href='/zhichang/qiuzhi/'>求职指导</a> </li>

<li><a href='/zhichang/jianli/'>简历手册</a> </li>

<li><a href='/zhichang/mianshi/'>面试指南</a> </li>

<li><a href='/zhichang/zhiwei/'>职位说明书</a> </li>

<li><a href='/zhichang/fangpian/'>防骗指南</a> </li>

<li><a href='/zhichang/pingjia/'>自我评价</a> </li>

<li><a href='/zhichang/zongjie/'>工作总结</a> </li>

<li><a href='/zhichang/ceping/'>职业测评</a> </li>

</ul>
</div>
<div class="fdh">
<div class="rmc">
<p>
<span>热门搜索:</span> </p>
</div>
<div class="ss">
<ul class="soso">
<form class="sou" method="post" name="search" action="#">
<input type="text" id="kuang" value="" name="keyword"class="swap_value" /> 
<input type="image"  src="/zhichang/files/so.gif" width="33" height="24" class="go" alt="搜素" title="搜索">
</form>
</ul>
</div>
</div>

<div class="dangq">
<ul>
  <li>当前位置：<a href='http://localhost/zhichang/'></a> > <a href='/zhichang/jianli/'>简历手册</a> > <a href='/zhichang/jianli/template/'>简历模版</a> > </li></ul>
</div>
<div class="listz">
<div class="listw">
<p>简历模版</p>

<dl>
	<dt><a href="/zhichang/jianli/template/0H14C222015.html" title="影视策划员个人简历模板">影视策划员个人简历模板</a></dt>
	<dd>影视策划员个人简历模板是怎么样的？以下是影视策划员个人简历模板供大家参考。...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C232015.html" title="客服主管个人简历模板">客服主管个人简历模板</a></dt>
	<dd>客服主管个人简历模板是怎么样的？以下是客服主管个人简历模板供大家参考。...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C242015.html" title="人事助理个人简历模板">人事助理个人简历模板</a></dt>
	<dd>人事助理个人简历模板是怎么样的？以下是人事助理个人简历模板供大家参考。...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C252015.html" title="机械工程专业个人简历模板">机械工程专业个人简历模板</a></dt>
	<dd>机械工程专业个人简历模板应该是怎么样的？以下是机械工程专业个人简历模板供大家参考。...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C262015.html" title="焊接技术与工程专业个人简历模板">焊接技术与工程专业个人简历模板</a></dt>
	<dd>焊接技术与工程专业个人简历模板是怎么样的？深圳人才网（www.0755rc.com）提供焊接技术与工程专业个人简历模板，了解更多焊接技术与工程专业个人简历模板请访问深圳人才网 www.0755rc.com!...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C2H015.html" title="电气工程及其自动化个人简历模板">电气工程及其自动化个人简历模板</a></dt>
	<dd>电气工程及其自动化个人简历模板是怎么样的？深圳人才网（www.0755rc.com）提供电气工程及其自动化个人简历模板，了解更多电气工程及其自动化个人简历模板请访问深圳人才网 www.0755rc.com!...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C2R015.html" title="<b>信息管理与信息系统个人简历模板</b>"><b>信息管理与信息系统个人简历模板</b></a></dt>
	<dd>信息管理与信息系统个人简历模板是怎么样的？深圳人才网（www.0755rc.com）提供信息管理与信息系统个人简历模板，了解更多信息管理与信息系统个人简历模板请访问深圳人才网 www.0755rc.com!...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C292015.html" title="石油工程专业个人简历模板">石油工程专业个人简历模板</a></dt>
	<dd>石油工程专业个人简历模板是怎么样的？深圳人才网（www.0755rc.com）提供石油工程专业个人简历模板，了解更多石油工程专业个人简历模板请访问深圳人才网 www.0755rc.com!...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C302015.html" title="造型设计专业个人简历模板">造型设计专业个人简历模板</a></dt>
	<dd>造型设计专业个人简历模板是怎么样的？以下是造型设计专业个人简历模板供大家参考。...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C312015.html" title="工程经理个人简历模板">工程经理个人简历模板</a></dt>
	<dd>工程经理个人简历模板是怎么样的？深圳人才网（www.0755rc.com）提供工程经理个人简历模板，了解更多工程经理个人简历模板请访问深圳人才网 www.0755rc.com!...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C322015.html" title="渠道助理个人简历模板">渠道助理个人简历模板</a></dt>
	<dd>渠道助理个人简历模板是怎么样的？深圳人才网（www.0755rc.com）提供渠道助理个人简历模板，了解更多渠道助理个人简历模板请访问深圳人才网 www.0755rc.com!...</dd>
</dl><dl>
	<dt><a href="/zhichang/jianli/template/0H14C332015.html" title="应聘酒店储备干部实习简历模板">应聘酒店储备干部实习简历模板</a></dt>
	<dd>应聘酒店储备干部实习简历模板是怎么样的？以下是应聘酒店储备干部实习简历模板供大家参考。...</dd>
</dl>
</div>
<div class="jogger"><li><a href='resume651.html'>首页</a></li>
<li><a href='resume655.html'>上一页</a></li>
<li><a href='resume651.html'>1</a></li>
<li><a href='resume652.html'>2</a></li>
<li><a href='resume653.html'>3</a></li>
<li><a href='resume654.html'>4</a></li>
<li><a href='resume655.html'>5</a></li>
<li class="thisclass">6</li>
<li><a href='resume657.html'>7</a></li>
<li><a href='resume658.html'>8</a></li>
<li><a href='resume659.html'>9</a></li>
<li><a href='resume6510.html'>10</a></li>
<li><a href='resume6511.html'>11</a></li>
<li><a href='resume657.html'>下一页</a></li>
<li><a href='resume6536.html'>末页</a></li>
<li><span class="pageinfo">共 <strong>36</strong>页<strong>423</strong>条</span></li>
</div>
</div>
<div class="listy">

<div class="righttype">
	<ul>
		
		<li><a href='/zhichang/jianli/fanwen/'>简历范文</a></li>
		
		<li><a href='/zhichang/jianli/jiqiao/'>简历技巧</a></li>
		<li><a href='/zhichang/jianli/template/' class='ontype'>简历模版</a> </li>
		<li><a href='/zhichang/jianli/zhizuo/'>简历制作</a></li>
		
		<li><a href='/zhichang/jianli/letter/'>求职信</a></li>
		
		<li><a href='/zhichang/jianli/english/'>英文简历</a></li>
		

	</ul>
</div>
<div class="tjnr">
<p>栏目相关</p>
<ul style="border-top:1px solid #8fbf00; padding-top:10px">
<li><a href='/zhichang/jianli/template/0G535KH015.html'>测控技术与仪器业个人简历模板-</a></li>
<li><a href='/zhichang/jianli/template/0G535JR015.html'>程序员个人求职简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0H14B0H015.html'>制药工程应届生简历</a></li>
<li><a href='/zhichang/jianli/template/0G53F192015.html'>中文简历模板——市场主管</a></li>
<li><a href='/zhichang/jianli/template/0H14CJ2015.html'>区域销售经理应聘简历模板</a></li>
<li><a href='/zhichang/jianli/template/0G535TH015.html'>资料员个人求职简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0H14Ba2015.html'>中医学专业个人简历模板</a></li>
<li><a href='/zhichang/jianli/template/0G535Q92015.html'>物流仓储管理员个人简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G53E422015.html'>个人简历(营业员)</a></li>
<li><a href='/zhichang/jianli/template/0H14C912015.html'>中西医结合专业学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0G5362V2015.html'>销售顾问简历模板</a></li>
<li><a href='/zhichang/jianli/template/0H14C102015.html'>国际商务专业大学生简历模板</a></li>
<li><a href='/zhichang/jianli/template/0G535RH015.html'>电气工程师个人简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0G53E362015.html'>一般个人简历模板</a></li>

</ul>
</div>

<div class="nrmk1">
<img src="/zhichang/files/1.jpg" width="250" height="400" />
</div>
<p class="nrbt">热门排行</p>
<div class="nrmk3">
<ul>
<li><a href='/zhichang/jianli/template/0G535G62015.html'>电子产品销售员个人简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G535GR015.html'>室内设计师个人简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0G535H12015.html'>培训咨询个人简历模板-中文简历</a></li>
<li><a href='/zhichang/jianli/template/0G535H42015.html'>制造工程师个人简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0G535HH015.html'>英语老师个人求职简历模板-中文</a></li>
<li><a href='/zhichang/jianli/template/0G535I02015.html'>设计装饰师个人简历模板-中文简</a></li>
<li><a href='/zhichang/jianli/template/0G535I42015.html'>软件工程专业生个人简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G535IH015.html'>网页设计员个人求职简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G535J02015.html'>最新程序员个人求职简历模板-中</a></li>
<li><a href='/zhichang/jianli/template/0G535J42015.html'>优秀职员个人求职简历模板-中文</a></li>

</ul>
</div>
</div>
</div>

<div class="foot">
<ul>
<li><a href="http://www.1dagong.com/zhaopin/index.html" target="_self" >找工作</a><a href="http://www.1dagong.com/jianli.html" target="_self" >找人才</a><a href="http://www.1dagong.com/hymq/index.php" target="_self" >行业名企</a><a href="http://www.1dagong.com/jobfair/jobfair-list.php" target="_self" >人才市场</a><a href="http://www.1dagong.com/xiaoyuan/" target="_self" >校园招聘</a></li>

<li>部分内容收集于互联网如有侵犯您的权利请联系我们及时删除</li>
<li>www.1dagong.com 版权所有</li>
</ul>
</div>

<div class="none">
	<div class="date_up">2015-07-17 Friday 11:53:06 AM</div>

		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?aa1b6622cda40ea74c1ac85e4b432e3a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</div>

</body>
</html>