html{_background-image:url(about:blank);_background-attachment:fixed;}
/*body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;font-size:12px; color: #333333; font-family:Arial, Helvetica, sans-serif; background-color:#ffffff; background:url(../images/01.jpg) repeat-x 0px 38px;font-family:"microsoft yahei"}*/
body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;font-size:12px; color: #333333; font-family:Arial, Helvetica, sans-serif; background-color:#ffffff; font-family:"microsoft yahei"}
form,p,h1,h2,h3,h4,input{ margin:0px; padding:0px;}

li { padding:0px; margin:0px;line-height:180%;list-style-type:none;}
.clear{clear:both; height:0px; font-size:0px; line-height:0px;}
.link_lan a{color: #0066CC;text-decoration: none;}
.link_lan a:hover {text-decoration: underline;color: #0066CC;}
.link_bk a {color: #666666;text-decoration: none;}
.link_bk a:hover {text-decoration: underline;color:#0180CF;}
img{border:0;}
input{font-family: "microsoft yahei";outline: none;}
input:focus{outline: none;}

ol,ul {list-style:none;padding:0px; margin:0px;} 
a{text-decoration:none;}

/*头部样式*/
.over{ overflow:hidden; clear:both; float:none;}
.fon{ font-size:16px;}
.fl{ float:left;}
.fr{ float:right;}
.kuang{ width:1040px; margin:0 auto;}

.header{ height:62px; border-bottom:3px solid #bb00bb; background:#606;}
.logo{ width:255px; margin-left:-10px;} 
.didian{ margin-left:5px;}
.didian p{ font-size:14px; color:#f60; font-weight:bold; margin:8px 0 5px 0;}
.didian a{ display:block; border:1px solid #8c008c; border-radius:2px; color:#999; line-height:20px; padding:0px 5px; font-size:12px;}
.didian a:hover{ color:#fff;} 


.nav{ margin-left:30px;}
.nav li{ float:left; margin-top:6px;}
.nav li a{ display:inline-block; line-height:53px; font-size:17px; color:#ccc; padding:0 6px; margin:0 5px;}
.nav li a:hover,.nav li a.yes{ border-bottom:3px solid #bb00bb; color:#fff;}

.login li{ float:left; margin-top:20px; position:relative;}
.login li a{ color:#ccc; font-size:14px; display:block; padding:1px 6px;}
.login li a i{ font-size:18px; line-height:22px; border-left:1px solid #9d5b9d; padding:0 8px 0 12px;}
.login li:hover a{ background:#790079; border-radius:2px; color:#f60;}
.login li.mobile{ line-height:62px; margin:0px;}
.login li.mobile a{ padding-right:0px; padding-left:0px; margin-left:5px;}
.login li.mobile:hover a{ background:none;}
.app{ display:none; z-index:2; position:absolute; top:57px; width:150px; height:150px; left:-15px; background:#f5f5f5; border-radius:2px;}
.app i{ font-size:26px; color:#f5f5f5; margin-top:-10px; margin-left:65px;}
.app img{ width:130px;height:130px; padding:10px; margin-top:-16px;}
.mobile:hover .app{ display:block;  }
.mobile.active a{ color:#f60;}

/*------------------       index 页脚       --------------------*/


.footer{ height:180px; background:#f5f5f5; width:100%; margin-top:30px; border-top:3px solid #eee;}
.footer-nav{ line-height:20px; float:right; margin-bottom:4px;}
.footer-nav a{ font-size:16px; margin-left:20px; color:#666;}
.footer-nav a:hover{ color:#606;}
.icp{ font-size:12px; color:#999; float:right;}
.zuic{ font-size:16px; color:#999; margin-top:4px; float:right;}
.copy{ margin-right:15px; margin-top:55px;}
.appewm{ margin-top:40px;}

/*结束*/

/*按钮*/

.but180cheng { width:160px; height:40px; line-height:40px;font-size:15px; color:#FFFFFF; border:0px; background-color:#FF9900;font-family:"microsoft yahei","宋体"; cursor:pointer; margin-right:28px;}
.but180cheng.hover{ background-color:#FF7700}
.but115cheng{width:115px;height: 35px;line-height: 35px;font-size: 16px;color:#fff;border:0;background-color: #FF9900;font-family: "microsoft yahei";text-align: center;vertical-align: middle;cursor: pointer;}
.but115cheng.hover{background-color: #FF7700;}
.but698hui{width:698px;height:45px;line-height: 45px;font-size: 16px;font-family: "microsoft yahei";color:#017FCF;border: 0;background-color: #F5F5F5;text-align: center;vertical-align: middle;cursor: pointer;}
.but698hui.hover{ background-color:#D7D7D7}
.but100lan{width:100px;height:30px;line-height: 30px;font-size: 14px;font-family: "microsoft yahei";color:#fff;background-color: #0180CF;text-align: center;vertical-align: middle;border:0;cursor: pointer;}
.but100lan.hover{ background-color:#0070BD}
.but100_35lan{width:100px;height:35px;line-height: 35px;font-size: 14px;font-family: "microsoft yahei";color:#fff;background-color: #0180CF;text-align: center;vertical-align: middle;border:0;cursor: pointer;}
.but100_35lan.hover{ background-color:#0070BD}
.but95_35lan{width:95px;height:35px;line-height:35px;font-size:15px;color:#fff;text-align:center;cursor:pointer;border:0px;background-color:#017FCF;font-family: "microsoft yahei","宋体";margin-right:18px; }
.but95_35lan.hover{ background-color:#0070BD}
.but125_35lan{width:125px;height:35px;line-height: 35px;font-size: 14px;font-family: "microsoft yahei";color:#fff;background-color: #0180CF;text-align: center;vertical-align: middle;border:0;cursor: pointer;}
.but125_35lan.hover{ background-color:#0070BD}
.but125_35hui{width:125px;height:35px;line-height: 35px;font-size: 14px;font-family: "microsoft yahei";color:#fff;background-color: #C8C7C7;text-align: center;vertical-align: middle;border:0;cursor: pointer;}
.but125_35hui.hover{ background-color:#D7D7D7}
.but125_35cheng{width:125px;height:35px;line-height: 35px;font-size: 14px;font-family: "microsoft yahei";color:#fff;background-color: #FF9900;text-align: center;vertical-align: middle;border:0;cursor: pointer;}
.but125_35cheng.hover{background-color: #FF7700;}
.but150cheng{width:150px;height:35px;line-height: 35px;font-size: 16px;font-family: "microsoft yahei";color:#fff;border:0;background-color: #FF9900;text-align: center;vertical-align: middle;cursor: pointer;}
.but150cheng.hover{background-color: #FF7700;}
.but218cheng{width:218px;height:45px;line-height: 45px;font-size: 18px;font-family: "microsoft yahei";color:#fff;background-color: #FF9900;text-align: center;vertical-align: middle;border:0;cursor: pointer;}
.but218cheng.hover{background-color: #FF7700;}
.but70lan{width:69px;height:36px;line-height: 32px;font-size: 12px;font-family: "宋体";color:#fff;background-color:#0180CF;border:0;text-align: center;vertical-align: middle;cursor: pointer;}
.but70lan.hover{ background-color:#0070BD}
.but200_bg{width:200px;height:50px;line-height: 50px;font-size: 18px;font-family: "microsoft yahei";color:#fff;background: url(../images/hunter/33.gif)left top no-repeat #017FCF;_background-color:#017FCF;+background-color: #017FCF; border:0;cursor: pointer;}
.but130lan{width:130px;height:30px;line-height: 30px;font-size: 14px;font-family: "microsoft yahei";color:#fff;background-color: #0180CF;text-align: center;border:0;cursor: pointer;}
.but130lan.hover{ background-color:#0070BD}
.but80lan{width:80px;height:25px;line-height: 25px;font-size: 14px;font-family: "宋体";color:#fff;background-color: #017FCF;border:0;text-align: center;vertical-align: middle;cursor: pointer;border-radius: 3px;}
.but80lan.hover{ background-color:#0070BD}
.but80 { width:81px; height:32px; font-size:14px; font-weight:bold; color:#FFFFFF; border:0px; background-image:url(../images/36.jpg); background-repeat:no-repeat;}
.but80_hover{ background-position:0px -32px;}

/*输入框*/
.input_text_180{width: 169px;height:34px;border:1px solid #ccc;border-right:0;font-size: 14px;line-height: 15px;padding-left: 7px;color:#666666;}
.input_text_210_bg {width:210px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px;background:url(../images/13.gif) no-repeat 210px -58px #fff;cursor:pointer;color:#666666;}
.input_text_230{width:230px;border:1px solid #ccc; border-right: 0;font-size: 14px;line-height: 15px;padding:9px;background-color: #fff;}
.input_text_214_bg{height:28px;width:214px;border:1px solid #ccc;font-size: 14px;line-height: 16px;padding:0 9px;background: url(../images/13.gif) no-repeat 214px -60px #fff;cursor: pointer;}
.input_text_350{height:28px;width:350px;border: 1px solid #ccc;font-size: 14px;line-height: 16px;padding-left:7px;color:#666666;}
.input_text_300{width:300px;height:30px;border:1px solid #ccc;font-size: 14px;line-height: 15px;padding-left: 7px;color:#666666;}
.input_text_155{width: 155px;height:30px;border:1px solid #ccc;font-size: 14px;line-height: 15px;padding-left: 7px;color:#666666;color:#666666;}
.input_text_280_bg{height:30px;width:280px;border:1px solid #ccc;font-size: 14px;line-height: 16px;padding:0 9px;background: url(../images/13.gif) no-repeat 280px -60px #fff;cursor: pointer;}
.input_text_280{height:30px;width:280px;border:1px solid #ccc;font-size: 14px;line-height: 16px;padding:0 9px;background-color: #fff;color:#666666;}
.input_text_450{height:30px;width:450px;border:1px solid #ccc;font-size: 14px;line-height: 16px;padding:0 9px;background-color: #fff;color:#666666;}
.input_text_500{width:500px;height:30px;border:1px solid #ccc;font-size: 14px;line-height: 15px;padding-left: 7px;color:#666666;}
.input_text_300_bg{height:30px;width:289px;border:1px solid #ccc;font-size: 14px;line-height: 16px;padding:0 9px;background: url(../images/13.gif) no-repeat 289px -60px #fff;cursor: pointer;}
.input_textarea_400 {width:400px; height:80px;  border:1px solid  #CCCCCC ; font-size:14px;line-height:16px;padding:9px; line-height:200%;color:#666666;font-family: "microsoft yahei";}
/*高亮*/
.highlight {color: #FF0000;}

/*主体*/
.container{width:1000px;margin:0 auto;padding-top:15px;font-family:Arial,Helvetica,"microsoft yahei";}
/*当前位置*/
.page_location{height:22px; line-height:22px;width:1000px; margin:0 auto; padding-top:25px; color:#666666;} 

/*会员中心头部*/
.user_top_nav{ background-color:#E9F8FF; height:38px; width:100%; line-height:38px;}
.user_top_nav .main{margin:0 auto; width:1000px; font-size:12px;}
.user_top_nav .main .ltit{ width:500px; float:left;}
.user_top_nav .main .ltit .into_center{color:#333;}
.user_top_nav .main .ltit a{text-decoration: none;}
.user_top_nav .main .ltit a:hover{text-decoration:underline;}
.user_top_nav .main .rlink{width:400px; float:right;text-align:right}
.user_top_nav .main .rlink a{ padding-left:15px;}
.user_top_nav .main .rlink .mphone{padding-left:15px;background-image:url(../images/3_03.jpg);background-repeat:no-repeat;background-position:2px center;}
.user_top_logo{position: relative; margin:0 auto; width:1000px;+z-index:9999;}
.user_top_logo .logobox{ width:500px; float:left; height:110px;}
.user_top_logo .logobox img{ padding-top:20px;}
.user_top_logo .top_ad{width:468px;height:60px;padding-top:25px;float:left;margin-left:10px;overflow:hidden;}
.user_top_logo .sobox{ width:380px;float:left; height:110px;}
.user_top_logo .sobox .keybox{ width:380px; position:relative; margin-top:26px; height:45px;}
.user_top_logo .sobox .keybox .lbox{ width:300px; float:left}
.user_top_logo .sobox .keybox .lbox .keyinput{ width:238px;_width:237px; border:2px #4096EB solid; border-right:0px; font-size:14px; padding-left:60px; padding-top:9px; padding-bottom:10px; *padding-bottom:9px; margin:0px;}
.user_top_logo .sobox .keybox .selectbox{width:55px;position:absolute; left:0px; top:3px; font-size:14px;}
.user_top_logo .sobox .keybox .selectbox .seltxt{background:url(../images/07.jpg) no-repeat right -139px; width:50px; height:34px; line-height:34px; padding-left:10px; cursor:pointer}
.user_top_logo .sobox .keybox .selectbox .selmenu{border:2px #4096EB solid; border-top:0px; background-color:#FFFFFF; line-height:200%;padding-left:10px;cursor:pointer; display:none}
.user_top_logo .sobox .keybox .rbox{ width:80px; float:left}
.user_top_logo .sobox .keybox .rbox .but{ width:80px; height:39px;background:url(../images/02.jpg) no-repeat; border:0px; cursor:pointer}
.user_top_logo .sobox .hotkey{width:380px; overflow:hidden; color:#666666; height:20px; overflow:hidden; line-height:200%}
.user_top_logo .sobox .hotkey a{ padding-left:10px; word-spacing:normal}
/*导航*/
/*
.nav{margin:0 auto; width:999px; font-size:14px; height:48px; border:1px #CCCCCC solid; border-left:0px; background:url(../images/03.jpg) repeat-x bottom; line-height:48px; overflow:hidden}
.nav .li a{display:block; float:left; height:48px;width:auto;color: #333333; padding-left:21px; padding-right:21px; cursor:pointer;text-decoration:none;border-left:1px #CCCCCC solid;font-family:"microsoft yahei","宋体";}
.nav .li a:hover{ color:#4095EF;}
.nav .li a.select{color:#FFFFFF; background-color:#0180CF;}
.nav .li a:hover.select{ color: #FFFFFF;}
*/

/*底部广告*/
.release{width:100%;background-color:#F5F5F5;height:80px;margin-bottom:-15px;}
.release .release_txt{width:468px;height:25px;margin-top:16px;background:url(../images/index/17.gif) top left no-repeat;}
.release .release_box{position:relative;}
.release .release_but{position:absolute;top:-8px;right:0px;}

/*会员中心主体-底部*/
.foot{ width:100%; border-top:3px #E4E4E4 solid; background-color:#F2F2F2; margin-top:10px;}
.foot .box{margin:0 auto; width:1000px; font-size:12px;color: #666666; padding-bottom:30px; padding-top:10px;position:relative}
.foot .box .list{ width:230px; float:left; line-height:230%;}
.foot .box .weixin{ position:absolute; right:0px; top:15px; width:100px; text-align:center}
.foot .box .weixin img{ margin-top:15px;}
.foot .copyright {width:100%; text-align:center; line-height:180%; color:#999999; padding-bottom:15px;}
/*-----jquery dialog css--------*/
.FloatBg  {display:none;width:100%;height:100%;background:#000;position:absolute;top:0;left:0;z-index: 10000;}
.FloatBox {position:absolute; padding:8px;background:url(../images/20.png);z-index: 10000;}
.FloatBox .Box{border:1px  #999999 solid}
.FloatBox .Box .title{height:45px;color: #FFFFFF;background-color:#0180CF; line-height:45px;}
.FloatBox .Box .title h4{float:left;padding:0;margin:0;font-size:15px; padding-left:15px;}
.FloatBox .Box .title span{float:right;cursor:pointer; display:block;background:url(../images/21.gif) no-repeat ; width:14px; height:14px;margin-right:20px;margin-top:15px;}
/*.FloatBox .Box .title .spanhover{background-position:0px -20px; +background-position:0px -31px;}*/
.FloatBox .Box .content{background-color: #fff}
.FloatBox .Box .content .loading{padding:20px 15px;background:#fff;background:url(../images/22.gif) no-repeat center}

/*框计算*/
.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; line-height:160% }
.autocomplete { border:1px solid #CCCCCC; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

/*验证错误*/
label.error {margin-left:6px;color:#FF0000}
input.error {border:1px #FF6600 solid; color:#FF0000}
textarea.error {border:1px #FF6600 solid; background-color:#FFEDE8; color:#FF0000}

.tableall{ font-size:14px;}
.tableall.s{margin-top: -30px;}
.tableall td, .tableall th{ padding:10px 1px;}

/*回到顶部组件*/
.back_to_top{position:fixed;right:50px;bottom:50px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-40);}
.back_to_top .back{width:39px;height:39px;margin-bottom:15px;border:1px solid #0189DD;background:url(../images/64.gif) 5px 10px no-repeat #0189DD;cursor:pointer;}
.back_to_top .back div{color:#fff;padding:3px 7px;background-color:#0189DD;display:none;_line-height:17px;}
.back_to_top .steer{width:39px;height:39px;border:1px solid #ccc;background:url(../images/64.gif) 7px -32px no-repeat;cursor:pointer;background-color: #fff;}
.back_to_top .steer div{color:#fff;padding:3px 7px;background-color:#999999;display:none;_line-height:17px;}
.back_to_top .sub{width:39px;height:39px;border:1px solid #ccc;border-top:0;background:url(../images/64.gif) 5px -72px no-repeat;cursor:pointer;background-color: #fff;}
.back_to_top .sub div{color:#fff;padding:3px 7px;background-color:#999999;display:none;_line-height:17px;}
/*选分站组件*/
.user_top_logo .sub_station_bbox{position:absolute;top:35px;left:280px;font-family:"microsoft yahei";z-index: 77;}
.user_top_logo .sub_station_bbox .local_station{font-size:14px;color:#017FCF;cursor:pointer;width:100px;height:50px; padding-left: 0px;padding-top: 10px; border-left: 1px solid #ccc;}
.user_top_logo .sub_station_bbox .local_station h3{font-size: 16px;font-weight: normal;text-align: center;}
.user_top_logo .sub_station_bbox .local_station p{font-size: 12px;color:#666;text-align: center;}
.user_top_logo .sub_station_bbox .local_station p.hover{color:#0180CF;}

/*页码*/
.page{margin:20px auto;text-align: center;list-style:none;padding:0;font-family:"microsoft yahei";overflow:hidden;zoom:1;}
.page li{font-size:12px;float:left;margin-right:5px;}
.page li a{display:block;height:17px;line-height:17px;padding:2px 5px;background-color:#fff;border:1px solid #ccc;text-decoration:none;color:#666666;}
.page li a:hover{border:1px solid #0180CF;color:#0180CF;}
.page li a.select{border:1px solid #0180CF;color:#FFFFFF;background-color:#018FCF;}
.page li.page_all{line-height:23px;}

/*底部*/
.foot .footer_box{border-bottom: 1px solid #ccc;margin-bottom: 17px;font-family: "microsoft yahei";}
.foot .box{margin:0 auto; width:1000px; font-size:12px;color: #666666; padding-bottom:30px; padding-top:24px;position:relative}
.foot .box .list{ width:162px; float:left; /*line-height:230%;*/margin-right: 46px;}
.foot .box .list h4{font-family: "microsoft yahei";font-size: 16px;color:#333333;font-weight: normal;line-height: 100%; padding-left:15px;padding-bottom: 9px;border-bottom: 1px solid #ccc;}
.foot .box .list .foot_list{padding: 15px;padding-bottom: 0;padding-right:0;width:147px;height:93px;}
.foot .box .list .foot_list ul{float: left;}
.foot .box .list .foot_list li{font-size: 12px;width:85px;line-height: 100%; padding-bottom: 15px;+line-height: 15px;}
.foot .box .list .foot_list li a:hover{text-decoration:none;color:#0180CF;}
.foot .box .weixin{ position:absolute; right:0px; top:24px; width:100px; text-align:center}
.foot .box .weixin img{ margin-top:6px;}
.foot .box .weixin{width:167px;}
.foot .box .weixin .weixin_img{float: left;margin-right: 36px;color:#333;}
.foot .box .weixin .weixin_img span{font-size: 14px; font-family: "microsoft yahei";}
.foot .box .weixin .comment{font-size: 16px;color:#666666;margin-top: 11px;padding-left: 36px;font-family: "microsoft yahei";background: url(../images/foot_comment.gif) 0px 7px no-repeat;}
.foot .box .weixin .comment p{text-align: left;}
.foot .box .weixin .comment .phone_number{font-size: 18px;font-weight: bold;color:#999999;}
.foot .box .weixin .weixin_cons{}
.foot .box .weixin .weixin_cons .w_txt{float: left;font-size: 16px;color:#333333;width:35px;font-family: "microsoft yahei";margin-left: 21px;margin-top: 18px;margin-right: 12px;}
.foot .box .weixin .weixin_cons img{float: left;}
.emptytip{background:url(../images/18.gif)  no-repeat center 40px; padding-top:140px; margin-bottom:50px; text-align:center; font-size:14px; color: #999999}
/*-----jquery tip--------*/
p#vtip { display: none; position: absolute; padding: 10px; left: 5px; font-size:12px; background-color: #FFFFCC; border: 3px solid #FF9900; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999; line-height:170% }
.menu_bg_layer{filter:alpha(Opacity=0);opacity:0;-moz-opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-MS-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}

/*新的分站弹出框*/
.sub_station{position:relative;left:0px;width:480px;padding-top:12px;z-index:99;top:-10px;}
.sub_station a{text-decoration: none;}
.sub_station .triangle{position:absolute;top:4px;left:39px;width:13px;height:12px;background:url(../images/69.gif) center center no-repeat;z-index: 100;}
.sub_station .station_close{position: absolute;top:20px;right:15px;width:18px;height:18px;background: url(../images/station_close.gif) no-repeat -24px 0px;z-index: 100;cursor: pointer;}
.sub_station .station_close:hover{background-position: 0px 0px;}
.sub_station .sub_st_box{position:relative;padding:15px;background-color:#F7F7F7;border:2px solid #ccc;border-radius: 2px;}
.sub_station .sub_st_box .sub_st_tit{border-bottom: 1px solid #CCC;}
.sub_station .sub_st_box .sub_st_tit h3{font-size: 16px;color:#333;font-family: "Microsoft Yahei";font-weight: normal;padding-bottom: 8px;}
.sub_station .sub_st_box .sub_st_tit h3 a{color:#333;}
.sub_station .sub_st_box .sub_st_tit h3 a:hover{color:#FF9900;text-decoration: underline;}
.sub_station .sub_st_box ul{margin:0;padding:0;list-style:none;}
.sub_station .sub_st_box ul li{padding-top: 13px;border-bottom: 1px dashed #CCC;line-height: normal;}
.sub_station .sub_st_box ul li span{font-size: 12px;color:#0180CF;}
.sub_station .sub_st_box ul li .city_list{padding-bottom: 13px;}
.sub_station .sub_st_box ul li .city_list a{display: block;float: left;margin-right: 10px;color:#666;margin-top: 10px;background-color: transparent;font-family: "SimSun";}
.sub_station .sub_st_box ul li .city_list a:hover{color:#FF9900;text-decoration: underline;background-color: #F7F7F7;}


/*友情连接*/
.job_box {border: 1px solid #ccc;margin-bottom: 10px;}
.job_box .box_tit {background-color: #f5f5f5;border-bottom: 1px solid #ccc;height: 46px;line-height: 46px;padding-right: 20px;}
.job_box .box_content {overflow: hidden;padding: 15px 20px;zoom:1;}
.job_box .box_tit .tit {float: left;font-family: "microsoft yahei";font-size: 14px;font-weight: bold;height: 46px;line-height: 46px;padding: 0 15px;}
.link_name{font-size:14px;line-height:30px;background-color: #fff;}
.link_name a{margin-left:15px;display:block;float:left;width:120px;overflow:hidden;margin-bottom:8px;height:24px;line-height:24px;}
.link_name a.frist{margin-left:0px;}
.l_img a{margin-left:0px}
.link_name .link_img{}
.link_name .link_img .l_img{width:120px;height:40px;background-color: #ccc;float: left;margin-right: 15px;margin-top: 15px;}
.f_link {margin:0px auto;width:1000px;}
.job_box .box_tit {line-height: 46px;}
.job_box .box_tit .more {float: right;}
.job_box .box_tit .more a{color:#007FCD;font-weight:normal;font-size:12px;}
.job_box .box_tit h4{color:#323232;font-size:14px;}
.job_box .box_tit h4 a{float:right;color:#007FCD;}
.link_name a {display: block;float: left;height: 24px;line-height: 24px;margin-bottom: 8px;margin-left: 15px;overflow: hidden;width: 120px;color:#666666;}
.job_box .box_tit .more a {color: #007fcd;font-size: 12px;font-weight: normal;}


