<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh"><head><meta http-equiv="Content-Type" content="text/html; charset=gb2312">  <meta http-equiv="x-dns-prefetch-control" content="on">  <title>校园招聘 - 壹打工网</title> <meta http-equiv="Pragma" content="no-cache"> <meta http-equiv="Cache-Control" content="no-cache" max-age="0"> <meta http-equiv="Expires" content="0"> <meta name="author" content="Netease"> <meta name="version" content="1.0"> <meta name="keywords" content=""> <meta name="description" content=""> <meta name="robots" content="all"> <meta property="wb:webmaster" content="766092f2bbf0c80d"> <meta property="qc:admins" content="22061604124161636375"> <meta name="baidu-site-verification" content="BYFmFBILbh"<script type="text/javascript" async src="/files/xiaoyuan/ga.js"></script>

 
<link href="/files/xiaoyuan/core.css" type="text/css" rel="stylesheet">
<link href="/files/css/font-awesome.min.css" rel="stylesheet" >
<link href="/files/css/common.css" rel="stylesheet" type="text/css" />
</head>  

<body id="scrollBody" class="auto-1432888266353-parent" style=" margin-top: 0px;">

	<!--头部开始-->
	<div class="header">
    	<div class="kuang" style="width:750px;">
            <div class="logo fl" style="width:150px;"><a class="fl" href="/"><img src="/files/img/logo2.jpg" alt="" title="壹打工网" ></a>
            </div>

            <div class="nav fl">
            	<ul>
                	<li><a class="yes" href="/">首页</a></li>
                    <li><a href="/zhaopin/index.html">找工作</a></li>
                    <li><a href="/jianli.html">找人才</a></li>
                    <li><a href="/hymq/">行业名企</a></li>
                    <li><a href="/jobfair/jobfair-list.php">人才市场</a></li>
                    <li><a href="/xiaoyuan/">校园招聘</a></li>
                </ul>
            </div>
            
          <!--<div class="login fr">
              <ul>
                  <li class="mobile"><a href="#"><i class="fa fa-mobile"></i>手机壹打工</a>
                      <div class="app">
                          <i class="fa fa-sort-asc"></i>
                          <img src="/files/img/app.jpg" alt="" title="壹打工网客户端" />
                      </div>
                  </li>
              </ul>
          </div>
-->            
            
            <script type=text/javascript><!--//--><![CDATA[//><!-- 
function menuFix() { 
var sfEls = document.getElementById("hynav").getElementsByTagName("li"); 
for (var i=0; i<sfEls.length; i++) { 
sfEls[i].onmouseover=function() { 
this.className+=(this.className.length>0? " ": "") + "sfhover"; 
} 
sfEls[i].onMouseDown=function() { 
this.className+=(this.className.length>0? " ": "") + "sfhover"; 
} 
sfEls[i].onMouseUp=function() { 
this.className+=(this.className.length>0? " ": "") + "sfhover"; 
} 
sfEls[i].onmouseout=function() { 
this.className=this.className.replace(new RegExp("( ?|^)sfhover\\b"), 
""); 
} 
} 
} 
window.onload=menuFix; 
//--><!]]></script> 

           
              	<div class="top_nav">
            	</div>
        </div>
    </div>
    <!--头部结束-->

	<div id="advertisement_box" class="advertisement_box f-pf" style="display: none;">
	</div>
	<div class="wraper">
		<div class="win win1 j-win" style="height: 714px;">
			<div class="content f-pr" id="j-win1Con">
				<div class="tangle tangle1 f-pa">
				</div>
				<div class="tangle tangle2 f-pa">
				</div>
				<div class="tangle tangle3 f-pa">
				</div>
				<div class="tangle tangle4 f-pa">
				</div>
				<div class="tangle tangle5 f-pa">
				</div>
				<div class="tangle tangle6 f-pa">
				</div>
				<div class="tangle tangle7 f-pa">
				</div>
				<div class="tangle tangle8 f-pa">
				</div>
				<div class="tangle tangle9 f-pa">
				</div>
				<a href="#j-win2Con" class="f-pa btn f-pr" id="j-startBtn">
					<div class="f-pa txt" style="font-size:26px; margin-top:11px;">
						了解更多
					</div>
					<div class="f-pa icon">
					</div>
				</a>
			</div>
		</div>
		<div id="index2" class="win win2 j-win" style="height: 714px;">
			<div class="wrap">
				<div class="content f-pr" id="j-win2Con">
					<h2 class="title">
						<span class="bl f-fl">
						</span>
						<span class="red f-fl">
						</span>
					</h2>
					<div class="tangle tangle1 f-pa">
					</div>
					<div class="tangle tangle2 f-pa">
					</div>
					<div class="cnt cnt1 f-pa f-pr">
						<div class="f-cb name">
							<div class="f-fl tit">
								+
							</div>
							<div class="f-fl txt">
								简历撰写能力
							</div>
						</div>
						<ul class="infotxt">
							<li>
								? 个人信息要写哪些？
							</li>
							<li>
								? 怎样让用人单位对你更有好感？
							</li>
							<li>
								? 简历要不要体现你的个性和创意？
							</li>
						</ul>
						<div class="courses f-cb f-pa">
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									动手之前先分析
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									哪些信息不用写
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									什么证书更有用
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									特长爱好写不写
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									简历模板怎么挑
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									写好也要排得好
								</div>
								<div class="f-fr icon">
								</div>
							</a>
						</div>
					</div>
					<div class="cnt cnt2 f-pa f-pr">
						<div class="f-cb name">
							<div class="f-fl tit">
								+
							</div>
							<div class="f-fl txt">
								简历投递能力
							</div>
						</div>
						<ul class="infotxt">
							<li>
								? 简历该放正文还是附件？
							</li>
							<li>
								? 邮件名称又有什么要求？
							</li>
							<li>
								? 酒香也怕巷子深，让简历更容易到HR手里，精心设计的苦心才不会白费
							</li>
						</ul>
						<div class="courses f-cb f-pa spec1">
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									邮件标题怎么写
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									放在附件or正文
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									怎样写出求职信
								</div>
								<div class="f-fr icon">
								</div>
							</a>
						</div>
					</div>
					<div class="cnt cnt3 f-pa f-pr">
						<div class="f-cb name">
							<div class="f-fl tit">
								+
							</div>
							<div class="f-fl txt">
								面试表现能力
							</div>
						</div>
						<ul class="infotxt">
							<li>
								? 面试前需要准备什么？
							</li>
							<li>
								? 哪些小动作让你显得不自信？
							</li>
							<li>
								? 工资怎么谈？
							</li>
						</ul>
						<div class="courses f-cb f-pa">
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									面试面的是什么
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									面试之前需准备
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									面试有哪些形式
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									关键问题怎么答
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb len" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									面试五阶段分别解决什么问题
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb len" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									哪些小动作让你显得不自信
								</div>
								<div class="f-fr icon">
								</div>
							</a>
						</div>
					</div>
					<div class="cnt cnt4 f-pa f-pr">
						<div class="f-cb name">
							<div class="f-fl tit">
								+
							</div>
							<div class="f-fl txt">
								创业创新能力
							</div>
						</div>
						<ul class="infotxt">
							<li>
								? 你可能有个不错的想法想要实现
							</li>
							<li>
								? 你可能加入了一个创业团队一起开创未来
							</li>
							<li>
								? 此时你都需要培养一种创业能力
							</li>
						</ul>
						<div class="courses f-cb f-pa spec">
							<a class="item f-fl f-cb len" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									草根创业者需要具备的6种心态
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb len" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									怎样选择创业伙伴
								</div>
								<div class="f-fr icon">
								</div>
							</a>
							<a class="item f-fl f-cb len" href="javascript:;"
							target="_blank">
								<div class="f-fl txt">
									互联网创业的5大定律
								</div>
								<div class="f-fr icon">
								</div>
							</a>
						</div>
					</div>
					<div class="login f-pa f-pr f-cb">
						<div class="btn f-fl" id="j-loginBtn">
							+&nbsp;&nbsp;登录
						</div>
						<div class="txt f-fl">
							解锁隐藏技能
						</div>
					</div>
				</div>
				<a href="#scrollBody" class="wintopBtn j-prevBtn" id="auto-id-1432888266381">
					回到首页
				</a>
				<a href="#index3" class="bottomBtn j-nextBtn" id="auto-id-1432888266384">
					宣讲信息简历模版
				</a>
			</div>
		</div>
		<div id="index3" class="win win3 j-win" style="height: 714px;">
			<div class="wrap" id="j-win3Con">
				<h2 class="title">
				</h2>
				<div class="m-win3 f-cb">
					<div class="dataCtn f-fl" id="j-dataCtn">
						<div class="j-citySelect">
						</div>
						<div class="j-table table">
							<div class="th f-cb">
								<span class="th1">
									城市
								</span>
								<span class="th2">
									公司
								</span>
								<span class="th3">
									时间
								</span>
								<span class="th4 len">
									地点
								</span>
							</div>
							<div class="j-tableList th tableList">


								<div class="line f-cb">
									<span class="th1">
										安徽
									</span>
									<span class="th2">
										合肥经开区明珠广场寅特尼人才市场
									</span>
									<span class="th3">
										2015年5月29日 18:00 ~ 2015年5月29日 20:00
									</span>
									<span class="th4">
										合肥城市学院# 205(备注:创业指导讲座)
									</span>
								</div>


							</div>
						</div>
					</div>
					<div class="downLoadBox f-fl">
						<a class="downloadLink" href="javascript:;"
						target="_blank">
							<div class="dlTt">
								<p>
									下载简历模板
								</p>
								<p>
									上壹打工网
								</p>
							</div>
							<p class="dlCtn">
								壹打工网为求职者提供100+行业，100000+简历模板，及个性定制简历服务。找工作，壹打工网更专业!
							</p>
						</a>
						<div class="shareLinks">
							<span class="logo">
							</span>
							<div class="para">
								<p>
									苟富贵，勿相忘。
								</p>
								<p>
									让小伙伴也来享用求职经验吧
								</p>
								<p>
									换个聚餐的机会也不错啊~
								</p>
							</div>
							<div class="links j-shareLinks">
								<p class="item i1" id="auto-id-1432888266411">
								</p>
								<p class="item i2" id="auto-id-1432888266412">
								</p>
								<p class="item i3" id="auto-id-1432888266413">
								</p>
								<p class="item i4" id="auto-id-1432888266414">
								</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#scrollBody" class="wintopBtn j-prevBtn" id="auto-id-1432888266382">
					回到首页
				</a>
				<a href="#index4" class="bottomBtn j-nextBtn" id="auto-id-1432888266385">
					职业技能和发展
				</a>
			</div>
		</div>
		<div id="index4" class="win win4 j-win" style="height: 714px;">
			<div class="wrap" id="j-win4Con">
				<h2 class="title">
				</h2>
				<div class="info f-pa">
					发布求职信息, 参加简历大赛, 进入
					<a href="javascript:;" target="_blank">
						壹打工网
					</a>
					。开启你的求职信息管理， 
					<a href="javascript:;" target="_blank">
						壹打工网客户端
					</a>
					即将开放。
				</div>
				<p class="line f-pa">
				</p>
				<div class="f-cb items f-pa">
					<a href="javascript:;"
					target="_blank" class="item f-fl f-cb item1 f-pr">
						<div class="top f-pa">
							<div class="icon f-fl icon1">
							</div>
							<div class="txt f-fl txt1">
								<p class="tit">
									办公技能
								</p>
								<p class="tinfo">
									熟练使用Office
								</p>
								<p class="tinfo">
									让你的简历更专业
								</p>
							</div>
						</div>
						<div class="bot f-pa">
							<div class="iconbot iconbot1">
							</div>
							<p class="bottit">
								办公技能
							</p>
							<p class="bottinfo">
								熟练使用Office
							</p>
							<p class="bottinfo">
								让你的简历更专业
							</p>
						</div>
					</a>
					<a href="javascript:;"
					target="_blank" class="item f-fl f-cb item2 f-pr">
						<div class="top f-pa">
							<div class="icon f-fl icon2">
							</div>
							<div class="txt f-fl txt2">
								<p class="tit">
									职业规划
								</p>
								<p class="tinfo">
									更了解自己
								</p>
								<p class="tinfo">
									把握自己的职业方向
								</p>
							</div>
						</div>
						<div class="bot f-pa">
							<div class="iconbot iconbot2">
							</div>
							<p class="bottit">
								职业规划
							</p>
							<p class="bottinfo">
								更了解自己
							</p>
							<p class="bottinfo">
								把握自己的职业方向
							</p>
						</div>
					</a>
					<a href="javascript:;"
					target="_blank" class="item f-fl f-cb item3 f-pr">
						<div class="top f-pa">
							<div class="icon f-fl icon3">
							</div>
							<div class="txt f-fl txt3">
								<p class="tit">
									自我管理
								</p>
								<p class="tinfo">
									做一个怎样的自己
								</p>
								<p class="tinfo">
									怎样的人
								</p>
							</div>
						</div>
						<div class="bot f-pa">
							<div class="iconbot iconbot3">
							</div>
							<p class="bottit">
								自我管理
							</p>
							<p class="bottinfo">
								做一个怎样的自己
							</p>
							<p class="bottinfo">
								怎样的人
							</p>
						</div>
					</a>
					<a href="javascript:;"
					target="_blank" class="item f-fl f-cb item4 f-pr">
						<div class="top f-pa">
							<div class="icon f-fl icon4">
							</div>
							<div class="txt f-fl txt4">
								<p class="tit">
									学习方法
								</p>
								<p class="tinfo">
									职后学习第一课
								</p>
								<p class="tinfo">
									从适应职场开始
								</p>
							</div>
						</div>
						<div class="bot f-pa">
							<div class="iconbot iconbot4">
							</div>
							<p class="bottit">
								学习方法
							</p>
							<p class="bottinfo">
								职后学习第一课
							</p>
							<p class="bottinfo">
								从适应职场开始
							</p>
						</div>
					</a>
					<a href="javascript:;"
					target="_blank" class="item f-fl f-cb item5 f-pr">
						<div class="top f-pa">
							<div class="icon f-fl icon5">
							</div>
							<div class="txt f-fl txt5">
								<p class="tit">
									沟通交流
								</p>
								<p class="tinfo">
									所有的合作
								</p>
								<p class="tinfo">
									成于沟通败于沟通
								</p>
							</div>
						</div>
						<div class="bot f-pa">
							<div class="iconbot iconbot5">
							</div>
							<p class="bottit">
								沟通交流
							</p>
							<p class="bottinfo">
								所有的合作
							</p>
							<p class="bottinfo">
								成于沟通败于沟通
							</p>
						</div>
					</a>
					<a href="javascript:;"
					target="_blank" class="item f-fl f-cb item6 f-pr">
						<div class="top f-pa">
							<div class="icon f-fl icon6">
							</div>
							<div class="txt f-fl txt6">
								<p class="tit">
									执行能力
								</p>
								<p class="tinfo">
									更了解自己
								</p>
								<p class="tinfo">
									把握自己的职业方向
								</p>
							</div>
						</div>
						<div class="bot f-pa">
							<div class="iconbot iconbot6">
							</div>
							<p class="bottit">
								执行能力
							</p>
							<p class="bottinfo">
								更了解自己
							</p>
							<p class="bottinfo">
								把握自己的职业方向
							</p>
						</div>
					</a>
					<a href="javascript:;" target="_blank"
					class="item f-fl f-cb item7 f-pr">
						<div class="top f-pa">
							<div class="icon f-fl icon7">
							</div>
							<div class="txt f-fl txt7">
								<p class="tit">
									语言能力
								</p>
								<p class="tinfo">
									多学一门外语
								</p>
								<p class="tinfo">
									给自己多开一扇
								</p>
							</div>
						</div>
						<div class="bot f-pa">
							<div class="iconbot iconbot7">
							</div>
							<p class="bottit">
								语言能力
							</p>
							<p class="bottinfo">
								多学一门外语
							</p>
							<p class="bottinfo">
								给自己多开一扇
							</p>
						</div>
					</a>
					<a href="javascript:;" target="_blank"
					class="item f-fl f-cb item8 f-pr">
						<div class="top f-pa">
							<div class="icon f-fl icon8">
							</div>
							<div class="txt f-fl txt8">
								<p class="tit">
									查看更多
								</p>
								<p class="tinfo">
									登录壹打工网
								</p>
								<p class="tinfo">
									开启你的职场生活
								</p>
							</div>
						</div>
						<div class="bot f-pa">
							<div class="iconbot iconbot8">
							</div>
							<p class="bottit">
								查看更多
							</p>
							<p class="bottinfo">
								登录壹打工网
							</p>
							<p class="bottinfo">
								开启你的职场生活
							</p>
						</div>
					</a>
				</div>
				<a href="#index3" class="wintopBtn j-prevBtn" id="auto-id-1432888266383">
					宣讲信息简历模板
				</a>
			</div>
		</div>
	</div>
	<div class="staticShare">
		<div class="btn shareBtn" id="j-shareBtn">
			分享到
			<div class="shareWrap f-pa auto-1432888266247-parent" id="j-shareWrap">
				<div class="u-share f-cb auto-1432888266247" id="j-shareUI">
					<a class="netease solo" href="javascript:;" title="分享到网易微博" rel="netease"
					style="display:none;" id="auto-id-1432888266389">
						网易微博
					</a>
					<a class="sina solo" href="javascript:;" title="分享到新浪微博" rel="sina" id="auto-id-1432888266391">
						新浪微博
					</a>
					<a class="douban solo" href="javascript:;" title="分享到豆瓣" rel="douban"
					id="auto-id-1432888266393">
						豆瓣
					</a>
					<a class="qzone solo" title="分享到QQ空间" rel="qzone" id="auto-id-1432888266395">
						QQ空间
					</a>
					<a class="renren solo" href="javascript:;" title="分享到人人" rel="renren"
					id="auto-id-1432888266397">
						人人网
					</a>
					<a class="kaixin solo" href="javascript:;" title="分享到开心网" rel="kaixin"
					style="display:none;" id="auto-id-1432888266399">
						开心网
					</a>
					<a class="weixin solo" href="javascript:;" title="分享到微信" rel="weixin"
					id="auto-id-1432888266401" style="display: none;">
						微信
					</a>
				</div>
			</div>
		</div>
		<div class="btn gzBtn" id="j-gzBtn">
			关注我们
			<div class="gzWrap f-pa" id="j-gzWrap">
				<a target="_blank" href="javascript:;"
				class="renren f-fl">
				</a>
				<a target="_blank" href="javascript:;" class="sina f-fl">
				</a>
			</div>
		</div>
		<div class="btn gtBtn" id="j-goTop" style="display: none;">
			TOP
		</div>
	</div>
	<script>
		if (!this.I$) {
			this.I$ = function() {
				var a = {},
				b = [],
				c = function() {
					return ! 1
				},
				d = {},
				e = function(b, c) {
					return a.toString.call(b) === "[object " + c + "]"
				};
				return function(f, g) {
					var h = d[f],
					i = e(g, "Function");
					if (null == g || i || (h = g), i) {
						for (var j = [], k = 2, l = arguments.length; l > k; k++) j.push(I$(arguments[k]));
						var m = {};
						j.push.call(j, m, a, c, b);
						var n = g.apply(null, j) || m;
						if (h && e(n, "Object")) if (Object.keys) for (var p, o = Object.keys(n), k = 0, l = o.length; l > k; k++) p = o[k],
						h[p] = n[p];
						else for (var p in n) h[p] = n[p];
						else h = n
					}
					return h || (h = {}),
					d[f] = h,
					h
				}
			} ();
		}
	</script>
	<script src="xiaoyuan/core.js" type="text/javascript">
	</script>
	<script type="text/javascript">
		I$(895,
		function() {
			var t, e = (window, NEJ.O, NEJ.F, NEJ.P("nej.e")),
			s = NEJ.P("nej.v"),
			i = (NEJ.P("edu.d"), NEJ.P("edu.m"), NEJ.P("edu.u")),
			_ = NEJ.P("nej.ut");
			i._ft = NEJ.C();
			t = i._ft.$e(_.n_, !0);
			t.Vs = function(t) {
				this.ye(t);
				this.nft = e.Et("j-loginBtn");
				this.oft = 0 - t.height;
				if (this.nft) {
					s.Zt(this.nft, "click");
					s.Xt(this.nft, "click",
					function() {
						i.Gl.Vl({
							from: "qiaobutang2"
						});
						this.aft = e.Ki(e.Et("scrollBody"), "u-logwin")[0];
						var t = e.rs(this.aft, "top");
						e.Ss(this.aft, "top", this.oft + parseFloat(t.split("px")[0]) + "px")
					}.Y(this))
				}
			};
			t.qs = function() {
				this.be()
			}
		},
		79, 126);
		I$(896,
		function() {
			var e, _ = window,
			i = (NEJ.O, NEJ.F, NEJ.P("nej.e")),
			n = NEJ.P("edu.d"),
			o = NEJ.P("nej.v"),
			a = NEJ.P("nej.u"),
			d = NEJ.P("nej.ut"),
			t = NEJ.P("edu.u"),
			r = a.pt(),
			h = "ck-qbtCache";
			t.rft = NEJ.C();
			e = t.rft.$e(d.n_, !0);
			e.Vs = function(e) {
				this.ye(e);
				this.hft = i.Ki(e.parent, "j-citySelect")[0];
				this.lft = i.Ki(e.parent, "j-tableList")[0];
				this.cft = i.Ki(e.parent, "j-shareLinks")[0];
				this.Vte = i.Ki(e.parent, "j-link")[0];
				i.Et("j-dataCtn");
				this.uft = i.Xi(this.cft);
				a.Ae(this.uft,
				function(e, t) {
					o.Zt(e, "click");
					o.Xt(e, "click", this.pCe.Y(this, t))
				}.Y(this)); (new n.Dl).Al({
					key: h + r,
					url: "ActivitiesBean.getUrl",
					param: ["0FDD3CB72BCB5EBB954A724DEDCCA965-1411453903909"],
					onload: function(e) {
						if (e) this.pft = e;
						else;
					}.Y(this)
				}); (new n.Dl).Al({
					key: h + r,
					url: "JobTangBean.getCities",
					onload: function(t) {
						if (t) {
							for (var i = [{
								id: -1,
								name: "全国"
							}], e = t.length - 1; e >= 0; e--) i.push({
								id: e,
								name: t[e]
							});
							this.$ft("全国");
							this.fft(i)
						} else;
					}.Y(this)
				})
			};
			e.fft = function(e) {
				if (this.hft) this.hft.innerHTML = "";
				this.mft = t.yS.Ms({
					parent: this.hft,
					list: e,
					selectId: -1,
					itemSelect: function(e) {
						this.$ft(e.name)
					}.Y(this)
				})
			};
			e.$ft = function(e) { (new n.Dl).Al({
					key: h + r,
					url: "JobTangBean.getCareerTalksByCity",
					param: [e],
					onload: function(e) {
						if (e) this.gft(e);
						else;
					}.Y(this)
				})
			};
			e.gft = function(i) {
				this.lft.innerHTML = "";
				var e = "";
				a.Ae(i,
				function(i) {
					var s = i.endTime ? " ~ " + t.vc(i.endTime) : "";
					e += '<div class="line f-cb"><span class="th1">' + (i.city || "") + '</span><span class="th2">' + (i.companyName || "") + '</span><span class="th3">' + t.vc(i.startTime || 0) + s + '</span><span class="th4">' + (i.location || "") + "</span></div>"
				}.Y(this));
				this.lft.innerHTML = e
			};
			e.pCe = function(e) {
				var t = {
					share_type: e,
					pic: "http://img2.ph.126.net/4_m2tYQJ5Bgj9WCPxiGRNg==/6608460707120387024.jpg"
				};
				this.x$t(t)
			};
			e.x$t = function(t) {
				var e = {
					title: "【怎样科学找工作？】我正在@云课堂 用#求职雷达#探测我的简历撰写、简历投递、面试表现、创业创新和神秘技能五种能力，还有最新宣讲信息及百份简历模板下载，你们也来拿福利吧~@你的好友",
					url: "http://study.163.com/activities/custom/qbt.htm",
					pic: t.pic,
					description: "",
					sina_id: "4122644977",
					sina_ralateUid: "3130318443",
					renren: ""
				};
				switch (t.share_type) {
				case 0:
					this.Ym(e);
					break;
				case 1:
					this.Wm(e);
					break;
				case 2:
					this.qm(e);
					break;
				case 3:
					this.Qm(e)
				}
			};
			e.Wm = function(e) {
				var t = {
					url: e.url,
					appkey: e.sina_id,
					title: e.title,
					pic: e.pic,
					ralateUid: e.sina_ralateUid,
					language: "zh_cn"
				},
				i = [];
				for (var s in t) i.push(s + "=" + encodeURIComponent(t[s] || ""));
				url = "http://service.weibo.com/share/share.php?" + i.join("&");
				_.open(url, "_blank", this.Gm)
			};
			e.qm = function(e) {
				var n = location.href.indexOf("#"),
				a = -1 == n ? location.href: location.href.substr(0, n),
				r = {
					api_key: e.renren,
					resourceUrl: "" || a,
					srcUrl: e.url,
					pic: e.pic,
					title: e.title,
					description: e.description,
					charset: ""
				},
				h = "http://widget.renren.com/dialog/share",
				i = r,
				o = [];
				for (var s in i) if (i[s]) o.push(s + "=" + encodeURIComponent(i[s]));
				var d = h + "?" + o.join("&"),
				l = (t.fr ? 2048 : 4100, "width=700,height=650,left=0,top=0,resizable=yes,scrollbars=1");
				_.open(d, "renren", l)
			};
			e.Qm = function(e) {
				var t = window.getSelection,
				i = document.getSelection,
				n = document.selection;
				s = t ? t() : i ? i() : n ? n.createRange().text: "";
				var o = {
					url: "http://study.163.com/activities/custom/qbt.htm",
					title: e.title,
					images: e.pic,
					sel: s
				},
				a = [];
				for (var r in o) a.push(r + "=" + encodeURIComponent(o[r] || ""));
				url = "http://www.douban.com/recommend/?" + a.join("&");
				_.open(url, "douban", this.Gm)
			};
			e.Ym = function(e) {
				var t = {
					url: "http://study.163.com/activities/custom/qbt.htm",
					title: e.title,
					pics: e.pic,
					summary: "如果不想虚度一生，那就要学习一生。我正在云课堂参加在线课程学习，IT技术修炼、职场充电、外语学习、生活兴趣…… 邀请你和我一起学习，共同成长"
				},
				i = [];
				for (var s in t) i.push(s + "=" + encodeURIComponent(t[s] || ""));
				url = "http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?" + i.join("&");
				_.open(url, "Qzone", this.Gm)
			};
			e.yft = function(e) {
				o.hi(e);
				if (!t.uu()) {
					t.Gl.Vl({
						from: "qiaobutang2"
					});
					this.ii("toTop")
				} else _.open(this.pft, "_self")
			};
			e.qs = function() {
				if (this.mft) this.mft = t.yS.Gs(this.mft);
				this.be()
			}
		},
		15, 114, 87, 76);
		I$(897,
		function() {
			var t, s = (window, NEJ.O, NEJ.F, NEJ.P("nej.p")),
			_ = NEJ.P("nej.u"),
			e = NEJ.P("nej.e"),
			i = (NEJ.P("nej.v"), NEJ.P("edu.d"), NEJ.P("edu.m"), NEJ.P("edu.u")),
			n = e.P_("<div>说的很广泛的合法的功能</div>");
			i.bft = NEJ.C();
			t = i.bft.$e(i.Sr, !0);
			t.gr = function() {
				this.Er = e.io(e.T_(n))
			};
			t.yr = function() {
				this.Ce()
			};
			t.qs = function() {
				this.be()
			};
			t.Vs = function(i) {
				this.ye(i);
				var t = e.Et("j-win4Con");
				this.Cft = e.Ki(t, "top");
				this.Nft = e.Ki(t, "bot");
				this.vft("trident" == s.re.engine && s.re.release < 6)
			};
			t.vft = function(t) {
				_.Ae(this.Cft,
				function(i, s) {
					if (t) e.Ns(i, "ieHack");
					else e.Ds(i, "ieHack")
				});
				_.Ae(this.Nft,
				function(i, s) {
					if (t) e.Ns(i, "ieHack");
					else e.Ds(i, "ieHack")
				})
			}
		},
		79);
		I$(898,
		function() {
			{
				var e, a, _ = window,
				t = NEJ.P("nej.e"),
				s = NEJ.P("nej.v"),
				d = (NEJ.P("nej.p"), NEJ.P("nej.ut")),
				o = NEJ.P("nej.u"),
				n = (NEJ.P("edu.d"), NEJ.P("edu.m")),
				i = NEJ.P("edu.u"),
				r = NEJ.P("nej.ut"),
				h = NEJ.P("nej.p");
				o.pt()
			}
			if (i.Kh()) {
				_.dispatcher = d.la.Qs();
				_.dispatcher.ba("config", location.config);
				_.dispatcher.Ca(i.umi("commonutil"), "commonutil.html");
				_.dispatcher.Ca("/qbt", "commonutil.html");
				_.dispatcher.Da();
				_.dispatcher.Ta("/qbt", !0)
			}
			n.Ift = NEJ.C();
			e = n.Ift.$e(n.dr, !0);
			a = n.Ift.Pe;
			e.pr = function() {
				this.Eft = 0;
				this.Pft = [0, -900, -1800, -2700, -3600];
				this.Tft = t.Et("scrollBody");
				this.xft = t.Ki(document.body, "j-win");
				this.ARe = t.Et("j-startBtn");
				this.gR = t.Et("j-shareBtn");
				this.ple = t.Et("j-gzBtn");
				this._ge = t.Et("j-goTop");
				this.kft = t.Ki(document.body, "j-prevBtn");
				this.wft = t.Ki(document.body, "j-nextBtn");
				this.ule = t.Et("j-shareWrap");
				this.$le = t.Et("j-gzWrap");
				s.Xt(this.ARe, "click", this.U9.Y(this));
				s.Xt(this._ge, "click", this.Sft.Y(this));
				var e = "trident" == h.re.engine;
				o.Ae(this.kft,
				function(e, t) {
					s.Xt(e, "click", this.Uft.Y(this))
				}.Y(this));
				o.Ae(this.wft,
				function(i, _) {
					s.Xt(i, "click", this.i4e.Y(this));
					e ? t.Ns(i, "isIE") : t.Ds(i, "isIE")
				}.Y(this));
				s.Xt(this.gR, "mouseover", this.bye.Y(this));
				s.Xt(this.gR, "mouseout", this.Cye.Y(this));
				s.Xt(this.ple, "mouseover", this.Nye.Y(this));
				s.Xt(this.ple, "mouseout", this.vye.Y(this));
				this.Bft = !1
			};
			e.Xae = function() {
				document.documentElement.scrollTop = 0;
				this.Pye(!0);
				setInterval(this.Pye.Y(this), 200);
				this.jft = !0;
				this.ere();
				this.JR = i.Hm.Ms({
					parent: this.ule,
					title: "【怎样科学找工作？】我正在@云课堂 用#求职雷达#探测我的简历撰写、简历投递、面试表现、创业创新和神秘技能五种能力，还有最新宣讲信息及百份简历模板下载，你们也来拿福利吧~@你的好友",
					topic: "【怎样科学找工作？】我正在@云课堂 用#求职雷达#探测我的简历撰写、简历投递、面试表现、创业创新和神秘技能五种能力，还有最新宣讲信息及百份简历模板下载，你们也来拿福利吧~@你的好友",
					description: "【怎样科学找工作？】我正在@云课堂 用#求职雷达#探测我的简历撰写、简历投递、面试表现、创业创新和神秘技能五种能力，还有最新宣讲信息及百份简历模板下载，你们也来拿福利吧~@你的好友",
					url: "http://study.163.com/activities/custom/qbt.htm",
					type: 1,
					pic: "/files/xiaoyuan/6608460707120387024.jpg"
				})
			};
			e.ere = function() {
				if (document.addEventListener) {
					document.removeEventListener("DOMMouseScroll", this.Zae.Y(this));
					document.addEventListener("DOMMouseScroll", this.Zae.Y(this), !1)
				}
				window.onmousewheel = document.onmousewheel = this.Zae.Y(this);
				window.onscroll = null
			};
			e.bye = function() {
				this.ule.style.display = "block"
			};
			e.Cye = function() {
				this.ule.style.display = "none"
			};
			e.Nye = function() {
				this.$le.style.display = "block"
			};
			e.vye = function() {
				this.$le.style.display = "none"
			};
			e.Zae = function(e) {
				s.hi(e);
				if (this.jft) if (!this.Lft) {
					var t;
					e = e || window.event;
					if (e.wheelDelta) {
						if (e.wheelDelta > 0) t = !0;
						if (e.wheelDelta < 0) t = !1
					} else if (e.detail) {
						if (e.detail > 0) t = !1;
						if (e.detail < 0) t = !0
					}
					if (void 0 !== t) this.Tle(t)
				}
			};
			e.Pye = function(i) {
				var e = t.zt().clientHeight;
				if (e) {
					if (i || void 0 != this.oft && this.oft != e) {
						this.oft = e;
						o.Ae(this.xft,
						function(s, i) {
							t.Ss(s, "height", e + "px");
							this.Pft[i] = i * -e
						}.Y(this));
						t.Ss(this.Tft, "margin-top", this.Pft[this.Eft] + "px");
						if (0 != this.Eft);
					}
					this.ere()
				}
			};
			e.Tle = function(_) {
				var e, s;
				this.Dft = this.Eft;
				if ("number" == typeof _) {
					e = this.Pft[this.Eft];
					this.Eft = _;
					s = this.Pft[this.Eft]
				} else if (_) {
					if (this.Eft <= 0) return;
					e = this.Pft[this.Eft];
					this.Eft -= 1;
					s = this.Pft[this.Eft]
				} else {
					if (this.Eft >= 3) return;
					e = this.Pft[this.Eft];
					this.Eft += 1;
					s = this.Pft[this.Eft]
				}
				this.Lft = !0;
				this.Rft();
				this.RJ = t.Ki(this.Tft, "g-hd")[0];
				this.RJ.style.display = "none";
				this._ge.style.display = "block";
				switch (this.Eft) {
				case 0:
					this._ge.style.display = "none";
					this.RJ.style.display = "block";
					break;
				case 1:
					this.Oft = i._ft.Ms({
						parent: this.xft[1],
						height: this.Pft[1]
					});
					break;
				case 2:
					this.Jft = i.rft.Ms({
						parent: this.xft[2],
						binScroll: function() {}.Y(this),
						unbinScroll: function() {}.Y(this),
						toTop: this.Sft.Y(this)
					});
					break;
				case 3:
					this.Aft = i.bft.Ms({
						parent: this.xft[3]
					})
				}
				this.Yae = r.Lu.Ms({
					from: {
						offset: e
					},
					to: {
						offset: s
					},
					duration: 400,
					onupdate: function(e) {
						t.Ss(this.Tft, "margin-top", e.offset + "px")
					}.Y(this),
					onstop: function() {
						this.Lft = !1;
						if (this.Yae) this.Yae = r.Lu.Gs(this.Yae)
					}.Y(this)
				});
				this.Yae.Pu()
			};
			e.U9 = function() {
				this.Tle(1)
			};
			e.Uft = function() {
				this.Tle(!0)
			};
			e.i4e = function() {
				this.Tle(!1)
			};
			e.Sft = function() {
				this.Tle(0)
			};
			e.Rft = function() {
				if (this.Jft) this.Jft = i.rft.Gs(this.Jft);
				if (this.Oft) this.Oft = i._ft.Gs(this.Oft);
				if (this.Aft) this.Aft = i.bft.Gs(this.Aft)
			};
			e.Va = function() {
				a.Va.apply(this, arguments);
				this.Xae();
				i.sd()
			};
			_.dispatcher.Ra("/qbt", n.Ift)
		},
		1, 121, 3, 87, 895, 896, 897, 118, 31);
	</script>
	<div class="u-scrtop auto-1432888266353" id="auto-id-1432888266358">
	</div>
	<div>
		<div id="loadingMask" class="loading-mask" style="z-index: 10001; display: none;">
		</div>
		<div id="loadingPb" class="ui-loading f-cb" style="z-index: 10002; display: none;">
		</div>
	</div>



</body>


</html>