*{ margin: 0px;padding: 0px; }
.top{ width: 100%; height: 31px; border-bottom: 1px #ccc solid; background: #f7f7f7 url(../img/topbj.png) repeat-x; box-shadow: 0 2px 3px rgba(34, 25, 25, 0.2); }
.top1{ width: 100%; height: 31px; }
.top1 img{ text-align: left; border: 0px; }
.top1 span{ width: 110px; padding-top: 12px; float: right; }
.top1 span a{ color: #444; border: 0px; font-size: 14px; }
.footer{
	width: 100%; 
	height: 87px; 
	position: absolute; 
	bottom:0px; 
}

.footer .db{ 
	width: 100%; 
	height: 8px; 
	background-color: #cc0000; 
	box-shadow: 0 -2px 3px rgba(34, 25, 25, 0.2); 
}
.footer .djies{ 
	width: 100%; 
	height: 70px; 
	padding-top: 10px;

	background-color: #303030; 
}
.djies p{font-size: 10px; color: #D8D8D8; text-align:center; padding: 0px 3px 0px 3px; }

.box{
	width: 300px;
	height: 215px;
	margin: 8% auto;
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 6px;
	border: 1px #ccc solid;
	box-shadow: 0 1px 5px rgba(34, 25, 25, 0.2);
	padding: 8px;
}

.lq{
	width: 300px;
	height: 215px;
	background: url(../img/111.png) no-repeat;
	margin: 0px auto;
	background-size:300px 215px; 

}

/*--dl--*/
body{background: #eee;}
.dl{
	width: 300px;
	height: 220px;
	margin: 11% auto;
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 6px;
	border: 1px #ccc solid;
	box-shadow: 0 1px 5px rgba(34, 25, 25, 0.2);
}
.dl table{
	
	margin: 30px auto;
}
.dl table td{
		color: #444;
		padding-top:20px; 

}
td .input{
	width: 180px;
	height: 30px;
	border-radius: 4px;
	border: 1px #ccc solid;
}
td .sub{
	width: 80px;
	height: 35px;
	float: right;
}

/*-dayin-*/
.dl .dybox{
	width: 300px;
	height: 150px;
	margin: 70px auto;
}

.dybox p{
	margin-top: 20px;
	margin-left: 20px;
}
