<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>壹打工APP - 手机找工作 - 壹打工网</title>
<meta name="keywords" content="壹打工网APP，手机找工作，手机客户端，手机求职" />
<meta name="description" content="壹打工APP是壹打工网精心打造的求职招聘应用软件，为求职者提供精准的职位搜索，简历投递，企业信息查看，职场指南等服务；为企业提供职位发布，简历查看，人才市场在线订展等服务。找工作，找人才，就上手机壹打工。
" />

<link href="/files/css/font-awesome.min.css" rel="stylesheet" >
<link href="/files/css/common.css" rel="stylesheet" type="text/css" />
<link href="/files/css/all.css" rel="stylesheet" type="text/css" />
<link href="/files/app/app.css" rel="stylesheet" type="text/css" />
<script src="/files/js/jquery.js" type='text/javascript' language="javascript"></script>
</head>

<body>
<!--头部开始-->
{#include file="header.htm"#}
<!--头部结束-->

<!--APP专题单页开始-->
<div class="app_box">
	<div class="app01">
    	<div class="app01_content">
       		<div class="app01_content_download">
            	<a href="/data/app/shenbo_1jobs_102.apk" class=""></a>
            </div>
        </div>
    </div>
    <div class="app02">
    	<div class="app01_content app02_content">
        	<div class="app_title"><h2>壹打工客户端简介</h2><span>Yidagong APP Introduction</span></div>
            <div class="app_icons"></div>
            <div class="app02_kehuduan">
            	<div class="yihanL"></div>                
                <div class="kehuduan_infor">
                	<p>壹打工网APP客户端，已开通免费求职、最新招聘、线下招聘会、手机人才市场、行业名企、附近职位、职场资讯、HR访谈等功能模块。更多的招聘功能将陆续开放，为您打造最方便快捷的蓝领求职招聘客户端。</p>
                </div>
                <div class="yihanL yihanR"></div>
            </div>
        </div>
    </div>
    <div class="app03"></div>
    <div class="app04">
    	<div class="app_title"><h2>特色功能</h2><span>Characteristic Function</span></div>
        <div class="app_ts">
        	<div class="app_tsleft">
            	<dl class="appts01">
                	<dt><h3>手机人才市场</h3><span>(招聘信息，实时查询)</span></dt>
                    <dd>壹打工网APP客户端，结合线下人才市场，通过手机便可即时查询人才市场展位、企业招聘情况，与线下同步，让您更方便的参加线下招聘会。</dd>
                </dl>
                <dl class="appts02">
                	<dt><h3>LBS位置服务</h3><span>(不积跬步，以致千里)</span></dt>
                    <dd>壹打工网APP客户端，采用LBS基站定位服务，在手机上定位附近的企业，找附近的工作，好工作就在家门口！</dd>
                </dl>
                <dl class="appts03">
                	<dt><h3>一键求职</h3><span>(简单高效，一键直呼)</span></dt>
                    <dd>壹打工网APP客户端，支持一键求职功能，一键即可与企业进行电话联系，找工作更快捷！</dd>
                </dl>
            </div>
            <div class="app_tsright"></div>
        </div>
    </div>
    <div class="app05">
    	<div class="app05_content">
        	<p>我们相信你有广大的前途，尽管你没有背景；</p>
            <p>我们相信你有无限的潜力，哪怕你没有资历。</p>
            <p>就算没有人脉也不怕，加入<b>壹打工网</b>这个圈子吧。</p>
            <p><b>壹打工网APP</b>，求职、招聘、培训、职场资讯，一网打尽。</p>
            <p>让你足不出户，玩转职场。</p>
            <p>工作让生活更美好！</p>
        </div>
    </div>
</div>
<!--APP专题单页结束-->

<!--footer开始-->
{#include file="footer.htm"#}
<!--footer结束-->
</body>
</html>
