<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>一号管家家政</title>
<meta name="keywords" content="壹打工网APP，手机找工作，手机客户端，手机求职" />
<meta name="description" content="壹打工APP是壹打工网精心打造的求职招聘应用软件，为求职者提供精准的职位搜索，简历投递，企业信息查看，职场指南等服务；为企业提供职位发布，简历查看，人才市场在线订展等服务。找工作，找人才，就上手机壹打工。
" />

<link href="/files/css/font-awesome.min.css" rel="stylesheet" >
<link href="/files/css/common.css" rel="stylesheet" type="text/css" />
<!--<link href="/files/css/all.css" rel="stylesheet" type="text/css" />-->
<link href="/files/css/jiazheng.css" rel="stylesheet" type="text/css" />
<script src="/files/js/jquery.js" type='text/javascript' language="javascript"></script>
</head>

<body>
<!--头部开始-->
{#include file="header.htm"#}
<!--头部结束-->

<!--家政专题单页开始-->
<div class="jiazheng_01"></div>
<div class="jiazheng_02">
	<div class="jiazheng_02_content">
    	<h1>家庭保洁师</h1>
        <p class="title02"><span>拒绝吃青春饭，</span>用专业武装自己</p>
        <h2>加入壹号管家家庭服务</h2>
        <p class="jiazheng02_price_title">轻松<span class="jiazheng02_price">超5000</span>元/月</p>
        <a  href="http://hefei.1dagong.com/zhaopin/zhiwei_6231.html" title="家庭保洁师" target="_blank">点击查看</a>
    </div>
</div>
<div class="jiazheng_03">
	<div class="jiazheng_02_content jiazheng_03_content">
    	<h1>月嫂</h1>
        <p class="title02 title03"><span>拒绝赚的比儿女少，</span>用信赖换得高薪</p>
        <h2>加入壹号管家家庭服务</h2>
        <p class="jiazheng02_price_title">轻松<span class="jiazheng02_price jiazheng03_price">超10000</span>元/月</p>
        <a  href="http://hefei.1dagong.com/zhaopin/zhiwei_6872.html" title="月嫂" target="_blank" class="click_btn03">点击查看</a>
    </div>
</div>
<div class="jiazheng_04">
	<div class="jiazheng_02_content">
    	<h1>家政经纪人</h1>
        <p class="title02 title04"><span>拒绝不专业，</span>用成就赢得尊重</p>
        <h2>加入壹号管家家庭服务</h2>
        <p class="jiazheng02_price_title">轻松<span class="jiazheng02_price jiazheng04_price">超3000</span>元/月</p>
        <a  href="http://hefei.1dagong.com/zhaopin/zhiwei_6233.html" title="家政经纪人" target="_blank" class="click_btn04">点击查看</a>
    </div>
</div>
<div class="jiazheng_05">
	<div class="jiazheng_02_content jiazheng_03_content">
    	<h1>家政员</h1>
        <p class="title02 title05"><span>拒绝给别人打工，</span>为自己赚取高薪</p>
        <h2>加入壹号管家家庭服务</h2>
        <p class="jiazheng02_price_title">轻松<span class="jiazheng02_price jiazheng05_price">超3000</span>元/月</p>
        <a  href="http://hefei.1dagong.com/zhaopin/zhiwei_6873.html" title="家政员" target="_blank" class="click_btn05">点击查看</a>
    </div>
</div>
<div class="jiazheng_06">
	<div class="jiazheng_02_content">
    	<h1>婴儿游泳师</h1>
        <p class="title02 title06"><span>拒绝严肃、刻板，</span>轻轻松松入高薪</p>
        <h2>加入壹号管家家庭服务</h2>
        <p class="jiazheng02_price_title">轻松<span class="jiazheng02_price jiazheng06_price">超3000</span>元/月</p>
        <a  href="http://hefei.1dagong.com/zhaopin/zhiwei_6232.html" title="婴儿游泳师" target="_blank" class="click_btn06">点击查看</a>
    </div>
</div>
<div class="jiazheng_07">
	<div class="jiazheng_02_content jiazheng_03_content">
    	<h1>市场宣传策划</h1>
        <p class="title02 title07"><span>拒绝一成不变，</span>用思维改变现状</p>
        <h2>加入壹号管家家庭服务</h2>
        <p class="jiazheng02_price_title">轻松<span class="jiazheng02_price jiazheng07_price">超3000</span>元/月</p>
        <a  href="http://hefei.1dagong.com/zhaopin/zhiwei_6870.html" title="市场宣传策划" target="_blank" class="click_btn07">点击查看</a>
    </div>
</div>
<!--家政专题单页结束-->

<!--footer开始-->
{#include file="footer.htm"#}
<!--footer结束-->
</body>
</html>
