*{margin: 0;padding: 0;border: none;background: none;}
i{font-style: normal;color: #ff0000;}
.clear{width: 100%;height: 6px;overflow: hidden;zoom: 1;clear: both;}

body,a{text-decoration: none;font: 14px/24px "microsoft yahei";}

.title,.zm1{overflow: hidden;zoom: 1;}

.breadcrumb{width: 100%;margin:0;border-radius: 0;}

.xieyi_title h1{
  font-size: 18px;
  font-weight: bold;
}

.xieyi_title span{
  font-size: 12px;
  color: #999;
}

.xieyi_con{
  max-height: 500px;
  overflow-y: auto;
}
@media screen and (max-width: 600px){
	.xieyi_con{
	  max-height: 260px;
	  overflow-y: auto;
	}
	.ovh{
		width: 100%;
		max-height: 200px;
		overflow-y: auto;
		zoom: 1;
	}
}

.xieyi_buttom{
  margin: 20px 0;
  overflow: hidden;
  zoom: 1;
}

.panel{
  width: 100%;
  margin: 30px auto;
}

.zhuyi{
  width: 90%;
  margin-left: 10px;
}



.baoming_btn .btn{
  border-radius: 0;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  color: #999;
  display: block;
}

.baoming_btn .btn-default{
  background: #eee;
  border: #ccc 1px solid;
}

.baoming_btn .btn-default:hover{
  background: #418BCA;
  border: #418BCA 1px solid;
  color: #fff;
}

.baom{
	clear: both;
}

.baom label{
	float: left;
	text-align: right;
	height: 34px;
	line-height: 34px;
}
.baom .col-md-3{
	margin-right: 0;
	padding-right: 0;
}






.form-horizontal{margin: 10px 0;}

.baom_info{
	overflow: hidden;
  	zoom: 1;
}

.baom_info form{padding: 0 10px;margin: 20px auto;}

.form-group{
/*	margin-bottom: 5px;*/
}

.xingbie,.xueli{
	padding-bottom: 0;
	line-height: 20px;
}
.xingbie input,.xueli input{
	position: relative;
	top: 4px;
	margin-bottom: -10px;
}


.Validform_checktip{
	margin-bottom: 10px;
	clear: both;
}

.xiayibu .btn{
	margin-top: -30px;
}















/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
	padding-left: 10px;
	line-height:16px;
	height:16px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(./images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(./images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(./images/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}















