{#include file="banben/admin_header.htm"#}
<link href="/files/css/user_company.css" rel="stylesheet" type="text/css" />
<link href="/files/css/jobs.css" rel="stylesheet" type="text/css" />
<script src="/files/js/jquery.shenhe.selectlayer.js" type='text/javascript' language="javascript"></script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptit">发布成功</div>
 <div class="rightmain">
  
	<div class="bbox1">
	  <div class="step1succeed">
		  
		  
						<div class="tip">
						  <div class="left"></div>
						  <div class="right">
						  			<div class="h1-title">恭喜您，职位发布成功！</div>
						          <!--  <div class="txt">
									<p>为了吸引更多求职者应聘，提高招聘效率，<br />我们强烈建议您：<br /></p>
									<p class="link"><a href="#">完善猎头认证 >></a> 认证通过后会明显提高猎头信誉度</p>
									</div>-->
						  </div>
						  <div class="clear"></div>
						</div>

						
        <div class="butbox">
						<input type="button" name="submitsave" id="submitsave" value="继续发布"  class="but180hui" onclick="javascript:location.href='?act=add_jobs'"/>
						<input type="button" name="submitsave" id="submitsave" value="查看发布"  class="but180lan" onclick="javascript:location.href='?act=jobs'"/>
					  </div>
	  </div>
			
  </div>
  </div>
  <div class="clear"></div>
</div>
  
{#include file="banben/admin_footer.htm"#}
</body>
</html>