{#include file="zp/admin_header.htm"#}

<div class="admin_main_nr_dbox">

 <div class="pagetit">
	<div class="ptit"> 办理套餐 </div>
  <div class="clear"></div>
</div>
<div class="toptip">
<h2>办理：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/../vipgn/index.php/excel/cstcyh">生成Excel</a>
{#if $dq!=""#}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：&nbsp;
{#foreach from=$dq item=l#} 
<a href="admin_vip.php?act=selectcsvip&qdid={#$l.s_id#}">{#$l.s_districtname#}</a>&nbsp;&nbsp;
{#/foreach#}
{#/if#}
</h2></div>
<br />
<!------------->
<form action="admin_vip.php" method="get">
<input type="hidden" name="act" value="selectcsvip" />
企业公司名：<input type="text" name="username" id="name"/>
<input type="submit" value="查询企业">  &nbsp;&nbsp;<a href="admin_vip.php?act=selectcsvip&jh=1">激活</a>	&nbsp;&nbsp;<a href="admin_vip.php?act=selectcsvip&jh=2">未激活</a>
</form>
<hr />
<table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_bk" >
  <tr> 
  	<th scope="col" class="admin_list_tit" width="110" align="left" style="padding-left:5px;"><input type="checkbox" />企业用户名</th>
    <th scope="col" class="admin_list_tit" width="230" align="left">企业公司名</th>
	<th scope="col" class="admin_list_tit" width="60" align="left">销售代表</th>
	<th scope="col" class="admin_list_tit" width="50" align="center">地区</th>
	<th scope="col" class="admin_list_tit" width="65" align="center">套餐类型</th>
	<th scope="col" class="admin_list_tit" width="65" align="center">用户类型</th>
	<th scope="col" class="admin_list_tit" width="50" align="center">套餐次数</th>
    {# if $dqid == 5 #}
    <th scope="col" class="admin_list_tit" width="50" align="center">周六次数</th>
    {#/if#}
	<th scope="col" class="admin_list_tit" width="70" align="center">开始时间</th>
	<th scope="col" class="admin_list_tit" width="70" align="center">结束时间</th>
	<th scope="col" class="admin_list_tit" width="70" align="center">添加时间</th>
	<th scope="col" class="admin_list_tit" width="80" align="center">套餐是否激活</th>
	<th scope="col" class="admin_list_tit" width="100" align="center">操作</th>
  </tr>
{#foreach from=$data item=list#}  
  <tr>
	<td class="admin_list" align="left" style="padding-left:5px;"><input type="checkbox" name="id[]" value='{#$list.id#}'>{#$list.username#}</td>
    <td class="admin_list">{#$list.title#}</td>
	<td class="admin_list">{#$list.xs_user#}</td>
	<td class="admin_list" align="center">{#$list.dq#}</td>
    <td class="admin_list" align="center">{#$list.type|replace:"1":"时间套餐"|replace:"0":"次数套餐"#}</td>
	<td class="admin_list" align="center">{#$list.huiyuan|replace:"0":"正式会员"|replace:"2":"免费体验"|replace:"3":"橱窗赠送"#}</td>
	<td class="admin_list" align="center">{#$list.bout#}</td>
    {# if $dqid == 5 #}
    <td class="admin_list" align="center">{#$list.bout_6#}</td>
    {#/if#}
    <td class="admin_list" align="center">{#$list.cs_ks_time|date_format:"%Y-%m-%d"#}</td>
	<td class="admin_list" align="center">{#$list.cs_end_time|date_format:"%Y-%m-%d"#}</td>
	<td class="admin_list" align="center">{#$list.add_time|date_format:"%Y-%m-%d"#}</td>
	<td class="admin_list" align="center">{#$list.activation|replace:"1":"已激活"|replace:"0":"未激活"#}</td>
	<td class="admin_list" align="center">&nbsp;<a href="/../vipgn/index.php/index/cjh/id/{#$list.id#}">激活</a>&nbsp;&nbsp;<a href="/../vipgn/index.php/index/operating/id/{#$list.id#}">操作</a>&nbsp;&nbsp;<a href="/../vipgn/index.php/index/tcdel/id/{#$list.id#}/uid/{#$list.uid#}" onclick="return confirm('你确定要删除吗？')">删除</a></td>
  </tr>
{#/foreach#}
<tr>
		<td colspan="11" class="admin_list">{#$fpage#}</td>
	<tr>
</table>
<!------------->
</div>
<!--底栏-->
<div class="footer link_lan">
管理中心
</div>
<div class="admin_frameset" >
  <div class="open_frame" title="全屏" id="open_frame"></div>
  <div class="close_frame" title="还原窗口" id="close_frame"></div>
</div>
</body>
</html>