/*广告位*/
img{border:0;}
.ad_1000{width:1000px;border:0;padding-bottom:10px;}
.ad_194_150{width:194px;height:150px;border:0;padding-top: 10px;}
.ad_327_60{width:327px;height:60px;border:0;}
/*首页广告位鼠标悬浮下拉出企业信息*/
.ad_327_60 .shade{display: none;position: absolute;left: 2px;top: 2px;background: #000;opacity: 0.3;padding: 3px;filter: alpha(opacity=30);-moz-opacity: 0.30;width: 100%}
.mid_ad .current1 {position: relative;}
.mid_ad .current1 .on {position: relative;z-index: 11}
.mid_ad .current1 .showad {display: block}
.mid_ad .current1 .showad p{ color:#666666;}
.mid_ad .current1 .shade {display: block}
.ad_327_60 .showad {display: none;position: absolute;left: -4px;top: -4px;width: 100%;padding: 3px;background: #eae8e8;border: 1px #807f7f solid;z-index: 10}
.ad_327_60 .showad .area {background: #fff;padding: 70px 0 10px 0;overflow: hidden;zoom: 1;float: none;margin:0;position: relative;}
.ad_327_60 .showad .leftad {float: left;width: 100px;}
.ad_327_60 .showad .rightad h3 a {font-size: 14px;color: #ff4b00}
.ad_327_60 .showad .rightad {padding-left: 10px;float: left;width: 190px;border-left: 1px #cbcbcb solid;line-height: 20px;}
.ad_327_60 .showad .leftad ul li {margin: 0;padding-left:10px;width:100px;line-height:22px;height:22px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ad_327_60 .showad .leftad ul li a {color: #1072b5}
/*-------------------------------- end*/
.KSS_btnBox{z-index: 1;}
/*主体*/
.container{+position: relative; width:1000px;margin:0 auto;padding-top:10px;font-family:Arial,Helvetica,"microsoft yahei"; +z-index:1;}
/*顶部*/
.container .left{width:220px;margin-right:10px;float:left;position: relative;z-index:9}
.category_wrap .h3{padding-top:18px;padding-left:21px;padding-bottom:18px;font-size:14px;color:#fff;font-weight:normal;background-color:#0180CF;line-height: 16px;_height:16px;}
.category_wrap .category{position:relative;}
.category_wrap .category .icon_right{width:12px;height:20px;position:absolute;top:8px;right:10px;}
.angle_right{display:block;width:12px;height:9px;background:url(../images/index/02.gif) top left no-repeat;}
.category_wrap ul{list-style:none;font-size:14px;}
.category_wrap ul li{/*cursor:pointer;*/padding-top:10px;padding-left:20px;padding-bottom:10px;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;_height:24px;_margin-top:-3px;}
.category_wrap ul li a{color:#333;cursor: default;}
.category_wrap ul li a:hover{text-decoration: none;}
.category_wrap ul li.select{border-right: 0px; color:#4096EE;}
.category_wrap ul li.select p,.category_wrap ul li.select p a{color:#4096EE;}
.category_wrap ul li.select p a:hover{color:#4096EE;}
.leftMenu li.hover{border-left:1px solid #0180CF;border-bottom:1px solid #0180CF;border-top:1px solid #0180CF;margin-top:-1px;}
.leftmenu_box{position: absolute;width:749px;height:480px;background-color: #fff;border:1px solid #0180CF;padding:15px;border-left: 0px;display:none;z-index: 9999;
_height:477px;}
.leftMenu li.hover .angle_right{background-image:url(../images/index/02h.png);}
@-moz-document url-prefix() { .leftmenu_box{ height:482px; } }
.leftmenu_box .showbox{border-bottom:1px dashed #dcdcdc; padding-bottom: 0px;margin-bottom: 10px;font-size: 12px;overflow: auto;}
.leftmenu_box .showbox.last{border-bottom: 0px;}
.leftmenu_box .showbox .fl{float: left;width:110px;text-align: center;margin-top: 3px;font-weight: bold;}
.leftmenu_box .showbox .fr{float: left;width:600px;}
.leftmenu_box .showbox .fr li{margin:0 5px 5px 5px;float: left;width:140px;}
.leftmenu_box .showbox .fr li a{margin-left: 10px;}
.container .right{position: relative; width:770px;float:left;z-index: 1}
.container .right .search_main{width:566px;float:left;}
.search_main .search_box{width:566px;position:relative;height:48px;z-index:2;}
.search_main .search_box .lbox{width:462px;float:left;height:44px;border:2px solid #0180CF;}
.search_main .search_box .lbox .selectbox{width:60px;height:44px;font-size:16px;float:left;position:relative;}
.search_main .search_box .lbox .selectbox .seletxt{width:50px;height:44px;line-height:44px;padding-left:10px;background:url(../images/07.jpg) right -131px no-repeat;cursor:pointer;}
.search_main .search_box .lbox .selectbox .selemenu{position:absolute;border:2px solid #4096EB;border-top:0px;background-color:#fff;padding-left:10px;cursor:pointer;width:50px;height:44px;line-height:44px;display:none;top:44px;left:-2px;}
.search_main .search_box .lbox .search_input{width:390px;height:44px;*height:43px;*line-height:43px;border:0;font-size:16px;margin-left:10px;float:left;}
.search_main .search_box .rbox{width:100px;float:left;}
.search_main .search_box .rbox .search_but{width:100px;height:48px;border:0px;background:url(../images/index/03.jpg) top left no-repeat;cursor:pointer;}
.search_main .key_word{margin-top:12px;}
.search_main .key_word p{padding-bottom:10px;line-height: 15px;}
.search_main .key_word p a{margin-right:10px;+margin-right: 7px;}
.search_main .ad_box{margin-top:5px;}
.search_main .ad_box .ad_img{width:128px;height:128px;float:left;margin-right:15px;overflow: hidden;border:1px solid #ccc;}
.search_main .ad_box .ad_img img{width:128px;height:128px;}
.search_main .ad_box .ad_img.last{margin-right:0px;}
.search_main .jobs_list{margin-top:15px;width:564px;border:1px solid #ccc;height:250px;}
@-moz-document url-prefix() { .search_main .jobs_list{ height:252px; } }
.search_main .jobs_list .list_nav{}
.search_main .jobs_list .list_nav ul{list-style:none;}
.search_main .jobs_list .list_nav ul li{font-size:14px;float:left;height:53px;line-height:53px;width:112px;border-bottom:1px solid #ccc;border-right:1px solid #ccc;background-color:#F5F5F5;cursor: pointer;text-align: center;}
.search_main .jobs_list .list_nav ul li a{font-size:14px;}
.search_main .jobs_list .list_nav ul li.active{background-color:#0180CF;color:#fff;}
.search_main .jobs_list .list_nav ul li.last{border-right:0px;width:112px;color:#3F95ED;}
.search_main .jobs_list .list_content{padding-top:10px;margin-left:31px;}
.search_main .jobs_list .list_content ul li{margin-bottom:10px;padding-left:12px;background:url(../images/index/07.gif) center left no-repeat;height: 21px;+height:17px;}
.search_main .jobs_list .list_content ul li p{font-size:14px;display:inline-block;}
.search_main .jobs_list .list_content ul li .job{width:192px;float:left;overflow: hidden;}
@-moz-document url-prefix() { .search_main .jobs_list .list_content ul li .job{ height:17px; } }
.search_main .jobs_list .list_content ul li .job a{color:#007FCD;}
.search_main .jobs_list .list_content ul li .job a:hover{text-decoration:underline;}
.search_main .jobs_list .list_content ul li .company{width:225px;float:left;}
.search_main .jobs_list .list_content ul li .date{color:#A9A9A9;float:left;}

.container .right .resume_main{width:194px;float:right;}
.resume_main .but_box{width:194px;}
.resume_main .but_box input{width:194px;height:50px;border:0px;margin-bottom:10px;cursor:pointer;}
.resume_main .but_box .add_job{background:url(../images/index/08.jpg) top left no-repeat;}
.resume_main .but_box .w_resume{background:url(../images/index/09.jpg) top left no-repeat;}
.bulletin{width:192px;border:1px solid #ccc;/*margin-bottom:17px;*/}
.bulletin .bulletin_nav{}
.bulletin .bulletin_nav .nav_item{font-size:14px;}
.bulletin .bulletin_nav .nav_item li{cursor:pointer;height:32px;line-height:32px;float:left;padding-left:30px;padding-right:37px;border-bottom:1px solid #ccc;border-right:1px solid #ccc;background-color:#F5F5F5;}
.bulletin .bulletin_nav .nav_item li.last{border-right:0px;padding-left:31px;}
.bulletin .bulletin_nav .nav_item li.active{border-top:2px solid #4096EE;border-bottom:0px;background-color:#fff;margin-bottom:-1px;height:32px;}
.bulletin .bull_content{height:182px;padding-top:15px;padding-left:17px;}
@-moz-document url-prefix() {.bulletin .bull_content{ height:184px; } }
.bulletin .bull_content li{line-height:25px;}
/*中部广告部分*/
.mid_ad{margin-top:10px;z-index: 10;position: relative;}
.mid_ad div{float:left;margin-right:9px;margin-bottom:9px;}
.mid_ad div.last{margin-right:0px;}
/*职位列表块*/
.jobs_area{margin-bottom:15px;zoom:1;}
.jobs_area .category_wrap li.select{border-right: 0px;_height:25px;}
.jobs_area .category_wrap li.select p,.jobs_area .category_wrap li.select p a{color: #017FCF;}
.jobs_area .left{margin-right:0px;}
.jobs_area h3{border:1px solid #ccc;color:#656565;background-color:#F5F5F5;}
.jobs_area .jobs_content{height:488px;position:relative;float:left;width:753px;border:1px solid #ccc;border-left:0px;padding-top:22px;padding-left:25px;_height:485px;}
@-moz-document url-prefix() { .jobs_area .jobs_content{ height:490px; } }
.jobs_area .jobs_content ul{}
.jobs_area .jobs_content ul li{float:left;width:375px;margin-right:0px;padding-bottom:20px;height:50px;_padding-bottom:19px;}
.jobs_area .jobs_content ul li p{color:#656565;font-size:14px;line-height:25px;}
.jobs_area .jobs_content ul li p span{color:#A9A9A9;}
.jobs_area .jobs_content ul li p a{padding-left:7px;}
.jobs_area .jobs_content ul li p .com_name{color:#007FCD;padding-right:35px;padding-left:0px;display: block;float:left;width:230px;}
.jobs_area .jobs_content ul li p .com_name span{color:#007FCD;}
.jobs_area .jobs_content ul li p a:hover{text-decoration: none;}
/*简历相关*/
.job_box.right_box{margin-bottom:0px;}
.job_box.l{border-right:0px;}
.tag p{line-height:25px;height:75px;}
.tag a{font-size:14px;margin-right:10px;}
.tag a:hover{text-decoration:none;}
.photo{overflow: hidden;}
.photo li{padding-bottom:15px;}
.photo li.last{padding-bottom:0px;}
.photo li .photo_t{float: left;width:116px;}
.photo li p{line-height: 21px;}
.photo li p a{color:#0180CF;}
.photo li .photo_box{width:54px;height:60px;float:left;margin-right:8px;}
.photo li span{margin-left:10px;}
.new_resume tr{font-size:14px;text-align:center;height:34px;line-height:34px;/*background:url(../images/11.jpg) repeat-x bottom;*/}
.new_resume tr td{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;border-bottom:1px dashed #ccc;}
.new_resume tr td a{color:#0180CF;}
.new_resume .injobs{width:187px;height:34px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.new_resume .inwage{width:100px;height:34px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.new_resume tr.last{background:none;}
/*资讯*/
.information_bbox{border:1px solid #ccc;margin-bottom:10px;_height:260px;*height:260px;}
.information_box{width:333px;float:left;}
.information_box .job_box{border:0px;border-right:1px solid #ccc;margin-bottom:0px;_height:260px;*height:260px;}
.information_box .job_box .box_content{width:301px;height:183px;padding:15px 20px;_padding-right:0;}
.info_box{}
.info_box .img_box{width:90px;height:90px;float:left;margin-right:10px;}
.info_box .info_content{float:left;width:180px;}
.info_box .info_content h5{font-size:12px;color:#017FCE;margin-top:0px;margin-bottom:10px;}
.info_box .info_content p{line-height:20px;height:20px;}
.info_box .info_content p a{color:#0180CF;}
.info_box .info_list{margin-top:15px;}
.info_box .info_list li{line-height:25px;padding-left:12px;background:url(../images/index/07.gif) center left no-repeat;}
.f_link .job_box .box_tit h4{color:#007FCD;}


/*底部广告*/
.release{width:100%;background-color:#F5F5F5;height:80px;margin-bottom:-15px;}
.release .release_txt{width:468px;height:25px;margin-top:16px;background:url(../images/index/17.gif) top left no-repeat;}
.release .release_box{position:relative;}
.release .release_but{position:absolute;top:-8px;right:0px;}

/*-----jquery tip--------*/
.comvtipshow { position: absolute; left: 0px; top:15px; font-size:12px;  z-index: 9999 ; line-height:180%; width:210px; }
.comvtipshow .tipboxtit {margin-left:1px;background:url(../images/85.gif) no-repeat 0px 0px; height:6px; width:100%; margin-top:8px; overflow:hidden;}
.comvtipshow .tipboxtxt { border:1px  #0180CF solid; border-top:0px; background-color: #FFFCF0; width:100%;}
.comvtipshow .tipboxtxt .tipboxtits {background:url(../images/85.gif) repeat-x 0px -7px; height:28px; line-height:28px; padding-left:10px; color:#FFFFFF;font-family:"microsoft yahei","宋体"}
.comvtipshow .tipboxtxt ul li{float:none;height:20px;line-height:20px;padding-bottom:0px;}
.comvtipshow  ul { padding-left:10px; padding-top:5px; padding-bottom:8px;}
.comvtipshow  ul li {padding-left:8px; background:url(../images/01.gif) no-repeat 0px -32px;width:190px;}
.comvtipshow  ul li span{ color:#999999}
.comvtipshow  ul li.more{ background-image:none; text-align:right;padding-right:20px;width:170px;}