{#qishi_train_show set="列表名:train,机构ID:GET[id]"#}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$train.trainname#} - 课程列表 - {#$QISHI.site_name#}</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="/files/css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$user_tpl#}css/css.css" rel="stylesheet" type="text/css" />
<link href="/files/css/train.css" rel="stylesheet" type="text/css" />
<script src="/files/js/jquery.js" type='text/javascript' ></script>
<script src="/files/js/jquery.dialog.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function()
{
	//申请课程
	$(".app_course").click(function(){
	var id=$(this).attr("id");
	dialog("免费预约","url:/user/user_yuyue_course.php?id="+id+"&act=app","500px","auto","");
	//dialog("申请课程","url:/user/user_apply_course.php?id="+id+"&act=app","500px","auto","");
	});	
	var train_id="{#$smarty.get.id#}";
	var tsTimeStamp= new Date().getTime();
	$.get("/plus/ajax_contact.php", { "id": train_id,"time":tsTimeStamp,"act":"train_contact"},
		function (data,textStatus)
		 {			
			$(".train_contact").html(data);
		 }
	);

});
</script>
</head>
<body>
{#include file="header.htm"#}
<!-- 当前位置 -->
<div class="page_location link_bk">
	当前位置：<a href="{#$QISHI.index_url#}">首页</a>&nbsp;>&nbsp;<a href="{#"QS_train_curriculum"|qishi_url#}">课程信息</a>&nbsp;>&nbsp;{#$train.trainname#}
</div>
	<!-- 主体内容 -->
	<div class="container link_bk">
		<div class="left_area">
			<div class="com_title">
				<div class="logo_img"><img src="{#$train.logo#}" alt="" width="200" height="66" /></div>
				<div class="title_txt">
					<h2>{#$train.trainname#}</h2>
					<p>{#$train.address#}</p>
				</div>
				<div class="clear"></div>
			</div>
			{#qishi_train_img_list set="列表名:img,分页显示:0,显示数目:8,机构ID:GET[id]"#}
			{#if $img#}
			<div class="carousel">
				<div class="swipe" id="slider">
					<div class="swipe-wrap">
						{#foreach from=$img item=li#}
						<div>
							<ul class="car_img">
								{#section name=sub_li loop=$li.group#}
								<li {#if $smarty.section.sub_li.index==2#}class="last"{#/if#}><a target="_blank" href="/data/train_img/original/{#$li.group[sub_li].img#}"><img width="180" height="119" src="/data/train_img/thumb/{#$li.group[sub_li].img#}" alt=""></a></li>
								{#/section#}
							</ul>
						</div>
						{#/foreach#}
					</div>
				</div>
				<div class="slider-control">
  					<button class="left" onclick="mySwipe.prev()"></button>
  					<button class="right" onclick="mySwipe.next()"></button>
  				</div>
			</div>
			{#/if#}
			<div class="com_info">
				<div class="com_nav">
					<ul>
						<li><a href="{#"QS_train_agencyshow,id:"|cat:$train.id|qishi_url#}">机构介绍</a></li>
						<li class="active"><a href="{#"QS_train_agency_curriculum,id:"|cat:$train.id|qishi_url#}">培训课程</a></li>
						<li><a href="{#"QS_train_agency_lecturer,id:"|cat:$train.id|qishi_url#}">师资力量</a></li>
						<li><a href="{#"QS_train_agency_news,id:"|cat:$train.id|qishi_url#}">新闻动态</a></li>
						<div class="clear"></div>
					</ul>
				</div>

				<div class="com_container">
					<!-- 课程列表 -->
					<div class="cour_tab take_job">
						{#qishi_curriculum_list set="列表名:course,填补字符:...,课程名长度:18,分页显示:1,显示数目:100,列表页:QS_train_agency_curriculum,描述长度:68,会员UID:"|cat:$train.uid#}
						<div class="cour_tit">
							该机构共有 {#$total#} 个培训课程
						</div>
						<ul>
							{#foreach from=$course item=list#}
							<li>
								<div class="c_name"><a href="{#$list.course_url#}" target="_blank">{#$list.course_name#}</a><span class="ji"></span></div>
								<p><span>课程类型：{#$list.category_cn#}</span>&nbsp;&nbsp;|&nbsp;&nbsp;{# if $list.teacher_cn ==""#}{#else#}<span>主讲人：{#$list.teacher_cn#}</span>&nbsp;&nbsp;|&nbsp;&nbsp;{#/if#}<span>学时：{#$list.classhour#}课时</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>班制：{#$list.classtype_cn#}</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>培训费用：<em>{# if $list.train_expenses ==0#}面议{#else#}{#$list.train_expenses#}元{#/if#}</em></span></p>
								<input type="button" value="免费预约" class="but80lan app_course" id="{#$list.id#}" />
							</li>
							{#/foreach#}
						</ul>
						<input type="button" value="查看更多" class="but698hui" onclick="javascript:location.href='{#"QS_train_curriculum"|qishi_url#}'" />
					</div>
				</div>
			</div>

			
		</div>
		<!-- 右边内容 -->
		<div class="right_area">
			
			<div class="right_box">
				<div class="title_box">
					<h5>机构名片</h5>
				</div>
				<div class="list">
					<ul>
						<li>机构性质：{#$train.nature_cn#}</li>
						<li>所在地区：{#$train.district_cn#}</li>
						<li>成立时间：{#$train.founddate|date_format:"%Y-%m-%d"#}</li>
						{#if $train.website#}
						<li class="overflow">机构网站：<a target="_blank" href="{#$train.website#}">{#$train.website#}</a></li>
						{#/if#}
					</ul>
				</div>
			</div>
			<div class="right_box">
				<div class="title_box">
					<h5>联系方式</h5>
				</div>
				<div class="list train_contact">
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!-- 主体内容 结束 -->
	<script src="/files/js/swipe.js"></script>
	<script>
		window.mySwipe = Swipe(document.getElementById('slider'), {
			auto:3000,
			speed:400,
			continuous: true
		});
	</script>
{#include file="footer.htm"#}
</body>
</html>