{#qishi_train_show set="列表名:train,机构ID:GET[id]"#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$train.trainname#} - {#$QISHI.site_name#}</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="/favicon.ico" />
<link href="/files/css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$user_tpl#}css/css.css" rel="stylesheet" type="text/css" />
<link href="/files/css/train.css" rel="stylesheet" type="text/css" />
<script src="/files/js/jquery.js" type='text/javascript' ></script>
<script src="/files/js/jquery.dialog.js" type='text/javascript' ></script>
<script src="http://api.map.baidu.com/api?v=1.2" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$(".check_full_map").click(function(){
		var map_x = $(this).attr("map_x");
		var map_y = $(this).attr("map_y"); 
		var map_zoom = $(this).attr("map_zoom"); 
		var companyname = $(this).attr("trainname"); 
		var address = $(this).attr("address"); 
		dialog("完整地图","url:/plus/ajax_com_map.php?act=company_map&map_x="+map_x+"&map_y="+map_y+"&map_zoom="+map_zoom+"&companyname="+companyname+"&address="+address,"660px","auto","","");
	});
	var train_id="{#$train.id#}";
	var tsTimeStamp= new Date().getTime();
	$.get("/plus/ajax_contact.php", { "id": train_id,"time":tsTimeStamp,"act":"train_contact"},
		function (data,textStatus)
		 {			
			$(".train_contact").html(data);
		 }
	);
});
</script>
</head>
<body>
{#include file="header.htm"#}
<!-- 当前位置 -->
<div class="page_location link_bk">
	当前位置：<a href="{#$QISHI.website_dir#}">首页</a>&nbsp;>&nbsp;<a href="{#"QS_train_curriculum"|qishi_url#}">课程信息</a>&nbsp;>&nbsp;{#$train.trainname#}
</div>
	<!-- 主体内容 -->
	<div class="container link_bk">
		<div class="left_area">
			<div class="com_title">
				<div class="logo_img"><img src="{#$train.logo#}" width="200" height="66" /></div>
				<div class="title_txt">
					<h2>{#$train.trainname#}</h2>
					<p>{#$train.address#}</p>
				</div>
				<div class="clear"></div>
			</div>
			{#qishi_train_img_list set="列表名:img,分页显示:1,显示数目:8,机构ID:$train.id"#}
			{#if $img#}
			<div class="carousel">
				<div class="swipe" id="slider">
					<div class="swipe-wrap">
						{#foreach from=$img item=li#}
						<div>
							<ul class="car_img">
								{#section name=sub_li loop=$li.group#}
								<li {#if $smarty.section.sub_li.index==2#}class="last"{#/if#}><a target="_blank" href="/data/train_img/original/{#$li.group[sub_li].img#}"><img width="180" height="119" src="/data/train_img/thumb/{#$li.group[sub_li].img#}" alt=""></a></li>
								{#/section#}
							</ul>
						</div>
						{#/foreach#}
					</div>
				</div>
				<div class="slider-control">
  					<button class="left" onclick="mySwipe.prev()"></button>
  					<button class="right" onclick="mySwipe.next()"></button>
  				</div>
			</div>
			{#/if#}
			<div class="com_info">
				<div class="com_nav">
					<ul>
						<li class="active"><a href="{#"QS_train_agencyshow,id:"|cat:$train.id|qishi_url#}">机构介绍</a></li>
						<li><a href="{#"QS_train_agency_curriculum,id:"|cat:$train.id|qishi_url#}">培训课程</a></li>
						<li><a href="{#"QS_train_agency_lecturer,id:"|cat:$train.id|qishi_url#}">师资力量</a></li>
						<li><a href="{#"QS_train_agency_news,id:"|cat:$train.id|qishi_url#}">新闻动态</a></li>
						<div class="clear"></div>
					</ul>
				</div>

				<div class="com_container">
					<div class="com_txt">
						<p>{#$train.contents|nl2br#}</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 右边内容 -->
		<div class="right_area">
			
			<div class="right_box">
				<div class="title_box">
					<h5>机构名片</h5>
				</div>
				<div class="list">
					<ul>
						<li>机构性质：{#$train.nature_cn#}</li>
						<li>所在地区：{#$train.district_cn#}</li>
						<li>成立时间：{#$train.founddate|date_format:"%Y-%m-%d"#}</li>
						{#if $train.website#}
						<li class="overflow">机构网站：<a target="_blank" href="{#$train.website#}">{#$train.website#}</a></li>
						{#/if#}
					</ul>
				</div>
			</div>
			{#if $train.map_open=="1" && $train.map_x && $train.map_y#}
			<div class="right_box">
				<div class="title_box">
					<h5>机构地址</h5>
				</div>
				<div class="list" style="padding:10px;">
					<div class="map">
						{#if $train.address#}
						<p>{#$train.address#}</p>
						{#/if#}
						<div style="width:100%;height:200px;border:1px #CCCCCC solid; margin:0 auto;" id="map"></div>
							<script type="text/javascript">
							var map = new BMap.Map("map");   
							var point = new BMap.Point({#$train.map_x#}, {#$train.map_y#});   
							map.centerAndZoom(point, {#$train.map_zoom#});
							var opts = {type: BMAP_NAVIGATION_CONTROL_SMALL,anchor: BMAP_ANCHOR_TOP_RIGHT}
							map.addControl(new BMap.NavigationControl(opts)); //添加鱼骨
							//map.enableScrollWheelZoom();//启用滚轮放大缩小，默认禁用。
							// 创建标注
							var qs_marker = new BMap.Marker(point);           
							map.addOverlay(qs_marker); 
							// 创建标注 
							// 打开信息窗口 
							var opts = {   
							  width : 150,     // 信息窗口宽度   
							  height: 50,     // 信息窗口高度   
							  title : "{#$train.trainname#}"  // 信息窗口标题   
							}   
							var infoWindow = new BMap.InfoWindow("{#$train.address#}", opts);  // 创建信息窗口对象   
							map.openInfoWindow(infoWindow, point);
							// 打开信息窗口  			
							</script>
						<p class="full_map" style="text-align:center"><a href="javascript:void(0);" class="check_full_map" map_x="{#$train.map_x#}" map_y="{#$train.map_y#}" map_zoom="{#$train.map_zoom#}" trainname="{#$train.trainname#}" address="{#$train.address#}">查看完整地图</a></p>
					</div>
					
				</div>
			</div>
			{#/if#}
			<div class="right_box">
				<div class="title_box">
					<h5>联系方式</h5>
				</div>
				<div class="list train_contact">
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!-- 主体内容 结束 -->
	<script src="/files/js/swipe.js"></script>
<script>
	window.mySwipe = Swipe(document.getElementById('slider'), {
		auto:3000,
		speed:400,
		continuous: true
	});
</script>
{#include file="footer.htm"#}
</body>
</html>