<script type="text/javascript">
$(document).ready(function()
{
//会员中心顶部搜索职位简历切换 
$("#usertopselectbox").hover(
  function () {
  $(this).find(".#selmenu").show();
  },
  function () {
    $(this).find("#selmenu").hide();
  }
);
$(".leftmenu .meunbox li[class!='h']").hover(
  function () {
      $(this).css("background-color","#F5F5F5");
  },
  function () {
     $(this).css("background-color","#FFFFFF");
  }
);
//会员中心顶部搜索职位简历切换 点击选择触发事件
$("#usertopselectbox .selmenu").click(function(){

		var txt=$(this).text();
		
		if (txt=="简历")
		{
		$("#topsotype").val('2');
		$("#seltxt").text('简历');
		$("#selmenu").text('职位');
		$("#selmenu").hide();
		}
		else
		{
		$("#topsotype").val('1');
		$("#seltxt").text('职位');
		$("#selmenu").text('简历');
		$("#selmenu").hide();
		}
});

//所有提交按钮效果
$("input[type='submit'],input[type='button']").hover(
  function () {
    $(this).addClass("hover");
  },
  function () {
    $(this).removeClass("hover");
  }
);
//所有多选按钮效果
$(".input_checkbox,.input_checkbox_add").hover(
  function () {
    $(this).addClass("h");
  },
  function () {
    $(this).removeClass("h");
  }
);
//全选
$('#chk').click(function(){$("#form1 :checkbox").attr('checked',$("#chk").attr('checked'))});
});

</script>
<div class="meun1">
  		<div class="meun2">
		<div class="meunbox">
		  <div class="tit"><div class="t c1">课程管理</div></div>
		  	<div class="linktxt">
				<ul>
				<li {#if $smarty.get.act=="addcourse"#}class="h"{#/if#}><a href="train_course.php?act=addcourse">发布课程</a></li>
				<li {#if $smarty.get.act=="course" || $smarty.get.act=="editcourse"#}class="h"{#/if#}><a href="train_course.php?act=course">管理课程</a></li>
				<li {#if $smarty.get.act=="apply_course"#}class="h"{#/if#}><a href="train_recruitment.php?act=apply_course">课程申请</a></li>
				</ul>
			</div>
		</div>
		
		<div class="meunbox">
		  <div class="tit"><div class="t c2">讲师管理</div></div>
		  	<div class="linktxt">
				<ul>
				<li {#if $smarty.get.act=="add_teachers"#}class="h"{#/if#}><a href="train_teacher.php?act=add_teachers">添加讲师</a></li>
				<li {#if $smarty.get.act=="teachers"#}class="h"{#/if#}><a href="train_teacher.php?act=teachers">讲师管理</a></li>
				</ul>
			</div>
		</div>
		
		<div class="meunbox">
		  <div class="tit"><div class="t c4">会员服务</div></div>
		  	<div class="linktxt">
				<ul>
				<li {#if $smarty.get.act=="account"#}class="h"{#/if#}><a href="train_service.php?act=account">我的账户</a></li>
				{#if $QISHI.operation_train_mode=="1"#}
				<li {#if $smarty.get.act=="order_add" || $smarty.get.act=="setmeal_list" || $smarty.get.act=="order_list" || $smarty.get.act=="payment" || $smarty.get.act=="setmeal_order_add"#}class="h"{#/if#}><a href="train_service.php?act=order_add">充值订单</a></li>
				{#elseif $QISHI.operation_train_mode=="2"#}
				<li {#if $smarty.get.act=="setmeal_list" || $smarty.get.act=="order_list" || $smarty.get.act=="payment" || $smarty.get.act=="setmeal_order_add"#}class="h"{#/if#}><a href="train_service.php?act=setmeal_list">充值订单</a></li>
				{#/if#}
				</ul>
			</div>
		</div>
		
			<div class="meunbox last">
		  <div class="tit"><div class="t c5">账号管理</div></div>
		  	<div class="linktxt">
				<ul>
				<li {#if $smarty.get.act=="train_profile" || $smarty.get.act=="train_logo" || $smarty.get.act=="train_news" || $smarty.get.act=="train_img" || $smarty.get.act=="train_map_set" || $smarty.get.act=="train_news_add" || $smarty.get.act=="train_news_edit"#}class="h"{#/if#}><a href="train_info.php?act=train_profile">机构资料</a></li>
				<li {#if $smarty.get.act=="password_edit" || $smarty.get.act=="binding" || $smarty.get.act=="login_log"#}class="h"{#/if#}><a href="train_user.php?act=password_edit">安全助手</a></li>
				<li{#if $smarty.get.act=="authenticate" || $smarty.get.act=="train_auth"#} class="h"{#/if#}><a href="train_user.php?act=authenticate">认证管理</a></li>
				<li><a href="{#"QS_login"|qishi_url#}?act=logout">退出登录</a></li>
				</ul>
			</div>
		</div>
		
		</div>
	</div>