<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.main_domain#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/user_train.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
</head>
<body>
{#include file="user/header.htm"#}
<div class="page_location link_bk">当前位置：<a href="{#$QISHI.main_domain#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a></div>
<div class="usermain">
    <div class="leftmenu  train link_bk">
  	    {#include file="member_train/left.htm"#}
    </div>
    <div class="rightmain">
	   	<div class="bbox1">
			<div class="cominfo">
			    <div class="lbox">
					<div class="username">欢迎：{#$user.username#} 登录</div>			  
				    <div class="logobox">
						<div class="limg">
							{#if $train.logo==""#}
							<img name="" src="{#$QISHI.site_template#}images/no_logo.gif"   alt="" style="cursor:pointer" onclick="javascript:location.href='train_info.php?act=train_logo'"/>
							{#else#}
							<img name="" src="{#$QISHI.main_domain#}data/train_logo/{#$train.logo#}?rand={#$rand#}"   alt="" style="cursor:pointer" onclick="javascript:location.href='train_info.php?act=train_logo'"/>
							{#/if#}
						</div>
						<div class="rtxt">
						  <div class="cname h1-title" title="{#$train.trainname#}"><strong>{#if $train#}{#$train.trainname#}{#else#}未完善机构资料{#/if#}</strong></div>				  
						  <div class="txt">{#if $loginlog#}上次登录：{#$loginlog.log_addtime|date_format:"%Y-%m-%d %H:%M"#}{#else#}从未登录{#/if#}</div>
						  <a href="train_info.php?act=train_profile"  class="edit">编辑机构资料</a>
						</div>
						<div class="clear"></div>
						<div class="certification">认证状态：{#if $sms.open=="1"#}{#if $user.mobile_audit=="1"#}<a href="train_user.php?act=authenticate" class="m">手机已认证</a>{#else#}<a href="train_user.php?act=authenticate" class="m no">手机未认证</a>{#/if#}{#/if#}{#if $user.email_audit=="1"#}<a href="train_user.php?act=authenticate" class="e">邮箱已认证</a>{#else#}<a href="train_user.php?act=authenticate" class="e no">邮箱未认证</a>{#/if#}{#if $train.audit=="1"#}<a href="train_info.php?act=train_auth" class="c">营业执照已认证</a>{#else#}<a href="train_info.php?act=train_auth" class="c no">营业执照未认证</a>{#/if#}</div>
				  	</div>
			    </div>
				<div class="rbox link_lan">
				<!--积分模式  -->
				{#if $QISHI.operation_train_mode=="1"#}
				<div class="mode1">
		 		    <div class="titcount">账户{#$QISHI.points_byname#}：<span>{#$points#}</span> {#$QISHI.points_quantifier#}<u><a href="train_service.php?act=order_add">[查看消费明细]</a></u></div>					
				    <div class="pay">
						<input name="" type="button" onclick="javascript:location.href='train_service.php?act=order_add'"  value="立即充值" class="but95cheng"/>
						实时到账，还有惊喜等着你！
					</div>
					<div class="msg">系统消息：<a href="train_user.php?act=pm">已读({#$msg_total1#})</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="train_user.php?act=pm">未读<span>({#$msg_total2#})</span></a></div>
				</div>
				{#/if#}
				<!--积分模式结束 -->
				<!--套餐模式 -->
				{#if $QISHI.operation_train_mode=="2"#}
				<div class="mode2">
				    <div class="cmname">{#$setmeal.setmeal_name#}：{#if $meal_min_remind=="无限期"#}无限期<u><a href="train_service.php?act=setmeal_list">[重新开通]</a></u>{#elseif $meal_min_remind=="已经到期"#}已经到期<u><a href="train_service.php?act=setmeal_list">[续费延期]</a></u>{#else#}还有<span>{#$meal_min_remind#}</span>到期<u><a href="train_service.php?act=setmeal_list">[续费延期]</a></u>{#/if#}</div>		
				    <div class="cmtxt">开通：{#$setmeal.starttime|date_format:"%Y-%m-%d"#}&nbsp;&nbsp;&nbsp;&nbsp;到期：{#if $setmeal.endtime=="0"#}无限期{#else#}{#$setmeal.endtime|date_format:"%Y-%m-%d"#}{#/if#}</div>
				    <div class="cmtxt"><a href="train_service.php?act=account">[查看套餐余量]</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="train_service.php?act=account">[查看消费明细]</a></div>
				    <div class="msg">系统消息：<a href="train_user.php?act=pm">已读({#$msg_total1#})</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="train_user.php?act=pm">未读<span>({#$msg_total2#})</span></a></div>
				</div>
				{#/if#}
				<!--套餐模式结束 -->
			</div>
			<div class="clear"></div>
		</div>
		<div class="commanage">
		    <div class="list">
		  		<div class="t">课程管理</div>
				<div class="p">
				发布中的课程：<a href="train_course.php">{#$total_audit_course#}</a><br />
			    审核中的课程：<a href="train_course.php">{#$total_noaudit_course#}</a>
				</div>
		    	<div class="but"><input name="" type="button" value="发布课程" class="but180lan" onclick="javascript:location.href='train_course.php?act=addcourse'" /></div>
		    </div>
		    <div class="list last">
		  		<div class="t">讲师管理</div>
				<div class="p">
				未查看的课程申请：<a href="train_recruitment.php?act=apply_course">{#$total_nolook_apply#}</a><br />
			    已发布讲师：<a href="train_teacher.php?act=teachers">{#$total_teacher#}</a>
				</div>
		    	<div class="but"><input name="" type="button" value="添加讲师" class="but180lan" onclick="javascript:location.href='train_teacher.php?act=add_teachers'" /></div>
		    </div>
		    <div class="clear"></div>
		</div>	
	</div>
</div>
<div class="clear"></div>
</div>
{#include file="user/footer.htm"#}
</body>
</html>
