<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>{#$QISHI.subsite_districtname|default:""#}壹打工网 - 让工作来找你</title>
	<meta name="keywords" content="{#$QISHI.subsite_districtname|default:''#}打工网，{#$QISHI.subsite_districtname|default:''#}兼职信息，{#$QISHI.subsite_districtname|default:''#}招聘会信息 - 壹打工网" />
	<meta name="description" content="壹打工网{#$QISHI.subsite_districtname|default:'总'#}站，汇集最新招工、兼职及招聘会信息，壹打工2015招聘会，提供招工信息和兼职招聘服务，免费为您找工作。企业招聘招工，个人找工作找兼职，就上壹打工网。" />
    <link rel="shortcut icon" href="favicon.ico" />
	<!-- css -->
	<link href="/files/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/files/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/files/css/all.css" rel="stylesheet" type="text/css" />
    <link href="/files/css/header-footer.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/files/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/files/js/jquery.SuperSlide.2.1.1.js"></script>
    <script language="javascript" type="text/javascript" src="/files/js/lrtk.js"></script>
    <script language="javascript" type="text/javascript" src="/files/js/divselect.js"></script>
    <!--#############################################zzzzzzzzz####################################-->
	<script src="/files/js/jquery.jobs-search-shouye.js" type='text/javascript'></script>
    
    <!--<script src="/files/js/jquery.js" type="text/javascript" language="javascript"></script>-->
    <script src="/files/js/jquery.lazyload.js" type="text/javascript"></script>
    <script src="/data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
    <script src="/files/js/jquery.KinSlideshow.min.js" type="text/javascript"></script>
    <!--中部菜单显示-->
    <script src="/files/js/jquery.comtip-min.js" type="text/javascript"></script>
    
    <script src="/files/js/jquery.index.js" type='text/javascript' ></script>
    <link  href="/files/css/new.css" rel="stylesheet" type="text/css"/>
    
    
    
<!--------------左侧列表-------------->
   <script>
$(document).ready(function()
{
	index("/","/files/");
	get_right_menu(QS_jobs);
});
$(function(){
	$(".ad_box .ad_img:eq(3)").css("margin-right", 0);
	$(".leftMenu li,.leftmenu_box").hover(function(){
		$(this).addClass("hover");
		$(this).find(".category").stop().animate({
			"position":"relative",
			"left":10
		},200);
		$(".leftMenu li").siblings("li").css("border-right-color","#ffffff");
		
	},function(){
		$(this).removeClass("hover");
		$(this).find(".category").stop().animate({
			"position":"relative",
			"left":0
		},200);
		$(".leftMenu li").siblings("li").css("border-right-color","#CCC");
	});
	
}) 
</script>
</head>
<body>
    <div id="top"></div>

<!--------------头部大横幅 广告-------------->
<!--
<SCRIPT> 
function toueme(){ 
document.getElementById("toubiao").style.display="none"; 
} 
</SCRIPT> 

<div id="toubiao"> 
    <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
        <tr> 
            <td>
                <a target="_blank" href=""> 
                    <img class="topb" src="/files/img/topb.jpg" alt="" title="活动banner" >
                </a>
            </td> 
            <td class="guangbi" align="right">
                <a class="guanbi" onClick=toueme() >X</a>
            </td> 
        </tr> 
    </table> 
</div> -->


<!--------------1分钟留下信息  广告-------------->
<SCRIPT> 
function baoming(){ 
document.getElementById("mianfei").style.display="none"; 
} 
</SCRIPT> 
<div id="mianfei"> 
    <div class="fei01">
    	<div class="mainfei_word">
        	非一般的极速求职
            <a class="baoming" href="/zt/zhaogz/">1分钟找工作 <i class="fa fa-hand-o-right"></i></a>
           免费为你推荐工作
        </div>
    <a class="guanbi" onClick=baoming() >X</a>
    </div>
    
</div>
	
	<!--头部开始-->
	{#include file="header.htm"#}
	<!--头部结束-->
    <div class="kuang">
        <div class="gonggao fr">
            <p class="fl"><i class="fa fa-bullhorn"></i>公告：</p>
            <div class="fr" id="spds" >                
                 <marquee direction="left" align="bottom" height="25" width="100%" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="2" scrolldelay="1">{#qishi_notice_list set="列表名:notice,显示数目:6,标题长度:24,分类:1,填补字符:...,排序:id>desc"#}
				{#foreach from=$notice item=list#}
                    <a  href="{#$list.url#}" target="_blank">{#$list.title#}</a>&nbsp;&nbsp;
                {#/foreach#}</marquee>
                </div>
            </div> 
        </div>
    </div>
    
    
<!--------------首页公告------------->
<!--<script> 
var speed=150 
spds2.innerHTML=spds1.innerHTML 
function Marquee(){ 
if(spds2.offsetTop-spds.scrollTop<=100) 
spds.scrollTop-=spds1.offsetHeight 
else{ 
spds.scrollTop++ 
} 
} 
var MyMar=setInterval(Marquee,speed) 
spds.onmouseover=function() {clearInterval(MyMar)} 
spds.onmouseout=function() {MyMar=setInterval(Marquee,speed)} 
</script> -->

    
       <div class="main over">
         <div class="search">
         
<!--------------首页搜索 地区与职位下拉------------->
<script type="text/javascript">
/*屏蔽这两句js，重新写zzzzzz*/
	$(function(){
	$.divselect("#divselect","#inputselect");
	$.divselect("#divselect001","#inputselect001");
});
	$(document).ready(function(){
	/*按公司或者职位进行搜索*/
	/*$('#divselect li a').click(function(){
	$('#divselect .change_area input[name=areacode]').val($(this).attr('rel'));
	$('#divselect cite').text($(this).text());
	$('#divselect ul').hide();
	});*/
	//---ffffff
	$('#divselect li a').click(function(){
	$('#searckeybox input[name=types]').val($(this).attr('selectid'));
	});
	//---fffffflert($(this).text());
	/*按地区搜索*/
	$('#divselect001 li a').click(function(){
	$('#divselect001 input[name=citycategory]').val($(this).attr('selectid'));
	$('#divselect001 cite').text($(this).text());
	$('#divselect001 ul').hide();
	});
	
	});
</script>
            <form name="form1" action="/index_search.php" method="post">
              <div id="divselect">
                  <cite>职位</cite>
                  <ul>
                     <li><a href="javascript:;" selectid="1">职位</a></li>
                     <li><a href="javascript:;" selectid="2">公司</a></li>
                  </ul>
              </div>           
                         
                <div class="text" id="searckeybox">
                	<input type="hidden" name="types" id="types" value="" />
                    <input type="text" name="key" id="searchkey" data="{#$smarty.get.key#}"  onfocus="this.value=''"   />
					<!--其他字段-->
					<!--<input name="trade_id" id="trade_id" type="hidden" value="{#$smarty.get.trade#}" />
					<input name="jobs_id" id="jobs_id" type="hidden" value="{#$smarty.get.jobcategory#}" />
					<input type="hidden" value="{#$smarty.get.wage#}" name="wage">
					<input type="hidden" value="{#$smarty.get.education#}" name="education">
					<input type="hidden" value="{#$smarty.get.experience#}" name="experience">
					<input type="hidden" value="{#$smarty.get.nature#}" name="nature">
					<input type="hidden" value="{#$smarty.get.settr#}" name="settr">
					<input type="hidden" value="" name="sort">
					<input type="hidden" value="1" name="page">-->
					<!--其他字段结束-->
                </div>
                
              <div id="divselect001">
                  <cite>地区</cite>
				  <input type="hidden" name="citycategory" value="">
                  <ul>
                     <li><a href="javascript:;" selectid="">不限</a></li>
                     <li><a href="javascript:;" selectid="13.224">合肥</a></li>
                     <li><a href="javascript:;" selectid="13.225">芜湖</a></li>
                     <li><a href="javascript:;" selectid="2.0">上海</a></li>
                     <li><a href="javascript:;" selectid="4.0">重庆</a></li>
                     <li><a href="javascript:;" selectid="18.0">湖北</a></li>
                     <li><a href="javascript:;" selectid="18.295">武汉</a></li>
                     <li><a href="javascript:;" selectid="11.0">江苏</a></li>
                     <li><a href="javascript:;" selectid="17.278">郑州</a></li>
                  </ul>
              </div>
                 
                 <div><input class="button" id="btnsearch" ty="QS_jobslist" type="submit" value="搜索" /></div>
                 
            </form>
        </div>
        <div class="hotse">  热门搜索：
        	<!--热门关键字-->
        	{#qishi_hotword set="显示数目:9,列表名:list"#}
            {#foreach from=$list item=li#}
            <a href="{#"QS_jobslist,key:"|cat:$li.w_word_code|qishi_url#}" target="_blank">{#$li.w_word#}</a>
            {#/foreach#} 
            <!--<a href="#">技工</a>-->
            
        </div>
    </div>
<!--------------banner下面 选项卡-------------->  
<script type="text/javascript"> 
function setTab(name,m,n){ 
for( var i=1;i<=n;i++){ 
var menu = document.getElementById(name+i); 
var showDiv = document.getElementById("cont_"+name+"_"+i); 
menu.className = i==m ?"on":""; 
showDiv.style.display = i==m?"block":"none"; 
} 
} 
</script> 

<div class="kuang over">
    <div class="container fl wid220">
    <!-- 行业职位 -->
	<div class="left">
			<div class="category_wrap leftMenu" id="topWrap">
				<div class="h3"><i class="fa fa-bars"></i>全部职位分类</div>
				<ul>
					{#qishi_get_classify set="列表名:category,类型:QS_jobs,显示数目:10"#}
					{#foreach from=$category item=list#}	
					<li class="clearfix" id="{#$list.id#}">
						<div class="category">
                        
							<p><a href="javascript:void(0);">{#$list.categoryname#}</a></p>
							<div class="icon_right">
								<span class="angle_right"><i class="submenu-icon fa fa-plus"></i></span>
							</div>
						</div>
						<div class="sub_category"></div>
					</li>
					{#/foreach#}
				</ul>
			</div>
			<div class="leftmenu_box">
					<div class="show">
                    
					</div>
                    
	  </div>
	  </div>      
        
	<!-- 行业职位 结束 -->
   </div>
    
    <div class="wid515 mr25 fl">
<!--------------banner图-------------->  
<script type="text/javascript">
jQuery(function($){
	var index = 0;
	var maximg = 5;
	//$('<div id="flow"></div>').appendTo("#myjQuery");

	//滑动导航改变内容	
	$("#myjQueryNav li").hover(function(){
		if(MyTime){
			clearInterval(MyTime);
		}
		index  =  $("#myjQueryNav li").index(this);
		MyTime = setTimeout(function(){
		ShowjQueryFlash(index);
		$('#myjQueryContent').stop();
		} , 400);

	}, function(){
		clearInterval(MyTime);
		MyTime = setInterval(function(){
		ShowjQueryFlash(index);
		index++;
		if(index==maximg){index=0;}
		} , 3000);
	});
	//滑入 停止动画，滑出开始动画.
	 $('#myjQueryContent').hover(function(){
			  if(MyTime){
				 clearInterval(MyTime);
			  }
	 },function(){
				MyTime = setInterval(function(){
				ShowjQueryFlash(index);
				index++;
				if(index==maximg){index=0;}
			  } , 3000);
	 });
	//自动播放
	var MyTime = setInterval(function(){
		ShowjQueryFlash(index);
		index++;
		if(index==maximg){index=0;}
	} , 3000);
});
function ShowjQueryFlash(i) {
$("#myjQueryContent div").eq(i).animate({opacity: 1},1000).css({"z-index": "1"}).siblings().animate({opacity: 0},1000).css({"z-index": "0"});
//$("#flow").animate({ left: 652+(i*76) +"px"}, 300 ); //滑块滑动
$("#myjQueryNav li").eq(i).addClass("current").siblings().removeClass("current");
}
</script>
        <div class="topvebanner fr">
          <div id="myjQuery">
            <div id="myjQueryContent">
            {#qishi_ad set="显示数目:3,调用名称:QS_indexfocus,列表名:ad"#}{#foreach from=$ad item=list#}
              <div><a href="{#$list.img_url#}" target="_blank"><img src="{#$list.img_path#}" title="{#$list.img_explain#}"></a></div>
            {#/foreach#}
            </div>
            <ul id="myjQueryNav">
              <li class="current"></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        
        <div class="tab"> 
            <div class="yesc"> 
                <ul> 
                    <li id="one1" class="on" onmouseover='setTab("one",1,5)'>最新招聘</li> 
                    <li id="one2" onmouseover='setTab("one",2,5)'>热门招聘</li>
                    <li id="one3" onmouseover='setTab("one",3,5)'>高薪职位</li> 
                	<!--<li id="one4" onmouseover='setTab("one",4,5)'>兼职/实习</li> 
                    <li class="none" id="one5" onmouseover='setTab("one",5,5)'>高薪职位</li>-->
                </ul> 
            </div> 
            <div class="tabList"> 
                <div id="cont_one_1" class="the01 jinji_zhaoP"> 
                	<ul>
                    {#qishi_jobs_list set="列表名:jobs,显示数目:6,填补字符:...,职位名长度:11,排序:rtime>desc"#}
					{#foreach from=$jobs item=jobslist#}											
                    	<li><a href="{#$jobslist.jobs_url#}"><span class="zhaoP_title">{#$jobslist.jobs_name#}</span><b class="gongZ">{#$jobslist.wage_cn#}</b><!--<span class="memberN">{#$jobslist.amount#}人</span>--><span class="date">{#$jobslist.refreshtime_cn#}</span></a></li>
					{#/foreach#}
                  </ul>
                </div>

                <div id="cont_one_2" class="the01 one"> 
                	<ul>
                    	<!--热门招聘(推荐企业推广)-->
                        {#qishi_companyjobs_list set="列表名:company,显示数目:6,显示职位:4,职位名长度:4,企业名长度:12,排序:hot>desc"#}<!--推荐:1-->
                        {#foreach from=$company item=list#}
                   	  <li>
                            <!---字体颜色-class="wids"--><P>{#foreach from=$list.jobs item=jobslist#}<a href="{#$jobslist.jobs_url#}" >{#$jobslist.jobs_name#}</a>{#/foreach#}</P>
                            <span>{#$list.refreshtime_cn#}</span>
                            <!--<span><strong>{#$list.amount#}</strong>人</span>-->
                        </li>
                        {#/foreach#}
                    </ul>
                </div> 
                <div id="cont_one_3" class="the03 one"> 
                	<ul>
                    	<!--推荐招聘-->
                    	<!--<li>
                        	<a href="#">销售/市场sdfsdg索噶</a>
                            <p>10000-14999<font color="#999" size="2">元/月</font></p>
                            <span>安徽合肥
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                        <li class="width40">&nbsp;</li>-->
                        
                        <!--推荐招聘-->
                        
                    	 <!--高薪职位-->
                       {#qishi_jobs_list set="列表名:list,显示数目:6,排序:wage>desc"#}
                       {#foreach from=$list item=li#}
                    	<li>
                        	<a href="{#$li.jobs_url#}">{#$li.jobs_name#}</a>
                            <p>{#$li.wage_cn#}<!--<font color="#999" size="2">元/月</font>--></p>
                            <span>{#$li.district_cn#}
                                <!--<i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>-->
                            </span>
                        </li>
                         <li style="width:20px;">&nbsp;</li>
                        {#/foreach#}
                    </ul>
                </div> 
                <div id="cont_one_4" class="the01 the04 one">
                	
                	<ul>
                    	<!--兼职/实习-->
                        {#qishi_jobs_list set="列表名:list,显示数目:6,排序:id>desc"#}
                           {#foreach from=$list item=li#}
                            {#if ($li.nature_cn =='兼职' || $li.nature_cn =='实习')#}
                            <li>
                                <P><a href="{#$li.jobs_url#}">{#$li.jobs_name#}</a></P><span>{#$li.refreshtime_cn#}</span>
                                <span class="qian">{#$li.wage_cn#}</span>
                                <!--<span>{#$li.refreshtime_cn#}</span>-->
                                <span>{#$li.amount#}人</span>
                        	</li>
                            {#/if#}
                            {#/foreach#} 
                    </ul>
                </div> 
                
                <div id="cont_one_5" class="the03 one"> 
                	<ul>
                    	<!--高薪职位-->
                    	<!--<li>
                        	<a href="#">销售/市场sdfsdg索噶</a>
                            <p>10000-14999<font color="#999" size="2">元/月</font></p>
                            <span>安徽合肥
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                        <li class="width40">&nbsp;</li>-->
                        <!--高薪职位-->
                       {#qishi_jobs_list set="列表名:list,显示数目:6,排序:wage>desc,日期范围:356"#}
                       {#foreach from=$list item=li#}
                    	<li>
                        	<a href="{#$li.jobs_url#}">{#$li.jobs_name#}</a>
                            <p>{#$li.wage_cn#}<!--<font color="#999" size="2">元/月</font>--></p>
                            <span>{#$li.district_cn#}
                                <!--<i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>-->
                            </span>
                        </li>
                         <li style="width:20px;">&nbsp;</li>
                        {#/foreach#}
                        
                        
                    </ul>
                </div> 
            </div>
        </div> 
        
	</div>
    
    <div class="wid270 fr">
    	<div class="zhiwei">
        	<div class="fabu over">
            <p><font>壹打工网，海量职位，任你挑选</font>仅仅只需一步，让工作来找你。</p>
        	<a href="/user/personal/personal_resume.php?act=make1" class="geren fl"><i class="fa fa-file-text"></i>填写简历</a>
            <a href="/user/company/company_jobs.php?act=addjobs" class="qiye fr"><i class="fa fa-align-center"></i>发布职位</a>
        </div>
        <div class="newzw">
        	本周新增职位&nbsp;<span>{#$time_display#}</span>&nbsp;个
        </div>
        </div>        
       <!--调取本分站的最新招聘会 开始-->
        <div class="scene">
            <div class="hnsd">
            	<dl>
                	<dt><h3 class="fl">现场招聘会</h3></dt>
					{#qishi_jobfair_list set="列表名:jobfair,显示数目:1,标题长度:35,分页显示:1,标题长度:35,填补字符:..."#}
					{#foreach from=$jobfair item=list#} 
                    <dd><a href="{#$list.url#}&dqid={#$dqid#}"><strong>壹打工网</strong>全国巡回招聘会 <br /><font color="#606"></font></a></dd>
                    <dd><i class="fa fa-clock-o"></i>{#$list.holddates|date_format:"%Y年%m月%d日"#}</dd>
                    <dd><i class="fa fa-map-marker"></i>{#$list.address#}</dd>
                    <dd><i class="fa fa-map-marker"></i>{#$list.phone#}</dd>
					{#/foreach#}
                </dl>
                
            </div>
        </div>
    	<!--调取本分站的最新招聘会 结束-->
    	
    </div> 
</div>   
        
            

    <div class="kuang company">
    	<h2>
            <i class="fa fa-institution"></i>行业名企<span>精挑细选的行业优秀企业。</span> <a href="/hymq/" class="more" title="精挑细选的行业优秀企业">查看更多>></a>
        </h2>
         <div class="in-list">
			{#qishi_hymq_jobs_list  set="分页显示:1,列表名:jobslist,显示数目:8,填补字符:...,职位名长度:13,企业名长度:19,描述长度:65,关键字:GET[key],职位分类:GET[jobcategory],职位大类:GET[category],职位小类:GET[subclass],地区分类:GET[citycategory],地区大类:GET[district],地区小类:GET[sdistrict],行业:GET[trade],日期范围:GET[settr],工资:GET[wage],年龄:GET[age],公司规模:GET[scale],排序:id>desc"#}
        	{#foreach from=$jobslist item=list#}
         	<div class="in-list-con {#if $list.y%4 == 0 #}noma{#/if#}" title="{#$list.companyname#}">
            	<h3><a href="{#$list.jobs_url#}">{#$list.companyname#}</a></h3>
                <P>月 工 资：<span>{#$list.wage_cn#}</span></P>
                <P>接 待 站：<b class="infdk">{#$list.jiezhan#}</b></P>
                <P class="infdk infdk_t">{#$list.shortitle#}</P>
                <a href="{#$list.jobs_url#}"><img src="/data/hymq_img/{#$list.logo#}" width="220px" height="101px" /></a>
                <div class="over wdids">
                	<p class="fl"><strong>{#$list.bmrenshu#}人</strong>报名</p>
                    <a href="{#$list.jobs_url#}">去看看</a>
                </div>
                <div class="{#if $list.zp_cn == '热聘'#}hot{#/if#} {#if $list.zp_cn =='急聘'#}urgent{#/if#}"></div>
            </div>
            {#/foreach#}
       	  
         </div>
	</div> 
    <div style="clear:both;"></div>
    
    
  <!--------------中部行业名企选项卡-------------->  
<script type="text/javascript">

    $(function(){
            var timeid;
          $("#tab").find("li").each(function(index){
              var sLi=$(this);
              sLi.mouseenter(function(){
                  timeid= setTimeout(function(){
                      sLi.addClass("current").siblings().removeClass("current");
                      sLi.parent().next().find("ul:eq(" + index +")").show().siblings().hide() ;
                 },300);
              }).mouseleave(function(){
                     clearTimeout(timeid);
                      })

          })
        })
	
</script>
		<!--中部分类栏目内容-->
		<div class="kuang company">
        	<h2 class="mb10"><i class="fa fa-tasks"></i>热门招聘<span>最新的热门招聘企业。</span> <a href="zhaopin/index.html" class="more" title="热门招聘企业">查看更多>></a></h2>
            <div class="remen_list">
            	<div class="remen_listTitle"><span>机械 / 制造 生产/质管</span><a href="zhaopin/index.html" class="more">查看更多>></a></div>
                <div class="remen_job">
                	<div class="remen_jobLeft">
                    	<ul class="job_left">
                        	<li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1121">普工/操作工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1122">维修工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1124" class="display_color">电工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1125">木工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1126">钳工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1127" class="display_color">切割/焊工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1128">铂金工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1129" class="display_color">油漆工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1130">缝纫工</a></li>
                        </ul>
                        <ul class="job_right">
                        	<li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1131">锅炉工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1132" class="display_color">车工/铣工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1142">组装工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1136" class="display_color">包装工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1068.1164">质检员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1068.1163" class="display_color">品管员 </a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1135">电梯工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1137" class="display_color">手机维修 </a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1065.1067.1133" class="max_width">铲车/叉车工</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="remen_jobRight">
                        {#qishi_companyjobs_list set="列表名:company,显示数目:10,显示职位:4,职位名长度:4,企业名长度:32,职位大类:1065,排序:rtime>desc"#}<!--推荐:1-->
                        {#foreach from=$company item=list#}
                    	<dl>
                        	<dt><a href="{#$list.company_url#}" class="company_N">{#$list.companyname#}</a>({#foreach from=$list.jobs item=jobslist#}<a href="{#$jobslist.jobs_url#}" class="company_J">{#$jobslist.jobs_name#}</a>{#/foreach#})</dt>                            
                            <dd class="job_a"><span>{#$list.district_cn#}</span></dd>
                            <dd class="zhaoP_shijian">{#$list.refreshtime_cn#}</dd>
                        </dl>
                        {#/foreach#}
                    </div>
                </div>
            </div>
            
            <div class="remen_list">
            	<div class="remen_listTitle remen_listTitle02"><span>销售/电商  物流/贸易</span><a href="zhaopin/index.html" class="more">查看更多>></a></div>
                <div class="remen_job">
                	<div class="remen_jobLeft">
                    	<ul class="job_left">
                        	<li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1078.1317">销售代表</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1078.1318">销售助理</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1078.1325" class="display_color">医药代表</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1078.1326">医疗机器销售</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1078.1327">网络销售</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1080.1389" class="display_color">淘宝美工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1079.1360">客服助理</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1080.1388" class="display_color">淘宝客服</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1078.1324">汽车销售</a></li>
                        </ul>
                        <ul class="job_right">
                        	<li><a href="/jobs/jobs-list.php?key=&jobcategory=1081.1082.1420">快递员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1081.1082.1421" class="display_color">仓库管理员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1081.1085.1449">采购员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1081.1084.1436" class="display_color">营业员/店员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1081.1083.1431">货运司机</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1078.1332" class="display_color">大客户经理 </a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1078.1329">渠道专员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1079.1361" class="display_color">呼叫人员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1077.1078.1333" class="max_width">团购业务员/经理</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="remen_jobRight">
                    	{#qishi_companyjobs_list set="列表名:company,显示数目:10,显示职位:4,职位名长度:4,企业名长度:32,职位大类:1077,排序:rtime>desc"#}<!--推荐:1-->
                        {#foreach from=$company item=list#}
                    	<dl>
                        	<dt><a href="{#$list.company_url#}" class="company_N">{#$list.companyname#}</a>({#foreach from=$list.jobs item=jobslist#}<a href="{#$jobslist.jobs_url#}" class="company_J">{#$jobslist.jobs_name#}</a>{#/foreach#})</dt>                            
                            <dd class="job_a"><span>{#$list.district_cn#}</span></dd>
                            <dd class="zhaoP_shijian">{#$list.refreshtime_cn#}</dd>
                        </dl>
                        {#/foreach#}
                    </div>
                </div>
            </div>
            
            <div class="remen_list">
            	<div class="remen_listTitle remen_listTitle03"><span>餐饮/生活  /服务</span><a href="zhaopin/index.html" class="more">查看更多>></a></div>
                <div class="remen_job">
                	<div class="remen_jobLeft">
                    	<ul class="job_left">
                        	<li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1087.1455">服务员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1087.1456">送餐员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1087.1459" class="display_color">厨师</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1087.1457">传菜员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1087.1461">配菜/打荷</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1087.1462" class="display_color">洗碗工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1088.1474">清洁工/保洁</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1087.1470" class="display_color">学徒</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1087.1465">迎宾/接待</a></li>
                        </ul>
                        <ul class="job_right">
                        	<li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1088.1479">钟点工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1088.1482" class="display_color">送水工</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1089.1491">美甲师</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1089.1484" class="display_color">发型师</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1090.1498">酒店前台</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1089.1492" class="display_color">宠物美容 </a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1090.1506">导游</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1086.1090.1503" class="display_color">救生员 </a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1081.1084.1439" class="max_width">理货员/陈列员</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="remen_jobRight">
                    	{#qishi_companyjobs_list set="列表名:company,显示数目:10,显示职位:4,职位名长度:4,企业名长度:32,职位大类:1086,排序:rtime>desc"#}<!--推荐:1-->
                        {#foreach from=$company item=list#}
                    	<dl>
                        	<dt><a href="{#$list.company_url#}" class="company_N">{#$list.companyname#}</a>({#foreach from=$list.jobs item=jobslist#}<a href="{#$jobslist.jobs_url#}" class="company_J">{#$jobslist.jobs_name#}</a>{#/foreach#})</dt>                            
                            <dd class="job_a"><span>{#$list.district_cn#}</span></dd>
                            <dd class="zhaoP_shijian">{#$list.refreshtime_cn#}</dd>
                        </dl>
                        {#/foreach#}
                    </div>
                </div>
            </div>
            
            <div class="remen_list">
            	<div class="remen_listTitle remen_listTitle04"><span>房产/建筑  /物业</span><a href="zhaopin/index.html" class="more">查看更多>></a></div>
                <div class="remen_job">
                	<div class="remen_jobLeft">
                    	<ul class="job_left">
                        	<li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1282.1301">房产经纪人</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1282.1302">职业顾问</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1282.1305" class="display_color">房产客服</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1282.1306">房产内勤</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1281.1291">安防工程师</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1282.1307" class="display_color">房产评估师</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1281.1299">综合布线</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1281.1289" class="display_color">建造师</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1281.1287">土木/土建</a></li>
                        </ul>
                        <ul class="job_right">
                        	<li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1281.1292">安全员</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1281.1295" class="display_color">测绘/测量</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1281.1285">工程监理</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1281.1284" class="display_color">工程项目管理</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1283.1314">招商经理</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1281.1297" class="display_color">资料员 </a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1283.1311">物业维修</a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1281.1286" class="display_color">建筑工程师 </a></li>
                            <li><a href="/jobs/jobs-list.php?key=&jobcategory=1280.1283.1310" class="max_width">物业管理员</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="remen_jobRight">
                    	{#qishi_companyjobs_list set="列表名:company,显示数目:10,显示职位:4,职位名长度:4,企业名长度:32,职位大类:1280,排序:rtime>desc"#}<!--推荐:1-->
                        {#foreach from=$company item=list#}
                    	<dl>
                        	<dt><a href="{#$list.company_url#}" class="company_N">{#$list.companyname#}</a>({#foreach from=$list.jobs item=jobslist#}<a href="{#$jobslist.jobs_url#}" class="company_J">{#$jobslist.jobs_name#}</a>{#/foreach#})</dt>                            
                            <dd class="job_a"><span>{#$list.district_cn#}</span></dd>
                            <dd class="zhaoP_shijian">{#$list.refreshtime_cn#}</dd>
                        </dl>
                        {#/foreach#}
                    </div>
                </div>
            </div>
            <!-- 热门招聘tab --开始-->
            <script type="text/javascript">jQuery(".slideTxtBox").slide(); </script>
            <!-- 热门招聘tab --结束-->
        </div>
	  	<!--中部分类栏目内容--结束-->   
       
        
        <div class="kuang company hezuo">
           <h2 class="mb10"><i class="fa fa-file-text"></i>职场指南<span>最新鲜的职场资讯、职场攻略。</span> <a href="" class="more" title="">查看更多>></a></h2>
        	<div class="wid333 nes">
            	<h3>职场资讯栏目<a href="/news/news-list.php?id=7">更多 >></a></h3>  
                <ul>
                	<!--职场观察-->
                	{#qishi_news_list set="列表名:news,显示数目:6,标题长度:24,资讯小类:7,填补字符:...,排序:article_order>desc"#}
					{#foreach from=$news item=list#}
					<li><i class="fa fa-chevron-right"></i><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></li>
					{#/foreach#}
                	
                </ul>          	
            </div>
            <div class="wid333 nes">
            	<h3>打工面试技巧<a href="/news/news-list.php?id=4">更多 >></a></h3>  
                <ul>
                	<!--面试宝典-->
                	{#qishi_news_list set="列表名:news,显示数目:6,标题长度:24,资讯小类:4,填补字符:...,排序:article_order>desc"#}
					{#foreach from=$news item=list#}
					<li><i class="fa fa-chevron-right"></i><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></li>
					{#/foreach#}
                	
                </ul>          	
            </div>
            <div class="wid333">
            	<h3>防骗指南栏目<a href="/news/news-list.php?id=6">更多 >></a></h3>  
                <ul>
                	<!--站点活动-->
                	{#qishi_news_list set="列表名:news,显示数目:6,标题长度:24,资讯小类:6,填补字符:...,排序:article_order>desc"#}
					{#foreach from=$news item=list#}
					<li><i class="fa fa-chevron-right"></i><a href="{#$list.url#}" target="_blank">{#$list.title#}</a></li>
					{#/foreach#}
                </ul>          	
            </div>
        </div>		
        
        <div class="kuang company hezuo">
            <h2 class="mb10"><i class="fa fa-suitcase"></i>合作企业<!--<span>简略标题，日是否健康的话发。</span>--> <!--<a href="" class="more">查看更多>></a>--></h2>
            
            <div class="hsnd">
            	<div  class="bd">
                	<div id="demo"> 
                    <div id="indemo">                     
                        <ul style="width:1036px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                            {#qishi_ad set="显示数目:30,调用名称:QS_indexcentreimg,列表名:ad"#}
                            {#if $ad#}
                            {#foreach from=$ad item=list#}
                            <li> 
                                <img src="{#$list.img_path#}" border="0"  title="{#$list.img_explain#}" /> 
                                 <!-- ad end -->
                            </li>
                           
                     {#/foreach#}
                     {#/if#}
                        </ul>                     
                    </div> 
                    </div> 
                </div>                
            </div>
            
 <!--------------合作企业滚动-------------->             
<script> 
<!-- 
jQuery(".hsnd").slide({mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,scroll:5,vis:5});
--> 
</script> 

    </div>
    
    <!--底部开始-->
   {#include file="footer.htm"#}
	<!--底部结束-->
</body>
    
</html>

                                                  