{#qishi_jobfair_show set="列表名:show,招聘会ID:GET[id]"#}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta name="robots" content="noodp,noydir" />
    <meta http-equiv="Content-Language" content="zh-CN" />
   	<title>{#$show.title#} - 现场招聘会 - {#$QISHI.site_name#}</title>
	<meta name="keywords" content="苏州招聘会，{#$show.holddates|date_format:"%Y年%m月%d日"#}招聘会" />
	<meta name="description" content="{#$show.title#}，属于{#$show.industry#}类的现场招聘会。网络招聘和现场招聘同步举办。苏州招聘会于{#$show.holddates|date_format:"%Y年%m月%d日"#}在{#$show.address#}举行" />
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<meta name="author" content="壹打工网" />
    <link href="/files/css/common.css" rel="stylesheet" type="text/css" />
	<link href="/files/css/all_02.css" rel="stylesheet" type="text/css" />
    <link href="../files/css/font-awesome.min.css" rel="stylesheet" >
	<!-- //会员登录 -->
	<link rel="stylesheet" type="text/css" href="/files/zhaopin/zp_art.css" />
	<script language="javascript" type="text/javascript" src="/files/js/jquery-1.2.6.min.js"></script>
	<script src="/files/js/jquery.vtip-min.js" type="text/javascript" ></script>

<!--分站-->
<script src="/files/js/jquery.js" type="text/javascript" language="javascript"></script>
<!---->
<script type="text/javascript">
//首页登录
$.get("{#$QISHI.site_dir#}plus/ajax_user.php", {"act":"top_loginform"},
			function (data,textStatus)
			 {
				$("#top_loginform").html(data);
			 }
	);	
</script>

</head>
<body>

<!--head begin-->
{#include file="header.htm"#}
<!--head end-->

<!--nav start-->
<!--nav end-->



<div class="centercon">

	
	
	<div class="content">
		<div class="titleh"><h3>最新招聘会</h3></div>

		
		<div class="jobfair">
			<div class="barleft">
				<p class="week">{#$show.holddates|date_format:"%Y年%m月"#}&nbsp;{#$show.holddates_week#}</p>
				<p class="date">{#$show.holddates|date_format:"%d"#}<span>日</span></p>
			</div>
			
			<div class="barright">
				<p {#if $show.predetermined_ok=="1" && $show.predetermined_web=="1"#} 
	class="yd"
	{#else#}
	class="ydover"
{#/if#}><a {#if $show.predetermined_ok=="1" && $show.predetermined_web=="1"#} href="{#"QS_user,1"|qishi_url#}company_jobfair.php?act=booth&id={#$show.id#}" title="请进入企业会员中心预定展位"{#else#}title="已停止在线预定展位" href="javascript:void(null);" {#/if#}></a></p>
				
				<p class="xq"><a href="#pic"></a></p>

			</div>

			<div class="jobfairlist">
				<dl>
					<dt><h1><a href="{#$list.url#}" target="_blank">{#$show.title#}</a></h1></dt>

					<dd><span>举办日期：</span>{#$show.holddates|date_format:"%Y年%m月%d日"#}</dd>

					<dd><span>行业主题：</span>{#$show.industry#}</dd>

					<dd><span>展位数量：</span>{#$show.number#}</dd>

					<dd><span>举办地址：</span>{#$show.address#}</dd>
					<dd><span>乘车线路：</span>{#$show.bus#}</dd>
					<dd><span>联系电话：</span>{#$show.phone#}</dd>

					<dd><span>联 系 人：</span>{#$show.contact#}</dd>

					<dd><span>预定状态：</span>{#if $show.predetermined_status=="1"#}可预定展位{#else#}停止预定{#/if#}</dd>
					<dd><span>开始预定：</span>{#if $show.predetermined_start#}{#$show.predetermined_start|date_format:"%Y年%m月%d日"#}{#else#}不限制{#/if#}</dd>
					<dd><span>结束预定：</span>{#if $show.predetermined_end#}{#$show.predetermined_end|date_format:"%Y年%m月%d日"#}{#else#}不限制{#/if#}</dd>
					<dd><span>已预订：</span>{#$yiyuding#}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--<span>未预订：</span>{#$weiyuding#}--></dd>	
				</dl>
			</div>

		</div><!-- jobfair -->
		<div style="width:860px; margin:20px auto;" >
		<span style="font-size:18px;">参会企业列表：</span>
		{#foreach from=$qydata item=l#}  
		
			{#$l.title#}&nbsp;&nbsp;
			
		{#/foreach#}
		</div>
		
		<div style="width:860px; margin:20px auto;" >
		{#$show.introduction#}
		</div>

	</div><!-- content -->



</div><!--  end -->

<!-- foot start -->
{#include file="footer.htm"#}
<!-- foot end -->



</body>
</html>