{#include file="sys/admin_header.htm"#}
<script type="text/javascript" src="js/jquery.userinfotip-min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#ButAudit").QSdialog({
	DialogTitle:"请选择",
	DialogContent:"#AuditSet",
	DialogContentType:"id",
	DialogAddObj:"#OpAudit",	
	DialogAddType:"html"	
	});
	$("#Butdelay").QSdialog({
	DialogTitle:"系统提示",
	DialogContent:"#delayset",
	DialogContentType:"id",
	DialogAddObj:"#Opdelay",	
	DialogAddType:"html"	
	});
	$("#Butrecom").QSdialog({
	DialogTitle:"职位推广",
	DialogContent:"#recomSet",
	DialogContentType:"id",
	DialogAddObj:"#Oprecom",	
	DialogAddType:"html"	
	});

	//点击批量删除	
	$("#ButDlete").click(function(){
		if (confirm('你确定要删除吗？'))
		{
			$("form[name=form1]").attr("action",$("form[name=form1]").attr("action")+"&delete=true");
			$("form[name=form1]").submit()
		}
	});
	//刷新
	$("#Butrefresh").click(function(){
			$("form[name=form1]").attr("action",$("form[name=form1]").attr("action")+"&refresh=ok");
			$("form[name=form1]").submit()
	});
	
	$("#fail").click(function(){
		$("#reason").show();
	});
	$("#success").click(function(){
		$("#reason").hide();
	});
});
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
<div class="toptip">
	<h2>提示：</h2>
	<p>
有效职位是指：审核通过,有效期未到期,服务未到期,正常招聘的职位。反之为无效职位<br />
</p>
</div>


<div class="seltpye_x">
		<div class="left">发布人</div>	
		<div class="right">
			<a href="{#"utype:"|qishi_parse_url#}" {#if $smarty.get.utype==""#} class="select"{#/if#}>不限</a>
			<a href="{#"utype:1"|qishi_parse_url#}" {#if $smarty.get.utype=="1"#}class="select"{#/if#}>企业发布</a>
			<a href="{#"utype:3"|qishi_parse_url#}" {#if $smarty.get.utype=="3"#}class="select"{#/if#}>猎头顾问发布</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
<div class="seltpye_x">
		<div class="left">认证状态</div>	
		<div class="right">
			<a href="{#"audit:"|qishi_parse_url#}" {#if $smarty.get.audit==""#} class="select"{#/if#}>不限</a>
			<a href="{#"audit:1"|qishi_parse_url#}" {#if $smarty.get.audit=="1"#}class="select"{#/if#}>认证通过</a>
			<a href="{#"audit:2"|qishi_parse_url#}" {#if $smarty.get.audit=="2"#}class="select"{#/if#}>等待认证</a>
			<a href="{#"audit:3"|qishi_parse_url#}" {#if $smarty.get.audit=="3"#}class="select"{#/if#}>认证未通过</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
    <div class="seltpye_x">
		<div class="left">到期时间</div>	
		<div class="right">
	 	<a href="{#"deadline:"|qishi_parse_url#}" {#if $smarty.get.deadline ==""#}class="select"{#/if#}>不限</a>
		<a href="{#"deadline:3"|qishi_parse_url#}" {#if $smarty.get.deadline =="3"#}class="select"{#/if#}>三天内</a>
		<a href="{#"deadline:7"|qishi_parse_url#}" {#if $smarty.get.deadline =="7"#}class="select"{#/if#}>一周内</a>
		<a href="{#"deadline:30"|qishi_parse_url#}" {#if $smarty.get.deadline =="30"#}class="select"{#/if#}>一月内</a>
		<a href="{#"deadline:90"|qishi_parse_url#}" {#if $smarty.get.deadline =="90"#}class="select"{#/if#}>三月内</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
    </div>

  <div class="seltpye_x">
		<div class="left">刷新时间</div>	
		<div class="right">
	 	<a href="{#"refre:"|qishi_parse_url#}" {#if $smarty.get.refre==""#}class="select"{#/if#}>不限</a>
		<a href="{#"refre:3"|qishi_parse_url#}" {#if $smarty.get.refre=="3"#}class="select"{#/if#}>三天内</a>
		<a href="{#"refre:7"|qishi_parse_url#}" {#if $smarty.get.refre=="7"#}class="select"{#/if#}>一周内</a>
		<a href="{#"refre:30"|qishi_parse_url#}" {#if $smarty.get.refre=="30"#}class="select"{#/if#}>一月内</a>
		<a href="{#"refre:90"|qishi_parse_url#}" {#if $smarty.get.refre=="90"#}class="select"{#/if#}>三月内</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
    </div>

  <form id="form1" name="form1" method="post" action="?act=jobs_perform">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan">
    <tr>
      <td   class="admin_list_tit admin_list_first">
      <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>职位名称</label></td>
      <td  class="admin_list_tit">公司显示名</td>
      <td  class="admin_list_tit">公司备注名</td>
	  <td align="center"  width="10%" class="admin_list_tit">审核状态</td>
	  <td align="center" width="5%" class="admin_list_tit">招聘状态</td>
	  <td align="center"  width="7%" class="admin_list_tit">添加时间</td>
      <td align="center" width="7%"  class="admin_list_tit">到期时间</td>
      <td align="center" width="7%"  class="admin_list_tit">刷新时间</td>
      <td    width="100" align="center"  class="admin_list_tit">操作</td>
    </tr>
	{#foreach from=$hunterjobs item=list#}
      <tr>
      <td  class="admin_list admin_list_first">
        <input name="y_id[]" type="checkbox" id="y_id" value="{#$list.id#}"  />		
		 <a href="{#$list.jobs_url#}" target="_blank"{#if $list.deadline<$smarty.now || $list.display == "2"#}style="color:#999999"{#/if#}  >{#$list.jobs_name#}</a>	
		 {#if $list.recommend=="1"#}<span style="color: #339900" class="vtip" title='推荐职位'>[推荐]</span>{#/if#}
	  </td>
        <td class="admin_list">
		{#if $list.utype=="1"#}
			<a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a>
		{#else#}
			{#$list.companyname#}
		{#/if#}
		</td>
        <td class="admin_list">
		{#if $list.utype=="1"#}
			<a href="{#$list.company_url#}" target="_blank" >{#$list.companyname_note#}</a>
		{#else#}
			{#$list.companyname_note#}
		{#/if#}
		</td>
		 <td class="admin_list" align="center">
		{#if $list.audit == "1"#}
		<span style="color: #009900">审核通过	</span>	
		{#elseif $list.audit == "2"#}
		<span style="color:#FF0000">等待审核</span>
		{#elseif $list.audit == "3"#}
		审核未通过
		{#/if#}
		</td>
		<td class="admin_list"align="center" >
		{#if $list.display == "1"#}
		<span style="color: #009900">招聘中</span>	
		{#elseif $list.display == "2"#}
		<span style="color:#FF0000">暂停招聘</span>
		{#/if#}
		</td>
		<td class="admin_list" align="center" >
		{#$list.addtime|date_format:"%Y-%m-%d"#}
		</td>
        <td class="admin_list" align="center" >
		{#if $list.deadline>$smarty.now#}
		{#$list.deadline|date_format:"%Y-%m-%d"#}
		{#else#}
			<span style="color:#FF6600">已经过期</span>
		{#/if#}
		</td>
       <td class="admin_list" align="center" >
		{#$list.refreshtime|date_format:"%m-%d %H:%M"#}
		</td>
        
        <td class="admin_list" align="center" >	
		<a href="admin_memberslog.php?uid={#$list.uid#}">日志</a>
		&nbsp;	
		<a href="?act=edit_jobs&id={#$list.id#}">修改</a> 
		&nbsp;
		<a href="?act=management&id={#$list.uid#}"  target="_blank"  class="userinfo"  id="{#$list.uid#}">管理</a> 
		</td>
      </tr>
      {#/foreach#}   
  </table>
  <span id="OpAudit"></span>
  <span id="Opdelay"></span>
  <span id="Oprecom"></span>
  </form>
	{#if !$list#}
	<div class="admin_list_no_info">没有任何信息！</div>
	{#/if#}
	<table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
          <input name="ButAudit" type="button" class="admin_submit" id="ButAudit"    value="审核"  />
		  <input type="button" name="Butrefresh"  id="Butrefresh" value="刷新" class="admin_submit"/>
		  <input type="button" name="Butdelay"  id="Butdelay" value="延期" class="admin_submit"/>
		<input type="button" name="ButDlete"  id="ButDlete" value="删除" class="admin_submit"/>
		<input type="button" name="Butrecom"  id="Butrecom" value="职位推广" class="admin_submit"/>
		</td>
        <td width="305" align="right">
		<form id="formseh" name="formseh" method="get" action="?act=hunter_jobs">	
			<div class="seh">
			    <div class="keybox"><input name="key" type="text"   value="{#$smarty.get.key#}" /></div>
			    <div class="selbox">
					<input name="key_type_cn"  id="key_type_cn" type="text" value="{#$smarty.get.key_type_cn|default:"职位名"#}" readonly="true"/>
						<div>
								<input name="key_type" id="key_type" type="hidden" value="{#$smarty.get.key_type|default:"1"#}" />
												<div id="sehmenu" class="seh_menu">
														<ul>
														<li id="1" title="职位名">职位名</li>
														<li id="2" title="职位ID">职位ID</li>
														<li id="3" title="公司名">公司名</li>
														<li id="4" title="备注名">备注名</li>
														<li id="5" title="会员ID">会员ID</li>
														</ul>
												</div>
						</div>				
				</div>
				<div class="sbtbox">
				<input name="act" type="hidden" value="jobs" />
				<input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
				</div>
				<div class="clear"></div>
		  </div>
		  </form>
		  <script type="text/javascript">$(document).ready(function(){showmenu("#key_type_cn","#sehmenu","#key_type");});	</script>
	    </td>
      </tr>
  </table>
<div class="page link_bk">{#$page#}</div>
<div style="display:none" id="AuditSet">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="6">
    <tr>
      <td width="20" height="30">&nbsp;</td>
      <td height="30"><strong  style="color:#0066CC; font-size:14px;">将所选职位置为：</strong></td>
    </tr>
		
	      <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input name="audit" type="radio" value="1" checked="checked"  id="success" />
                      审核通过</label></td>
    </tr>
    <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input type="radio" name="audit" value="3"  id="fail"/>
                       审核未通过</label></td>
    </tr>
    <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input type="checkbox" name="pms_notice" value="1"  checked="checked"/>
					  站内信通知
                       </label></td>
    </tr>
	<tr style="display:none" id="reason">
      <td width="40" height="25" >理由：</td>
      <td>
         <textarea name="reason" id="reason" cols="40" style="font-size:12px"></textarea>            
      </td>
    </tr>
    <tr>
      <td height="25">&nbsp;</td>
      <td>
	  <input type="submit" name="set_audit" value="确定" class="admin_submit"/>
 </td>
    </tr>
  </table>
  </div>
  
  
<div style="display:none" id="delayset">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="6">
    <tr>
      <td width="20" height="30">&nbsp;</td>
      <td height="30"><strong  style="color:#0066CC; font-size:14px;">延长职位有效期：</strong></td>
    </tr>
	      <tr>
      <td width="27" height="25">&nbsp;</td>
      <td>
        <input name="days" type="text" class="input_text_150" id="days" value="1" maxlength="3"/>&nbsp;天</td>
    </tr>
 
    <tr>
      <td height="25">&nbsp;</td>
      <td>
	  <input type="submit" name="set_delay" value="确定" class="admin_submit"/>
 </td>
    </tr>
  </table>
  </div>
  <div style="display:none" id="recomSet">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="6">
	 <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input name="recommend" type="radio" value="1" checked="checked"/>
                      设置推荐</label></td>
    </tr>
    <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input type="radio" name="recommend" value="2"  />
                       取消推荐</label></td>
    </tr>

    <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input type="checkbox" name="rec_notice" value="1"  checked="checked"/>
					  站内信通知
                       </label></td>
	
    </tr>
	<tr >
      <td width="40" height="25" >说明：</td>
      <td>
         <textarea name="notice" id="notice" cols="50" style="font-size:12px"></textarea>            
      </td>
    </tr>

    <tr>
      <td height="25">&nbsp;</td>
      <td>
	  <input type="submit" name="set_recom" value="确定" class="admin_submit"/>
 </td>
    </tr>
  </table>
  </div>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>