<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<link rel="shortcut icon" href="favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="/files/css/user_personal.css" rel="stylesheet" type="text/css" />
<link href="/files/css/user_common.css" rel="stylesheet" type="text/css" />
<script src="/files/js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="/files/js/jquery.vtip-min.js" type="text/javascript" language="javascript"></script>
<script src="/files/js/jquery.dialog.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function(){
	//申请职位
	$(".app_jobs").click(function(){
	dialog("申请职位","url:/user/user_apply_jobs.php?id="+$(this).attr("id")+"&act=app","500px","auto","","");
	});	
	//收藏
	$(".add_favorites").click(function(){
	dialog("加入收藏","url:/user/user_favorites_job.php?id="+$(this).attr("id")+"&act=add","500px","auto","","");
	});
});
</script>
</head>

<body>
{#include file="user/header.htm"#}
<div class="page_location link_bk">当前位置：<a href="/">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 浏览过的职位</div>

<div class="usermain">
  <div class="leftmenu link_bk">
   {#include file="member_personal/left.htm"#}
  </div>
<div class="rightmain">
	<div class="bbox1">
	  <div class="myattention link_bk">
 	    <div class="topnav">
		 	<div class="titleH1">
			  <div class="h1-title">浏览过的职位</div>
			</div>
			<div class="navs">
				<a href="?act=my_attention&settr="{#if $smarty.get.settr==""#} class="se"{#/if#}>所有<span{#if $smarty.get.settr==""#} class="h"{#/if#}>({#$total_val#})</span></a>
			    <a href="?act=my_attention&settr=7"{#if $smarty.get.settr=="7"#} class="se"{#/if#}>最近一周<span{#if $smarty.get.settr=="7"#} class="h"{#/if#}>({#$total_seven_val#})</span></a>
			    <a href="?act=my_attention&settr=14"{#if $smarty.get.settr=="14"#} class="se"{#/if#}>最近两周<span{#if $smarty.get.settr=="14"#} class="h"{#/if#}>({#$total_fourteen_val#})</span></a>
				<div class="clear"></div>
			</div>
	  	</div> 
		<form action="?act=del_view_jobs" id="form1" name="form1" method="post">
	  		<div class="toptitle">
			    <div class="t1"><label id="chkAll">
				<input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />&nbsp;&nbsp;职位名称 </label></div>
				<div class="t2">公司名称</div>
				<div class="t3">职位状态</div>
				<div class="t4">查看时间</div>
				<div class="t5">操作</div>
				<div class="clear"></div>
			</div>
			{#if $jobs_list#}
			{#foreach from=$jobs_list item=list#}
			{#if $list.jobs_name#}
			<div class="ilist userliststyle">
			    <div class="t1"><input name="y_id[]" id="y_id" type="checkbox" value="{#$list.id#}" />&nbsp;&nbsp;{#if $list.status=="1"#}<a href="{#$list.url#}" target="_blank">{#$list.jobs_name#}</a>{#else#}{#$list.jobs_name#}{#/if#}</div>
				<div class="t2"><a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a></div>
				<div class="t3">{#$list.status_cn#}</div>
				<div class="t4">{#$list.addtime|date_format:"%Y-%m-%d"#}</div>
				<div class="t5">{#if $list.status=="1"#}<a href="javascript:void(0);" id="{#$list.jobsid#}" class="app_jobs">申请</a>&nbsp;&nbsp;<a href="javascript:void(0);" id="{#$list.jobsid#}" class="add_favorites">收藏</a>{#else#}<font color="#cccccc">申请&nbsp;&nbsp;收藏</font>{#/if#}</div>
				<div class="clear"></div>
			</div>
			{#else#}
			<div class="ilist userliststyle">
			    <div class="t1" style="width:450px;"><input name="y_id[]" id="y_id" type="checkbox" value="{#$list.id#}" />&nbsp;&nbsp;该职位可能已经被删除。</div>	
				<div class="clear"></div>
			</div>
			{#/if#}
			{#/foreach#}
			<div class="but">
			   <input type="submit" name="delete" id="submitsave" value="删除所选"  class="but100lan" />
			  </div>
			  {#if $page#}
				<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
		          <tr>
		            <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		          </tr>
		      </table>
		      {#/if#}
			  {#else#}
			<div class="emptytip">对不起！没有找到您要的信息！</div>
			{#/if#}
		</form>
		
	  </div>
	</div>
</div>
</div>
<div class="clear"></div>
 {#include file="user/footer.htm"#}
</body>
</html>
