
a{ text-decoration:none;}
.over{ overflow:hidden; clear:both; float:none;}
.fon{ font-size:16px;}
.fl{ float:left;}
.fr{ float:right;}
.kuang{ width:1040px; margin:0 auto; position:relative;}

/*------------------       index Ò³½Å       --------------------*/


.footer{ height:180px; background:#f5f5f5; width:100%; margin-top:30px; border-top:3px solid #eee;}
.footer-nav{ line-height:20px; float:right; margin-bottom:4px;}
.footer-nav a{ font-size:16px; margin-left:20px; color:#666;}
.footer-nav a:hover{ color:#606;}
.icp{ font-size:12px; color:#999; float:right;}
.zuic{ font-size:16px; color:#999; margin-top:4px; float:right;}
.copy{ margin-right:15px; margin-top:55px;}
.appewm{ margin-top:40px;}

/*------------------       index Í·²¿       --------------------*/
.header,.page_location{/*font-family: "Microsoft YaHei" ! important;*/font:14px/22px "Î¢ÈíÑÅºÚ",Arial; }

.htnav{width:150px;}
#hyzxnav{line-height: 24px; list-style-type: none; background:#666; } 
#hyzxnav a{ overflow:hidden; background:#BB00BB; display: block; border-radius:1px; padding:8px 15px; text-align:center; font-size:14px;} 
#hyzxnav span{ display: block; float:left; width:105px; font-size:16px; color:#fff; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#hyzxnav i{ display: block; float:left; margin-left:6px;}
#hyzxnav a:link { color:#eee; text-decoration:none; } 

#hyzxnav li{ position:relative;}
#hyzxnav li a{ color:#eee;} 
#hyzxnav li ul { line-height:27px; z-index:10000 !important; list-style-type: none;text-align:left; left: -999em; width:150px; position: absolute; } 
#hyzxnav li ul li{ float: left; width:150px; background: #F6F6F6; } 
#hyzxnav li ul a{ display: block; color:#eee; text-align:left; padding:4px 20px;} 
#hyzxnav li ul a:link { color:#eee; text-decoration:none; } 
#hyzxnav li ul a:visited { color:#eee;text-decoration:none; } 
#hyzxnav li ul a:hover { color:#F3F3F3;text-decoration:none;font-weight:normal; background:#606; } 
#hyzxnav li:hover ul { left: auto; } 
#hyzxnav li.sfhover ul { left: auto; } 
#content { clear: left; } 




#toubiao{ width:100%; position:relative; height:80px; overflow:hidden; border-bottom:4px solid #f60;}
#toubiao table{ overflow:hidden;}
.topb{ position:absolute; left:50%; margin-left:-960px; width:1920px; height:80px;}
.guangbi{ position:absolute; top:10px; right:20px;}
.guangbi .guanbi{font-size:16px; color:#fff; float:right; background:#d25a0a; display:block; padding:2px 10px; border-radius:2px; cursor:pointer;}



#mianfei{ height:70px; opacity: 0.9; width:100%; background:#000; position:fixed; bottom:0px; left:0px; z-index:9999;}
.fei01{ width:1040px; margin:15px auto;}
#mianfei .fei01{font-size:24px; color:#fff;}
#mianfei .fei01 span{ float:left; padding:8px 0px;}
#mianfei .fei01 .baoming{ display:block; float:left; padding:8px 10px; background:#e15a00; color:#fff; border-radius:2px; margin:0 15px;}
#mianfei .guanbi{font-size:18px; color:#999; float:right; background:#334148; display:block; padding:2px 10px; border-radius:2px; cursor:pointer; margin-top:-15px;}


.header{ height:62px; border-bottom:3px solid #bb00bb; background:#606;}
.logo{ width:255px; margin-left:-10px;} 
.didian{ margin-left:5px;}
.didian p{ font-size:14px; color:#f60; font-weight:bold; margin:8px 0 5px 0;}
.didian a{ display:block; border:1px solid #8c008c; border-radius:2px; color:#999; line-height:20px; padding:0px 5px; font-size:12px;}
.didian a:hover{ color:#fff;} 

.nav{ margin-left:30px;}
.nav li{ float:left;}
.nav li a{ display:inline-block; line-height:62px; font-size:17px; color:#eee; padding:0 10px; margin:0 1px;}
.nav li a:hover,.nav li a.yes{ background:#d82ed8; color:#fff; border-bottom:3px solid #d82ed8;}

.login li{ float:left; margin-top:20px; position:relative;}
.login li a{ color:#ccc; font-size:14px; display:block; padding:1px 6px;}
.login li a i{ font-size:18px; line-height:22px; border-left:1px solid #9d5b9d; padding:0 8px 0 12px;}
.login li:hover a{ background:#790079; border-radius:2px; color:#f60;}
.login li.mobile{ line-height:62px; margin:0px;}
.login li.mobile a{ padding-right:0px; padding-left:0px; margin-left:5px;}
.login li.mobile:hover a{ background:none;}
.app{ display:none; z-index:999; position:absolute; top:57px; width:150px; height:150px; left:-15px; background:#f5f5f5; border-radius:2px;}
.app i{ font-size:26px; color:#f5f5f5; margin-top:-10px; margin-left:65px;}
.app img{ width:130px;height:130px; padding:10px; margin-top:-16px;}
.mobile:hover .app{ display:block;  }
.mobile.active a{ color:#f60;}

.none{ display:none;}