@charset "utf-8";
/* CSS Document */
.quick_jobs{ width:1010px; margin:0 auto;}
.register_bg{ position:relative;}
.register_btn a{ width:227px; height:95px; display:block; position:absolute; left:382px; z-index:2;}

