<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=false;"  />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>高级职位列表 - {#$QISHI.site_name#}</title>
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/jobs.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.main_domain#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
<script src="js/jquery.common.js" type='text/javascript' ></script>
<script type="text/javascript">
$(document).ready(function()
{
	//打开顶部菜单
	$("#topmenu_sub").click( function () { 
		$("#topmenu").slideToggle("fast");
	});
	
	
	OpenCity("#district_input","#district_cn","#district","#sdistrict","请选择地区");
	//
	$("#key").focus(function()
	{
		var patrn=/^(请输入关键字)/i; 
		var key=$("#key").val();
		if (patrn.exec(key))
		{
		$("#key").val('');
		}
	});
	$("#clearkey").click( function () {
	 $("#key").val('');
	});
	$(".jobs_list .list").click(function(){
		window.location.href=$(this).attr("url"); 
	});
	{#if $jobs#}
	$(".more").click(function(){
		$(this).hide();
		var offset=$(".jobs_list div[class='list']").last().attr('id');
		offset=parseInt(offset.substr(3));
		$.get("{#$QISHI.wap_domain#}/plus/wap_ajax.php?act=ajaxhunterjobslist&offset="+(offset+5)+"&rows=5", function(result){
		    if(result=="-1"){
		    	$(".more").show();
		    	$(".more").html("没有更多职位了");
		    }else{
		    	$(".showlist").append(result);
		    	$(".more").show();
				$(".jobs_list .list").click(function(){
					window.location.href=$(this).attr("url"); 
				});
		    }
		    
		  });
	});
	{#/if#}
	$(".so_sub").click(function(){
		var patrn=/^(请输入关键字)/i; 
		var key=$("#key").val();
		if (patrn.exec(key))
		{
		key = "";
		}
		var district = "{#$smarty.get.district#}";
		var sdistrict = "{#$smarty.get.sdistrict#}";
		var url = "{#$QISHI.wap_domain#}/wap-hunter-jobs-list.php";
		window.location.href=url+"?key="+key+"&district="+district+"&sdistrict="+sdistrict; 
	});
});
</script>
</head>
<body>
<div class="sub_bodybg"></div>
<div class="sub_head_top">
	<div class="title">高级职位</div>
	<div class="back" id="pageback"><img src="images/18.jpg" alt="#"   border="0"/></div>  
	<div class="menu" id="topmenu_sub"><a href="javascript:void(0);"><img src="images/2.jpg"  border="0"/></a></div>
</div>

<!--快捷按钮 -->
{#include file="top-menu.html"#}
<!--快捷按钮 -->
<!--关键字搜索 -->
<div class="jobs_so">
	<input name="key" type="text"  id="key"  class="keyinput" value="{#if $smarty.get.key==""#}请输入关键字{#else#}{#$smarty.get.key#}{#/if#}"/>
	<div class="clearkey" id="clearkey"><img src="images/17.jpg"  border="0"/></div>
    <div class="so_sub"><img src="images/19.jpg"  border="0"/></div>
</div>
<!--更多搜索条件 -->
<div class="jobs_so_menu">
  <div class="menulistbox">职位</div>
  <div class="menulistbox">地区</div>
  <div class="menulistbox">更多</div>
  <div class="menulistbox last">排序</div>
  <div class="clear"></div>
</div>

<div class="jobs_list">
<div class="showlist">
{#foreach from=$jobs item=list#}
	<div class="list" id="li-0" url="{#$list.url#}">
	  <div class="t1"><span><a href="{#$list.url#}">{#$list.jobs_name#}</a></span><br />
{#$list.companyname#}</div>
	  <div class="t2">{#$list.district_cn#}<br />{#$list.wage_cn#}</div>
	  <div class="t3"><img src="images/14.jpg"  border="0"/></div>
	  <div class="clear"></div>
	</div>
{#/foreach#}
</div>	
{#if $jobs#}
    <div class="more link_bk"><a href="javascript:void(0);">更多职位...</a></div>	
{#else#}
    <div class="more link_bk">没有更多职位了</div>	
{#/if#}
</div>
{#include file="wap/footer.htm"#}
</body>
</html>
