<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<title>{#$title#}</title>
<link rel="shortcut icon" href="{#$QISHI.main_domain#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/user_company.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
</head>
<body>
{#include file="user/header.htm"#}

<div class="page_location link_bk">当前位置：<a href="{#$QISHI.main_domain#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 职位模板管理</div>
<div class="usermain">
  <div class="leftmenu  com link_bk">
  	 {#include file="member_company/left.htm"#}
  </div>
  <div class="rightmain">
  
	<div class="bbox1 my_account link_bk jobs">
  		<div class="title_h1 intrgration">职位管理</div>

  		<div class="balance">
  			<div class="bal_text">把常用的职位保存为模版，发布新职位时会减少大量重复输入工作</div>
  		</div>
  		<div class="data resume">
  			{#if $jobs_templates#}
  			<form id="form1" name="form1" method="post" action="?act=del_jobs_templates">
		  	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall">
		  		<tbody>
		  			<tr bgcolor="#F5F5F5" align="left">
		  				<th width="175" class="left"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" /> 模板名称</th>
		  				<th width="138">学历要求</th>
		  				<th width="128">工作经验</th>
		  				<th width="101">修改日期</th>
		  				<th width="106">操作</th>
		  			</tr>
		  			{#foreach  from=$jobs_templates item=list#}
		  			<tr class="data_content">
		  				<td width="175" class="left"><input name="y_id[]" type="checkbox" id="y_id"   value="{#$list.id#}"/>{#$list.title#}</td>
		  				<td width="138">{#$list.education_cn#}</td>
		  				<td width="128">{#$list.experience_cn#}</td>
		  				<td width="101">{#$list.addtime|date_format:"%Y-%m-%d"#}</td>
		  				<td width="106"><a href="?act=edit_templates&id={#$list.id#}">修改</a>&nbsp;&nbsp;<a href="?act=del_jobs_templates&y_id={#$list.id#}">删除</a></td>
		  			</tr>
		  			{#/foreach#}
		  		</tbody>
		  	</table>
		  	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall">
		  		<tbody>
		  			<tr>
		  				<td width="100" class="left"><input type="button" id="add" name="add" onclick="javascript:window.location.href='?act=add_templates'" value="新增" class="but95_35lan"/></td>
		  				<td width="100"><input type="submit" name="delete" value="删除" class="but95_35lan"/></td>
		  				<td width="400"></td>
		  			</tr>
		  		</tbody>
		  	</table>
		  </form>
			{#if $page#}
				<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
		          <tr>
		            <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		          </tr>
		      </table>
		      {#/if#}
			{#else#}
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall">
		  		<tbody>
		  			<tr bgcolor="#F5F5F5" align="left">
		  				<th width="175" class="left"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" /> 模板名称</th>
		  				<th width="138">学历要求</th>
		  				<th width="128">工作经验</th>
		  				<th width="101">修改日期</th>
		  				<th width="106">操作</th>
		  			</tr>
		  		</tbody>
		  	</table>
			<div class="emptytip">没有找到对应的信息！</div>
		  	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableall">
		  		<tbody>
		  			<tr>
		  				<td width="100" class="left"><input type="button" id="add" name="add" onclick="javascript:window.location.href='?act=add_templates'" value="新增" class="but95_35lan"/></td>
		  			</tr>
		  		</tbody>
		  	</table>
			{#/if#}
		  </div>
	</div>
			
  </div>
  </div>
  <div class="clear"></div>
</div>
{#include file="user/footer.htm"#}
</body>
</html>