*{margin: 0;padding: 0;border: none;}
a{text-decoration: none;color: #45b29b;font-family: "Microsoft YaHei";}
li{list-style: none;}

body{background: #81c5f2;font: 14px/24px "Microsoft YaHei";color: #45b29b;}

.lm_main{width: 1100px;margin: 0 auto;}
.left{float: left;}
.right{float: right;}

.top{
	background: url(./images/top_bg.jpg) no-repeat center;
	width: 100%;
	height: 537px;
}

.top .top_bottom{
	margin-left: 90px;
}

.top .top_bottom a{
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0px 3px 0px 0px #4598e6;
	position: relative;
	top: -100px;
	display: inline-block;
	color: #035187;
	font-size: 16px;
	float: left;
	margin-right: 20px;
	text-align: center;
	line-height: 40px;
  	width: 146px;
  	height: 40px;
}

.yinzi{
	background: #fff;
	border-radius: 4px;
	width: 1100px;
	height: 130px;
	margin-bottom: 20px;
	margin-top: -200px;
	color: #45b29b;
	clear: both;
	overflow: hidden;
	zoom: 1;
}

.yinzi .right{
	display: inline-block;
	width: 860px;
	height: 90px;
	margin-top: 20px;
	margin-right: 20px;
}

.ft_main{
	background: url(./images/ft_main.jpg) no-repeat bottom;
	margin-bottom: -30px;
	overflow: hidden;
	clear: both;
	zoom: 1;
}

.box{background: #d9eefb;width: 1100px;border-radius: 4px;margin: 0 auto;margin-bottom: 20px;overflow: hidden;zoom: 1;clear: both;}
.box .title{background: url(./images/title.png) no-repeat left top;width: 240px;height: 50px;color: #fff;line-height: 50px;text-align: center;font-weight: bold;font-size: 24px;}
.box li{
	padding: 20px;
	border-bottom: #81c5f2 1px dashed;
	overflow: hidden;
	zoom: 1;
}
.box li h1,.jieyu h1{background: url(./images/wenda.png) no-repeat left 6px; padding-left: 40px;font-weight: bold;color: #666;font-size: 18px;margin-bottom: 10px;  line-height: 30px;}
.box li h2,.jieyu h2{background: url(./images/wenda.png) no-repeat left -126px;color: #009893;padding-left: 40px;font-size: 18px;margin-bottom: 10px;line-height: 30px;}
.box li span{
	display: inline-block;
	background: url(./images/yixiaobian.png) no-repeat;
	width: 850px;
	height: 70px;
	color: #666;
	padding: 20px;
	padding-top: 10px;
	padding-left: 150px;
	padding-right: 20px;
	margin: 0 auto;
}


.jieyu{width: 1100px;padding: 10px 0;background: #57b8b5;border-radius: 4px;color: #fff;margin: 0 auto;margin-bottom: 20px;}
.jieyu .title{font-size: 24px;padding-left: 10px;line-height: 40px;}
.jieyu_con{
	background: #fff;
	width: 1040px;
	padding: 20px;
	margin: 0 auto;
	border-bottom: #81c5f2 1px dashed;
	overflow: hidden;
	zoom: 1;
}

#goto-top {
		display:none;
		position:fixed;
		width:38px;
		height:36px;
		background:url(images/goto-top.png) no-repeat 0 0;
		bottom:40px;
		right:40px;
		-webkit-transition:all 0.2s;
		-moz-transition:all 0.2s;
		-o-transition:all 0.2s;
		transition:all 0.2s;
		z-index:9999;
	}
	#goto-top:hover {
		background:url(images/goto-top.png) no-repeat 0 -36px;
	}




.footer{margin-top:0;}
.app img{margin-top: -62px;}


