{#include file="qiye/admin_header.htm"#}
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit" align="center">欢迎登陆 {#$QISHI.site_name#} 管理中心！</div>
  <div class="clear"></div>
</div>
<span id="version"></span>

<!--<div style="width:320px;margin:0px auto;">
<a href="admin_company.php" style="color:#900; text-decoration:none; float:left; margin:10px;"  target="mainFrame"><h2>职位列表</h2></a>
<a href="admin_company.php?members_list" style="color:#900; text-decoration:none;float:left;margin:10px;"  target="mainFrame"><h2>企业会员</h2></a>
<a href="admin_hymq.php" style="color:#900; text-decoration:none;float:left;margin:10px;"  target="mainFrame"><h2>行业名企</h2></a>
</div>
<div style="clear:both;"></div>-->
</div>

{#include file="qiye/admin_footer.htm"#}
</body>
</html>