<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
{#qishi_pageinfo set="列表名:page,调用:QS_simpleresumelist"#}
<title>{#$page.title#}</title>
<meta name="description" content="{#$page.description#}">
<meta name="keywords" content="{#$page.keywords#}">
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link rel="shortcut icon" href="favicon.ico" />
<link href="/files/css/common.css" rel="stylesheet" type="text/css" />
<link href="/files/css/simple.css" rel="stylesheet" type="text/css" />
<link href="/files/css/jobs.css" rel="stylesheet" type="text/css" />
<script src="/files/js/jquery.js" type='text/javascript' ></script>
<script src="/files/js/jquery.dialog.js" type="text/javascript" language="javascript"></script>
<script src="/data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
<script src="/files/js/jquery.validate.min.js" type='text/javascript'></script>
<script src="/files/js/jquery.simple.js" type='text/javascript'></script>
<script src="/files/js/jquery.hoverDelay.js" type='text/javascript'></script>
<script type="text/javascript">
$(document).ready(function(){
	var getstr = "{#$smarty.get.citycategory#}";
		allaround('{#$QISHI.site_dir#}',getstr);
		// 显示地区
		$("#jobsCity").hoverDelay({
		    hoverEvent: function(){
		        $("#divCityCate").show();
		        var dx = $("#divCityCate").offset().left; // 获取弹出框的x坐标
		        var dwidth = $("#divCityCate").outerWidth(true); // 获取弹出框的宽度
		        var lastx = dx + dwidth; // 加上弹出框的宽度获取弹出框最右边的x坐标
	 			$("#divCityCate li").each(function(index, el) {
	 				var that = $(this);
	 				var sx = that.offset().left; // 获取当前li的x坐标
	 				that.hoverDelay({
					    hoverEvent: function(){
					        if(that.find('.subcate').length > 0) {
			 					that.addClass('selected');
			 					var tharsub = that.find('.subcate');
			 					var thap = that.find('p');
			 					thap.css("border-bottom","0px");
			 					var swidth = tharsub.outerWidth(true); // 获取三级弹出框的宽度
			 					if((lastx - sx) < swidth) { // 判断li与弹出框最右边的距离是否大于三级弹出框的宽度
			 						tharsub.css("left",-265); // 如果小于就改变三级弹出框x方向的位置
			 					}
			 					tharsub.show();
			 				} else {
			 					that.find('a').css("color","#f77d40");
			 				}
					    },
					    outEvent: function(){
			                if(that.find('.subcate').length > 0) {
				 				that.removeClass('selected');
				 				that.find('.subcate').hide();
			 				} else {
			 					that.find('a').css("color","#0180cf");
			 				}    
			            }
					});
	 			});
		    },
		    outEvent: function(){
                $("#divCityCate").hide(); 
            }
		});
	$(".delsimple").click(function(){
	var url="/plus/ajax_simple_resume.php?act=delsimple&id="+$(this).attr("id");
	dialog("删除信息","url:"+url,"500px","auto","","");				
	});
	$(".refreshsimple").click(function(){
	var url="/plus/ajax_simple_resume.php?act=refreshsimple&id="+$(this).attr("id");
	dialog("刷新信息","url:"+url,"500px","auto","","");				
	});	
	$(".editsimple").click(function(){
	var url="/plus/ajax_simple_resume.php?act=editsimple&id="+$(this).attr("id");
	dialog("编辑信息","url:"+url,"600px","auto","","");				
	});	
	$("#add").click(function(){
	var url="/plus/ajax_simple_resume.php?act=add&subsite_id={#$smarty.get.subsite_id#}";
	dialog("发布微简历","url:"+url,"600px","auto","","");				
	});	
	$(".show_tel").click(function(){
		var tel=$(this);
		$.get("/plus/ajax_simple_resume.php?act=get_simple_tel&id="+$(this).attr("id"),function(result){
			tel.parent("li").html(result);
		});
	});
	$(".show_detailed").live("click",function(){
		var detailed=$(this);
		$.get("/plus/ajax_simple_resume.php?act=get_simple_detailed&id="+$(this).attr("id"),function(result){
			detailed.parent("p").html(result);
		});
	});
	$(".hidden_detailed").live("click",function(){
		var detailed=$(this);
		$.get("/plus/ajax_simple_resume.php?act=hidden_simple_detailed&id="+$(this).attr("id"),function(result){
			detailed.parent("p").html(result);
		});
	});
	$("#simple_form_search .simpleso").click(function()
	{
	simple_search_location(2);
	});
	function simple_search_location(keytype)
	{
		$("body").append('<div id="pageloadingbox">页面加载中....</div><div id="pageloadingbg"></div>');
		$("#pageloadingbg").css("opacity", 0.5);
		$.get("/plus/ajax_search_location.php", {"act":"QS_simpleresumelist","key":$("#simple_form_search #searckey").val(),"keytype":keytype,"citycategory":$("#district_id").val()},
				function (data,textStatus)
				 {
					 window.location.href=data;
				 }
			);
	}
	var optstr = '{#$smarty.get.citycategory#}';
	if(optstr) {
		var citystrarray = optstr.split("|");
		var pgsnameArr = new Array();
		var pgsname = '';
		var cityopthtm = '';
		$.each(citystrarray, function(index, val) {
			 var citystr = val.split('.');
			 var pname = '';
			 $.each(QS_city_parent, function(vindex, valv) {
			 	 var vid = valv.split(",");
			 	 if(citystr[0] == vid[0]) {
			 	 	pname = vid[1];
			 	 }
			 });
			 var gname = '';
			 var gns = QS_city[citystr[0]].split("|");
			 $.each(gns, function(gindex, galv) {
			 	 var gvid = galv.split(",");
			 	 if(citystr[1] == gvid[0]) {
			 	 	gname = gvid[1];
			 	 }
			 });
			 pgsname += pname + "/" + gname; 
			 cityopthtm += '<a href="javascript:;" class="sx-yx-cnt" id="checked_value_'+citystr[1]+'" gname="'+pgsname+'" gid="'+val+'"><span rel="'+citystr[1]+'">'+gname+'</span><i class="del cls_checked_del" rel="'+citystr[1]+'" id="checked_value_del_'+citystr[1]+'"></i></a>';
			 if(QS_city[citystr[1]]) {
			 	var sname = '';
			 	var sns = QS_city[citystr[1]].split("|");
				 $.each(sns, function(sindex, salv) {
				 	 var svid = salv.split(",");
				 	 if(citystr[2] == svid[0]) {
				 	 	sname = svid[1];
				 	 }
				 });
				 pgsname += "/" + sname;
				 cityopthtm += '<a href="javascript:;" class="sx-yx-cnt" id="checked_value_'+citystr[2]+'" gname="'+pgsname+'" gid="'+val+'"><span lid="'+citystr[1]+'" rel="'+citystr[2]+'">'+sname+'</span><i class="del cls_checked_del" rel="'+citystr[2]+'" id="checked_value_del_'+citystr[2]+'"></i></a>';
			 }
			 pgsnameArr.push(pgsname);
		});
		$("#jobsCity").find("span").html(pgsnameArr.join(","));
		$("#box_checkedDistrict").html(cityopthtm);
		chechkcli("#box_checkedDistrict","#sx-nomalDistrict");
	}
});
$(function(){
	$("input[type='button']").hover(function(){
		$(this).addClass("hover");
	},function(){
		$(this).removeClass("hover");
	})
})
</script>
</head>
<body>
{#include file="header.htm"#}
	<!-- 当前位置 -->
	<div class="page_location link_bk">
		当前位置：<a href="/">首页</a>>微商圈
	</div>
	<!-- 主体内容 -->
	<div class="container link_bk">
		<div class="rec_banner resume">
		</div>
		<div class="wei_left">
			<div class="wei_tit">
				<a href="{#"QS_simplelist"|qishi_url#}">微招聘</a>
				<a href="{#"QS_simpleresumelist"|qishi_url#}" class="select">微简历</a>
				<div class="clear"></div>
			</div>
			<div class="sreach jobmain" id="simple_form_search">
				<div class="box" id="jobsCity">
					<div class="itemT">
						<span id="cityText">请选择地区分类</span><i></i>
					</div>
					<div style="display:none;" id="divCityCate" class="divJobCate">
						<table class="jobcatebox citycatebox">
							<div class="acquired">
								<div class="l">已选</div>
								<div class="c" id="cityAcq"></div>
								<div class="r">
									<div class="empty" id="cityEmpty"></div>
									<div class="sure" id="citySure">确定</div>
									<div class="container" id="citydropcontent">
										<div class="content">您的选择已达上限（5项）<br>请点击“确定”，或移除部分选项</div>
										<s><e></e></s>
									</div>
								</div>
							</div>
							<tbody></tbody> 
						</table>
					</div>
					<input id="district_id" type="hidden" value="{#$smarty.get.citycategory#}" name="district_id">
					<input id="district_cn" type="hidden" value="" name="district_cn"/>
				</div>
				<div class="keybox">
			 		<input type="text" id="searckey" name="key" value="{#$smarty.get.key|default:请输入关键字#}" />
			 	</div>
				<input type="button" value="搜索" class="but100lan simpleso" />
			</div>
			{#qishi_simple_resume_list  set="分页显示:1,列表名:simpleresumelist,显示数目:15,填补字符:...,姓名长度:12,描述长度:40,关键字:GET[key],关键字类型:GET[keytype],地区分类:GET[citycategory],排序:refreshtime>desc"#}
			{#if $simpleresumelist#}
			<div class="wei_list">
				<ul>
					{#foreach from=$simpleresumelist item=li#}
					<li class="wei_l_content">
						<h4><a>{#$li.category#}</a></h4>
						<div class="date">{#$li.refreshtime_cn#}</div>
						<ul>
							<li>{#$li.uname#}/{#if $li.sex=="1"#}男{#else#}女{#/if#}/{#$li.age#}</li>
							<li>工作经验：{#$li.experience_cn#}</li>
							<li>有效期截至：{#if $li.deadline=="0"#}长期有效{#else#}{#$li.deadline|date_format:"%Y-%m-%d"#}{#/if#}</li>
							<li class="tel">联系方式：<a href="javascript:void(0);" class="show_tel" id="{#$li.id#}">[点击查看]</a></li>
							<div class="clear"></div>
						</ul>
						<div class="clear"></div>
						<p>自我描述：{#$li.detailed#}{#if $li.show_detail#}<a href="javascript:void(0);" class="show_detailed" id="{#$li.id#}">[展开]</a>{#/if#}</p>
						<div class="add">地址：{#$li.district_cn#}{#if $li.district_cn#}-{#$li.sdistrict_cn#}{#/if#}</div>
						<div class="edit"><a href="javascript:void(0)" class="refreshsimple" id="{#$li.id#}">刷新</a>| <a href="javascript:void(0)" class="editsimple" id="{#$li.id#}">编辑</a> | <a href="javascript:void(0)" class="delsimple" id="{#$li.id#}">删除</a></div>
						<div class="clear"></div>
					</li>
					{#/foreach#}
					{#if $page#}
						<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
				          <tr>
				            <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
				          </tr>
				      	</table>
				    {#/if#}
				</ul>
			</div>
			{#else#}
			<div class="wei_list" style="padding-top: 40px;">
				<ul>	
					<div class="emptytip">抱歉，没有符合此条件的信息！</div>
				</ul>
			</div>
			{#/if#}
		</div>
		<div class="wei_right">
			<input type="button" value="发布微简历" class="but218cheng" id="add"/>
			<p>
				为了让寻找普工类工作的求职者同样可以享受到网络招聘带来的便捷服务，我们特开通了微简历通道，无需注册，仅登记简单信息就可以找到合适的职位哦！
			</p>
			<p>
				如果您不是普工类用户，我们建议您<a href="{#"QS_login"|qishi_url#}">【注册】</a>成为个人会员，仅需几秒钟您就可以享受更加完善的网络招聘服务。
			</p>
		</div>
		<div class="clear"></div>
	</div>
	
	<!-- 主体内容 结束 -->
	{#include file="footer.htm"#}
</body>
</html>