{#qishi_company_news_show set="列表名:show,新闻ID:GET[id]"#}{#qishi_company_show set="列表名:company,企业ID:"|cat:$show.company_id#}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<title>{#$show.title#} - {#$company.companyname#} - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$show.keywords#}}，企业新闻,{#$company.companyname#}">
<meta name="keywords" content="{#$show.description#}，企业新闻,{#$company.companyname#}">
<link rel="shortcut icon" href="favicon.ico" />
<link href="/files/css/common.css" rel="stylesheet" type="text/css" />
<link href="/files/tpl_company/css/css.css" rel="stylesheet" type="text/css" />
<script src="/files/js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="/files/js/jquery.dialog.js" type="text/javascript" language="javascript"></script>
<script src="http://api.map.baidu.com/api?v=1.2" type="text/javascript"></script>
<SCRIPT TYPE="text/javascript">
$(document).ready(function(){
	$(".check_full_map").click(function(){
		var map_x = $(this).attr("map_x");
		var map_y = $(this).attr("map_y"); 
		var map_zoom = $(this).attr("map_zoom"); 
		var companyname = $(this).attr("companyname"); 
		var address = $(this).attr("address"); 
		dialog("完整地图","url:{#$QISHI.website_dir#}plus/ajax_com_map.php?act=company_map&map_x="+map_x+"&map_y="+map_y+"&map_zoom="+map_zoom+"&companyname="+companyname+"&address="+address,"660px","auto","","");
	});
	var company_id="{#$company.id#}";
	var tsTimeStamp= new Date().getTime();
	$.get("{#$QISHI.website_dir#}plus/ajax_contact.php", { "id": company_id,"time":tsTimeStamp,"act":"company_contact"},
		function (data,textStatus)
		 {			
			$("#company_contact").html(data);
		 }
	);
	var id="{#$smarty.get.id#}";
		var tsTimeStamp= new Date().getTime();
		$.get("{#$QISHI.website_dir#}plus/ajax_click.php", { "id": id,"time":tsTimeStamp,"act":"company_news_click"},
			function (data,textStatus)
			 {			
				$("#click").html(data);
			 }
		);
});
</SCRIPT>
</head>
<body>
{#include file="header.htm"#}
	<!-- 当前位置 -->
	<div class="page_location link_bk">
		当前位置：<a href="/">首页</a>><a href="{#"QS_jobs"|qishi_url#}">招聘信息</a>>{#$company.companyname#}
	</div>
	<!-- 主体内容 -->
	<div class="container link_bk">
		<div class="left_area">
			<div class="com_title">
				<div class="logo_img"><img src="{#$company.logo#}" width="200" height="70" /></div>
				<div class="title_txt">
					<h2>{#$company.companyname#}
					{#if $company.audit=="1"#}
						<img title="企业已认证" src="/files/images/yesyan.jpg" border="0" />
					{#else#}
						<img title="企业未认证" src="/files/images/noyan.jpg" border="0" />
					{#/if#}
					</h2>
					<p>{#$company.address#}</p>
				</div>
				<div class="clear"></div>
			</div>
			{#qishi_company_img_list set="列表名:img,企业ID:GET[id]"#}
			{#if $img#}
			<div class="carousel">
				<div class="swipe" id="slider">
					<div class="swipe-wrap">
						{#foreach from=$img item=li#}
						<div>
							<ul class="car_img">
								{#section name=sub_li loop=$li.group#}
								<li {#if $smarty.section.sub_li.index==2#}class="last"{#/if#}><a target="_blank" href="{#$QISHI.site_dir#}data/companyimg/original/{#$li.group[sub_li].img#}"><img width="180" height="119" src="{#$QISHI.site_dir#}data/companyimg/thumb/{#$li.group[sub_li].img#}" alt=""></a></li>
								{#/section#}
							</ul>
						</div>
						{#/foreach#}
					</div>
				</div>
				<div class="slider-control">
  					<button class="left" onclick="mySwipe.prev()"></button>
  					<button class="right" onclick="mySwipe.next()"></button>
  				</div>
			</div>
			{#/if#}
			<div class="com_info">
				<div class="com_nav">
					<ul>
						<li><a href="{#"QS_companyshow,id:"|cat:$company.id|qishi_url#}">公司介绍</a></li>
						<li><a href="{#"QS_companyjobs,id:"|cat:$company.id|qishi_url#}">招聘职位</a></li>
						<li class="active"><a href="{#"QS_companynews,id:"|cat:$company.id|qishi_url#}">新闻动态</a></li>
						<li><a href="{#"QS_companycomment,id:"|cat:$company.id|qishi_url#}">评论</a></li>
						<div class="clear"></div>
					</ul>
				</div>

				<div class="com_container">
					<div class="news_dateil">
						<div class="title">{#$show.title#}</div>
						<div class="w260">{#$show.addtime|date_format:"%Y-%m-%d %H:%M:%S"#}</div>
						<div class="w260">查看：<span id="click"></span>次</div>
						<div class="retrun"><a href="{#"QS_companynews,id:"|cat:$show.company_id|qishi_url#}">返回新闻列表</a></div>
						<div class="clear"></div>
					</div>
					<div class="news_txt">
						<p>{#$show.content|nl2br#}</p>
						<div class="share">
							<!-- Baidu Button BEGIN -->
						    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
						        <a class="bds_qzone"></a>
						        <a class="bds_tsina"></a>
						        <a class="bds_tqq"></a>
						        <a class="bds_renren"></a>
						        <span class="bds_more">更多</span>
						    </div>
						<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=659075" ></script>
						<script type="text/javascript" id="bdshell_js"></script>
						<script type="text/javascript">
							document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
						</script>
						<div class="clear"></div>	
						<!-- Baidu Button END -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 右边内容 -->
		<div class="right_area">
			
			<div class="right_box">
				<div class="title_box">
					<h5>企业名片</h5>
				</div>
				<div class="list">
					<ul>
						<li>公司性质：{#$company.nature_cn#}</li>
						<li>所属行业：{#$company.trade_cn#}</li>
						<li>公司规模：{#$company.scale_cn#}</li>
						<li>所在地区：{#$company.district_cn#}</li>
						{#if $company.website#}
						<li>公司网站：<a target="_blank" href="{#$company.website#}">{#$company.website#}</a></li>
						{#/if#}
					</ul>
				</div>
			</div>
			{#if $company.map_open=="1" && $company.map_x && $company.map_y#}
			<div class="right_box">
				<div class="title_box">
					<h5>公司地址</h5>
				</div>
				<div class="list">
					<div class="map">
						{#if $company.address#}
						<p>{#$company.address#}</p>
						{#/if#}
						
						  <div style="width:100%;height:200px;border:1px #CCCCCC solid; margin:0 auto;" id="map"></div>
							<script type="text/javascript">
							var map = new BMap.Map("map");   
							var point = new BMap.Point({#$company.map_x#}, {#$company.map_y#});   
							map.centerAndZoom(point, {#$company.map_zoom#});
							var opts = {type: BMAP_NAVIGATION_CONTROL_SMALL,anchor: BMAP_ANCHOR_TOP_RIGHT}
							map.addControl(new BMap.NavigationControl(opts)); //添加鱼骨
							//map.enableScrollWheelZoom();//启用滚轮放大缩小，默认禁用。
							// 创建标注
							var qs_marker = new BMap.Marker(point);           
							map.addOverlay(qs_marker); 
							// 创建标注 
							// 打开信息窗口 
							var opts = {   
							  width : 150,     // 信息窗口宽度   
							  height: 50,     // 信息窗口高度   
							  title : "{#$company.companyname#}"  // 信息窗口标题   
							}   
							var infoWindow = new BMap.InfoWindow("{#$company.address#}", opts);  // 创建信息窗口对象   
							map.openInfoWindow(infoWindow, point);
							// 打开信息窗口  			
							</script>
						<p class="full_map"><a href="javascript:void(0);" class="check_full_map" map_x="{#$company.map_x#}" map_y="{#$company.map_y#}" map_zoom="{#$company.map_zoom#}" companyname="{#$company.companyname#}" address="{#$company.address#}">查看完整地图</a></p>
					</div>
					
				</div>
			</div>
			{#/if#}
			<div class="right_box">
				<div class="title_box">
					<h5>联系方式</h5>
				</div>
				<div class="list" id="company_contact">
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!-- 主体内容 结束 -->
<script src="/files/js/swipe.js"></script>
<script>
	window.mySwipe = Swipe(document.getElementById('slider'), {
		auto:3000,
		speed:400,
		continuous: true
	});
</script>
{#include file="footer.htm"#}
</body>
</html>