{#include file="sys/admin_header.htm"#}
<script type="text/javascript" src="js/jquery.userinfotip-min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
	//点击批量取消	
	$("#ButDelOrder").click(function(){
		if (confirm('你确定要取消吗？'))
		{
			$("form[name=form1]").submit()
		}
	});
 	
	//评论审核
	$("#ButAudit").QSdialog({
	DialogTitle:"请选择",
	DialogContent:"#AuditSet",
	DialogContentType:"id",
	DialogAddObj:"#Opaudit",	
	DialogAddType:"html"	
	});
	//评论审核
	$("#set_audit").click(function(){
			$("form[name=form1]").attr("action","?act=comment_audit");
			$("form[name=form1]").submit()
	});
});
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>
		{#if $QISHI.open_commentaudit=="1"#} 
    <div class="seltpye_x">
		<div class="left">审核状态</div>	
		<div class="right">
		<a href="{#"audit:"|qishi_parse_url#}" {#if $smarty.get.audit==""#}class="select"{#/if#}>不限</a>
		<a href="{#"audit:1"|qishi_parse_url#}" {#if $smarty.get.audit=="1"#}class="select"{#/if#}>审核通过</a>
		<a href="{#"audit:3"|qishi_parse_url#}" {#if $smarty.get.audit=="3"#}class="select"{#/if#}>等待通过</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
		{#/if#}
  <form id="form1" name="form1" method="post" action="?act=comment_del">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="0" cellspacing="0"  id="list" class="link_lan">
    <tr>
      <td  width="20%" class="admin_list_tit admin_list_first">
	   <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>公司名称</label></td>
      <td width="150" class="admin_list_tit">评论用户</td>           
      <td width="150" class="admin_list_tit">评论时间</td>   
	   	{#if $QISHI.open_commentaudit=="1"#} <td width="150" class="admin_list_tit">审核状态</td>{#else#}{#/if#}
	  <td class="admin_list_tit">评论内容</td>
	  </tr>
		
	{#foreach from=$clist item=list#}
      <tr>
      <td class="admin_list admin_list_first">	 
	   <input name="id[]" type="checkbox" id="y_id" value="{#$list.id#}"  />
	   	{#if $list.companyname#}{#$list.companyname#}{#else#}企业不显示或已删除{#/if#}
	 </td>
        <td class="admin_list">
		{#if $list.username#}
		{#$list.username#} <span style="color: #CCCCCC; padding-left:10px;">[uid:{#$list.uid#}]</span>	
		{#else#}
		用户信息已删除
		{#/if#}
		</td>        
        <td class="admin_list">
		{#$list.addtime|date_format:"%Y-%m-%d %H:%M"#}		</td>     
		{#if $QISHI.open_commentaudit=="1"#} 
		<td class="admin_list">
			{#if $list.audit == "1"#}
			<span style="color: #009900">审核通过	</span>	
			{#elseif $list.audit == "3"#}
			<span style="color:#FF0000">待审核	</span>	
			{#/if#}
		</td>     
		{#else#}{#/if#}
		<td class="admin_list vtip" title=' {#$list.username#}说：<br />{#$list.content#}'>
		{#$list.content_#}
		 </td>   
	  </tr>
      {#/foreach#}
  </table>
  <span id="Opaudit"></span>
	{#if !$clist#}
	<div class="admin_list_no_info">没有任何信息！</div>
	{#/if#}
  </form>
	<table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
          <input name="ButAudit" width="100" type="button" class="admin_submit" id="ButDelOrder"  value="删除"  />
				
		{#if $QISHI.open_commentaudit=="1"#} 
          <input name="ButAudit" type="button"  width="100"  class="admin_submit" id="ButAudit"  value="审核"  />
		{#/if#}
		</td>
        <td width="305" align="right">
		<form id="formseh" name="formseh" method="get" action="?">	
			<div class="seh">
			    <div class="keybox"><input name="key" type="text"   value="{#$smarty.get.key#}" /></div>
			    <div class="selbox">
					<input name="key_type_cn"  id="key_type_cn" type="text" value="{#$smarty.get.key_type_cn|default:"用户名"#}" readonly="true"/>
						<div>
								<input name="key_type" id="key_type" type="hidden" value="{#$smarty.get.key_type|default:"1"#}" />
												<div id="sehmenu" class="seh_menu">
														<ul>
														<li id="1" title="用户名">用户名</li>
														<li id="2" title="内容">内容</li>
														<li id="3" title="uid">uid</li>
														<li id="5" title="公司id">公司id</li>
														</ul>
												</div>
						</div>				
				</div>
				<div class="sbtbox">
				<input name="act" type="hidden" value="comment_list" />
				<input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
				</div>
				<div class="clear"></div>
		  </div>
		  </form>
		  <script type="text/javascript">$(document).ready(function(){showmenu("#key_type_cn","#sehmenu","#key_type");});	</script>
	    </td>
      </tr>
  </table>
		
<div style="display:none" id="AuditSet">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="6">
    <tr>
      <td width="20" height="30">&nbsp;</td>
      <td height="30"><strong  style="color:#0066CC; font-size:14px;">将所选评论置为：</strong></td>
    </tr>
	      <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input name="audit" type="radio" value="1" checked="checked"   />
                      审核通过</label></td>
    </tr>
    <tr>
      <td width="40" height="25">&nbsp;</td>
      <td>
                      <label><input type="radio" name="audit" value="3"  />
                       待审核</label></td>
    </tr>
    <tr>
      <td height="25">&nbsp;</td>
      <td>
	  <input type="submit" name="set_audit" id="set_audit" value="确定" class="admin_submit"/>
 </td>
    </tr>
  </table>
  </div>
  <div class="page link_bk">{#$page#}</div>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>