<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<title>{#$title#}</title>
<link rel="shortcut icon" href="favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="/files/css/user_common.css" rel="stylesheet" type="text/css" />
<link href="/files/css/user_company.css" rel="stylesheet" type="text/css" />
<link href="/files/css/user.css" rel="stylesheet" type="text/css" />
<script src="/files/js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="/files/js/jquery.dialog.js" type="text/javascript" language="javascript"></script>
<script src="/files/js/jquery.reasontip-min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	vtip_reason("/","jobs_reason");
	//更多操作
 $(".publicity").hover(
  function () {
     $(this).children(".selbox").slideDown('fast');
  },
  function () {
     $(this).children(".selbox").hide();
  }
);
//更多操作-菜单效果
$(".publicity .selbox li").hover(
  function () {
     $(this).css("background-color","#F6F6F6");
  },
  function () {
     $(this).css("background-color","#FFFFFF");
  }
);
{#if $QISHI.operation_mode=="1" && $points_rule.jobs_refresh.value>"0"#}
	$("#refresh").click(function(){
		var length=$("#form1 :checkbox[checked]").length;
		var refresh_point="{#$points_rule.jobs_refresh.value#}";
		var total_point=length*refresh_point;
		alert("刷新职位可提高职位排名，每条职位消耗{#$points_rule.jobs_refresh.value#}{#$QISHI.points_quantifier#}{#$QISHI.points_byname#}，您选择了"+length+"条职位，总共需要消耗"+total_point+"{#$QISHI.points_quantifier#}{#$QISHI.points_byname#}，确定刷新吗？")
	});
{#/if#}
$("#delay").click(function(){
	var str=new Array();
    $("input[name='y_id[]']:checkbox:checked").each(function(e){ 
        if($(this).attr("checked")){
            str[e] = $(this).val();
        }
    })
    str = str.join(",");
	var tsTimeStamp= new Date().getTime();
	dialog("职位延期","url:../../user/user_delay_jobs.php?id="+str+"&act=delay&t="+tsTimeStamp,"500px","auto","","");
	});	
$(".delay").click(function(){
    str = $(this).attr("jobid");
	var tsTimeStamp= new Date().getTime();
	dialog("职位延期","url:../../user/user_delay_jobs.php?id="+str+"&act=delay&t="+tsTimeStamp,"500px","auto","","");
	});	
$(".set_promotion").click(function(){
		var catid = $(this).attr("catid");
		var jobid = $(this).attr("jobid"); 
		dialog("职位推广","url:company_ajax.php?act=set_promotion&catid="+catid+"&jobid="+jobid,"610px","auto","","");
	});
});

</script>
</head>
<body>
{#include file="user/header.htm"#}

<div class="page_location link_bk">当前位置：<a href="/">首页</a> > <a href="{#$userindexurl#}">会员中心</a> > 职位管理</div>
<div class="usermain">
  <div class="leftmenu  com link_bk">
  	 {#include file="member_company/left.htm"#}
  </div>
  <div class="rightmain">
  
 	<div class="bbox1 link_bk">
		<div class="topnav">
			<div class="titleH1">
				<div class="h1-title">管理职位</div>
			</div>
			<div class="title_text">
				<p>{#if $QISHI.operation_mode=="2" || $QISHI.operation_mode=="3"#}
				您已发布&nbsp;<span>{#$total[2]#}</span>&nbsp;个职位，还可发布&nbsp;<span>{#$setmeal.jobs_ordinary#}</span>&nbsp;个职位。
				{#/if#}</p>
				<div class="but95lan" onclick="javascript:location.href='?act=addjobs'">立即发布</div>
			</div>

			<div class="navs">
				<a href="?act={#$act#}&jobtype=" {#if $smarty.get.jobtype==""#}class="se"{#/if#}>所有职位</a>
				<a href="?act={#$act#}&jobtype=1" {#if $smarty.get.jobtype=="1"#}class="se"{#/if#}>发布中职位</a>
				<a href="?act={#$act#}&jobtype=2" {#if $smarty.get.jobtype=="2"#}class="se"{#/if#}>暂停中职位</a>
				<a href="?act={#$act#}&jobtype=3" {#if $smarty.get.jobtype=="3"#}class="se"{#/if#}>审核中职位</a>
				<a href="?act={#$act#}&jobtype=4" {#if $smarty.get.jobtype=="4"#}class="se"{#/if#}>未通过职位</a>
				<a href="?act={#$act#}&jobtype=5" {#if $smarty.get.jobtype=="5"#}class="se"{#/if#}>已过期职位</a>
					
				<div class="clear"></div>
			</div>
		
		</div>
		<form id="form1" name="form1" method="post" action="?act=jobs_perform">
		<!-- 所有职位 -->
		{#if $smarty.get.jobtype==""#}
		<div class="manage_list">
			<div class="mlist_tit">
				<div class="mlistt1"><input type="checkbox" id="chk" name="chkAll"> 职位名称</div>
				<div class="mlistt2">发布期限</div>
				<div class="mlistt3" style="text-align:center;">刷新时间</div>
				<div class="mlistt4" style="text-align:center;">应聘/浏览</div>
				<div class="mlistt5" style="text-align:center;">状态</div>
				<div class="mlistt7" style="text-align:center;width:80px;">更多操作</div>
			</div>
			{#if $jobs#}
				{#foreach from=$jobs item=li#}
				<div class="mlist_txt">
					<div class="mlistc1"><input name="y_id[]" type="checkbox" id="y_id"  value="{#$li.id#}"/>&nbsp;<a href="{#$li.jobs_url#}" target="_blank">{#$li.jobs_name#}</a></div>
					<div class="mlistc2">{#$li.addtime|date_format:"%Y-%m-%d"#} 至 {#$li.deadline|date_format:"%Y-%m-%d"#}</div>
					<div class="mlistc3" style="text-align:center;">{#$li.refreshtime|date_format:"%Y-%m-%d %H:%M"#}</div>
					<div class="mlistc4" style="text-align:center;">{#$li.countresume#}/{#$li.click#}</div>
					<div class="mlistc5" style="text-align:center;">{#$li.status_cn#}</div>
					<div class="mlistc7" style="text-align:center;width:80px;">
						<div class="publicity">
							<div class="input_text_50_z" onclick="javascript:location.href='?act=editjobs&id={#$li.id#}'">修改</div>
							<ul style="display:none;" class="selbox">
								{#if $li.status=="1"#}<li><a href="?act=jobs_perform&refresh=1&y_id={#$li.id#}">刷新</a></li>{#/if#}
								{#if $li.status=="2"#}<li><a href="?act=jobs_perform&display1=1&y_id={#$li.id#}">恢复</a></li>{#/if#}
								<li><a href="?act=jobs_perform&delete=1&y_id={#$li.id#}">删除</a></li>
							</ul>
						</div>
					</div>
				</div>
				{#/foreach#}
				<div class="mlist_txt last">
					<input type="submit" name="delete" value="删除职位" class="but100lan" id="delete"/>
				</div>
			<div class="clear"></div>
			{#if $page#}
				<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
		          <tr>
		            <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		          </tr>
		      </table>
		      {#/if#}
			{#else#}
			<div class="emptytip">您没有发布职位！</div>
			{#/if#}
		</div>
		{#/if#}
		<!-- 所有职位 结束 -->
		<!-- 发布中 -->
		{#if $smarty.get.jobtype=="1"#}
		<div class="manage_list">
			<div class="mlist_tit">
				<div class="mlistt1"><input type="checkbox" id="chk" name="chkAll"> 职位名称</div>
				<div class="mlistt2">发布期限</div>
				<div class="mlistt3" style="text-align:center;">刷新时间</div>
				<div class="mlistt4" style="text-align:center;">应聘/浏览</div>
				<div class="mlistt5" style="text-align:center;width:90px;">推广</div>
				<div class="mlistt7" style="text-align:center;">更多操作</div>
			</div>
			{#if $jobs#}
			{#foreach from=$jobs item=li#}
			<div class="mlist_txt">
				<div class="mlistc1"><input name="y_id[]" type="checkbox" id="y_id"  value="{#$li.id#}"/>&nbsp;<a href="{#$li.jobs_url#}" target="_blank">{#$li.jobs_name#}</a></div>
				<div class="mlistc2">{#$li.addtime|date_format:"%Y-%m-%d"#} 至 {#$li.deadline|date_format:"%Y-%m-%d"#}</div>
				<div class="mlistc3" style="text-align:center;">{#$li.refreshtime|date_format:"%Y-%m-%d %H:%M"#}<span class="f5" onclick="javascript:location.href='?act=jobs_perform&refresh=1&y_id={#$li.id#}'" title="刷新"></span></div>
				<div class="mlistc4" style="text-align:center;">{#$li.countresume#}/{#$li.click#}</div>
				<div class="mlistc5" style="text-align:center;margin-top:10px;width:90px;">
					<div class="publicity">
					    <div class="input_text_50_z">推广</div>
						<ul style="display:none;" class="selbox">
							<li><a href="javascript:void(0);" class="set_promotion" catid="3" jobid="{#$li.id#}">置顶</a></li>
							<li><a href="javascript:void(0);" class="set_promotion" catid="1" jobid="{#$li.id#}">推荐</a></li>
							<li><a href="javascript:void(0);" class="set_promotion" catid="2" jobid="{#$li.id#}">紧急</a></li>
							<li><a href="javascript:void(0);" class="set_promotion" catid="4" jobid="{#$li.id#}">变色</a></li>
						</ul>
					</div>
				</div>
				<div class="mlistc7" style="text-align:center;">
					<div class="publicity">
					    <div class="input_text_50_z" onclick="javascript:location.href='?act=editjobs&id={#$li.id#}'">修改</div>
						<ul style="display:none;" class="selbox">
							<li><a href="?act=jobs_perform&delete=1&y_id={#$li.id#}">删除</a></li>
							<li><a href="?act=jobs_perform&refresh=1&y_id={#$li.id#}">刷新</a></li>
							<li><a target="_blank" href="{#"QS_resumelist,jobcategory:"|cat:$li.jobcategory|qishi_url#}">匹配</a></li>
							<li><a href="?act=jobs_perform&display2=1&y_id={#$li.id#}">暂停</a></li>
						</ul>
					</div>
				</div>
			</div>
			{#/foreach#}
			<div class="mlist_txt last">
				<input type="submit" name="refresh" value="刷新职位" class="but100lan" id="refresh"/>
				{#if $QISHI.operation_mode=="1" || $QISHI.operation_mode=="3"#}
				<input type="button" name="delay" value="申请延期" class="but100lan" id="delay"/>
				{#/if#}
				<input type="submit" name="delete" value="删除职位" class="but100lan" id="delete"/>
			</div>
			<div class="clear"></div>
			{#if $page#}
				<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
		          <tr>
		            <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		          </tr>
		      </table>
		      {#/if#}
			{#else#}
			<div class="emptytip">没有找到对应的职位信息！</div>
			{#/if#}
		</div>
		{#/if#}
		
		<!-- 发布中 结束 -->
		<!-- 暂停中 -->
		{#if $smarty.get.jobtype=="2"#}
		<div class="manage_list">
			<div class="mlist_tit">
				<div class="mlistt1"><input type="checkbox" id="chk" name="chkAll"> 职位名称</div>
				<div class="mlistt2">发布期限</div>
				<div class="mlistt3" style="text-align:center;">刷新时间</div>
				<div class="mlistt4" style="text-align:center;">应聘/浏览</div>
				<div class="mlistt5" style="text-align:center;">暂停时间</div>
				<div class="mlistt7" style="text-align:center;">更多操作</div>
			</div>
			{#if $jobs#}
			{#foreach from=$jobs item=li#}
			<div class="mlist_txt">
				<div class="mlistc1"><input name="y_id[]" type="checkbox" id="y_id"  value="{#$li.id#}"/>&nbsp;<a href="{#$li.jobs_url#}" target="_blank">{#$li.jobs_name#}</a></div>
				<div class="mlistc2">{#$li.addtime|date_format:"%Y-%m-%d"#} 至 {#$li.deadline|date_format:"%Y-%m-%d"#}</div>
				<div class="mlistc3" style="text-align:center;">{#$li.refreshtime|date_format:"%Y-%m-%d %H:%M"#}</div>
				<div class="mlistc4" style="text-align:center;">{#$li.countresume#}/{#$li.click#}</div>
				<div class="mlistc5" style="text-align:center;">2014-6-6</div>
				<div class="mlistc7">
					<div class="publicity">
					    <div class="input_text_50_z" onclick="javascript:location.href='?act=editjobs&id={#$li.id#}'">修改</div>
						<ul style="display:none;" class="selbox">
							<li><a href="?act=jobs_perform&delete=1&y_id={#$li.id#}">删除</a></li>
						</ul>
					</div>
				</div>
			</div>
			{#/foreach#}
			<div class="mlist_txt last">
				<input type="submit" name="display1" value="恢复职位" class="but100lan" id="display1"/>
				<input type="submit" name="delete" value="删除职位" class="but100lan" id="delete"/>
			</div>
			<div class="clear"></div>
			{#if $page#}
				<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
		          <tr>
		            <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		          </tr>
		      </table>
		      {#/if#}
			{#else#}
			<div class="emptytip">没有找到对应的职位信息！</div>
			{#/if#}
		</div>
		{#/if#}
		<!-- 暂停中 结束 -->
		<!-- 审核中 -->
		{#if $smarty.get.jobtype=="3"#}
		<div class="manage_list">
			<div class="mlist_tit">
				<div class="mlistt1"><input type="checkbox" id="chk" name="chkAll"> 职位名称</div>
				<div class="mlistt2" style="width:220px;padding-right:0;">发布期限</div>
				<div class="mlistt3">工作经验</div>
				<div class="mlistt4">学历要求</div>
				<div class="mlistt7 s"style="text-align:center">更多操作</div>
			</div>
			{#if $jobs#}
			{#foreach from=$jobs item=li#}
			<div class="mlist_txt">
				<div class="mlistc1"><input name="y_id[]" type="checkbox" id="y_id"  value="{#$li.id#}"/>&nbsp;<a href="{#$li.jobs_url#}" target="_blank">{#$li.jobs_name#}</a></div>
				<div class="mlistc2" style="width:220px;padding-right:0;margin-top:0;line-height:58px;">{#$li.addtime|date_format:"%Y-%m-%d"#} 至 {#$li.deadline|date_format:"%Y-%m-%d"#}</div>
				<div class="mlistc3">{#$li.experience_cn#}</div>
				<div class="mlistc4">{#$li.education_cn#}</div>
				<div class="mlistc7 s">
					<div class="publicity">
					    <div class="input_text_50_z" onclick="javascript:location.href='?act=editjobs&id={#$li.id#}'">修改</div>
						<ul style="display:none;" class="selbox">
							<li><a href="?act=jobs_perform&delete=1&y_id={#$li.id#}">删除</a></li>
						</ul>
					</div>
				</div>
			</div>
			{#/foreach#}
			<div class="mlist_txt last">
				<input type="submit" name="delete" value="删除职位" class="but100lan" id="delete"/>
			</div>
			<div class="clear"></div>
			{#if $page#}
				<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
		          <tr>
		            <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		          </tr>
		      </table>
		      {#/if#}
			{#else#}
			<div class="emptytip">没有找到对应的职位信息！</div>
			{#/if#}
		</div>
		{#/if#}
		<!-- 审核中 结束 -->
		<!-- 未通过 -->
		{#if $smarty.get.jobtype=="4"#}
		<div class="manage_list">
			<div class="mlist_tit">
				<div class="mlistt1"><input type="checkbox" id="chk" name="chkAll"> 职位名称</div>
				<div class="mlistt2" style="width:200px;padding-right:0;">发布期限</div>
				<div class="mlistt3" style="text-align:center;width:140px;">原因</div>
				<div class="mlistt4" style="text-align:center;">学历要求</div>
				<div class="mlistt7 s" style="width:100px;text-align:center;">更多操作</div>
			</div>
			{#if $jobs#}
			{#foreach from=$jobs item=li#}
			<div class="mlist_txt">
				<div class="mlistc1"><input name="y_id[]" type="checkbox" id="y_id"  value="{#$li.id#}"/>&nbsp;<a href="{#$li.jobs_url#}" target="_blank">{#$li.jobs_name#}</a></div>
				<div class="mlistc2" style="width:200px;padding-right:0;margin-top:0;line-height:58px;">{#$li.addtime|date_format:"%Y-%m-%d"#} 至 {#$li.deadline|date_format:"%Y-%m-%d"#}</div>
				<div class="mlistc3" style="text-align:center width:140px;"><a href="javascript:void(0);" class="reason vtip" id="{#$li.id#}" style="margin:20px auto 0 auto;display:block;"></a></div>
				<div class="mlistc4" style="text-align:center;">{#$li.education_cn#}</div>
				<div class="mlistc7 s" style="width:100px;">
					<div class="publicity">
					    <div class="input_text_50_z" onclick="javascript:location.href='?act=editjobs&id={#$li.id#}'">修改</div>
						<ul style="display:none;" class="selbox">
							<li><a href="?act=jobs_perform&delete=1&y_id={#$li.id#}">删除</a></li>
						</ul>
					</div>
				</div>
			</div>
			{#/foreach#}
			<div class="mlist_txt last">
				
				<input type="submit" name="delete" value="删除职位" class="but100lan" id="delete"/>
			</div>
			<div class="clear"></div>
			{#if $page#}
				<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
		          <tr>
		            <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		          </tr>
		      </table>
		      {#/if#}
			{#else#}
			<div class="emptytip">没有找到对应的职位信息！</div>
			{#/if#}
		</div>
		{#/if#}
		<!-- 未通过 结束 -->
		<!-- 已过期 -->
		{#if $smarty.get.jobtype=="5"#}
		<div class="manage_list">
			<div class="mlist_tit">
				<div class="mlistt1"><input type="checkbox" id="chk" name="chkAll"> 职位名称</div>
				<div class="mlistt2">发布期限</div>
				<div class="mlistt3" style="text-align:center;">延期</div>
				<div class="mlistt4" style="text-align:center;">学历要求</div>
				<div class="mlistt7 s" style="text-align:center;width:150px;">更多操作</div>
			</div>
			{#if $jobs#}
			{#foreach from=$jobs item=li#}
			<div class="mlist_txt">
				<div class="mlistc1"><input name="y_id[]" type="checkbox" id="y_id"  value="{#$li.id#}"/>&nbsp;<a href="{#$li.jobs_url#}" target="_blank">{#$li.jobs_name#}</a></div>
				<div class="mlistc2">{#$li.addtime|date_format:"%Y-%m-%d"#} 至 {#$li.deadline|date_format:"%Y-%m-%d"#}</div>
				<div class="mlistc3" style="text-align:center;"><a href="javascript:void(0);" class="delay" jobid="{#$li.id#}">延期</a></div>
				<div class="mlistc4" style="text-align:center;">{#$li.education_cn#}</div>
				<div class="mlistc7 s" style="text-align:center; width:150px">
					<div class="publicity">
					    <div class="input_text_50_z" onclick="javascript:location.href='?act=editjobs&id={#$li.id#}'">修改</div>
						<ul style="display:none;" class="selbox">
							<li><a href="?act=jobs_perform&delete=1&y_id={#$li.id#}">删除</a></li>
						</ul>
					</div>
				</div>
			</div>
			{#/foreach#}
			<div class="mlist_txt last">
				<div class="mlistc1"></div>
				<input type="button" name="delay" value="申请延期" class="but100lan" id="delay"/>
				<input type="submit" name="delete" value="删除职位" class="but100lan" id="delete"/>
			</div>
			<div class="clear"></div>
			{#if $page#}
				<table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
		          <tr>
		            <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
		          </tr>
		      </table>
		      {#/if#}
			{#else#}
			<div class="emptytip">没有找到对应的职位信息！</div>
			{#/if#}
		</div>
		{#/if#}
		<!-- 已过期 -->
		</form>

  	</div>
  </div>
  <div class="clear"></div>
</div>
{#include file="user/footer.htm"#}
</body>
</html>