{#include file="px/admin_header.htm"#}
<div style="height:60px; line-height:60px; padding:20px;"><a href="admin_category.php" target="mainFrame" id="set" style="color:#fff; background:#069; text-align:center; width:200px; margin-top:20px; border-radius:5px 5px 5px 5px; height:40px; line-height:40px; display:block; text-decoration:none;">≈‡—µ∑÷¿‡</a></div>
{#include file="px/admin_footer.htm"#}
</body>
<script src="http://www.74cms.com/plus/external.php?version={#$system_info.version#}&release={#$system_info.release#}&certification={#$site_domain#}&announcement=1" language="javascript"></script>
</html>